


<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>One</th>
      <th>Two</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>One</td>
      <td>Two</td>
    </tr>
  </tbody>
</table>


<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>




<!-- <div style="height:170px;">
  <div class="picture-frame">
    <div class="listing_sign_image">
    </div>
    <img src="/images/house2.png" alt="img" class="listing_picture" />
    <div class="listing_status">
      REPRESENTED SELLER
    </div>
    <div class="listing_address">
      28 Montreaux Cres, Vaughan test
    </div>
  </div>

  <div class="picture-frame">
    
    <img src="/images/99-finch.jpg" alt="img" />
  </div>

</div> -->


<style>
  .listing_sign {
    position:absolute;
    height:30px;
    color:white;
    background-color:#B12933;
    font-weight:bold;
    border:solid white;
    border-width:2px 0px;
    vertical-align: middle;
    line-height: 25px;
    width:200px;


    /* Safari */
    -webkit-transform: rotate(-30deg);

    /* Firefox */
    -moz-transform: rotate(-30deg);

    /* IE */
    -ms-transform: rotate(-30deg);

    /* Opera */
    -o-transform: rotate(-30deg);
    left: -71px;
    top: 6px;
    font-size:1.2em;
  }
  .listing_sign_image {
    background: url(images/sold.png) no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 4px;
    left: 4px;
  }
  .picture-frame {
    width:170px;
    height:170px;
    border:1px solid #DBDBDB;
    position:relative;
    display:inline-block;
    text-align:center;
    overflow:hidden;
  }
  .listing_picture {
    margin-top:4px;
  }
  .listing_address {
    color:#72060F;
    font-weight:bold;
    font-size:0.8em;
    padding: 0px 10px;
  }
  .listing_status {
    background-color:#B12933;
    color:white;
    font-weight:bold;
    width:160px;
    height:25px;
    line-height:26px;
    font-size:0.9em;
    margin:0 auto;
    position: absolute;
    top: 109px;
    left: 4px;
  }

</style>