

      <div class="masthead">
        <h3 class="text-muted">Manage Listings</h3>
        <ul class="nav navbar-nav nav-justified" style="float:none;">
          <li class="active"><a href="#">Display all</a></li>
        </ul>
      </div>



      <div class="body-content">
        <div class="button_bar">
          <%= button_to "Create a new listing", {}, class: 'btn btn-primary btn-small' %>
        </div>
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-lg-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
         </div>
          <div class="col-lg-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
          </div>
        </div>

      </div><!-- /.body-content -->

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; The Oulahen Team 2013 <%= "2013" != Time.now.year.to_s ? " - " + Time.now.year.to_s : "" %></p>
      </div>

