
#pslideshowu46992
{
	width: 0.01px;
	padding-bottom: 49px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu46992
{
	z-index: 250;
	width: 0.01px;
	height: 339px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u47016
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u47016popup
{
	z-index: 251;
}

#u47109
{
	z-index: 252;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47109_img
{
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 7px;
}

#u47124
{
	z-index: 254;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47139
{
	z-index: 256;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47154
{
	z-index: 258;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47173
{
	z-index: 260;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47188
{
	z-index: 262;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47124_img,#u47139_img,#u47154_img,#u47173_img,#u47188_img
{
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 6px;
}

#u47203
{
	z-index: 264;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47203_img
{
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 30px;
}

#u46996
{
	position: absolute;
	width: 417px;
	top: 301px;
	left: 52px;
}

#u46996popup
{
	z-index: 266;
}

#u47112
{
	z-index: 267;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u47112_clip
{
	overflow: hidden;
	width: 51px;
	height: 39px;
}

#u47112_img
{
	margin-left: -3px;
	margin-right: -3px;
	margin-bottom: 1px;
}

#u47127
{
	z-index: 269;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u47142
{
	z-index: 271;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u47157
{
	z-index: 273;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 183px;
}

#u47176
{
	z-index: 275;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u47191
{
	z-index: 277;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 305px;
}

#u47127_img,#u47142_img,#u47157_img,#u47176_img,#u47191_img
{
	padding-top: 2px;
	padding-bottom: 3px;
}

#u47206
{
	z-index: 279;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 366px;
}

#u47112.SSSlideLinkSelected,#u47127.SSSlideLinkSelected,#u47142.SSSlideLinkSelected,#u47157.SSSlideLinkSelected,#u47176.SSSlideLinkSelected,#u47191.SSSlideLinkSelected,#u47206.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u47206_img
{
	padding-top: 2px;
	padding-bottom: 6px;
}

#u46995-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u46995-4popup
{
	z-index: 281;
}

#u47015-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u47015-4popup
{
	z-index: 285;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u47062-4
{
	z-index: 289;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u46991-4
{
	z-index: 302;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -365px;
	margin-bottom: -25px;
	position: relative;
}

#u47061-5
{
	z-index: 293;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -323px;
	margin-bottom: -17px;
	position: relative;
}

#u47061-2
{
	color: #76080D;
}

#pu47064
{
	width: 0.01px;
	margin-left: 20px;
	top: -290px;
	margin-bottom: -290px;
	position: relative;
}

#u47064
{
	z-index: 249;
	width: 520px;
	min-height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 256px;
}

#pu47066-27
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u47066-27
{
	z-index: 222;
	width: 381px;
	position: relative;
}

#u47066-7,#u47066-10
{
	font-weight: normal;
}

#u47066-3,#u47066-6,#u47066-9,#u47066-12,#u47066-15
{
	font-weight: bold;
}

#u47066-17
{
	color: #000000;
	font-weight: bold;
}

#u47066-21
{
	color: #000000;
	font-weight: normal;
}

#u47066-2,#u47066-16,#u47066-23
{
	color: #76080D;
	font-weight: bold;
}

#u47063-4
{
	z-index: 298;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-top: 57px;
	position: relative;
}
