#pslideshowu47782
{
	width: 0.01px;
	padding-bottom: 49px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu47782
{
	z-index: 283;
	width: 0.01px;
	height: 339px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u47793
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u47793popup
{
	z-index: 284;
}

#u47848
{
	z-index: 285;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47848_img
{
	padding: 23px 74px;
}

#u47867
{
	z-index: 287;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47886
{
	z-index: 289;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47907
{
	z-index: 291;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47922
{
	z-index: 293;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47937
{
	z-index: 295;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47867_img,#u47886_img,#u47907_img,#u47922_img,#u47937_img
{
	padding: 23px 75px 23px 74px;
}

#u47801
{
	position: absolute;
	width: 356px;
	top: 301px;
	left: 83px;
}

#u47801popup
{
	z-index: 297;
}

#u47851
{
	z-index: 298;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u47870
{
	z-index: 300;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u47889
{
	z-index: 302;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u47910
{
	z-index: 304;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 183px;
}

#u47925
{
	z-index: 306;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u47940
{
	z-index: 308;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 305px;
}

#u47851.SSSlideLinkSelected,#u47870.SSSlideLinkSelected,#u47889.SSSlideLinkSelected,#u47910.SSSlideLinkSelected,#u47925.SSSlideLinkSelected,#u47940.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u47851_img,#u47870_img,#u47889_img,#u47910_img,#u47925_img,#u47940_img
{
	padding-top: 3px;
	padding-bottom: 3px;
}

#u47792-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u47792-4popup
{
	z-index: 310;
}

#u47789-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u47789-4popup
{
	z-index: 314;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u47826-4
{
	z-index: 318;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u47831-4
{
	z-index: 331;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -365px;
	margin-bottom: -25px;
	position: relative;
}

#u47827-5
{
	z-index: 322;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -323px;
	margin-bottom: -17px;
	position: relative;
}

#pu47947
{
	width: 0.01px;
	margin-left: 20px;
	top: -289px;
	margin-bottom: -289px;
	position: relative;
}

#u47947
{
	z-index: 341;
	width: 520px;
	min-height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
}

#u47833-61
{
	z-index: 222;
	width: 381px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u47833-8,#u47833-11,#u47833-17,#u47833-23
{
	font-weight: normal;
}

#u47833-4,#u47833-7,#u47833-10,#u47833-13,#u47833-16,#u47833-19,#u47833-29,#u47833-32,#u47833-35,#u47833-38,#u47833-41,#u47833-44,#u47833-49,#u47833-56
{
	font-weight: bold;
}

#u47827-2,#u47833-50
{
	color: #76080D;
}

#u47833-51
{
	color: #000000;
}

#u47833-55
{
	color: #000000;
	font-weight: normal;
}

#u47833-57
{
	color: #76080D;
	font-weight: bold;
}

#u47832-4
{
	z-index: 327;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-left: 560px;
	margin-top: 396px;
	position: relative;
}
