#pslideshowu48500
{
	width: 0.01px;
	padding-bottom: 49px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu48500
{
	z-index: 284;
	width: 0.01px;
	height: 336px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u48521
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u48521popup
{
	z-index: 285;
}

#u48560
{
	z-index: 286;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u48579
{
	z-index: 288;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u48598
{
	z-index: 290;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u48628
{
	z-index: 292;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u48560_img,#u48579_img,#u48598_img,#u48628_img
{
	padding: 22px 74px 23px;
}

#u48531
{
	position: absolute;
	width: 234px;
	top: 297px;
	left: 144px;
}

#u48531popup
{
	z-index: 294;
}

#u48563
{
	z-index: 295;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u48582
{
	z-index: 297;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u48601
{
	z-index: 299;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u48631
{
	z-index: 301;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 183px;
}

#u48563.SSSlideLinkSelected,#u48582.SSSlideLinkSelected,#u48601.SSSlideLinkSelected,#u48631.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u48563_img,#u48582_img,#u48601_img,#u48631_img
{
	padding-top: 2px;
	padding-bottom: 3px;
}

#u48502-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u48502-4popup
{
	z-index: 303;
}

#u48528-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u48528-4popup
{
	z-index: 307;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u48498-4
{
	z-index: 311;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u48496-4
{
	z-index: 324;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -361px;
	margin-bottom: -25px;
	position: relative;
}

#u48494-5
{
	z-index: 315;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -319px;
	margin-bottom: -17px;
	position: relative;
}

#pu48638
{
	width: 0.01px;
	margin-left: 20px;
	top: -285px;
	margin-bottom: -285px;
	position: relative;
}

#u48638
{
	z-index: 334;
	width: 520px;
	min-height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
}

#u48499-62
{
	z-index: 222;
	width: 381px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u48499-8,#u48499-11,#u48499-50
{
	font-weight: normal;
}

#u48499-4,#u48499-7,#u48499-10,#u48499-13,#u48499-16,#u48499-19,#u48499-29,#u48499-32,#u48499-35,#u48499-38,#u48499-41,#u48499-44,#u48499-57
{
	font-weight: bold;
}

#u48494-2,#u48499-51
{
	color: #76080D;
}

#u48499-52
{
	color: #000000;
}

#u48499-56
{
	color: #000000;
	font-weight: normal;
}

#u48499-58
{
	color: #76080D;
	font-weight: bold;
}

#u48495-4
{
	z-index: 320;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-left: 560px;
	margin-top: 530px;
	position: relative;
}
