#pslideshowu45201
{
	width: 0.01px;
	padding-bottom: 10px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu45201
{
	z-index: 274;
	width: 0.01px;
	height: 339px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u45213
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u45213popup
{
	z-index: 275;
}

#u45425
{
	z-index: 276;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u45434
{
	z-index: 278;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u45443
{
	z-index: 280;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u45452
{
	z-index: 282;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u45461
{
	z-index: 284;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u45470
{
	z-index: 286;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u45425_img,#u45434_img,#u45443_img,#u45452_img,#u45461_img,#u45470_img
{
	padding-right: 81px;
}

#u45479
{
	z-index: 288;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u45479_img
{
	padding-right: 42px;
}

#u45488
{
	z-index: 290;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u45488_img
{
	padding-right: 142px;
}

#u45228
{
	position: absolute;
	width: 478px;
	top: 301px;
	left: 22px;
}

#u45228popup
{
	z-index: 292;
}

#u45428
{
	z-index: 293;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u45437
{
	z-index: 295;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u45446
{
	z-index: 297;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u45455
{
	z-index: 299;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 183px;
}

#u45464
{
	z-index: 301;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u45473
{
	z-index: 303;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 305px;
}

#u45428_img,#u45437_img,#u45446_img,#u45455_img,#u45464_img,#u45473_img
{
	margin-left: -9px;
	margin-right: 2px;
}

#u45482
{
	z-index: 305;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 366px;
}

#u45482_img
{
	margin-left: -9px;
	margin-right: -4px;
}

#u45491
{
	z-index: 307;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 427px;
}

#u45428.SSSlideLinkSelected,#u45437.SSSlideLinkSelected,#u45446.SSSlideLinkSelected,#u45455.SSSlideLinkSelected,#u45464.SSSlideLinkSelected,#u45473.SSSlideLinkSelected,#u45482.SSSlideLinkSelected,#u45491.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u45428_clip,#u45437_clip,#u45446_clip,#u45455_clip,#u45464_clip,#u45473_clip,#u45482_clip,#u45491_clip
{
	overflow: hidden;
	width: 51px;
	height: 39px;
}

#u45491_img
{
	margin-left: -9px;
	margin-right: 10px;
}

#u45211-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u45211-4popup
{
	z-index: 309;
}

#u45262-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u45262-4popup
{
	z-index: 313;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u45265-4
{
	z-index: 317;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u45268-4
{
	z-index: 330;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -326px;
	margin-bottom: -25px;
	position: relative;
}

#u45270-5
{
	z-index: 321;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -284px;
	margin-bottom: -17px;
	position: relative;
}

#u45270-2
{
	color: #76080D;
}

#pu45266
{
	width: 0.01px;
	margin-left: 20px;
	top: -251px;
	margin-bottom: -251px;
	position: relative;
}

#u45266
{
	z-index: 273;
	width: 520px;
	min-height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
}

#u45269-51
{
	z-index: 222;
	width: 381px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u45269-10,#u45269-40
{
	font-weight: normal;
}

#u45269-3,#u45269-6,#u45269-9,#u45269-12,#u45269-15,#u45269-18,#u45269-21,#u45269-24,#u45269-27,#u45269-30,#u45269-33,#u45269-36,#u45269-41,#u45269-42
{
	font-weight: bold;
}

#u45269-2,#u45269-23,#u45269-43,#u45269-47
{
	color: #76080D;
	font-weight: bold;
}

#u45269-48
{
	color: #000000;
}

#u45271-4
{
	z-index: 326;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-left: 560px;
	position: relative;
}
