#pslideshowu43035
{
	width: 0.01px;
	padding-bottom: 16px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu43035
{
	z-index: 247;
	width: 0.01px;
	height: 339px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u43036
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u43036popup
{
	z-index: 248;
}

#u43621
{
	z-index: 249;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u43630
{
	z-index: 251;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u43639
{
	z-index: 253;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u43648
{
	z-index: 255;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u43657
{
	z-index: 257;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u43666
{
	z-index: 259;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u43675
{
	z-index: 261;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u43684
{
	z-index: 263;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u43072
{
	position: absolute;
	width: 478px;
	top: 300px;
	left: 22px;
}

#u43072popup
{
	z-index: 265;
}

#u43624
{
	z-index: 266;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u43633
{
	z-index: 268;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u43642
{
	z-index: 270;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u43651
{
	z-index: 272;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 183px;
}

#u43660
{
	z-index: 274;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u43669
{
	z-index: 276;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 305px;
}

#u43678
{
	z-index: 278;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 366px;
}

#u43687
{
	z-index: 280;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 427px;
}

#u43624.SSSlideLinkSelected,#u43633.SSSlideLinkSelected,#u43642.SSSlideLinkSelected,#u43651.SSSlideLinkSelected,#u43660.SSSlideLinkSelected,#u43669.SSSlideLinkSelected,#u43678.SSSlideLinkSelected,#u43687.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u43624_clip,#u43633_clip,#u43642_clip,#u43651_clip,#u43660_clip,#u43669_clip,#u43678_clip,#u43687_clip
{
	overflow: hidden;
	width: 51px;
	height: 39px;
}

#u43624_img,#u43633_img,#u43642_img,#u43651_img,#u43660_img,#u43669_img,#u43678_img,#u43687_img
{
	margin: 5px -1px;
}

#u43062-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u43062-4popup
{
	z-index: 282;
}

#u43063-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u43063-4popup
{
	z-index: 286;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u43034-4
{
	z-index: 290;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u43032-4
{
	z-index: 303;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -322px;
	margin-bottom: -25px;
	position: relative;
}

#u43081-5
{
	z-index: 294;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -280px;
	margin-bottom: -17px;
	position: relative;
}

#u43081-2
{
	color: #76080D;
}

#pu43079
{
	width: 0.01px;
	margin-left: 20px;
	top: -247px;
	margin-bottom: -247px;
	position: relative;
}

#u43079
{
	z-index: 246;
	width: 520px;
	min-height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
}

#pu43082-24
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u43082-24
{
	z-index: 222;
	width: 381px;
	position: relative;
}

#u43082-10
{
	font-weight: normal;
}

#u43082-3,#u43082-6,#u43082-9,#u43082-12,#u43082-15
{
	font-weight: bold;
}

#u43082-2,#u43082-16,#u43082-20
{
	color: #76080D;
	font-weight: bold;
}

#u43082-21
{
	color: #000000;
}

#u43033-4
{
	z-index: 299;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-top: 81px;
	position: relative;
}
