#pslideshowu45295
{
	width: 0.01px;
	padding-bottom: 6px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu45295
{
	z-index: 262;
	width: 0.01px;
	height: 339px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u45297
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u45297popup
{
	z-index: 263;
}

#u45574
{
	z-index: 264;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u45583
{
	z-index: 266;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u45592
{
	z-index: 268;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u45601
{
	z-index: 270;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u45610
{
	z-index: 272;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u45619
{
	z-index: 274;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u45628
{
	z-index: 276;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u45574_img,#u45583_img,#u45592_img,#u45601_img,#u45610_img,#u45619_img,#u45628_img
{
	padding: 23px 74px;
}

#u45317
{
	position: absolute;
	width: 417px;
	top: 301px;
	left: 52px;
}

#u45317popup
{
	z-index: 278;
}

#u45577
{
	z-index: 279;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u45586
{
	z-index: 281;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u45595
{
	z-index: 283;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u45604
{
	z-index: 285;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 183px;
}

#u45613
{
	z-index: 287;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u45622
{
	z-index: 289;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 305px;
}

#u45631
{
	z-index: 291;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 366px;
}

#u45577.SSSlideLinkSelected,#u45586.SSSlideLinkSelected,#u45595.SSSlideLinkSelected,#u45604.SSSlideLinkSelected,#u45613.SSSlideLinkSelected,#u45622.SSSlideLinkSelected,#u45631.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u45577_clip,#u45586_clip,#u45595_clip,#u45604_clip,#u45613_clip,#u45622_clip,#u45631_clip
{
	overflow: hidden;
	width: 51px;
	height: 39px;
}

#u45577_img,#u45586_img,#u45595_img,#u45604_img,#u45613_img,#u45622_img,#u45631_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u45315-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u45315-4popup
{
	z-index: 293;
}

#u45316-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u45316-4popup
{
	z-index: 297;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u45361-4
{
	z-index: 301;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u45294-4
{
	z-index: 314;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -322px;
	margin-bottom: -25px;
	position: relative;
}

#u45360-5
{
	z-index: 305;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -280px;
	margin-bottom: -17px;
	position: relative;
}

#u45360-2
{
	color: #76080D;
}

#pu45362
{
	width: 0.01px;
	margin-left: 20px;
	top: -247px;
	margin-bottom: -247px;
	position: relative;
}

#u45362
{
	z-index: 261;
	width: 520px;
	min-height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
}

#pu45293-39
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u45293-39
{
	z-index: 222;
	width: 381px;
	position: relative;
}

#u45293-10,#u45293-25,#u45293-28
{
	font-weight: normal;
}

#u45293-3,#u45293-6,#u45293-9,#u45293-12,#u45293-15,#u45293-18,#u45293-21,#u45293-24,#u45293-29,#u45293-30
{
	font-weight: bold;
}

#u45293-2,#u45293-17,#u45293-31,#u45293-35
{
	color: #76080D;
	font-weight: bold;
}

#u45359-4
{
	z-index: 310;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-top: 24px;
	position: relative;
}

#u35872
{
	z-index: 2;
	width: 920px;
	height: 4px;
	margin-left: 20px;
	margin-top: 27px;
}

#pu35870
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 4px;
	position: relative;
}

#u35870
{
	z-index: 175;
	width: 14px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 855px;
}

#u35875
{
	z-index: 177;
	width: 15px;
	margin-right: -10000px;
	left: 876px;
}

#u35877
{
	z-index: 173;
	width: 14px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 899px;
}

#u35873
{
	z-index: 179;
	width: 14px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 921px;
}

#u35900
{
	z-index: 181;
	width: 208px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 54px;
}

#u35901-4
{
	z-index: 182;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
}

#u35903-4
{
	z-index: 186;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
	left: 54px;
}

#u35902-4
{
	z-index: 190;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
	left: 131px;
}

#u35904-4
{
	z-index: 194;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
	left: 199px;
}

#u35892
{
	z-index: 198;
	width: 692px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u35894
{
	z-index: 203;
	width: 257px;
	margin-right: -10000px;
}

#u35896-4
{
	z-index: 204;
	width: 59px;
	min-height: 21px;
	margin-right: -10000px;
}

#pu35897-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 59px;
}

#u35897-4
{
	z-index: 208;
	width: 55px;
	min-height: 25px;
	margin-right: -10000px;
}

#u35895-4
{
	z-index: 212;
	width: 78px;
	min-height: 25px;
	margin-right: -10000px;
	left: 54px;
}

#u35898-4
{
	z-index: 216;
	width: 67px;
	min-height: 25px;
	margin-right: -10000px;
	left: 190px;
}

#u35893-4
{
	z-index: 199;
	width: 424px;
	min-height: 25px;
	margin-right: -10000px;
	left: 268px;
}

body
{
	padding-top: 166px;
	padding-bottom: 27px;
}

#page .verticalspacer
{
	clear: both;
}

