#pslideshowu47435
{
	width: 0.01px;
	padding-bottom: 49px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu47435
{
	z-index: 259;
	width: 0.01px;
	height: 339px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u47439
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u47439popup
{
	z-index: 260;
}

#u47518
{
	z-index: 261;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47518_img
{
	padding: 23px 74px;
}

#u47533
{
	z-index: 263;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47548
{
	z-index: 265;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47533_img,#u47548_img
{
	padding: 23px 75px 23px 74px;
}

#u47473
{
	position: absolute;
	width: 173px;
	top: 301px;
	left: 174px;
}

#u47473popup
{
	z-index: 267;
}

#u47521
{
	z-index: 268;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u47536
{
	z-index: 270;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u47551
{
	z-index: 272;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u47521.SSSlideLinkSelected,#u47536.SSSlideLinkSelected,#u47551.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u47521_img,#u47536_img,#u47551_img
{
	padding-top: 3px;
	padding-bottom: 3px;
}

#u47453-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u47453-4popup
{
	z-index: 274;
}

#u47436-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u47436-4popup
{
	z-index: 278;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u47494-4
{
	z-index: 282;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u47432-4
{
	z-index: 295;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -365px;
	margin-bottom: -25px;
	position: relative;
}

#u47431-5
{
	z-index: 286;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -323px;
	margin-bottom: -17px;
	position: relative;
}

#u47434-36
{
	z-index: 222;
	width: 381px;
	margin-left: 560px;
	top: -290px;
	margin-bottom: -235px;
	position: relative;
}

#u47434-7,#u47434-10,#u47434-16,#u47434-23
{
	font-weight: normal;
}

#u47434-3,#u47434-6,#u47434-9,#u47434-12,#u47434-15,#u47434-18,#u47434-24,#u47434-31
{
	font-weight: bold;
}

#u47431-2,#u47434-25
{
	color: #76080D;
}

#u47434-26
{
	color: #000000;
}

#u47434-30
{
	color: #000000;
	font-weight: normal;
}

#u47434-2,#u47434-32
{
	color: #76080D;
	font-weight: bold;
}

#u47429
{
	z-index: 258;
	width: 520px;
	min-height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	top: -34px;
	margin-bottom: -34px;
	position: relative;
}

#u47433-4
{
	z-index: 291;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-left: 560px;
	margin-top: 43px;
	position: relative;
}
