#pslideshowu36789
{
	width: 0.01px;
	padding-bottom: 10px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu36789
{
	z-index: 223;
	width: 0.01px;
	height: 345px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u36797
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u36797popup
{
	z-index: 224;
}

#u36900
{
	z-index: 225;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u36909
{
	z-index: 227;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u36918
{
	z-index: 229;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u36927
{
	z-index: 231;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u36936
{
	z-index: 233;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u36945
{
	z-index: 235;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u36954
{
	z-index: 237;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u36829
{
	position: absolute;
	width: 480px;
	top: 300px;
	left: 21px;
}

#u36829popup
{
	z-index: 239;
}

#u36903
{
	z-index: 240;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u36912
{
	z-index: 242;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u36921
{
	z-index: 244;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u36930
{
	z-index: 246;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u36939
{
	z-index: 248;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u36948
{
	z-index: 250;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u36957
{
	z-index: 252;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u36903.SSSlideLinkSelected,#u36912.SSSlideLinkSelected,#u36921.SSSlideLinkSelected,#u36930.SSSlideLinkSelected,#u36939.SSSlideLinkSelected,#u36948.SSSlideLinkSelected,#u36957.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u36903_clip,#u36912_clip,#u36921_clip,#u36930_clip,#u36939_clip,#u36948_clip,#u36957_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u36903_img,#u36912_img,#u36921_img,#u36930_img,#u36939_img,#u36948_img,#u36957_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u36796-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u36796-4popup
{
	z-index: 254;
}

#u36828-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u36828-4popup
{
	z-index: 258;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u36846-4
{
	z-index: 262;
	width: 400px;
	min-height: 30px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u36849-6
{
	z-index: 270;
	width: 291px;
	min-height: 40px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -322px;
	margin-bottom: -40px;
	position: relative;
}

#u36848-5
{
	z-index: 315;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -267px;
	margin-bottom: -17px;
	position: relative;
}

#u36848-2
{
	color: #76080D;
}

#pu36844
{
	width: 0.01px;
	margin-left: 20px;
	top: -234px;
	margin-bottom: -234px;
	position: relative;
}

#u36844
{
	z-index: 222;
	width: 520px;
	min-height: 378px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
}

#u36843-4
{
	z-index: 266;
	width: 230px;
	min-height: 14px;
	font-size: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 598px;
	left: 381px;
}

#u36847-39
{
	z-index: 276;
	width: 381px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u36847-10,#u36847-25,#u36847-28
{
	font-weight: normal;
}

#u36847-3,#u36847-6,#u36847-9,#u36847-12,#u36847-15,#u36847-18,#u36847-21,#u36847-24,#u36847-29,#u36847-30
{
	font-weight: bold;
}

#u36847-2,#u36847-17,#u36847-31,#u36847-35
{
	color: #76080D;
	font-weight: bold;
}

#u36847-36
{
	color: #000000;
}

#u35872
{
	z-index: 2;
	width: 920px;
	height: 4px;
	margin-left: 20px;
	margin-top: 25px;
}

#pu35870
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 5px;
	position: relative;
}

#u35870
{
	z-index: 175;
	width: 14px;
	margin-right: -10000px;
	left: 855px;
}

#u35875
{
	z-index: 177;
	width: 15px;
	margin-right: -10000px;
	left: 876px;
}

#u35877
{
	z-index: 173;
	width: 14px;
	margin-right: -10000px;
	left: 899px;
}

#u35873
{
	z-index: 179;
	width: 14px;
	margin-right: -10000px;
	left: 921px;
}

#u35900
{
	z-index: 181;
	width: 208px;
	margin-right: -10000px;
	left: 54px;
}

#u35901-4
{
	z-index: 182;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
}

#u35903-4
{
	z-index: 186;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
	left: 54px;
}

#u35902-4
{
	z-index: 190;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
	left: 131px;
}

#u35904-4
{
	z-index: 194;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
	left: 199px;
}

#u35892
{
	z-index: 198;
	width: 692px;
	margin-right: -10000px;
}

#u35894
{
	z-index: 203;
	width: 257px;
	margin-right: -10000px;
}

#u35896-4
{
	z-index: 204;
	width: 59px;
	min-height: 21px;
	margin-right: -10000px;
}

#pu35897-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 59px;
}

#u35897-4
{
	z-index: 208;
	width: 55px;
	min-height: 25px;
	margin-right: -10000px;
}

#u35895-4
{
	z-index: 212;
	width: 78px;
	min-height: 25px;
	margin-right: -10000px;
	left: 54px;
}

#u35898-4
{
	z-index: 216;
	width: 67px;
	min-height: 25px;
	margin-right: -10000px;
	left: 190px;
}

#u35893-4
{
	z-index: 199;
	width: 424px;
	min-height: 25px;
	margin-right: -10000px;
	left: 268px;
}

body
{
	padding-top: 166px;
	padding-bottom: 27px;
}

#page .verticalspacer
{
	clear: both;
}

