#pslideshowu41525
{
	width: 0.01px;
	padding-bottom: 4px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu41525
{
	z-index: 268;
	width: 0.01px;
	height: 345px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u41527
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u41527popup
{
	z-index: 269;
}

#u41584
{
	z-index: 270;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u41593
{
	z-index: 272;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u41593_clip
{
	overflow: hidden;
	width: 520px;
	height: 293px;
}

#u41593_img
{
	margin: -5px 33px;
}

#u41557
{
	position: absolute;
	width: 130px;
	top: 300px;
	left: 196px;
}

#u41557popup
{
	z-index: 274;
}

#u41587
{
	z-index: 275;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u41587_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u41596
{
	z-index: 277;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u41587.SSSlideLinkSelected,#u41596.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u41587_clip,#u41596_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u41596_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u41556-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u41556-4popup
{
	z-index: 279;
}

#u41562-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u41562-4popup
{
	z-index: 283;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u41518-4
{
	z-index: 287;
	width: 315px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u41523-4
{
	z-index: 291;
	width: 221px;
	min-height: 27px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -316px;
	margin-bottom: -27px;
	position: relative;
}

#u41519-5
{
	z-index: 295;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -277px;
	margin-bottom: -17px;
	position: relative;
}

#u41519-2
{
	color: #76080D;
}

#pu41521
{
	width: 0.01px;
	margin-left: 20px;
	top: -244px;
	margin-bottom: -244px;
	position: relative;
}

#u41521
{
	z-index: 267;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
}

#pu41524-45
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u41524-45
{
	z-index: 222;
	width: 381px;
	position: relative;
}

#u41524-16,#u41524-36
{
	letter-spacing: 1px;
}

#u41524-7,#u41524-13,#u41524-18,#u41524-27,#u41524-33,#u41524-38
{
	font-weight: normal;
}

#u41524-3,#u41524-6,#u41524-9,#u41524-14,#u41524-19,#u41524-20,#u41524-23,#u41524-26,#u41524-29,#u41524-34,#u41524-39,#u41524-40
{
	font-weight: bold;
}

#u41524-2,#u41524-22,#u41524-41
{
	color: #76080D;
	font-weight: bold;
}

#u41520-4
{
	z-index: 300;
	width: 200px;
	min-height: 14px;
	font-size: 11px;
	margin-top: 39px;
	position: relative;
}
