#pslideshowu44865
{
	width: 0.01px;
	padding-bottom: 16px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu44865
{
	z-index: 253;
	width: 0.01px;
	height: 339px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u44899
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u44899popup
{
	z-index: 254;
}

#u44942
{
	z-index: 255;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u44951
{
	z-index: 257;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u44960
{
	z-index: 259;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u44969
{
	z-index: 261;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u44872
{
	position: absolute;
	width: 234px;
	top: 301px;
	left: 144px;
}

#u44872popup
{
	z-index: 263;
}

#u44945
{
	z-index: 264;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u44954
{
	z-index: 266;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u44963
{
	z-index: 268;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u44972
{
	z-index: 270;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 183px;
}

#u44945.SSSlideLinkSelected,#u44954.SSSlideLinkSelected,#u44963.SSSlideLinkSelected,#u44972.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u44945_clip,#u44954_clip,#u44963_clip,#u44972_clip
{
	overflow: hidden;
	width: 51px;
	height: 39px;
}

#u44945_img,#u44954_img,#u44963_img,#u44972_img
{
	margin-left: -9px;
	margin-right: -9px;
}

#u44897-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u44897-4popup
{
	z-index: 272;
}

#u44877-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u44877-4popup
{
	z-index: 276;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u44864-4
{
	z-index: 280;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u44863-4
{
	z-index: 293;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -332px;
	margin-bottom: -25px;
	position: relative;
}

#u44904-5
{
	z-index: 284;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -290px;
	margin-bottom: -17px;
	position: relative;
}

#u44904-2
{
	color: #76080D;
}

#pu44906
{
	width: 0.01px;
	margin-left: 20px;
	top: -257px;
	margin-bottom: -257px;
	position: relative;
}

#u44906
{
	z-index: 252;
	width: 520px;
	min-height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
}

#pu44905-30
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u44905-30
{
	z-index: 222;
	width: 381px;
	position: relative;
}

#u44905-10,#u44905-16
{
	font-weight: normal;
}

#u44905-3,#u44905-6,#u44905-9,#u44905-12,#u44905-17,#u44905-18,#u44905-21,#u44905-25
{
	font-weight: bold;
}

#u44905-2,#u44905-22,#u44905-26
{
	color: #76080D;
	font-weight: bold;
}

#u44908-4
{
	z-index: 289;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-top: 81px;
	position: relative;
}
