#pslideshowu42588
{
	width: 0.01px;
	padding-bottom: 13px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu42588
{
	z-index: 280;
	width: 0.01px;
	height: 345px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u42629
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u42629popup
{
	z-index: 281;
}

#u42688
{
	z-index: 282;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42697
{
	z-index: 284;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42706
{
	z-index: 286;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42715
{
	z-index: 288;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42724
{
	z-index: 290;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42589
{
	position: absolute;
	width: 340px;
	top: 300px;
	left: 91px;
}

#u42589popup
{
	z-index: 292;
}

#u42691
{
	z-index: 293;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u42700
{
	z-index: 295;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u42709
{
	z-index: 297;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u42718
{
	z-index: 299;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u42727
{
	z-index: 301;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u42691.SSSlideLinkSelected,#u42700.SSSlideLinkSelected,#u42709.SSSlideLinkSelected,#u42718.SSSlideLinkSelected,#u42727.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u42691_img,#u42700_img,#u42709_img,#u42718_img,#u42727_img
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u42620-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u42620-4popup
{
	z-index: 303;
}

#u42619-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u42619-4popup
{
	z-index: 307;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u42587-4
{
	z-index: 311;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u42642-4
{
	z-index: 324;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -325px;
	margin-bottom: -25px;
	position: relative;
}

#u42586-5
{
	z-index: 315;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -283px;
	margin-bottom: -17px;
	position: relative;
}

#u42586-2
{
	color: #76080D;
}

#pu42644
{
	width: 0.01px;
	margin-left: 20px;
	top: -250px;
	margin-bottom: -250px;
	position: relative;
}

#u42644
{
	z-index: 279;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
}

#pu42646-57
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u42646-57
{
	z-index: 222;
	width: 381px;
	position: relative;
}

#u42646-19,#u42646-42
{
	letter-spacing: 2px;
}

#u42646-10,#u42646-16,#u42646-21,#u42646-39,#u42646-44
{
	font-weight: normal;
}

#u42646-3,#u42646-6,#u42646-9,#u42646-12,#u42646-17,#u42646-22,#u42646-23,#u42646-26,#u42646-29,#u42646-32,#u42646-35,#u42646-40,#u42646-45,#u42646-46
{
	font-weight: bold;
}

#u42646-2,#u42646-25,#u42646-47,#u42646-51
{
	color: #76080D;
	font-weight: bold;
}

#u42646-52
{
	color: #000000;
}

#u42643-4
{
	z-index: 320;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-top: 30px;
	position: relative;
}

#u35872
{
	z-index: 2;
	width: 920px;
	height: 4px;
	margin-left: 20px;
	margin-top: 26px;
}

#pu35870
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 4px;
	position: relative;
}

#u35870
{
	z-index: 175;
	width: 14px;
	margin-right: -10000px;
	left: 855px;
}

#u35875
{
	z-index: 177;
	width: 15px;
	margin-right: -10000px;
	left: 876px;
}

#u35877
{
	z-index: 173;
	width: 14px;
	margin-right: -10000px;
	left: 899px;
}

#u35873
{
	z-index: 179;
	width: 14px;
	margin-right: -10000px;
	left: 921px;
}

#u35900
{
	z-index: 181;
	width: 208px;
	margin-right: -10000px;
	left: 54px;
}

#u35901-4
{
	z-index: 182;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
}

#u35903-4
{
	z-index: 186;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
	left: 54px;
}

#u35902-4
{
	z-index: 190;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
	left: 131px;
}

#u35904-4
{
	z-index: 194;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
	left: 199px;
}

#u35892
{
	z-index: 198;
	width: 692px;
	margin-right: -10000px;
}

#u35894
{
	z-index: 203;
	width: 257px;
	margin-right: -10000px;
}

#u35896-4
{
	z-index: 204;
	width: 59px;
	min-height: 21px;
	margin-right: -10000px;
}

#pu35897-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 59px;
}

#u35897-4
{
	z-index: 208;
	width: 55px;
	min-height: 25px;
	margin-right: -10000px;
}

#u35895-4
{
	z-index: 212;
	width: 78px;
	min-height: 25px;
	margin-right: -10000px;
	left: 54px;
}

#u35898-4
{
	z-index: 216;
	width: 67px;
	min-height: 25px;
	margin-right: -10000px;
	left: 190px;
}

#u35893-4
{
	z-index: 199;
	width: 424px;
	min-height: 25px;
	margin-right: -10000px;
	left: 268px;
}

body
{
	padding-top: 166px;
	padding-bottom: 27px;
}

#page .verticalspacer
{
	clear: both;
}

