#pslideshowu42446
{
	width: 0.01px;
	padding-bottom: 13px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu42446
{
	z-index: 249;
	width: 0.01px;
	height: 345px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u42478
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u42478popup
{
	z-index: 250;
}

#u42529
{
	z-index: 251;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42538
{
	z-index: 253;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42547
{
	z-index: 255;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42556
{
	z-index: 257;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42565
{
	z-index: 259;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42469
{
	position: absolute;
	width: 340px;
	top: 300px;
	left: 91px;
}

#u42469popup
{
	z-index: 261;
}

#u42532
{
	z-index: 262;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u42541
{
	z-index: 264;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u42550
{
	z-index: 266;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u42559
{
	z-index: 268;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u42568
{
	z-index: 270;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u42532.SSSlideLinkSelected,#u42541.SSSlideLinkSelected,#u42550.SSSlideLinkSelected,#u42559.SSSlideLinkSelected,#u42568.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u42532_img,#u42541_img,#u42550_img,#u42559_img,#u42568_img
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u42474-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u42474-4popup
{
	z-index: 272;
}

#u42484-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u42484-4popup
{
	z-index: 276;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u42485-4
{
	z-index: 280;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u42488-4
{
	z-index: 293;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -325px;
	margin-bottom: -25px;
	position: relative;
}

#u42487-5
{
	z-index: 284;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -283px;
	margin-bottom: -17px;
	position: relative;
}

#u42487-2
{
	color: #76080D;
}

#pu42489
{
	width: 0.01px;
	margin-left: 20px;
	top: -250px;
	margin-bottom: -250px;
	position: relative;
}

#u42489
{
	z-index: 248;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
}

#pu42491-26
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u42491-26
{
	z-index: 222;
	width: 381px;
	position: relative;
}

#u42491-10
{
	font-weight: normal;
}

#u42491-3,#u42491-6,#u42491-9,#u42491-12,#u42491-15
{
	font-weight: bold;
}

#u42491-2,#u42491-16,#u42491-20
{
	color: #76080D;
	font-weight: bold;
}

#u42486-4
{
	z-index: 289;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-top: 13px;
	position: relative;
}
