#pslideshowu41128
{
	width: 0.01px;
	padding-bottom: 10px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu41128
{
	z-index: 223;
	width: 0.01px;
	height: 345px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u41159
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u41159popup
{
	z-index: 224;
}

#u41237
{
	z-index: 225;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u41246
{
	z-index: 227;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u41255
{
	z-index: 229;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u41264
{
	z-index: 231;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u41273
{
	z-index: 233;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u41144
{
	position: absolute;
	width: 340px;
	top: 300px;
	left: 91px;
}

#u41144popup
{
	z-index: 235;
}

#u41240
{
	z-index: 236;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u41249
{
	z-index: 238;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u41258
{
	z-index: 240;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u41267
{
	z-index: 242;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u41276
{
	z-index: 244;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u41240.SSSlideLinkSelected,#u41249.SSSlideLinkSelected,#u41258.SSSlideLinkSelected,#u41267.SSSlideLinkSelected,#u41276.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u41240_clip,#u41249_clip,#u41258_clip,#u41267_clip,#u41276_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u41240_img,#u41249_img,#u41258_img,#u41267_img,#u41276_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u41131-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u41131-4popup
{
	z-index: 246;
}

#u41130-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u41130-4popup
{
	z-index: 250;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u41192-4
{
	z-index: 254;
	width: 400px;
	min-height: 30px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u41195-4
{
	z-index: 262;
	width: 291px;
	min-height: 19px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -322px;
	margin-bottom: -19px;
	position: relative;
}

#u41127-5
{
	z-index: 290;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -280px;
	margin-bottom: -17px;
	position: relative;
}

#u41127-2
{
	color: #76080D;
}

#pu41125
{
	width: 0.01px;
	margin-left: 20px;
	top: -248px;
	margin-bottom: -248px;
	position: relative;
}

#u41125
{
	z-index: 222;
	width: 520px;
	min-height: 378px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
}

#u41193-4
{
	z-index: 258;
	width: 139px;
	min-height: 14px;
	text-align: right;
	font-size: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 612px;
	left: 381px;
}

#u41194-24
{
	z-index: 266;
	width: 381px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u41194-10
{
	font-weight: normal;
}

#u41194-3,#u41194-6,#u41194-9,#u41194-12,#u41194-15
{
	font-weight: bold;
}

#u41194-2,#u41194-16,#u41194-20
{
	color: #76080D;
	font-weight: bold;
}

#u41194-21
{
	color: #000000;
}
