#pslideshowu42027
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu42027
{
	z-index: 262;
	width: 0.01px;
	height: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u42028
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u42028popup
{
	z-index: 263;
}

#u42127
{
	z-index: 264;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42136
{
	z-index: 266;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42145
{
	z-index: 268;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42154
{
	z-index: 270;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42163
{
	z-index: 272;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42172
{
	z-index: 274;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42181
{
	z-index: 276;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42190
{
	z-index: 278;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u42039
{
	position: absolute;
	width: 480px;
	top: 300px;
	left: 21px;
}

#u42039popup
{
	z-index: 280;
}

#u42130
{
	z-index: 281;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u42139
{
	z-index: 283;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u42148
{
	z-index: 285;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u42157
{
	z-index: 287;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u42166
{
	z-index: 289;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u42175
{
	z-index: 291;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u42184
{
	z-index: 293;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u42130.SSSlideLinkSelected,#u42139.SSSlideLinkSelected,#u42148.SSSlideLinkSelected,#u42157.SSSlideLinkSelected,#u42166.SSSlideLinkSelected,#u42175.SSSlideLinkSelected,#u42184.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u42193
{
	z-index: 295;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u42193.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 55px -10000px 0px 0px;
}

#u42130_img,#u42139_img,#u42148_img,#u42157_img,#u42166_img,#u42175_img,#u42184_img,#u42193_img
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u42047-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u42047-4popup
{
	z-index: 297;
}

#u42036-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u42036-4popup
{
	z-index: 301;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u42024-4
{
	z-index: 305;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u42086-6
{
	z-index: 318;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -367px;
	margin-bottom: -38px;
	position: relative;
}

#u42023-5
{
	z-index: 309;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -303px;
	margin-bottom: -17px;
	position: relative;
}

#u42023-2
{
	color: #76080D;
}

#pu42025
{
	width: 0.01px;
	margin-left: 20px;
	top: -270px;
	margin-bottom: -270px;
	position: relative;
}

#u42025
{
	z-index: 261;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 284px;
}

#pu42072-39
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u42072-39
{
	z-index: 222;
	width: 381px;
	position: relative;
}

#u42072-10
{
	font-weight: normal;
}

#u42072-3,#u42072-6,#u42072-9,#u42072-12,#u42072-18,#u42072-21,#u42072-24,#u42072-27,#u42072-30
{
	font-weight: bold;
}

#u42072-2,#u42072-17,#u42072-31,#u42072-35
{
	color: #76080D;
	font-weight: bold;
}

#u42022-4
{
	z-index: 314;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-top: 39px;
	position: relative;
}

#u35872
{
	z-index: 2;
	width: 920px;
	height: 4px;
	margin-left: 20px;
	margin-top: 26px;
}

#pu35870
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 5px;
	position: relative;
}

#u35870
{
	z-index: 175;
	width: 14px;
	margin-right: -10000px;
	left: 855px;
}

#u35875
{
	z-index: 177;
	width: 15px;
	margin-right: -10000px;
	left: 876px;
}

#u35877
{
	z-index: 173;
	width: 14px;
	margin-right: -10000px;
	left: 899px;
}

#u35873
{
	z-index: 179;
	width: 14px;
	margin-right: -10000px;
	left: 921px;
}

#u35900
{
	z-index: 181;
	width: 208px;
	margin-right: -10000px;
	left: 54px;
}

#u35901-4
{
	z-index: 182;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
}

#u35903-4
{
	z-index: 186;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
	left: 54px;
}

#u35902-4
{
	z-index: 190;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
	left: 131px;
}

#u35904-4
{
	z-index: 194;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
	left: 199px;
}

#u35892
{
	z-index: 198;
	width: 692px;
	margin-right: -10000px;
}

#u35894
{
	z-index: 203;
	width: 257px;
	margin-right: -10000px;
}

#u35896-4
{
	z-index: 204;
	width: 59px;
	min-height: 21px;
	margin-right: -10000px;
}

#pu35897-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 59px;
}

#u35897-4
{
	z-index: 208;
	width: 55px;
	min-height: 25px;
	margin-right: -10000px;
}

#u35895-4
{
	z-index: 212;
	width: 78px;
	min-height: 25px;
	margin-right: -10000px;
	left: 54px;
}

#u35898-4
{
	z-index: 216;
	width: 67px;
	min-height: 25px;
	margin-right: -10000px;
	left: 190px;
}

#u35893-4
{
	z-index: 199;
	width: 424px;
	min-height: 25px;
	margin-right: -10000px;
	left: 268px;
}

body
{
	padding-top: 166px;
	padding-bottom: 27px;
}

#page .verticalspacer
{
	clear: both;
}

