#pslideshowu43856
{
	width: 0.01px;
	padding-bottom: 16px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu43856
{
	z-index: 253;
	width: 0.01px;
	height: 339px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u43862
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u43862popup
{
	z-index: 254;
}

#u43907
{
	z-index: 255;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u43869
{
	position: absolute;
	width: 51px;
	top: 301px;
	left: 235px;
}

#u43869popup
{
	z-index: 257;
}

#u43910
{
	z-index: 258;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u43910.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u43910_clip
{
	overflow: hidden;
	width: 51px;
	height: 39px;
}

#u43910_img
{
	margin-left: -9px;
	margin-right: -9px;
}

#u43857-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u43857-4popup
{
	z-index: 260;
}

#u43868-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u43868-4popup
{
	z-index: 264;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u43855-4
{
	z-index: 268;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u43851-4
{
	z-index: 281;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -332px;
	margin-bottom: -25px;
	position: relative;
}

#u43853-5
{
	z-index: 272;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -290px;
	margin-bottom: -17px;
	position: relative;
}

#u43853-2
{
	color: #76080D;
}

#pu43890
{
	width: 0.01px;
	margin-left: 20px;
	top: -257px;
	margin-bottom: -257px;
	position: relative;
}

#u43890
{
	z-index: 252;
	width: 520px;
	min-height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
}

#pu43854-30
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u43854-30
{
	z-index: 222;
	width: 381px;
	position: relative;
}

#u43854-10,#u43854-19
{
	font-weight: normal;
}

#u43854-3,#u43854-6,#u43854-9,#u43854-12,#u43854-15,#u43854-20,#u43854-21,#u43854-25
{
	font-weight: bold;
}

#u43854-2,#u43854-22,#u43854-26
{
	color: #76080D;
	font-weight: bold;
}

#u43852-4
{
	z-index: 277;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-top: 81px;
	position: relative;
}
