#pslideshowu46229
{
	width: 0.01px;
	padding-bottom: 3px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu46229
{
	z-index: 274;
	width: 0.01px;
	height: 339px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u46231
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u46231popup
{
	z-index: 275;
}

#u46357
{
	z-index: 276;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46366
{
	z-index: 278;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46277
{
	position: absolute;
	width: 112px;
	top: 301px;
	left: 205px;
}

#u46277popup
{
	z-index: 280;
}

#u46360
{
	z-index: 281;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u46369
{
	z-index: 283;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u46360.SSSlideLinkSelected,#u46369.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u46360_clip,#u46369_clip
{
	overflow: hidden;
	width: 51px;
	height: 39px;
}

#u46360_img,#u46369_img
{
	margin-left: -9px;
	margin-right: -9px;
}

#u46256-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u46256-4popup
{
	z-index: 285;
}

#u46230-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u46230-4popup
{
	z-index: 289;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u46228-4
{
	z-index: 293;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u46225-4
{
	z-index: 306;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -319px;
	margin-bottom: -25px;
	position: relative;
}

#u46226-5
{
	z-index: 297;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -277px;
	margin-bottom: -17px;
	position: relative;
}

#u46226-2
{
	color: #76080D;
}

#pu46223
{
	width: 0.01px;
	margin-left: 20px;
	top: -244px;
	margin-bottom: -244px;
	position: relative;
}

#u46223
{
	z-index: 273;
	width: 520px;
	min-height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 256px;
}

#pu46222-51
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u46222-51
{
	z-index: 222;
	width: 381px;
	position: relative;
}

#u46222-7,#u46222-10,#u46222-40
{
	font-weight: normal;
}

#u46222-3,#u46222-6,#u46222-9,#u46222-12,#u46222-15,#u46222-18,#u46222-21,#u46222-24,#u46222-27,#u46222-30,#u46222-33,#u46222-36,#u46222-41,#u46222-42
{
	font-weight: bold;
}

#u46222-44
{
	color: #000000;
}

#u46222-2,#u46222-23,#u46222-43,#u46222-47
{
	color: #76080D;
	font-weight: bold;
}

#u46227-4
{
	z-index: 302;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-top: 57px;
	position: relative;
}
