
#pslideshowu45963
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu45963
{
	z-index: 251;
	width: 0.01px;
	height: 388px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u45985
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u45985popup
{
	z-index: 252;
}

#u46095
{
	z-index: 253;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46104
{
	z-index: 255;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46113
{
	z-index: 257;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46122
{
	z-index: 259;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46131
{
	z-index: 261;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46140
{
	z-index: 263;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46095_img,#u46104_img,#u46113_img,#u46122_img,#u46131_img,#u46140_img
{
	padding-right: 81px;
}

#u46149
{
	z-index: 265;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46149_img
{
	padding-right: 42px;
}

#u46158
{
	z-index: 267;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46167
{
	z-index: 269;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46176
{
	z-index: 271;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46176_img
{
	padding-right: 140px;
}

#u46185
{
	z-index: 273;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u46158_img,#u46167_img,#u46185_img
{
	padding-right: 142px;
}

#u46194
{
	z-index: 275;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u45967
{
	position: absolute;
	width: 478px;
	top: 301px;
	left: 22px;
}

#u45967popup
{
	z-index: 277;
}

#u46098
{
	z-index: 278;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u46107
{
	z-index: 280;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u46116
{
	z-index: 282;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u46125
{
	z-index: 284;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 183px;
}

#u46134
{
	z-index: 286;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u46143
{
	z-index: 288;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 305px;
}

#u46098_img,#u46107_img,#u46116_img,#u46125_img,#u46134_img,#u46143_img
{
	margin-left: -9px;
	margin-right: 2px;
}

#u46152
{
	z-index: 290;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 366px;
}

#u46152_img
{
	margin-left: -9px;
	margin-right: -4px;
}

#u46161
{
	z-index: 292;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 427px;
}

#u46098.SSSlideLinkSelected,#u46107.SSSlideLinkSelected,#u46116.SSSlideLinkSelected,#u46125.SSSlideLinkSelected,#u46134.SSSlideLinkSelected,#u46143.SSSlideLinkSelected,#u46152.SSSlideLinkSelected,#u46161.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u46170
{
	z-index: 294;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
}

#u46179
{
	z-index: 296;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 61px;
}

#u46188
{
	z-index: 298;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 122px;
}

#u46161_img,#u46170_img,#u46179_img,#u46188_img
{
	margin-left: -9px;
	margin-right: 10px;
}

#u46197
{
	z-index: 300;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 183px;
}

#u46170.SSSlideLinkSelected,#u46179.SSSlideLinkSelected,#u46188.SSSlideLinkSelected,#u46197.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 49px -10000px 0px 0px;
}

#u46098_clip,#u46107_clip,#u46116_clip,#u46125_clip,#u46134_clip,#u46143_clip,#u46152_clip,#u46161_clip,#u46170_clip,#u46179_clip,#u46188_clip,#u46197_clip
{
	overflow: hidden;
	width: 51px;
	height: 39px;
}

#u46197_img
{
	margin-left: -9px;
	margin-right: -9px;
}

#u45964-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u45964-4popup
{
	z-index: 302;
}

#u45976-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u45976-4popup
{
	z-index: 306;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u46012-4
{
	z-index: 310;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u46013-4
{
	z-index: 323;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -365px;
	margin-bottom: -25px;
	position: relative;
}

#u46018-5
{
	z-index: 314;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -323px;
	margin-bottom: -17px;
	position: relative;
}

#u46018-2
{
	color: #76080D;
}

#pu46016
{
	width: 0.01px;
	margin-left: 20px;
	top: -290px;
	margin-bottom: -290px;
	position: relative;
}

#u46016
{
	z-index: 250;
	width: 520px;
	min-height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
}

#pu46014-28
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u46014-28
{
	z-index: 222;
	width: 381px;
	position: relative;
}

#u46014-5
{
	font-style: italic;
}

#u46014-8,#u46014-11
{
	font-weight: normal;
}

#u46014-3,#u46014-7,#u46014-10,#u46014-13,#u46014-16
{
	font-weight: bold;
}

#u46014-2,#u46014-17,#u46014-21
{
	color: #76080D;
	font-weight: bold;
}

#u46015-4
{
	z-index: 319;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-top: 24px;
	position: relative;
}
