
#pslideshowu47569
{
	width: 0.01px;
	padding-bottom: 49px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu47569
{
	z-index: 259;
	width: 0.01px;
	height: 339px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u47570
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u47570popup
{
	z-index: 260;
}

#u47634
{
	z-index: 261;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47634_img
{
	padding: 23px 74px;
}

#u47649
{
	z-index: 263;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u47649_img
{
	padding: 23px 75px 23px 74px;
}

#u47604
{
	position: absolute;
	width: 112px;
	top: 301px;
	left: 205px;
}

#u47604popup
{
	z-index: 265;
}

#u47637
{
	z-index: 266;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u47652
{
	z-index: 268;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u47637.SSSlideLinkSelected,#u47652.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u47637_img,#u47652_img
{
	padding-top: 3px;
	padding-bottom: 3px;
}

#u47577-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u47577-4popup
{
	z-index: 270;
}

#u47578-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u47578-4popup
{
	z-index: 274;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u47613-4
{
	z-index: 278;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u47615-4
{
	z-index: 291;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -365px;
	margin-bottom: -25px;
	position: relative;
}

#u47565-5
{
	z-index: 282;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -323px;
	margin-bottom: -17px;
	position: relative;
}

#u47616-36
{
	z-index: 222;
	width: 381px;
	margin-left: 560px;
	top: -290px;
	margin-bottom: -235px;
	position: relative;
}

#u47616-7,#u47616-10,#u47616-16,#u47616-23
{
	font-weight: normal;
}

#u47616-3,#u47616-6,#u47616-9,#u47616-12,#u47616-15,#u47616-18,#u47616-24,#u47616-31
{
	font-weight: bold;
}

#u47565-2,#u47616-25
{
	color: #76080D;
}

#u47616-26
{
	color: #000000;
}

#u47616-30
{
	color: #000000;
	font-weight: normal;
}

#u47616-2,#u47616-32
{
	color: #76080D;
	font-weight: bold;
}

#u47567
{
	z-index: 258;
	width: 520px;
	min-height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	top: -34px;
	margin-bottom: -34px;
	position: relative;
}

#u47617-4
{
	z-index: 287;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-left: 560px;
	margin-top: 43px;
	position: relative;
}
