#pslideshowu48400
{
	width: 0.01px;
	padding-bottom: 49px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu48400
{
	z-index: 253;
	width: 0.01px;
	height: 339px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u48411
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u48411popup
{
	z-index: 254;
}

#u48466
{
	z-index: 255;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u48466_img
{
	padding: 23px 74px;
}

#u48481
{
	z-index: 257;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u48481_img
{
	padding: 23px 75px 23px 74px;
}

#u48419
{
	position: absolute;
	width: 112px;
	top: 301px;
	left: 205px;
}

#u48419popup
{
	z-index: 259;
}

#u48469
{
	z-index: 260;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u48484
{
	z-index: 262;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u48469.SSSlideLinkSelected,#u48484.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u48469_img,#u48484_img
{
	padding-top: 3px;
	padding-bottom: 3px;
}

#u48410-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u48410-4popup
{
	z-index: 264;
}

#u48407-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u48407-4popup
{
	z-index: 268;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u48444-4
{
	z-index: 272;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u48449-4
{
	z-index: 285;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -365px;
	margin-bottom: -25px;
	position: relative;
}

#u48445-5
{
	z-index: 276;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -323px;
	margin-bottom: -17px;
	position: relative;
}

#u48451-30
{
	z-index: 222;
	width: 381px;
	margin-left: 560px;
	top: -289px;
	margin-bottom: -202px;
	position: relative;
}

#u48451-8,#u48451-11,#u48451-17
{
	font-weight: normal;
}

#u48451-4,#u48451-7,#u48451-10,#u48451-13,#u48451-18,#u48451-25
{
	font-weight: bold;
}

#u48445-2,#u48451-19
{
	color: #76080D;
}

#u48451-20
{
	color: #000000;
}

#u48451-24
{
	color: #000000;
	font-weight: normal;
}

#u48451-26
{
	color: #76080D;
	font-weight: bold;
}

#u48446
{
	z-index: 252;
	width: 520px;
	min-height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	top: -34px;
	margin-bottom: -34px;
	position: relative;
}

#u48450-4
{
	z-index: 281;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-left: 560px;
	margin-top: 161px;
	position: relative;
}
