
#pslideshowu43924
{
	width: 0.01px;
	padding-bottom: 16px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu43924
{
	z-index: 262;
	width: 0.01px;
	height: 339px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u43930
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u43930popup
{
	z-index: 263;
}

#u43982
{
	z-index: 264;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u43991
{
	z-index: 266;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u43952
{
	position: absolute;
	width: 112px;
	top: 301px;
	left: 205px;
}

#u43952popup
{
	z-index: 268;
}

#u43985
{
	z-index: 269;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u43994
{
	z-index: 271;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 61px;
}

#u43985.SSSlideLinkSelected,#u43994.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u43985_clip,#u43994_clip
{
	overflow: hidden;
	width: 51px;
	height: 39px;
}

#u43985_img,#u43994_img
{
	margin-left: -9px;
	margin-right: -9px;
}

#u43927-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u43927-4popup
{
	z-index: 273;
}

#u43951-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u43951-4popup
{
	z-index: 277;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u43961-4
{
	z-index: 281;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u43962-4
{
	z-index: 294;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -332px;
	margin-bottom: -25px;
	position: relative;
}

#u43923-5
{
	z-index: 285;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -290px;
	margin-bottom: -17px;
	position: relative;
}

#u43923-2
{
	color: #76080D;
}

#pu43958
{
	width: 0.01px;
	margin-left: 20px;
	top: -257px;
	margin-bottom: -257px;
	position: relative;
}

#u43958
{
	z-index: 261;
	width: 520px;
	min-height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
}

#pu43963-39
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u43963-39
{
	z-index: 222;
	width: 381px;
	position: relative;
}

#u43963-10,#u43963-28
{
	font-weight: normal;
}

#u43963-3,#u43963-6,#u43963-9,#u43963-12,#u43963-15,#u43963-18,#u43963-21,#u43963-24,#u43963-29,#u43963-30,#u43963-34
{
	font-weight: bold;
}

#u43963-2,#u43963-17,#u43963-31,#u43963-35
{
	color: #76080D;
	font-weight: bold;
}

#u43960-4
{
	z-index: 290;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-top: 81px;
	position: relative;
}

#u35872
{
	z-index: 2;
	width: 920px;
	height: 4px;
	margin-left: 20px;
	margin-top: 27px;
}

#pu35870
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 4px;
	position: relative;
}

#u35870
{
	z-index: 175;
	width: 14px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 855px;
}

#u35875
{
	z-index: 177;
	width: 15px;
	margin-right: -10000px;
	left: 876px;
}

#u35877
{
	z-index: 173;
	width: 14px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 899px;
}

#u35873
{
	z-index: 179;
	width: 14px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 921px;
}

#u35900
{
	z-index: 181;
	width: 208px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 54px;
}

#u35901-4
{
	z-index: 182;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
}

#u35903-4
{
	z-index: 186;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
	left: 54px;
}

#u35902-4
{
	z-index: 190;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
	left: 131px;
}

#u35904-4
{
	z-index: 194;
	width: 9px;
	min-height: 12px;
	margin-right: -10000px;
	left: 199px;
}

#u35892
{
	z-index: 198;
	width: 692px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u35894
{
	z-index: 203;
	width: 257px;
	margin-right: -10000px;
}

#u35896-4
{
	z-index: 204;
	width: 59px;
	min-height: 21px;
	margin-right: -10000px;
}

#pu35897-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 59px;
}

#u35897-4
{
	z-index: 208;
	width: 55px;
	min-height: 25px;
	margin-right: -10000px;
}

#u35895-4
{
	z-index: 212;
	width: 78px;
	min-height: 25px;
	margin-right: -10000px;
	left: 54px;
}

#u35898-4
{
	z-index: 216;
	width: 67px;
	min-height: 25px;
	margin-right: -10000px;
	left: 190px;
}

#u35893-4
{
	z-index: 199;
	width: 424px;
	min-height: 25px;
	margin-right: -10000px;
	left: 268px;
}

body
{
	padding-top: 166px;
	padding-bottom: 27px;
}

#page .verticalspacer
{
	clear: both;
}

