
#pslideshowu48649
{
	width: 0.01px;
	padding-bottom: 49px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu48649
{
	z-index: 266;
	width: 0.01px;
	height: 336px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u48660
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u48660popup
{
	z-index: 267;
}

#u48723
{
	z-index: 268;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u48723_img
{
	padding: 22px 74px 23px;
}

#u48651
{
	position: absolute;
	width: 51px;
	top: 297px;
	left: 235px;
}

#u48651popup
{
	z-index: 270;
}

#u48726
{
	z-index: 271;
	width: 51px;
	height: 39px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u48726.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u48726_img
{
	padding-top: 2px;
	padding-bottom: 3px;
}

#u48650-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u48650-4popup
{
	z-index: 273;
}

#u48679-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 41px;
	text-align: center;
	color: #4D4B4B;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u48679-4popup
{
	z-index: 277;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u48703-4
{
	z-index: 281;
	width: 393px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u48699-4
{
	z-index: 294;
	width: 381px;
	min-height: 25px;
	font-size: 16px;
	text-align: left;
	margin-left: 560px;
	top: -361px;
	margin-bottom: -25px;
	position: relative;
}

#u48704-5
{
	z-index: 285;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -319px;
	margin-bottom: -17px;
	position: relative;
}

#u48704-2
{
	color: #76080D;
}

#pu48705
{
	width: 0.01px;
	margin-left: 20px;
	top: -285px;
	margin-bottom: -285px;
	position: relative;
}

#u48705
{
	z-index: 304;
	width: 520px;
	min-height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
}

#u48702-44
{
	z-index: 222;
	width: 381px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u48702-4,#u48702-7,#u48702-10,#u48702-13,#u48702-21,#u48702-24,#u48702-27,#u48702-30
{
	font-weight: bold;
}

#u48702-37
{
	color: #000000;
}

#u48702-8,#u48702-11,#u48702-38,#u48702-39
{
	font-weight: normal;
}

#u48702-36,#u48702-40
{
	color: #76080D;
	font-weight: bold;
}

#u48698-4
{
	z-index: 290;
	width: 216px;
	min-height: 14px;
	font-size: 11px;
	margin-left: 560px;
	margin-top: 530px;
	position: relative;
}
