



<div id="tab_menu">
	<div class="tab_item">
		<a href="/listings/residential">Residential</a>
	</div>
	<div class="tab_item">
		<a href="/pages/commercial">Commercial</a>
	</div>
	<div class="tab_item">
		<a href="/listings/transactions">Sold</a>
	</div>
</div>

<!-- <div class="clearfix colelem" id="u31924-4">
<p><%= header %></p>
</div>
<div class="colelem" id="u31925"></div> -->



<!-- 
<div class="clearfix colelem" id="pu31906">
	<div class="clearfix grpelem" id="u31906">
	 <div class="pointer_cursor clearfix grpelem" id="u31908">
		<a class="nonblock nontext clearfix grpelem" id="u31907-4" href="/listings/residential"><p>Residential</p></a>
	 </div>
	</div>




	<div class="clearfix grpelem" id="u31918">
	 <div class="pointer_cursor clearfix grpelem" id="u31916">
		<a class="nonblock nontext clearfix grpelem" id="u31917-4" href="/pages/commercial"><p>Commercial</p></a>
	 </div>
	</div>


	<div class="clearfix grpelem" id="u31915">
	 <div class="pointer_cursor clearfix grpelem" id="u31920">
		<a class="nonblock nontext clearfix grpelem" id="u31919-4" href="/listings/transactions"><p>Sold</p></a>
	 </div>
	</div> -->





	<!-- <div class="clearfix grpelem" id="u31921">
	 <div class="pointer_cursor clearfix grpelem" id="u31923">
	<a class="block" href="commercial.html"></a>
	<a class="nonblock nontext clearfix grpelem" id="u31922-4" href="/pages/commercial"><p>Commercial Real Estate</p></a>
	 </div>
	</div> -->

<!-- </div>

<div style="float: left; height: 3px; width: 920px; background-color: #000; margin-top: 34px;">
</div> -->