<div class="clearfix colelem" id="u31924-4"><!-- content -->
<p><%= header %></p>
</div>
<div class="colelem" id="u31925"><!-- simple frame --></div>

<div class="clearfix colelem" id="pu31906"><!-- group -->
<div class="clearfix grpelem" id="u31906"><!-- group -->
 <div class="pointer_cursor clearfix grpelem" id="u31908"><!-- group -->
<a class="block" href="listings.html"></a>
<a class="nonblock nontext clearfix grpelem" id="u31907-4" href="/listings/residential"><!-- content --><p>Residential</p></a>
 </div>
</div>
<div class="clearfix grpelem" id="u31915"><!-- group -->
 <div class="pointer_cursor clearfix grpelem" id="u31916"><!-- group -->
<a class="block" href="commercial-listings.html"></a>
<a class="nonblock nontext clearfix grpelem" id="u31917-4" href="/listings/commercial"><!-- content --><p>Commercial</p></a>
 </div>
</div>
<div class="clearfix grpelem" id="u31918"><!-- group -->
 <div class="pointer_cursor clearfix grpelem" id="u31920"><!-- group -->
<a class="block" href="transactions.html"></a>
<a class="nonblock nontext clearfix grpelem" id="u31919-4" href="transactions.html"><!-- content --><p>Transactions</p></a>
 </div>
</div>
<div class="clearfix grpelem" id="u31921"><!-- group -->
 <div class="pointer_cursor clearfix grpelem" id="u31923"><!-- group -->
<a class="block" href="commercial.html"></a>
<a class="nonblock nontext clearfix grpelem" id="u31922-4" href="/pages/commercial.html"><!-- content --><p>Commercial Real Estate</p></a>
 </div>
</div>
</div>