
<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
<div class="clearfix colelem" id="u21565-4"><!-- content -->
 <p>TRANSACTIONS</p>
</div>
<div class="colelem" id="u21566"><!-- simple frame --></div>



<div class="clearfix colelem" id="pu31968"><!-- group -->
 <div class="clearfix grpelem" id="u31968"><!-- group -->
  <div class="pointer_cursor clearfix grpelem" id="u31969"><!-- group -->
   <a class="block" href="transactions.html"></a>
   <a class="nonblock nontext clearfix grpelem" id="u31970-4" href="/listings/transactions"><!-- content --><p>Homes</p></a>
  </div>
 </div>
 <div class="clearfix grpelem" id="u31971"><!-- group -->
  <div class="pointer_cursor clearfix grpelem" id="u31972"><!-- group -->
   <a class="block" href="condos.html"></a>
   <a class="nonblock nontext clearfix grpelem" id="u31973-4" href="/listings/transactions/condos"><!-- content --><p>Condos</p></a>
  </div>
 </div>
 <div class="clearfix grpelem" id="u31974"><!-- group -->
  <div class="pointer_cursor clearfix grpelem" id="u31976"><!-- group -->
   <a class="block" href="commercial-transations.html"></a>
   <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u31975-4" href="/listings/transactions/commercial"><!-- content --><p>Commercial</p></a>
  </div>
 </div>
</div>

<div style="float: left; height: 3px; width: 920px; background-color: #EAF3FA; margin-top: 35px;">
</div>

<style>
.pagination_container {
  margin-top: 30px;
  margin-bottom: 15px;
}
ul.pagination {
  float: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
</style>

<div class="transactions_container">
  <%= render partial: 'transaction', collection: @transactions, as: 'transaction' %>
</div>

<div class="pagination_container">
  <%= paginate @transactions %>
</div>
