
<div class="gradient colelem" id="u16510"></div>
<!-- <div class="clearfix colelem" id="u21565-4">
 <p>TRANSACTIONS</p>
</div>
<div class="colelem" id="u21566"></div> -->



<!-- <div class="clearfix colelem" id="pu31968">
 <div class="clearfix grpelem" id="u31968">
  <div class="pointer_cursor clearfix grpelem" id="u31969">
   <a class="block" href="transactions.html"></a>
   <a class="nonblock nontext clearfix grpelem" id="u31970-4" href="/listings/transactions"><p>Homes</p></a>
  </div>
 </div>
 <div class="clearfix grpelem" id="u31971">
  <div class="pointer_cursor clearfix grpelem" id="u31972">
   <a class="block" href="condos.html"></a>
   <a class="nonblock nontext clearfix grpelem" id="u31973-4" href="/listings/transactions/condos"><p>Condos</p></a>
  </div>
 </div>
<div class="clearfix grpelem" id="u31974">
  <div class="pointer_cursor clearfix grpelem" id="u31976">
   <a class="block" href="commercial-transations.html"></a>
   <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u31975-4" href="/listings/residential"><p>Current Listings</p></a>
  </div>
 </div>
</div> 

<div style="float: left; height: 3px; width: 920px; background-color: #EAF3FA; margin-top: 35px;">
</div>-->

<div id="tab_menu">
  <div class="tab_item">
    <a href="/listings/transactions">Homes</a>
  </div>
  <div class="tab_item">
    <a href="/listings/transactions/condos">Condos</a>
  </div>
  <div class="tab_item">
    <a href="/listings/transactions/commercial">Commercial</a>
  </div>
  <div class="tab_item">
    <a href="/listings/residential">Current Listings</a>
  </div>
</div>

<style>
  .pagination_container {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  ul.pagination {
    float: none;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .obutton {
    float: right;
    border: 2px solid #EAF3FA;
    padding: 7px 10px;
    margin-top: -25px;
    color:black;
  }
  .obutton a {
    color:black;
    text-decoration: none;
  }
  .obutton:hover {
    background-color: rgb(246, 246, 246);
  }
</style>


<div class="transactions_container">
  <%= render partial: 'transaction', collection: @transactions, as: 'transaction' %>
</div>


<div class="pagination_container">

  <% unless params[:show_all] %>

    
    
    <%= paginate @transactions %>

    <div class="obutton">
      <%= link_to "Show All", "#{params[:action]}?show_all=true" %>
    </div>
  <% end %>

</div>
