<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pslideshowu33510"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu33510"><!-- group -->
      <div class="popup_anchor" id="u33520popup">
       <div class="SlideShowContentPanel clearfix" id="u33520"><!-- stack box -->
        <div class="SSSlide grpelem" id="u33521"><!-- image -->
         <img class="block ImageInclude" id="u33521_img" data-src="/assets/1-monet.jpg" src="/assets/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33525"><!-- image -->
         <img class="block ImageInclude" id="u33525_img" data-src="/assets/2-monet.jpg" src="/assets/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33523"><!-- image -->
         <img class="block ImageInclude" id="u33523_img" data-src="/assets/3-monet.jpg" src="/assets/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33527"><!-- image -->
         <img class="block ImageInclude" id="u33527_img" data-src="/assets/4-monet.jpg" src="/assets/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33531popup">
       <div class="SSSlideLinks clearfix" id="u33531"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u33536"><!-- image -->
         <div id="u33536_clip">
          <img class="position_content" id="u33536_img" src="/assets/1-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33534"><!-- image -->
         <div id="u33534_clip">
          <img class="position_content" id="u33534_img" src="/assets/2-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33532"><!-- image -->
         <div id="u33532_clip">
          <img class="position_content" id="u33532_img" src="/assets/3-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33538"><!-- image -->
         <div id="u33538_clip">
          <img class="position_content" id="u33538_img" src="/assets/4-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33558-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u33558-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u33530-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u33530-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u33506-4"><!-- content -->
      <h1>BRAVO BOUTIQUE</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u33577-6"><!-- content -->
     <h1 id="u33577-2">22 Norton Avenue</h1>
     <h1 id="u33577-4">(Under Construction)</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u33578-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u33578-2">Yonge &amp; Finch</span></p></a>
    <div class="clearfix colelem" id="ppu33507"><!-- group -->
     <div class="clearfix grpelem" id="pu33507"><!-- column -->
      <div class="colelem" id="u33507"><!-- custom html -->
       <iframe width="520" height="352" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=22+norton+avenue&amp;aq=&amp;sll=43.678508,-79.444503&amp;sspn=0.010972,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=22+Norton+Ave,+Toronto,+Ontario+M6E+1E1&amp;t=m&amp;ll=43.685626,-79.44334&amp;spn=0.021848,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=22+norton+avenue&amp;aq=&amp;sll=43.678508,-79.444503&amp;sspn=0.010972,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=22+Norton+Ave,+Toronto,+Ontario+M6E+1E1&amp;t=m&amp;ll=43.685626,-79.44334&amp;spn=0.021848,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
      <div class="clearfix colelem" id="u33505-4"><!-- content -->
       <p>Last Update: April 2011</p>
      </div>
     </div>
     <div class="clearfix grpelem" id="u33575-30"><!-- content -->
      <p id="u33575-2">22 Norton Avenue</p>
      <p><span id="u33575-3">Expected:</span>&nbsp;2012 (Currently under construction)</p>
      <p><span id="u33575-6">Builder:</span>&nbsp;Pemberton Group</p>
      <p><span id="u33575-9">Floors: </span><span id="u33575-10">22</span></p>
      <p><span id="u33575-12">Units:</span>&nbsp;300</p>
      <p id="u33575-15">&nbsp;</p>
      <p><span id="u33575-16">Building Amenities:</span>&nbsp;Gym, Concierge, Party Room, Billiards/Games Room, Theatre.</p>
      <p id="u33575-19">&nbsp;</p>
      <p><span id="u33575-20">Builder's Description:</span>&nbsp;Live Creatively in North York's Best Location! Infuse your life with art and sophistication in the heart of downtown North York. Bravo Boutique Condominiums is now open. When it comes to living life to its fullest, BRAVO gets a standing ovation. At BRAVO not only will you enjoy a professionally designed suite complete with luxurious appointments and amenities galore but you will be living in the heart of one of North America's thriving cultural centres.</p>
      <p>&nbsp;</p>
      <p>Whatever your pleasure, you can do it all right here at BRAVO. Enjoy a host of amenities included for your personal indulgence. BRAVO lets you live like a star with a private theatre, party room/lounge with adjoining kitchen, billiard room and fully outfitted gym with change room and showers. You'll find retail stores just a few steps from the building and plenty of underground parking for your guests to enjoy.</p>
      <p>&nbsp;</p>
      <p>Your life takes centre stage at BRAVO. A short walk to the North York Centre subway and surrounded by great school, shops, restaurants, clubs, cinemas and live theatre &#45; there isn't a better place to live. All around you world&#45;class restaurants beckon to you to taste their fare while stores, from elegant boutiques to well&#45;known shops, line the streets as far as the eye can see. Surrounding BRAVO you'll find an abundance of amenities from galleries, libraries and cinemas to grocery stores, schools, public transit and major highways. Just steps away you'll find Mel Lastman Square, The Toronto Centre for the Arts, and the North York Art Gallery, to name just a few.</p>
     </div>
    </div>