<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pslideshowu33038"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu33038"><!-- group -->
      <div class="popup_anchor" id="u33078popup">
       <div class="SlideShowContentPanel clearfix" id="u33078"><!-- stack box -->
        <div class="SSSlide grpelem" id="u33083"><!-- image -->
         <img class="block ImageInclude" id="u33083_img" data-src="/assets/1-monet.jpg" src="/assets/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33081"><!-- image -->
         <img class="block ImageInclude" id="u33081_img" data-src="/assets/2-monet.jpg" src="/assets/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33085"><!-- image -->
         <img class="block ImageInclude" id="u33085_img" data-src="/assets/3-monet.jpg" src="/assets/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33079"><!-- image -->
         <img class="block ImageInclude" id="u33079_img" data-src="/assets/4-monet.jpg" src="/assets/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33060popup">
       <div class="SSSlideLinks clearfix" id="u33060"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u33063"><!-- image -->
         <div id="u33063_clip">
          <img class="position_content" id="u33063_img" src="/assets/1-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33065"><!-- image -->
         <div id="u33065_clip">
          <img class="position_content" id="u33065_img" src="/assets/2-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33067"><!-- image -->
         <div id="u33067_clip">
          <img class="position_content" id="u33067_img" src="/assets/3-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33061"><!-- image -->
         <div id="u33061_clip">
          <img class="position_content" id="u33061_img" src="/assets/4-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33077-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u33077-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u33039-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u33039-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u33037-4"><!-- content -->
      <h1>DIA CONDOMINIUMS</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u33035-4"><!-- content -->
     <h1>30 Canterbury Place</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u33034-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u33034-2">Yonge &amp; Finch</span></p></a>
    <div class="clearfix colelem" id="pu33087"><!-- group -->
     <div class="grpelem" id="u33087"><!-- custom html -->
      <iframe width="520" height="352" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=30+Canterbury+Place&amp;aq=&amp;sll=43.777335,-79.412746&amp;sspn=0.010954,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=30+Canterbury+Pl,+Toronto,+Toronto+Division,+Ontario+M2N+0B9&amp;t=m&amp;ll=43.778097,-79.412527&amp;spn=0.021814,0.044718&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=30+Canterbury+Place&amp;aq=&amp;sll=43.777335,-79.412746&amp;sspn=0.010954,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=30+Canterbury+Pl,+Toronto,+Toronto+Division,+Ontario+M2N+0B9&amp;t=m&amp;ll=43.778097,-79.412527&amp;spn=0.021814,0.044718&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="pu33036-32"><!-- column -->
      <div class="clearfix colelem" id="u33036-32"><!-- content -->
       <p id="u33036-2">30 Canterbury Place</p>
       <p><span id="u33036-3">Built:</span>&nbsp;2008</p>
       <p><span id="u33036-6">Builder:</span>&nbsp;Tas Design Build</p>
       <p><span id="u33036-9">Floors: </span><span id="u33036-10">18</span></p>
       <p><span id="u33036-12">Units: </span><span id="u33036-13">164</span></p>
       <p><span id="u33036-15">Condo Corp: </span>1918</p>
       <p><span id="u33036-18">Property Manage</span><span id="u33036-19">r</span><span id="u33036-20">: </span><span id="u33036-21">Brookfield Property Management &#45; 416&#45;510&#45;8700</span></p>
       <p id="u33036-23">&nbsp;</p>
       <p><span id="u33036-24">Building Amenities:</span>&nbsp;Gym, Concierge, Yoga/Rec Room, Pool, Sauna, Hot Tub, Party Room, Billiards/Games Room, Guest SuitGym, Concierge, Yoga/Rec Room, Sauna, Hot Tub, Party Room, Library/Study Room</p>
       <p id="u33036-27">&nbsp;</p>
       <p><span id="u33036-28">Builder's Description:</span>&nbsp;A multi&#45;unit residential building with condominiums, lofts and townhomes designed around a grouping of courtyards. DIA condominiums set out to revitalize the generic offering of multi&#45;unit homes that were available in the North York, Toronto market. As with ZED, DIA’s position was developed so that all of the projects parts were consistent throughout. Based on a spa concept, the name, the design and the project offerings were developed to be inline with the project vision. The building design pays very close attention to the neighbourhood’s urban morphology and responds to its site and situation; the sitting allows for three different unit types (condo units, skip&#45;stop units and townhomes) to be seamlessly offered in one project. DIA sold at an incredibly quick rate, achieving over 70% of sales in 6 months.</p>
      </div>
      <div class="clearfix colelem" id="u33033-4"><!-- content -->
       <p>Last Update: November 2010</p>
      </div>
     </div>
    </div>