<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pslideshowu33747"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu33747"><!-- group -->
      <div class="popup_anchor" id="u33751popup">
       <div class="SlideShowContentPanel clearfix" id="u33751"><!-- stack box -->
        <div class="SSSlide grpelem" id="u33756"><!-- image -->
         <img class="block ImageInclude" id="u33756_img" data-src="/assets/1.jpg" src="/assets/blank.gif" alt="" data-width="516" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33754"><!-- image -->
         <img class="block ImageInclude" id="u33754_img" data-src="/assets/kitchen.jpg" src="/assets/blank.gif" alt="" data-width="516" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33752"><!-- image -->
         <img class="block ImageInclude" id="u33752_img" data-src="/assets/lounge.jpg" src="/assets/blank.gif" alt="" data-width="514" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33759popup">
       <div class="SSSlideLinks clearfix" id="u33759"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u33760"><!-- image -->
         <div id="u33760_clip">
          <img class="position_content" id="u33760_img" src="/assets/180x45.jpg" alt="" width="79" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33764"><!-- image -->
         <div id="u33764_clip">
          <img class="position_content" id="u33764_img" src="/assets/kitchen80x45.jpg" alt="" width="79" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33762"><!-- image -->
         <div id="u33762_clip">
          <img class="position_content" id="u33762_img" src="/assets/lounge80x45.jpg" alt="" width="79" height="45"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33770-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u33770-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u33772-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u33772-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u33791-4"><!-- content -->
      <h1>THE PALM CONDOS</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u33743-4"><!-- content -->
     <h1>5740 Yonge Street</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u33744-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u33744-2">Yonge &amp; Finch</span></p></a>
    <div class="clearfix colelem" id="pu33745"><!-- group -->
     <div class="grpelem" id="u33745"><!-- custom html -->
      <iframe width="520" height="352" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=5740+Yonge+Street&amp;aq=&amp;sll=43.781065,-79.414304&amp;sspn=0.010953,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=5740+Yonge+St,+Toronto,+Toronto+Division,+Ontario+M7A+2T1&amp;t=m&amp;ll=43.789375,-79.414244&amp;spn=0.02181,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5740+Yonge+Street&amp;aq=&amp;sll=43.781065,-79.414304&amp;sspn=0.010953,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=5740+Yonge+St,+Toronto,+Toronto+Division,+Ontario+M7A+2T1&amp;t=m&amp;ll=43.789375,-79.414244&amp;spn=0.02181,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="pu33741-21"><!-- column -->
      <div class="clearfix colelem" id="u33741-21"><!-- content -->
       <p id="u33741-2">5740 Yonge Street</p>
       <p><span id="u33741-3">Built:</span>&nbsp;2010</p>
       <p><span id="u33741-6">Floors: </span><span id="u33741-7">22</span></p>
       <p><span id="u33741-9">Units:</span>&nbsp;216</p>
       <p id="u33741-12">&nbsp;</p>
       <p><span id="u33741-13">Building Amenities:</span>&nbsp; Gym, Concierge, Pool, Sauna, Hot Tub, Party Room, Business Centre/Board Room, Deck/Garden.</p>
       <p>&nbsp;</p>
       <p><span id="u33741-17">Builder's Description:</span>&nbsp;The Palm offers a stunning oasis of elegance, surrounded by amenities, steps from Finch Subway Station. Superior Architecture is just one of the many features offered at the Palm. Distinctive green tone glazing and elegant concrete lines add to the uniqueness of the building. Situated steps from Finch Subway, this modern 23&#45;storey tower is discretely set back from the street , providing space for a quiet oasis of spectacular landscaping. The area surrounding The Palm is resplendent with every conceivable amenity &#45; casual and fine dining, live theatre, sporting venues, cienma, art galleries, shopping and more. This bustling neighbourhood offers an active lifestyle ideal for people who seek the convenience of a true urban environment with the opportunity to live in a peaceful and serene setting.</p>
      </div>
      <div class="clearfix colelem" id="u33742-4"><!-- content -->
       <p>Last Update: November 2010</p>
      </div>
     </div>
    </div>