<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pslideshowu33436"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu33436"><!-- group -->
      <div class="popup_anchor" id="u33452popup">
       <div class="SlideShowContentPanel clearfix" id="u33452"><!-- stack box -->
        <div class="SSSlide grpelem" id="u33457"><!-- image -->
         <img class="block ImageInclude" id="u33457_img" data-src="/assets/1-monet.jpg" src="/assets/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33453"><!-- image -->
         <img class="block ImageInclude" id="u33453_img" data-src="/assets/2-monet.jpg" src="/assets/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33455"><!-- image -->
         <img class="block ImageInclude" id="u33455_img" data-src="/assets/3-monet.jpg" src="/assets/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33459"><!-- image -->
         <img class="block ImageInclude" id="u33459_img" data-src="/assets/4-monet.jpg" src="/assets/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33440popup">
       <div class="SSSlideLinks clearfix" id="u33440"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u33445"><!-- image -->
         <div id="u33445_clip">
          <img class="position_content" id="u33445_img" src="/assets/1-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33441"><!-- image -->
         <div id="u33441_clip">
          <img class="position_content" id="u33441_img" src="/assets/2-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33443"><!-- image -->
         <div id="u33443_clip">
          <img class="position_content" id="u33443_img" src="/assets/3-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33447"><!-- image -->
         <div id="u33447_clip">
          <img class="position_content" id="u33447_img" src="/assets/4-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33461-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u33461-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u33450-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u33450-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u33485-4"><!-- content -->
      <h1>TRIOMPHE &amp; GRAND TRIOMPHE I</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u33433-4"><!-- content -->
     <h1>5, 10 &amp; 15 Northtown Way</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u33431-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u33431-2">Yonge &amp; Finch</span></p></a>
    <div class="clearfix colelem" id="pu33434"><!-- group -->
     <div class="grpelem" id="u33434"><!-- custom html -->
      <iframe width="520" height="352" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=5+Northtown+Way&amp;aq=&amp;sll=43.773015,-79.413686&amp;sspn=0.010954,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=5+Northtown+Way,+Toronto,+Toronto+Division,+Ontario+M2N+7A1&amp;t=m&amp;ll=43.782063,-79.411926&amp;spn=0.021813,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5+Northtown+Way&amp;aq=&amp;sll=43.773015,-79.413686&amp;sspn=0.010954,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=5+Northtown+Way,+Toronto,+Toronto+Division,+Ontario+M2N+7A1&amp;t=m&amp;ll=43.782063,-79.411926&amp;spn=0.021813,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u33498-54"><!-- content -->
      <p id="u33498-2">5 Northtown Way</p>
      <p><span id="u33498-3">Built:</span>&nbsp;2002</p>
      <p><span id="u33498-6">Builder:</span>&nbsp;Tridel</p>
      <p><span id="u33498-9">Floors: </span><span id="u33498-10">29</span></p>
      <p><span id="u33498-12">Units:</span>&nbsp;532</p>
      <p>&nbsp;</p>
      <p id="u33498-17">10 Northtown Way</p>
      <p><span id="u33498-18">Built:</span>&nbsp;2002</p>
      <p><span id="u33498-21">Builder: </span>Tridel</p>
      <p><span id="u33498-24">Floors: </span>30</p>
      <p><span id="u33498-27">Units:</span>&nbsp;396</p>
      <p>&nbsp;</p>
      <p id="u33498-32">15 Northtown Way</p>
      <p><span id="u33498-33">Built:</span>&nbsp;2003</p>
      <p><span id="u33498-36">Builder: </span>Tridel</p>
      <p><span id="u33498-39">Floors: </span>26</p>
      <p id="u33498-44">Units: <span id="u33498-43">336</span></p>
      <p id="u33498-45">&nbsp;</p>
      <p><span id="u33498-46">Building Amenities:</span>&nbsp;Gym, Concierge, Pool, Sauna, Bowling, Hot Tub, Party Room, Billiards/Games Room, Deck/Garden, Library/Study Room, Golf , Tennis</p>
      <p>&nbsp;</p>
      <p><span id="u33498-50">Builder's Description:</span>&nbsp;This Tridel&#45;built community offers incredible community amenities including indoor swimming pool, sauna, whirlpool, party room, billiards room, fitness room, virtual golf, card room, and guest suites. Fantastic location close to subway, 401, grocery, shops, bank, schools, library, parks &amp; theatre. Walking distance to a rich cultural array of restaurants and boutiques in downtown North York.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u33432-4"><!-- content -->
     <p>Last Update: November 2010</p>
    </div>