<div id="tab_menu">
  <div class="tab_item">
    <a href="selling.html">Selling</a>
  </div>
  <div class="tab_item">
    <a href="market-evaluation.html">Market Evaluation</a>
  </div>
  <div class="tab_item">
    <a href="buying.html">Buying</a>
  </div>
</div>