<div class="custom_field form-group">
  <%= f.text_field :field_name, placeholder: "Activity", class: 'form-control input-small' %>
  <%= f.text_field :value, placeholder: 'Story', class: 'form-control input-small' %>
  
  <div class="remove_field">
    <%= f.check_box :_destroy %>
    <%#= f.hidden_field :_destroy %>
    <%= f.label :_destroy, "Remove" %>
  </div>
</div>