<%= content_for :page_title, default_title("About us") %> 


<div class="gradient colelem" id="u16510"></div>


<%= render 'pages/shared/submenu_tabs' %>


<div class="clearfix colelem" id="u21707-5">
 <p><span id="u21707">OUR MISSION</span>&nbsp;is to provide you with honest and open advice in real estate based on years of experience. We have personally invested in the marketplace and we will share our knowledge in all facets of the business. We want to work with people for many years and form lasting relationships. We treat our clients with respect and genuine interest in their needs. We realize that the purchase or sale of a home is a very important decision in life. We will treat your investment as if it were our own.</p>
</div>
<div class="colelem" id="u21711"></div>
<div class="clearfix colelem" id="u21709-18">
 <p id="u21709-4">Our best asset as a team is that we offer you our :<br/><br/></p>
 <p id="u21709-8"><span id="u21709-5">KNOWLEDGE</span><span id="u21709-6">&nbsp;&#45;</span>&nbsp;we know every facet of real estate with personal experience in construction, planning, design, zoning and development in residential and commercial sales.</p>
 <p id="u21709-9">&nbsp;</p>
 <p id="u21709-12"><span id="u21709-10">EXPERIENCE</span>&nbsp;&#45; thousands of transactions and many years of combined experience in every type of real estate deal.</p>
 <p id="u21709-13">&nbsp;</p>
 <p id="u21709-16"><span id="u21709-14">ADVICE</span>&nbsp;&#45; we will advise you very carefully and treat your investment as if it were our own.</p>
</div>
<div class="clearfix colelem" id="u21308-4">
 <p>MEET OUR TEAM</p>
</div>

<div class="clearfix"></div>

<div class="body-content ">
  <ul>

    <%= render @team_members %>
  <ul>
</div>