<%= content_for :page_title, default_title('About Us') %> 

    <div class="gradient colelem" id="u16510"></div>
<!--     <div class="clearfix colelem" id="u21277-4">
     <p>ABOUT US</p>
    </div>
    <div class="colelem" id="u21278"></div> -->
 
    <%= render 'pages/shared/submenu_tabs' %>

 
    <div class="clearfix colelem" id="u21707-5">
     <p><span id="u21707">OUR MISSION</span>&nbsp;is to provide you with honest and open advice in real estate based on years of experience. We have personally invested in the marketplace and we will share our knowledge in all facets of the business. We want to work with people for many years and form lasting relationships. We treat our clients with respect and genuine interest in their needs. We realize that the purchase or sale of a home is a very important decision in life. We will treat your investment as if it were our own.</p>
    </div>
    <div class="colelem" id="u21711"></div>
    <div class="clearfix colelem" id="u21709-18">
     <p id="u21709-4">Our best asset as a team is that we offer you our :<br/><br/></p>
     <p id="u21709-8"><span id="u21709-5">KNOWLEDGE</span><span id="u21709-6">&nbsp;&#45;</span>&nbsp;we know every facet of real estate with personal experience in construction, planning, design, zoning and development in residential and commercial sales.</p>
     <p id="u21709-9">&nbsp;</p>
     <p id="u21709-12"><span id="u21709-10">EXPERIENCE</span>&nbsp;&#45; thousands of transactions and many years of combined experience in every type of real estate deal.</p>
     <p id="u21709-13">&nbsp;</p>
     <p id="u21709-16"><span id="u21709-14">ADVICE</span>&nbsp;&#45; we will advise you very carefully and treat your investment as if it were our own.</p>
    </div>
    <div class="clearfix colelem" id="u21308-4">
     <p>MEET OUR TEAM</p>
    </div>
    <div class="clearfix colelem" id="pu11890"><!-- group -->
     <div class="clearfix grpelem" id="u11890"><!-- group -->
      <a class="nonblock nontext clearfix grpelem" id="u24461" href="norah-oulahen.html"><!-- image --><div id="u24461_clip"><img class="position_content" id="u24461_img" src="/images/norah_team.jpg" alt="" width="120" height="130"/></div></a>
      <div class="grpelem" id="u20961"></div>
      <div class="clearfix grpelem" id="u11967"><!-- group -->
       <a class="nonblock nontext clearfix grpelem" id="u11968-4" href="norah-oulahen.html"><p>Read More</p></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u11912"><!-- group -->
      <a class="nonblock nontext grpelem" id="u24377" href="paul-oulahen.html"><!-- image --><img class="block" id="u24377_img" src="/images/paul_team.jpg" alt="" width="120" height="130"/></a>
      <div class="clearfix grpelem" id="pu9941-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u9941-6" href="paul-oulahen.html"><p id="u9941-2">PAUL OULAHEN</p><p id="u9941-4">Real Estate Broker</p></a>
       <div class="clearfix colelem" id="u9938-4">
        <p>Paul has been a real estate broker for over 30 years with great stories to tell.</p>
       </div>
       <div class="clearfix colelem" id="u11973"><!-- group -->
        <a class="nonblock nontext clearfix grpelem" id="u11974-4" href="paul-oulahen.html"><p>Read More</p></a>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u11916"><!-- group -->
      <a class="nonblock nontext grpelem" id="u24506" href="jeff-oulahen.html"><!-- image --><img class="block" id="u24506_img" src="/images/jeff_team.jpg" alt="" width="120" height="130"/></a>
      <div class="clearfix grpelem" id="pu9942-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u9942-6" href="jeff-oulahen.html"><p id="u9942-2">JEFF OULAHEN</p><p id="u9942-4">Real Estate Salesperson</p></a>
       <div class="clearfix colelem" id="u10560-4">
        <p>Jeff contributes his technological savvy and broad analytical skills to the team.</p>
       </div>
       <div class="clearfix colelem" id="u11978"><!-- group -->
        <a class="nonblock nontext clearfix grpelem" id="u11979-4" href="jeff-oulahen.html"><p>Read More</p></a>
       </div>
      </div>
     </div>
     <a class="nonblock nontext clearfix grpelem" id="u9946-6" href="norah-oulahen.html"><p id="u9946-2">NORAH OULAHEN</p><p id="u9946-4">Real Estate Salesperson</p></a>
     <div class="clearfix grpelem" id="u9940-4">
      <p>Norah loves to connect with people. She has a flair for finding the right property for a client.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu20997"><!-- group -->
     <div class="clearfix grpelem" id="u20997"><!-- group -->
      <a class="nonblock nontext grpelem" id="u24561" href="mark-oulahen.html"><!-- image --><img class="block" id="u24561_img" src="/images/mark_team.jpg" alt="" width="120" height="130"/></a>
      <div class="clearfix grpelem" id="pu9947-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u9947-6" href="mark-oulahen.html"><p id="u9947-2">MARK OULAHEN</p><p id="u9947-4">Real Estate Salesperson</p></a>
       <div class="clearfix colelem" id="u10564-4">
        <p>A realtor, father to three adorable children, hockey player and friend to many.</p>
       </div>
       <div class="clearfix colelem" id="u11981"><!-- group -->
        <a class="nonblock nontext clearfix grpelem" id="u11982-4" href="mark-oulahen.html"><p>Read More</p></a>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u20996"><!-- group -->
      <div class="grpelem" id="u24578"><!-- image -->
       <img class="block" id="u24578_img" src="/images/ajay_team.jpg" alt="" width="120" height="130"/>
      </div>
      <div class="clearfix grpelem" id="pu10569-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u10569-6" href="ajay-aheer.html"><p id="u10569-2">AJAY AHEER</p><p id="u10569-4">Real Estate Broker</p></a>
       <div class="clearfix colelem" id="u10568-4">
        <p>Everyone enjoys Ajay’s infectious personality and his hard working demeanour.</p>
       </div>
       <div class="clearfix colelem" id="u11990"><!-- group -->
        <a class="nonblock nontext clearfix grpelem" id="u11991-4" href="ajay-aheer.html"><p>Read More</p></a>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u20998"><!-- group -->
      <div class="grpelem" id="u24603"><!-- image -->
       <img class="block" id="u24603_img" src="/images/thanh_team-NEWPHOTO-WHITE.png" alt="" width="120" height="130"/>
      </div>
      <div class="clearfix grpelem" id="pu10589-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u10589-6" href="thanh-nguyen.html"><p id="u10589-2">THANH NGUYEN</p><p id="u10589-4">Real Estate Salesperson</p></a>
       <div class="clearfix colelem" id="u10593-4">
        <p>Thanh has a versatility with technology and experience in real estate law.</p>
       </div>
       <div class="clearfix colelem" id="u11993"><!-- group -->
        <a class="nonblock nontext clearfix grpelem" id="u11994-4" href="thanh-nguyen.html"><p>Read More</p></a>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu21172"><!-- group -->
     <div class="clearfix grpelem" id="u21172"><!-- group -->
      <a class="nonblock nontext grpelem" id="u24620" href="vinay-lakhani.html"><!-- image --><img class="block" id="u24620_img" src="/images/vinay_team.jpg" alt="" width="120" height="130"/></a>
      <div class="clearfix grpelem" id="pu11732-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u11732-6" href="vinay-lakhani.html"><p id="u11732-2">VINAY LAKHANI</p><p id="u11732-4">Real Estate Salesperson</p></a>
       <div class="clearfix colelem" id="u11735-4">
        <p>Vinay has a diploma in Business Management. Decided to pursue real estate.</p>
       </div>
       <div class="clearfix colelem" id="u11998"><!-- group -->
        <a class="nonblock nontext clearfix grpelem" id="u11999-4" href="vinay-lakhani.html"><p>Read More</p></a>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u21171"><!-- group -->
      <a class="nonblock nontext grpelem" id="u24679" href="claire.html"><!-- image --><img class="block" id="u24679_img" src="/images/claire_team.jpg" alt="" width="120" height="130"/></a>
      <div class="clearfix grpelem" id="pu11720-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u11720-6" href="claire.html"><p id="u11720-2">CLAIRE PERUSSE</p><p id="u11720-4">Client Care Associate</p></a>
       <div class="clearfix colelem" id="u11726-4">
        <p>Claire works in every aspect of client relations and co&#45;ordinates the listing process.</p>
       </div>
       <div class="clearfix colelem" id="u12001"><!-- group -->
        <a class="nonblock nontext clearfix grpelem" id="u12002-4" href="claire.html"><p>Read More</p></a>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u21170"><!-- group -->
      <a class="nonblock nontext clearfix grpelem" id="u11957" href="karuna.html"><!-- image --><div id="u11957_clip"><img class="position_content" id="u11957_img" src="/images/karuna_team.jpg" alt="" width="126" height="126"/></div></a>
      <div class="clearfix grpelem" id="pu11714-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u11714-6" href="karuna.html"><p id="u11714-2">KARUNA DEWAN</p><p id="u11714-4">Marketing Manager</p></a>
       <div class="clearfix colelem" id="u11718-4">
        <p>Karuna brings her skills in design to fulfill all facets of her marketing role.</p>
       </div>
       <div class="clearfix colelem" id="u12005"><!-- group -->
        <a class="nonblock nontext clearfix grpelem" id="u12006-4" href="karuna.html"><p>Read More</p></a>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu21173"><!-- group -->
     <div class="clearfix grpelem" id="pu21173"><!-- group -->
      <div class="clearfix grpelem" id="u21173"><!-- group -->
       <div class="grpelem" id="u24729"><!-- image -->
        <img class="block" id="u24729_img" src="/images/carly_team.jpg" alt="" width="120" height="130"/>
       </div>
       <div class="clearfix grpelem" id="pu17482-6"><!-- column -->
        <a class="nonblock nontext clearfix colelem" id="u17482-6" href="carly.html"><p id="u17482-2">CARLY THOMPSON</p><p id="u17482-4">Administrative Assistant</p></a>
        <div class="clearfix colelem" id="u17481-4">
         <p>Carly organizes showings, offers, and accounting details. She always carries a smile.</p>
        </div>
       </div>
      </div>
      <div class="clearfix grpelem" id="u17485"><!-- group -->
       <a class="nonblock nontext clearfix grpelem" id="u17486-4" href="carly.html"><p>Read More</p></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u21174"><!-- group -->
      <a class="nonblock nontext grpelem" id="u24708" href="victor.html"><!-- image --><img class="block" id="u24708_img" src="/images/victor_team.jpg" alt="" width="120" height="130"/></a>
      <div class="clearfix grpelem" id="pu17499-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u17499-6" href="victor.html"><p id="u17499-2">VICTOR DE LUQUE</p><p id="u17499-4">Administrative Assistant</p></a>
       <div class="clearfix colelem" id="u17504-4">
        <p>Victor follows up on showings, paperwork or other tasks to keep us organized.</p>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u17502"><!-- group -->
      <a class="nonblock nontext clearfix grpelem" id="u17503-4" href="victor.html"><p>Read More</p></a>
     </div>
    </div>