<!DOCTYPE html>
<html class="html">
 <head>

  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="6.0.751.219"/>
  <title>Home</title>
  <!-- CSS -->
  <%= stylesheet_link_tag    "acca", media: "all", "data-turbolinks-track" => true %>
  <!-- Other scripts -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript">
   document.documentElement.className += ' js';
</script>
   </head>
 <body class="museBGSize">

  <div class="gradient clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="colelem" id="pu69"><!-- inclusion -->
     <div id="u69"><!-- simple frame -->
      <div class="_u69 f3s_top" id="_u69-f3s_top"></div>
      <div class="_u69 f3s_mid" id="_u69-f3s_mid"></div>
      <div class="_u69 f3s_bot" id="_u69-f3s_bot"></div>
     </div>
     <div class="clearfix" id="pbacktotop"><!-- column -->
      <a class="anchor_item colelem" id="backtotop"></a>
      <div class="clearfix colelem" id="pu77-4"><!-- group -->
       <a class="nonblock nontext anim_swing rounded-corners clearfix grpelem" id="u77-4" href="index.html#location"><!-- content --><p>Location</p></a>
       <a class="nonblock nontext anim_swing rounded-corners clearfix grpelem" id="u79-4" href="index.html#schedule"><!-- content --><p>Schedule</p></a>
       <a class="nonblock nontext anim_swing rounded-corners clearfix grpelem" id="u70-4" href="index.html#sponsors"><!-- content --><p>Sponsors</p></a>
       <div class="clearfix grpelem" id="u143"><!-- column -->
        <div class="colelem" id="u146"><!-- image -->
         <img class="block" id="u146_img" src="/acca/acca-logo-no-border.gif" alt="" width="162" height="63"/>
        </div>
        <div class="colelem" id="u144"><!-- image -->
         <img class="block" id="u144_img" src="/acca/372870_264800790297997_133861533_n-u144.jpg" alt="" width="177" height="72"/>
        </div>
       </div>
       <a class="nonblock nontext anim_swing rounded-corners clearfix grpelem" id="u78-4" href="index.html#anchor-u154"><!-- content --><p>Menu</p></a>
       <a class="nonblock nontext anim_swing rounded-corners clearfix grpelem" id="u80-4" href="index.html#rsvp"><!-- content --><p>RSVP</p></a>
       <a class="nonblock nontext anim_swing rounded-corners clearfix grpelem" id="u81-4" href="index.html#contactus"><!-- content --><p>Contact Us</p></a>
      </div>
      <div class="colelem" id="u148"><!-- simple frame --></div>
      <div class="colelem" id="u149"><!-- simple frame --></div>
      <div class="clearfix colelem" id="u119"><!-- group -->
       <div class="clearfix grpelem" id="u120-4"><!-- content -->
        <p>Sponsored by</p>
       </div>
       <div class="grpelem" id="u121"><!-- image -->
        <img class="block" id="u121_img" src="/acca/oulahen-logo.gif" alt="" width="234" height="48"/>
       </div>
      </div>
      <div class="colelem" id="u107"><!-- simple frame --></div>
      <div class="clearfix colelem" id="u116-19"><!-- content -->
       <p id="u116-2">Join us in Avondale Park on September 14th!</p>
       <p id="u116-3">&nbsp;</p>
       <p>Come out for a picnic with ACCA and the Oulahen Team – where you can meet a princess and a clown, jump in a bouncy castle and enjoy music, games and prizes!</p>
       <p id="u116-6">&nbsp;</p>
       <p id="u116-8">Special morning appearance by the RE/MAX Hot Air Balloon!</p>
       <p id="u116-9">&nbsp;</p>
       <p id="u116-11">Saturday, September 15th, 2012</p>
       <p id="u116-13">11:00 AM &#45; 4:00 PM</p>
       <p id="u116-15">At Avondale Park</p>
       <p id="u116-17">Free Admission</p>
      </div>
      <div class="colelem" id="u106"><!-- simple frame --></div>
      <div class="clearfix colelem" id="u71-4"><!-- content -->
       <p>Sponsors</p>
      </div>
      <div class="clearfix colelem" id="pu117"><!-- group -->
       <div class="clearfix grpelem" id="u117"><!-- image -->
        <div id="u117_clip">
         <img class="position_content" id="u117_img" src="/acca/flight%20centre%20logo.jpg" alt="" width="146" height="46"/>
        </div>
       </div>
       <div class="clearfix grpelem" id="u84"><!-- image -->
        <div id="u84_clip">
         <img class="position_content" id="u84_img" src="/acca/pet-valu0223.jpg" alt="" width="103" height="56"/>
        </div>
       </div>
       <div class="grpelem" id="u123"><!-- image -->
        <img class="block" id="u123_img" src="/acca/jaya%20yoga-u123.jpg" alt="" width="104" height="49"/>
       </div>
       <div class="grpelem" id="u82"><!-- image -->
        <img class="block" id="u82_img" src="/acca/alegno.jpg" alt="" width="93" height="30"/>
       </div>
      </div>
      <div class="clearfix colelem" id="pu127"><!-- group -->
       <div class="clearfix grpelem" id="u127"><!-- image -->
        <div id="u127_clip">
         <img class="position_content" id="u127_img" src="/acca/tony-logo.jpg" alt="" width="176" height="75"/>
        </div>
       </div>
       <div class="clearfix grpelem" id="u125"><!-- image -->
        <div id="u125_clip">
         <img class="position_content" id="u125_img" src="/acca/logos.jpg" alt="" width="106" height="82"/>
        </div>
       </div>
       <div class="grpelem" id="u88"><!-- image -->
        <img class="block" id="u88_img" src="/acca/sow%20health.jpg" alt="" width="86" height="52"/>
       </div>
       <div class="clearfix grpelem" id="pu86"><!-- column -->
        <div class="colelem" id="u86"><!-- image -->
         <img class="block" id="u86_img" src="/acca/pharmasave.jpg" alt="" width="131" height="22"/>
        </div>
        <div class="colelem" id="u90"><!-- image -->
         <img class="block" id="u90_img" src="/acca/subway_contour_(3)-1-.jpg" alt="" width="78" height="22"/>
        </div>
       </div>
      </div>
      <a class="nonblock nontext anim_swing clearfix colelem" id="u93-4" href="index.html#backtotop"><!-- content --><p><span id="u93">back to top</span></p></a>
      <div class="colelem" id="u108"><!-- simple frame --></div>
      <div class="clearfix colelem" id="u72-4"><!-- content -->
       <p>Schedule</p>
      </div>
      <div class="clearfix colelem" id="pu92-24"><!-- group -->
       <div class="clearfix grpelem" id="u92-24"><!-- content -->
        <p>11:00</p>
        <p>11:30</p>
        <p>11:45</p>
        <p>12:00</p>
        <p>12:30</p>
        <p>1:00</p>
        <p>1:30</p>
        <p>2:00</p>
        <p>3:00</p>
        <p>3:45</p>
        <p>8:00</p>
       </div>
       <div class="clearfix grpelem" id="pu139"><!-- column -->
        <div class="colelem" id="u139"><!-- image -->
         <img class="block" id="u139_img" src="/acca/bouncy%20castly.jpg" alt="" width="90" height="90"/>
        </div>
        <div class="colelem" id="u141"><!-- image -->
         <img class="block" id="u141_img" src="/acca/img_3629-u141.jpg" alt="" width="90" height="90"/>
        </div>
       </div>
       <div class="clearfix grpelem" id="pu131"><!-- column -->
        <div class="clearfix colelem" id="u131"><!-- image -->
         <div id="u131_clip">
          <img class="position_content" id="u131_img" src="/acca/m-m%20bbq.png" alt="" width="93" height="93"/>
         </div>
        </div>
        <div class="colelem" id="u135"><!-- image -->
         <img class="block" id="u135_img" src="/acca/jasmine%20princess.jpg" alt="" width="90" height="90"/>
        </div>
       </div>
       <div class="clearfix grpelem" id="u137"><!-- image -->
        <div id="u137_clip">
         <img class="position_content" id="u137_img" src="/acca/remax%20air%20balloon.jpg" alt="" width="138" height="184"/>
        </div>
       </div>
      </div>
      <a class="nonblock nontext anim_swing clearfix colelem" id="u94-4" href="index.html#backtotop"><!-- content --><p><span id="u94">back to top</span></p></a>
      <div class="colelem" id="u109"><!-- simple frame --></div>
      <div class="clearfix colelem" id="u76-4"><!-- content -->
       <p>Menu</p>
      </div>
      <div class="clearfix colelem" id="pu100-19"><!-- group -->
       <div class="clearfix grpelem" id="u100-19"><!-- content -->
        <p id="u100-2">$2.00</p>
        <p id="u100-4">$2.00</p>
        <p id="u100-6">$2.50</p>
        <p id="u100-8">$2.50</p>
        <p id="u100-10">$2.50</p>
        <p id="u100-11">&nbsp;</p>
        <p id="u100-13">50 cents</p>
        <p id="u100-15">50 cents</p>
        <p id="u100-17">50 cents</p>
       </div>
       <div class="clearfix grpelem" id="pu101-6"><!-- column -->
        <div class="clearfix colelem" id="u101-6"><!-- content -->
         <p>Food purchases include 4 raffle tickets.</p>
         <p>Drink/ice cream bars include 1 raffle ticket.</p>
        </div>
        <div class="clearfix colelem" id="u102-4"><!-- content -->
         <p>Raffle prizes will be drawn all day! Stay tuned to learn more about the amazing prizes from our lovely sponsors.</p>
        </div>
       </div>
      </div>
      <a class="nonblock nontext anim_swing clearfix colelem" id="u95-4" href="index.html#backtotop"><!-- content --><p><span id="u95">back to top</span></p></a>
      <div class="colelem" id="u110"><!-- simple frame --></div>
      <div class="clearfix colelem" id="u75-4"><!-- content -->
       <p>Location</p>
      </div>
      <div class="clearfix colelem" id="pu113"><!-- group -->
       <div class="grpelem" id="u113"><!-- custom html -->
        <iframe width="330" height="270" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=Avondale+Park,+Toronto,+Toronto+Division,+Ontario+M2N&amp;aq=&amp;sll=43.656877,-79.32085&amp;sspn=0.627928,1.674042&amp;ie=UTF8&amp;geocode=FZWvmwIdA1ZE-w&amp;split=0&amp;hq=&amp;hnear=Avondale+Park,+Toronto,+Toronto+Division,+Ontario&amp;t=m&amp;ll=43.764896,-79.405832&amp;spn=0.021695,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;q=Avondale+Park,+Toronto,+Toronto+Division,+Ontario+M2N&amp;aq=&amp;sll=43.656877,-79.32085&amp;sspn=0.627928,1.674042&amp;ie=UTF8&amp;geocode=FZWvmwIdA1ZE-w&amp;split=0&amp;hq=&amp;hnear=Avondale+Park,+Toronto,+Toronto+Division,+Ontario&amp;t=m&amp;ll=43.764896,-79.405832&amp;spn=0.021695,0.036478&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
       <a class="nonblock nontext grpelem" id="u129" href="/acca/acca-day-map_full-view.jpg"><!-- image --><img class="block" id="u129_img" src="/acca/acca%20day%20map.jpg" alt="" width="311" height="267"/></a>
      </div>
      <div class="clearfix colelem" id="pu104-13"><!-- group -->
       <div class="clearfix grpelem" id="u104-13"><!-- content -->
        <p id="u104-2">Avondale Park</p>
        <p id="u104-4">At the corner of&nbsp; Bales Avenue and Everson Drive</p>
        <p id="u104-5">&nbsp;</p>
        <p id="u104-7">Parking:</p>
        <p id="u104-9">4685 Yonge Street</p>
        <p id="u104-11">(The large parking lot behind TD bank)</p>
       </div>
       <div class="clearfix grpelem" id="pu105-6"><!-- column -->
        <a class="nonblock nontext clearfix colelem" id="u105-6" href="/acca/acca-day-map.pdf" target="_blank"><!-- content --><p><span id="u105">Click here</span><span id="u105-2">&nbsp;</span>to download the map for the day of the event!</p></a>
        <a class="nonblock nontext anim_swing clearfix colelem" id="u96-4" href="index.html#backtotop"><!-- content --><p><span id="u96">back to top</span></p></a>
       </div>
      </div>
      <div class="colelem" id="u111"><!-- simple frame --></div>
      <div class="clearfix colelem" id="u73-4"><!-- content -->
       <p>RSVP</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u103-6" href="https://www.facebook.com/events/516423215101571/" target="_blank"><!-- content --><p>Visit the <span id="u103-2">Facebook Event</span>&nbsp;for ACCA Day in the Park to RSVP!</p></a>
      <div class="colelem" id="u112"><!-- simple frame --></div>
      <div class="clearfix colelem" id="u74-4"><!-- content -->
       <p>Contact Us</p>
      </div>
      <div class="clearfix colelem" id="pu133"><!-- group -->
       <div class="grpelem" id="u133"><!-- image -->
        <img class="block" id="u133_img" src="/acca/img_4306-u133.jpg" alt="" width="307" height="136"/>
       </div>
       <div class="clearfix grpelem" id="u115-16"><!-- content -->
        <p class="Charitable-work-subtitles" id="u115-2">The Oulahen Team</p>
        <p id="u115-3">&nbsp;</p>
        <p class="Contact-text" id="u115-5">4685 Yonge Street, Suite 200</p>
        <p class="Contact-text" id="u115-7">Toronto, Ontario</p>
        <p class="Contact-text" id="u115-9">M2N 5M3</p>
        <p class="Contact-text" id="u115-10">&nbsp;</p>
        <p class="Contact-text" id="u115-12">Phone: (416) 222&#45;1212</p>
        <p id="u115-14">Email: team@oulahen.com</p>
       </div>
      </div>
      <a class="nonblock nontext anim_swing clearfix colelem" id="u97-4" href="index.html#backtotop"><!-- content --><p><span id="u97">back to top</span></p></a>
     </div>
    </div>
    <div class="clearfix colelem" id="u150"><!-- group -->
     <div class="grpelem" id="u152"><!-- simple frame --></div>
     <div class="grpelem" id="u151"><!-- simple frame --></div>
    </div>
    <a class="anchor_item colelem" id="sponsors"></a>
    <a class="anchor_item colelem" id="schedule"></a>
    <div class="clearfix colelem" id="u98-24"><!-- content -->
     <p>Yoga by Jaya Yoga</p>
     <p>Kids Jump Around</p>
     <p>BBQ lunch with M&amp;M Meat Shops and Subway</p>
     <p>Fun and face painting with Rosie the Clown</p>
     <p>Diaper Derby and three&#45;legged races</p>
     <p>Performance by Rosie the Clown</p>
     <p>Fire Truck Tour</p>
     <p>Princess Story Time with Jasmine</p>
     <p>Pet Parade by Pet Value</p>
     <p>Final Raffle Draw</p>
     <p>Movie Night in the Park</p>
    </div>
    <a class="anchor_item colelem" id="anchor-u154"></a>
    <div class="clearfix colelem" id="u99-21"><!-- content -->
     <p>Hamburger</p>
     <p>Hot Dog</p>
     <p>Oktoberfest Sausage</p>
     <p>Veggie Burger</p>
     <p>Subway Sandwiches</p>
     <p id="u99-12">(turkey, ham, roast beef, tuna &amp; veggie)</p>
     <p>Soft Drink</p>
     <p>Bottled Water</p>
     <p>Ice Cream Bar</p>
     <p>&nbsp;</p>
    </div>
    <a class="anchor_item colelem" id="location"></a>
    <a class="anchor_item colelem" id="rsvp"></a>
    <a class="anchor_item colelem" id="contactus"></a>
    <div class="verticalspacer"></div>
   </div>
  </div>

  <!-- Other scripts -->
  <script type="text/javascript">
   $(document).ready(function() { 
      Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
      Muse.Utils.prepHyperlinks(true);/* body */
      Muse.Utils.fullPage('#page');/* 100% height page */
      Muse.Utils.showWidgetsWhenReady();/* body */
      Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
    });
</script>
   </body>
</html>
