<%= content_for :page_title, 'Ajay Asheer' %>

<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pslideshowu10616"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu10616"><!-- group -->
      <div class="popup_anchor" id="u10625popup">
       <div class="SlideShowContentPanel clearfix" id="u10625"><!-- stack box -->
        <div class="SSSlide grpelem" id="u28360"><!-- image -->
         <img class="block ImageInclude" id="u28360_img" data-src="/images/1%20-%20ajay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u28370"><!-- image -->
         <img class="block ImageInclude" id="u28370_img" data-src="/images/2%20-%20ajay.jpg" src="/images/blank.gif" alt="" data-width="335" data-height="290"/>
        </div>
        <div class="SSSlide invi grpelem" id="u28379"><!-- image -->
         <img class="block ImageInclude" id="u28379_img" data-src="/images/3%20-%20ajay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u30516"><!-- image -->
         <img class="block ImageInclude" id="u30516_img" data-src="/images/4%20-%20ajay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u30133"><!-- image -->
         <img class="block ImageInclude" id="u30133_img" data-src="/images/5%20-%20ajay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u28406"><!-- image -->
         <img class="block ImageInclude" id="u28406_img" data-src="/images/6%20-%20ajay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u28415"><!-- image -->
         <img class="block ImageInclude" id="u28415_img" data-src="/images/7%20-%20ajay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u28424"><!-- image -->
         <img class="block ImageInclude" id="u28424_img" data-src="/images/8%20-%20ajay.jpg" src="/images/blank.gif" alt="" data-width="335" data-height="290"/>
        </div>
        <div class="SSSlide invi grpelem" id="u28433"><!-- image -->
         <img class="block ImageInclude" id="u28433_img" data-src="/images/9%20-%20ajay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u28442"><!-- image -->
         <img class="block ImageInclude" id="u28442_img" data-src="/images/10%20-%20ajay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u10618popup">
       <div class="SSSlideLinks clearfix" id="u10618"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u28364"><!-- image -->
         <img class="block" id="u28364_img" src="/images/1%20-%20ajay53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u28373"><!-- image -->
         <img class="block" id="u28373_img" src="/images/2%20-%20ajay53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u28382"><!-- image -->
         <img class="block" id="u28382_img" src="/images/3%20-%20ajay53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u30519"><!-- image -->
         <img class="block" id="u30519_img" src="/images/4%20-%20ajay53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u30136"><!-- image -->
         <img class="block" id="u30136_img" src="/images/5%20-%20ajay53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u28409"><!-- image -->
         <img class="block" id="u28409_img" src="/images/6%20-%20ajay53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u28418"><!-- image -->
         <img class="block" id="u28418_img" src="/images/7%20-%20ajay53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u28427"><!-- image -->
         <img class="block" id="u28427_img" src="/images/8%20-%20ajay53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u28436"><!-- image -->
         <img class="block" id="u28436_img" src="/images/9%20-%20ajay53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u28445"><!-- image -->
         <img class="block" id="u28445_img" src="/images/10%20-%20ajay53x45.jpg" alt="" width="52" height="45"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u10631-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u10631-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u10617-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u10617-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <img class="grpelem" id="u14790" src="/images/ajay_profile-u14790.png" alt="" width="338" height="297"/><!-- rasterized frame -->
     <div class="clearfix grpelem" id="pu10614-4"><!-- column -->
      <div class="Headings-Submenus clearfix colelem" id="u10614-4"><!-- content -->
       <h1>AJAY AHEER</h1>
      </div>
      <div class="clearfix colelem" id="u10612-4"><!-- content -->
       <p>Real Estate Broker</p>
      </div>
      <div class="clearfix colelem" id="u10655-5"><!-- content -->
       <p id="u10655-2">Ajay joined us in 2006 and has been a wonderful asset to our team. Everyone enjoys his infectious personality and benefits from his hard working demeanour. He went to Brock University and worked in his family’s furniture business before joining our team as the bookkeeper . Ever since he quickly got his real estate licence in 2007 he has been working on our team as a realtor as well. Ajay is the renaissance man around the office, we count on him to keep the books in order, to manage the property management aspect of our business, and we can count on him whenever we need an extra hand for anything Real Estate related.</p>
       <p id="u10655-3">&nbsp;</p>
      </div>
      <img class="colelem" id="u14712" src="/images/u14712.png" alt="" width="539" height="2"/><!-- rasterized frame -->
      <div class="clearfix colelem" id="pu10656-58"><!-- group -->
       <div class="clearfix grpelem" id="u10656-58"><!-- content -->
        <p id="u10656-2">Education</p>
        <p id="u10656-3">&nbsp;</p>
        <p id="u10656-4">&nbsp;</p>
        <p id="u10656-5">&nbsp;</p>
        <p id="u10656-6">&nbsp;</p>
        <p id="u10656-7">&nbsp;</p>
        <p id="u10656-8">&nbsp;</p>
        <p id="u10656-9">&nbsp;</p>
        <p id="u10656-11">Best accomplishment</p>
        <p id="u10656-12">&nbsp;</p>
        <p id="u10656-13">&nbsp;</p>
        <p id="u10656-14">&nbsp;</p>
        <p id="u10656-15">&nbsp;</p>
        <p id="u10656-16">&nbsp;</p>
        <p id="u10656-17">&nbsp;</p>
        <p id="u10656-19">Favourite street in Toronto</p>
        <p id="u10656-20">&nbsp;</p>
        <p id="u10656-21">&nbsp;</p>
        <p id="u10656-22">&nbsp;</p>
        <p id="u10656-23">&nbsp;</p>
        <p id="u10656-24">&nbsp;</p>
        <p id="u10656-25">&nbsp;</p>
        <p id="u10656-26">&nbsp;</p>
        <p id="u10656-28">Favourite movie</p>
        <p id="u10656-29">&nbsp;</p>
        <p id="u10656-30">&nbsp;</p>
        <p id="u10656-31">&nbsp;</p>
        <p id="u10656-32">&nbsp;</p>
        <p id="u10656-33">&nbsp;</p>
        <p id="u10656-34">&nbsp;</p>
        <p id="u10656-38">Favourite thing about being <br/>a real estate broker</p>
        <p id="u10656-39">&nbsp;</p>
        <p id="u10656-40">&nbsp;</p>
        <p id="u10656-41">&nbsp;</p>
        <p id="u10656-42">&nbsp;</p>
        <p id="u10656-43">&nbsp;</p>
        <p id="u10656-44">&nbsp;</p>
        <p id="u10656-46">Pet peeve</p>
        <p id="u10656-47">&nbsp;</p>
        <p id="u10656-48">&nbsp;</p>
        <p id="u10656-52">What you might not know <br/>about me</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Favourite website</p>
       </div>
       <div class="clearfix grpelem" id="pu10613-24"><!-- column -->
        <div class="clearfix colelem" id="u10613-24"><!-- content -->
         <p>I spent 4 beautiful years at Brock University in the Accounting program learning all about how boring numbers can be. It was the complete opposite of kindergarten where I was taught numbers can be fun. There are some serious, even potentially damaging contradictory lessons taught in our education system that might confuse someone less brilliant than me.</p>
         <p>&nbsp;</p>
         <p>My best accomplishment was marrying my beautiful wife of almost 6 years. Our greatest accomplishment together is our 2 amazing kids who remind us how lucky we are everyday.</p>
         <p>Everything else I’ve accomplished on paper pales in comparison to what really matters.</p>
         <p>&nbsp;</p>
         <p>The one that leads to the circular drive of my estate home with professionally landscaped grounds, 2 tennis courts, kidney shaped pool, 8 bedrooms, 12 bathrooms and an amazing self contained 6000 sq. ft nanny suite.&nbsp; Doesn’t that make you want to get to know me better so I’ll invite you over, or at least make you wish you had become a nanny instead?</p>
         <p>&nbsp;</p>
         <p>I can’t logically choose a favourite without being fair to each movie. I would have to put together a spreadsheet with a set of chosen criteria and a rating system for each criterion. That would take me forever because I would never do it. But off the top of my head I would go with ‘Far and Away.’</p>
         <p>&nbsp;</p>
         <p>I love working with and educating first time home buyers. I find they are the most excited and curious clients and it’s their first time working with a Realtor so they are vastly counting on my knowledge to guide them through the entire buying process. The most gratifying experience is turning those first time buyers into life&#45;time clients and friends.</p>
         <p>&nbsp;</p>
         <p>People who make assumptions rather than getting the facts.</p>
         <p id="u10613-20">&nbsp;</p>
         <p>I tend to keep things to myself.</p>
        </div>
        <a class="nonblock nontext clearfix colelem" id="u14789-4" href="https://www.youtube.com/" target="_blank"><!-- content --><p>www.youtube.com</p></a>
       </div>
      </div>
     </div>
    </div>
    <img class="colelem" id="u25019" src="/images/u25019.png" alt="" width="539" height="2"/><!-- rasterized frame -->
    <div class="clearfix colelem" id="u28463"><!-- group -->
     <div class="clearfix grpelem" id="pu28483"><!-- column -->
      <a class="nonblock nontext colelem" id="u28483" href="paul-oulahen.html"><!-- image --><img class="block" id="u28483_img" src="/images/paul_th.jpg" alt="" width="43" height="49"/></a>
      <div class="clearfix colelem" id="u28469"><!-- group -->
       <a class="nonblock nontext clearfix grpelem" id="u28470-4" href="paul-oulahen.html"><!-- content --><p>Paul</p></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="pu28489"><!-- column -->
      <a class="nonblock nontext colelem" id="u28489" href="norah-oulahen.html"><!-- image --><img class="block" id="u28489_img" src="/images/norah_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28474-4" href="norah-oulahen.html"><!-- content --><p>Norah</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28496"><!-- column -->
      <a class="nonblock nontext colelem" id="u28496" href="jeff-oulahen.html"><!-- image --><img class="block" id="u28496_img" src="/images/jeff_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28477-4" href="jeff-oulahen.html"><!-- content --><p>Jeff</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28475"><!-- column -->
      <a class="nonblock nontext colelem" id="u28475" href="mark-oulahen.html"><!-- image --><img class="block" id="u28475_img" src="/images/mark_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28466-4" href="mark-oulahen.html"><!-- content --><p>Mark</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28493"><!-- column -->
      <a class="nonblock nontext MuseLinkActive colelem" id="u28493" href="ajay-aheer.html"><!-- image --><img class="block" id="u28493_img" src="/images/ajay_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext MuseLinkActive clearfix colelem" id="u28481-4" href="ajay-aheer.html"><!-- content --><p>Ajay</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28491"><!-- column -->
      <a class="nonblock nontext colelem" id="u28491" href="thanh-nguyen.html"><!-- image --><img class="block" id="u28491_img" src="/images/thanh_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28488-4" href="thanh-nguyen.html"><!-- content --><p>Thanh</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28467"><!-- column -->
      <a class="nonblock nontext colelem" id="u28467" href="vinay-lakhani.html"><!-- image --><img class="block" id="u28467_img" src="/images/vinay_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28478-4" href="vinay-lakhani.html"><!-- content --><p>Vinay</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28479"><!-- column -->
      <a class="nonblock nontext colelem" id="u28479" href="claire.html"><!-- image --><img class="block" id="u28479_img" src="/images/claire_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28482-4" href="claire.html"><!-- content --><p>Claire</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28486"><!-- column -->
      <a class="nonblock nontext colelem" id="u28486" href="andreia.html"><!-- image --><img class="block" id="u28486_img" src="/images/andreia_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28485-4" href="andreia.html"><!-- content --><p>Andreia</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28464"><!-- column -->
      <a class="nonblock nontext colelem" id="u28464" href="victor.html"><!-- image --><img class="block" id="u28464_img" src="/images/victor_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28471-4" href="victor.html"><!-- content --><p>Victor</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28472"><!-- column -->
      <a class="nonblock nontext colelem" id="u28472" href="carly.html"><!-- image --><img class="block" id="u28472_img" src="/images/carly_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28495-4" href="carly.html"><!-- content --><p>Carly</p></a>
     </div>
    </div>