<%= content_for :page_title, default_title('Awards') %>

<div class="gradient colelem" id="u16510"></div>
<!--     <div class="clearfix colelem" id="pu12339-4">
     <div class="clearfix grpelem" id="u12339-4">
      <p>AWARDS</p>
     </div>
     <div class="grpelem" id="u12340"></div>
    </div> -->

    <%= render 'pages/shared/submenu_tabs' %>
    
    <div class="clearfix colelem" id="ppu32102">
     <div class="clearfix grpelem" id="pu32102"><!-- column -->
      <div class="colelem" id="u32102"><!-- image -->
       <img class="block" id="u32102_img" src="/images/awards_main.jpg" alt="" width="495" height="380"/>
      </div>

      <div class="clearfix colelem" id="pu32118">
       <div class="grpelem" id="u32118"><!-- image -->
        <img class="block" id="u32118_img" src="/images/awards_lifetime%20achievementgif.png" alt="" width="130" height="70"/>
       </div>
       <div class="grpelem" id="u32126"><!-- image -->
        <img class="block" id="u32126_img" src="/images/awards_hall%20of%20famegif.png" alt="" width="130" height="70"/>
       </div>
       <div class="grpelem" id="u32108"><!-- image -->
        <img class="block" id="u32108_img" src="/images/awards_diamond%20clubgif.png" alt="" width="130" height="70"/>
       </div>
      </div>

      <div class="clearfix colelem" id="pu32118">
       <div class="grpelem" id="u32118"><!-- image -->
        <img class="block" id="u32118_img" src="/images/awards_circle of legendsgif.png" alt="" width="130" height="70"/>
       </div>
       <div class="grpelem" id="u32126"><!-- image -->
        <img class="block" id="u32126_img" src="/images/awards_chairmangif.png" alt="" width="130" height="70"/>
       </div>
       <div class="grpelem" id="u32108"><!-- image -->
        <img class="block" id="u32108_img" src="/images/awards_platinumclubgif.png" alt="" width="130" height="70"/>
       </div>
      </div>
      
     </div>
     <div class="clearfix grpelem" id="u10976-47">
      <p class="Charitable-work-subtitles">In the years since joining RE/MAX, the Oulahen Team has achieved:</p>
      <p>&nbsp;</p>
      <p class="testimonials-Text" id="u10976-6">•  <span id="u10976-4">In the top 1%</span>&nbsp;Remax Associates in Canada</p>
      <p class="testimonials-Text" id="u10976-6">•  <span id="u10976-4">Circle Of Legends Award</span>&nbsp;2014</p>
      <p class="testimonials-Text" id="u10976-6">•  <span id="u10976-4">Diamond Club Award Winner</span>&nbsp;2013, 2012, 2011, 2010 and 2009</p>
      <p class="testimonials-Text" id="u10976-6">•  <span id="u10976-4">Top Ten Residential Team-#9</span>&nbsp;2012</p>
      <p class="testimonials-Text" id="u10976-6">•  <span id="u10976-4">#1 Team</span>&nbsp;in RE/MAX Realtron Realty, Willowdale, 2008,</p>
      <p class="testimonials-Text" id="u10976-8">&nbsp; 2009, 2010, and 2011</p>
      <p class="testimonials-Text" id="u10976-12">• <span id="u10976-10">#17 Team</span>&nbsp;in all of Canada, 2012, 2013</p>
      <p class="testimonials-Text" id="u10976-16">• <span id="u10976-14">#32 Team</span>&nbsp;Worldwide, 2012</p>
      <p class="testimonials-Text" id="u10976-19">• <span id="u10976-17"> Top Ten Residential Individuals-Commissions Total</span>&nbsp;2009</p>
      <p class="testimonials-Text" id="u10976-19">• <span id="u10976-17"> Lifetime Achievement</span>&nbsp;Award in 2008</p>
      <p class="testimonials-Text" id="u10976-19">• <span id="u10976-17"> Chairman's Club</span>&nbsp;Award in 2008, 2006</p>
      <p class="testimonials-Text" id="u10976-19">• <span id="u10976-17"> Platinum Club</span>&nbsp;2007</p>
      <p class="testimonials-Text" id="u10976-24">• <span id="u10976-20"></span>&nbsp;Ranking in the <span id="u10976-22">Top 100 producers</span>&nbsp;of more than 14,000</p><p class="testimonials-Text" id="u10976-26">&nbsp;RE/MAX Agents in all of Canada</p>
      <p class="testimonials-Text" id="u10976-29">• <span id="u10976-27">Chairman's Award</span>&nbsp;2004, 2005, 2006, 2007, 2008, 2009</p>
      <p class="testimonials-Text" id="u10976-31">&nbsp; Hall of Fame Award</p>
      <p class="testimonials-Text" id="u10976-34">• <span id="u10976-32">Top Producer &#45; Industrial Commercial Investment</span>&nbsp;for</p>
      <p class="testimonials-Text" id="u10976-36">&nbsp; RE/MAX Realtron Willowdale</p>
      <p class="testimonials-Text" id="u10976-39">• <span id="u10976-37">Platinum Club</span>&nbsp;Award in 2002, 2003, and 2007</p>
      <p class="testimonials-Text" id="u10976-42">• <span id="u10976-40">Executive Club</span>&nbsp;Award in 2001</p>
      <p>&nbsp;</p>
      <p id="u10976-45">&nbsp;&nbsp; Standings are based on residential commissions paid.</p>
     </div>
    </div>