<%= content_for :page_title, default_title('Blog') %>

<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pu6321-4"><!-- group -->
     <div class="clearfix grpelem" id="u6321-4" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=1,M21=-1,M22=0,SizingMethod='auto expand')" data-mu-ie-matrix-dx="312" data-mu-ie-matrix-dy="-312"><!-- content -->
      <p>FOLLOW OUR BLOG</p>
     </div>
     <div class="clearfix grpelem" id="ppu6329"><!-- column -->
<!--       <a class="nonblock nontext colelem" id="u6329" href="http://blog.oulahen.com/2013/03/27/tired-of-losing-in-multiple-offers/"></a>
      <a class="nonblock nontext colelem" id="u6344" href="http://blog.oulahen.com/2013/03/06/yorkdale-mall-adds-twelve-new-stores/"></a> -->
      <img alt="blog_image" src="/images/blog_image.jpg" style="width: 215px; margin-top: 7px;" />
      <img alt="blog_image" src="/images/toronto_view.png" style="width: 215px; margin-top: 10px;" />
     </div>
     <div class="clearfix grpelem" id="pu6306"><!-- column -->
      <div class="colelem" id="u6306"><!-- custom html -->
<!--        <iframe width="625" height="500" style="border:none;" src="http://output59.rssinclude.com/output?type=iframe&id=675899&hash=3ad42f4af5ff1641eadf346f1795ead4"></iframe> -->

<iframe width="625" height="545" style="border:none;" src="http://output98.rssinclude.com/output?type=iframe&amp;id=819210&amp;hash=58e7b977ffd1c71d5cb305de98ffd2cd"></iframe>


</div>
      <a class="nonblock nontext clearfix colelem" id="u6323-5" href="http://blog.oulahen.com/" target="_blank"><!-- content --><p>CLICK HERE TO SEE OUR FULL <span id="u6323-2">BLOG!</span></p></a>
      <div class="clearfix colelem" id="u6328-8"><!-- content -->
       <p>Keep up to date with events, real estate advice, articles and more on our blog.  </p>
      </div>
     </div>
    </div>