<%= content_for :page_title, 'Buying' %>

 <div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pu20661-4"><!-- group -->
     <div class="clearfix grpelem" id="u20661-4"><!-- content -->
      <p>BEFORE YOU BUY</p>
     </div>
     <div class="clearfix grpelem" id="u7011-4"><!-- content -->
      <p>Norah Oulahen, Re/Max Realtron</p>
     </div>
    </div>
    <div class="colelem" id="u20662"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pu31876"><!-- group -->
     <div class="clearfix grpelem" id="u31876"><!-- group -->
      <div class="pointer_cursor clearfix grpelem" id="u31874"><!-- group -->
       <a class="block" href="selling.html"></a>
       <a class="nonblock nontext clearfix grpelem" id="u31875-4" href="selling.html"><!-- content --><p>Selling</p></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u31877"><!-- group -->
      <div class="pointer_cursor clearfix grpelem" id="u31871"><!-- group -->
       <a class="block" href="market-evaluation.html"></a>
       <a class="nonblock nontext clearfix grpelem" id="u31873-4" href="market-evaluation.html"><!-- content --><p>Market Evaluation</p></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u31878"><!-- group -->
      <div class="pointer_cursor MuseLinkActive clearfix grpelem" id="u31870"><!-- group -->
       <a class="block" href="buying.html"></a>
       <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u31872-4" href="buying.html"><!-- content --><p>Buying</p></a>
      </div>
     </div>
    </div>
        <div style="float: left; height: 3px; width: 920px; background-color: #EAF3FA; margin-top: 37px; margin-bottom:15px;">
</div>
    <div class="clearfix colelem" id="ppu30768"><!-- group -->
     <div class="clearfix grpelem" id="pu30768"><!-- column -->
      <div class="colelem" id="u30768"><!-- image -->
       <img class="block" id="u30768_img" src="/images/buying_main.jpg" alt="" width="310" height="225"/>
      </div>
      <div class="clearfix colelem" id="u17569"><!-- column -->
       <div class="position_content" id="u17569_position_content">
        <div class="clearfix colelem" id="u32390"><!-- column -->
         <a class="nonblock nontext clearfix colelem" id="u7327-4" href="contact-us.html"><!-- content --><p><span id="u7327">Things To Consider</span></p></a>
         <div class="colelem" id="u32387"><!-- simple frame --></div>
        </div>
        <a class="nonblock nontext clearfix colelem" id="u7322-5" href="contact-us-form.html"><!-- content --><p><span id="u7322">Contact us</span>&nbsp;to receive updates on properties of interest!</p></a>
        <a class="nonblock nontext clearfix colelem" id="u7323-8" href="mortgage-calculator.html"><!-- content --><p><span id="u7323">Click here</span>&nbsp;for a <span id="u7323-3">Mortgage Calculator</span>&nbsp;to <span id="u7323-5">estimate the amount of your monthly payments, taking into account your down payment and interest rate.</span></p></a>
        <a class="nonblock nontext clearfix colelem" id="u7325-5" href="assets/baa.pdf" target="_blank"><!-- content --><p><span id="u7325">Buyer Agency</span>&nbsp;agreement.</p></a>
        <a class="nonblock nontext clearfix colelem" id="u7326-8" href="land-transfer-calculator.html"><!-- content --><p><span id="u7326">Click here</span>&nbsp;for a <span id="u7326-3">Land Transfer Tax Calculator </span><span id="u7326-4">that will determine the amount</span>&nbsp;to be paid upon the purchase of a new home.</p></a>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="ppu6995-4"><!-- column -->
      <div class="clearfix colelem" id="pu6995-4"><!-- group -->
       <div class="clearfix grpelem" id="u6995-4"><!-- content -->
        <p>Buying a home is a major decision. Besides being a place to live, a home is often the</p>
       </div>
       <div class="clearfix grpelem" id="u32377"><!-- group -->
        <div class="pointer_cursor rounded-corners clearfix grpelem" id="u32378"><!-- group -->
         <a class="block" href="contact-us.html"></a>
         <a class="nonblock nontext grpelem" id="u32379" href="contact-us.html"><!-- rasterized frame --><img id="u32379_img" src="/images/buying_call-button-u32379.png" alt="" width="81" height="76"/></a>
         <a class="nonblock nontext clearfix grpelem" id="u32381-4" href="contact-us.html"><!-- content --><p>Call the Oulahens to help you buy the home of your dreams!</p></a>
        </div>
       </div>
      </div>
      <div class="clearfix colelem" id="u32383-4"><!-- content -->
       <p>single largest investment Canadians make. Here are a few things you may want to consider before you buy:</p>
      </div>
      <ul class="AccordionWidget clearfix colelem" id="accordionu7073"><!-- column -->
       <li class="AccordionPanel clearfix colelem" id="u7082"><!-- vertical box -->
        <div class="AccordionPanelTab Subtitles clearfix colelem" id="u7083-4"><!-- content -->
         <h2>1. Location</h2>
        </div>
        <div class="AccordionPanelContent disn clearfix colelem" id="u7084"><!-- group -->
         <div class="clearfix grpelem" id="u7195"><!-- image -->
          <div id="u7195_clip">
           <img class="position_content" id="u7195_img" src="/images/map_location.jpg" alt="" width="212" height="141"/>
          </div>
         </div>
         <div class="text clearfix grpelem" id="u7085-4"><!-- content -->
          <p>Think about where you want to live the three most important principles in real estate are location, location, location! Talk to your friends, drive through various neighbourhoods, or contact us &#45; we’d be happy to send you regular updates on properties of interest!</p>
         </div>
        </div>
       </li>
       <li class="AccordionPanel clearfix colelem" id="u7074"><!-- vertical box -->
        <div class="AccordionPanelTab Subtitles clearfix colelem" id="u7077-4"><!-- content -->
         <h2>2. Finances</h2>
        </div>
        <div class="AccordionPanelContent disn clearfix colelem" id="u7075"><!-- group -->
         <div class="text clearfix grpelem" id="u7076-4"><!-- content -->
          <p>Consider getting pre&#45;approved. Knowing how much you can afford to spend will make decisions about where you want to live and the features you’d like much easier. Make sure you have 5% of the purchase price available in a certified cheque or draft as a deposit on your new property. Also, don’t forget about application fees and mortgage insurance. Although some lenders will waive this fee, application fees usually range from $75.00 to $235.00. Mortgage insurance will range from 0.5% to 3.57% of your mortgage and can be included in your monthly payment.</p>
         </div>
        </div>
       </li>
       <li class="AccordionPanel clearfix colelem" id="u7078"><!-- vertical box -->
        <div class="AccordionPanelTab Subtitles clearfix colelem" id="u7081-4"><!-- content -->
         <h2>3. Legal</h2>
        </div>
        <div class="AccordionPanelContent disn clearfix colelem" id="u7079"><!-- group -->
         <div class="text clearfix grpelem" id="u7080-4"><!-- content -->
          <p>Once you have selected a real estate agent, you will be asked to sign a Buyer Agency agreement. The agreement outlines all services provided by the realtor and establishes the fee schedule and duration of representation to the buyer. You should select a lawyer to represent your interests through the transaction. Prices range from $500.00 to $1,500.00 plus disbursements. Fees are determined by the lawyer.</p>
         </div>
        </div>
       </li>
       <li class="AccordionPanel clearfix colelem" id="u7112"><!-- vertical box -->
        <div class="AccordionPanelTab Subtitles clearfix colelem" id="u7115-4"><!-- content -->
         <h2>4. Disbursements</h2>
        </div>
        <div class="AccordionPanelContent disn clearfix colelem" id="u7113"><!-- group -->
         <div class="clearfix grpelem" id="u7116-4"><!-- content -->
          <p>Include City Tax Certificate, City zoning Reports, City Engineering Report, Sheriff's Certificate Registry Office searches, deeds registration, mortgage registration, copies, postage, long distance calls, courier fees, etc.</p>
         </div>
        </div>
       </li>
       <li class="AccordionPanel clearfix colelem" id="u7279"><!-- vertical box -->
        <div class="AccordionPanelTab Subtitles clearfix colelem" id="u7280-4"><!-- content -->
         <h2>5. Provincial Land Transfer Tax* (LTT)</h2>
        </div>
        <div class="AccordionPanelContent disn clearfix colelem" id="u7281"><!-- group -->
         <div class="text clearfix grpelem" id="u7283-12"><!-- content -->
          <p>$0 to $55,000.00 0.5 %</p>
          <p>$55,001.00 to $250,000.00 1.0 %</p>
          <p>$250,001.00 to $400,000.00 1.5 %</p>
          <p>$400,001.00 + 2.0%</p>
          <p>* Special taxes apply to non&#45;residents. These figures represent approximate amounts, for planning purposes only.</p>
         </div>
        </div>
       </li>
       <li class="AccordionPanel clearfix colelem" id="u7284"><!-- vertical box -->
        <div class="AccordionPanelTab Subtitles clearfix colelem" id="u7287-4"><!-- content -->
         <h2>6. Toronto City Land Transfer Tax</h2>
        </div>
        <div class="AccordionPanelContent disn clearfix colelem" id="u7285"><!-- column -->
         <div class="text clearfix colelem" id="u7288-10"><!-- content -->
          <p>This tax takes effect February 1st, 2008. If the Agreement of Purchase and Sale was signed prior to December 31, 2007 the land transfer will be rebated regardless of the closing date. If it closes prior to December 31, 2007 you will not be required to pay the Toronto Land Transfer Tax. If you buy a property after Dec 31, 2007 with a closing on or after February 1, 2008 you will be required to pay the full Toronto Land Transfer Tax. This only applies to real estate within the City of Toronto. First time home buyers of new and re&#45;sale homes will receive a rebate of the Toronto tax of up to $3,725 (this equals 100% on homes purchased up to $400,000 &#45; essentially first time home buyers pay nothing on the first $400,000).</p>
          <p>$0 to $55,000.00 0.5 %</p>
          <p>$55,001.00 to $400,000.00 1.0 %</p>
          <p>$400,001.00 + 2.0</p>
         </div>
         <div class="text clearfix colelem" id="u20748-5"><!-- content -->
          <p><a href="land-transfer-calculator" class="nontext"><span id="u20748">Click here</span></a>&nbsp;for a calculator that will calculate the total amount of Land Transfer Tax to be paid upon the purchase of a new home.</p>
         </div>
        </div>
       </li>
       <li class="AccordionPanel clearfix colelem" id="u7289"><!-- vertical box -->
        <div class="AccordionPanelTab Subtitles clearfix colelem" id="u7290-4"><!-- content -->
         <h2>7. Adjustments</h2>
        </div>
        <div class="AccordionPanelContent disn clearfix colelem" id="u7291"><!-- group -->
         <div class="text clearfix grpelem" id="u7293-4"><!-- content -->
          <p>Money owned due to pre&#45;payment of taxes, hydro, gas, fuel oil, etc.</p>
         </div>
        </div>
       </li>
       <li class="AccordionPanel clearfix colelem" id="u7294"><!-- vertical box -->
        <div class="AccordionPanelTab Subtitles clearfix colelem" id="u7295-4"><!-- content -->
         <h2>8. Home Inspection</h2>
        </div>
        <div class="AccordionPanelContent disn clearfix colelem" id="u7296"><!-- group -->
         <div class="text clearfix grpelem" id="u7298-4"><!-- content -->
          <p>The approximate cost is between $250 and $600.</p>
         </div>
        </div>
       </li>
       <li class="AccordionPanel clearfix colelem" id="u7299"><!-- vertical box -->
        <div class="AccordionPanelTab Subtitles clearfix colelem" id="u7302-4"><!-- content -->
         <h2>9. The Move</h2>
        </div>
        <div class="AccordionPanelContent disn clearfix colelem" id="u7300"><!-- group -->
         <div class="text clearfix grpelem" id="u7303-4"><!-- content -->
          <p>Varies depending on your choice of movers (i.e. professional movers or packing yourself). We have a list of qualified movers for your use.</p>
         </div>
        </div>
       </li>
       <li class="AccordionPanel clearfix colelem" id="u7304"><!-- vertical box -->
        <div class="AccordionPanelTab Subtitles clearfix colelem" id="u7307-4"><!-- content -->
         <h2>10. Insurance</h2>
        </div>
        <div class="AccordionPanelContent disn clearfix colelem" id="u7305"><!-- group -->
         <div class="text clearfix grpelem" id="u7308-4"><!-- content -->
          <p>After you close your home you will need to have it insured. This can cost from $600.00 and up depending on the size and contents.</p>
         </div>
        </div>
       </li>
       <li class="AccordionPanel clearfix colelem" id="u7309"><!-- vertical box -->
        <div class="AccordionPanelTab Subtitles clearfix colelem" id="u7310-4"><!-- content -->
         <h2>11. Closing</h2>
        </div>
        <div class="AccordionPanelContent clearfix colelem" id="u7311"><!-- group -->
         <div class="text clearfix grpelem" id="u7313-4"><!-- content -->
          <p>You will meet with your lawyer a few days before closing to sign the paperwork, deal with mortgage and you should have the rest of the money available of funds due on closing. The lawyer will adjust taxes and utilities and deal with other issues.</p>
         </div>
        </div>
       </li>
      </ul>
     </div>
    </div>
    <a class="nonblock nontext text clearfix colelem" id="u7267-6" href="contact-us-form.html"><!-- content --><p>Now&nbsp; that you've considered the issues of buying, <span id="u7267-2">contact us</span>&nbsp;and we'll help you buy the home of your dreams!</p></a>
    