<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pu12102-4"><!-- group -->
     <div class="clearfix grpelem" id="u12102-4"><!-- content -->
      <p>CHARITABLE WORK</p>
     </div>
     <div class="grpelem" id="u12103"><!-- simple frame --></div>
    </div>
    <div class="clearfix colelem" id="pu32305"><!-- group -->
     <div class="clearfix grpelem" id="u32305"><!-- group -->
      <div class="pointer_cursor clearfix grpelem" id="u32307"><!-- group -->
       <a class="block" href="about-us.html"></a>
       <a class="nonblock nontext clearfix grpelem" id="u32306-4" href="about-us.html"><!-- content --><p>About Us</p></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u32308"><!-- group -->
      <div class="pointer_cursor clearfix grpelem" id="u32310"><!-- group -->
       <a class="block" href="awards.html"></a>
       <a class="nonblock nontext clearfix grpelem" id="u32309-4" href="awards.html"><!-- content --><p>Awards</p></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u32314"><!-- group -->
      <div class="pointer_cursor MuseLinkActive clearfix grpelem" id="u32316"><!-- group -->
       <a class="block" href="charitable-work.html"></a>
       <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u32315-4" href="charitable-work.html"><!-- content --><p>Charitable Work</p></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u32311"><!-- group -->
      <div class="pointer_cursor clearfix grpelem" id="u32312"><!-- group -->
       <a class="block" href="testimonials.html"></a>
       <a class="nonblock nontext clearfix grpelem" id="u32313-4" href="testimonials.html"><!-- content --><p>Testimonials</p></a>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu12149"><!-- group -->
     <div class="grpelem" id="u12149"><!-- image -->
      <img class="block" id="u12149_img" src="/images/ch_1.jpg" alt="" width="502" height="243"/>
     </div>
     <div class="clearfix grpelem" id="pu12115-4"><!-- column -->
      <div class="Charitable-work-subtitles clearfix colelem" id="u12115-4"><!-- content -->
       <p>Members Of The Miracle Home Program (Sick Kids Foundation)</p>
      </div>
      <div class="clearfix colelem" id="u12117-4"><!-- content -->
       <p>Charitable WorkThe Oulahens pledge a donation at the close of every real estate transaction that goes directly towards Sick Kids Hospital Foundation to support highest priority needs in research and equipment. Over the years this fundraising has helped find the causes and cures for Charitable Workmany childhood illnesses, has improved essential technology and implemented life saving treatments to reduce complications from surgery, minimize risk of infection, reduce hospital stay time, and more.</p>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu12157"><!-- group -->
     <div class="grpelem" id="u12157"><!-- image -->
      <img class="block" id="u12157_img" src="/images/ch_2.jpg" alt="" width="245" height="251"/>
     </div>
     <div class="grpelem" id="u11070"><!-- image -->
      <img class="block" id="u11070_img" src="/images/ch_3.jpg" alt="" width="245" height="251"/>
     </div>
     <div class="clearfix grpelem" id="pu12119-4"><!-- column -->
      <div class="Charitable-work-subtitles clearfix colelem" id="u12119-4"><!-- content -->
       <p>World Vision Foster Parents</p>
      </div>
      <div class="clearfix colelem" id="u12118-4"><!-- content -->
       <p>The Oulahens sponsor three foster children, one in Bolivia and two in Africa, through the Foster Parents Plan of Canada. This support translates into positive results for foster children, their families and their communities; results such as immunization, clean water, going to school, a safe home and opportunities for a better life.</p>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu12180"><!-- group -->
     <div class="grpelem" id="u12180"><!-- image -->
      <img class="block" id="u12180_img" src="/images/ch_5.jpg" alt="" width="245" height="247"/>
     </div>
     <div class="grpelem" id="u12175"><!-- image -->
      <img class="block" id="u12175_img" src="/images/ch_4.jpg" alt="" width="245" height="247"/>
     </div>
     <div class="clearfix grpelem" id="pu12120-4"><!-- column -->
      <div class="clearfix colelem" id="u12120-4"><!-- content -->
       <p>Other Donations</p>
      </div>
      <div class="clearfix colelem" id="u12121-4"><!-- content -->
       <p>Other donations of time or money from the Oulahens go to the Avondale Community Condominium Association, Avondale Fair, Knights of Columbus, Women to Women International, Movember, WWF CN Tower Climb, MS Society, Run for the Cure, Canadian Cancer Society, Canadian Diabetes Association, Canadian Hemophilia Society,&nbsp; Salvation&nbsp; Army, Daily Bread Food Bank, McMichael Canadian Art Collection, Stratford Festival, St Gabriel’s Knights of Columbus, local schools and neighbourhoods (Stuart Crescent Summer Sizzler, Finch PS Spring Fling) and Christmas toy drives.</p>
      </div>
     </div>
    </div>
    <a class="nonblock nontext gradient colelem" id="u25826" href="listings.html" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="0"><!-- simple frame --></a>
    <div class="clearfix colelem" id="pu25512"><!-- group -->
     <div class="grpelem" id="u25512"><!-- image -->
      <img class="block" id="u25512_img" src="/images/chl1gif.png" alt="" width="76" height="32"/>
     </div>
     <div class="grpelem" id="u25645"><!-- image -->
      <img class="block" id="u25645_img" src="/images/chl2gif.png" alt="" width="47" height="38"/>
     </div>
     <div class="grpelem" id="u25525"><!-- image -->
      <img class="block" id="u25525_img" src="/images/chl3gif.png" alt="" width="76" height="37"/>
     </div>
     <div class="grpelem" id="u30535"><!-- image -->
      <img class="block" id="u30535_img" src="/images/chl4gif.png" alt="" width="76" height="37"/>
     </div>
     <div class="grpelem" id="u25595"><!-- image -->
      <img class="block" id="u25595_img" src="/images/chl5gif.png" alt="" width="76" height="13"/>
     </div>
     <div class="grpelem" id="u25632"><!-- image -->
      <img class="block" id="u25632_img" src="/images/chl6gif.png" alt="" width="76" height="38"/>
     </div>
     <div class="grpelem" id="u25577"><!-- image -->
      <img class="block" id="u25577_img" src="/images/chl7gif.png" alt="" width="39" height="38"/>
     </div>
     <div class="grpelem" id="u25567"><!-- image -->
      <img class="block" id="u25567_img" src="/images/chl8gif.png" alt="" width="37" height="38"/>
     </div>
     <div class="grpelem" id="u25572"><!-- image -->
      <img class="block" id="u25572_img" src="/images/chl9gif.png" alt="" width="37" height="38"/>
     </div>
    </div>