<div class="gradient colelem" id="u16510"><!-- simple frame --></div>

  <%= render 'listings/site_listings_nav', header: "Commercial Real Estate" %>

  <div class="clearfix colelem" id="ppu23347"><!-- group -->
   <div class="clearfix grpelem" id="pu23347"><!-- column -->
    <div class="colelem" id="u23347"><!-- image -->
     <img class="block" id="u23347_img" src="/images/288 Sheppard Ave E Pharma.jpg" alt="" width="330" height="240"/>
    </div>
<!--     <a class="nonblock nontext clearfix colelem" id="u13566-4" href="commercial-listings.html"><p class="Charitable-work-subtitles">Commercial Listings</p></a>
    <a class="nonblock nontext testimonials-Text clearfix colelem" id="u13567-7" href="/listings/commercial"><p><span id="u13567">Click here</span>&nbsp;for our Commercial listings;</p><p>For Sale or For Lease.</p></a> -->
    <div class="colelem" id="u23383"><!-- image -->
     <img class="block" id="u23383_img" src="/images/commercial_main1.jpg" alt="" width="330" height="240"/>
    </div>
<!--     <a class="nonblock nontext clearfix colelem" id="u13569-4" href="commercial-transations.html"><p class="Charitable-work-subtitles">Commercial Transactions</p></a>
    <a class="nonblock nontext testimonials-Text clearfix colelem" id="u13568-5" href="commercial-transations.html"><p><span id="u13568">Click here</span>&nbsp;for the Oulahen Team’s recent commercial sold or leased transactions.</p></a> -->
   </div>
   <div class="clearfix grpelem" id="u11165-27"><!-- content -->
    <p class="text" id="u11165-2">In addition to our vast knowledge and expertise in the residential real estate field, we are equally adept in commercial real estate. We offer:</p>
    <p class="text" id="u11165-3">&nbsp;</p>
    <p class="text" id="u11165-4">&nbsp;</p>
    <p class="text" id="u11165-5">&nbsp;</p>
    <p class="text" id="u11165-6">&nbsp;</p>
    <p class="text" id="u11165-7">&nbsp;</p>
    <p class="text" id="u11165-8">&nbsp;</p>
    <p class="text" id="u11165-9">&nbsp;</p>
    <p class="text" id="u11165-10">&nbsp;</p>
    <p class="text" id="u11165-11">&nbsp;</p>
    <p class="text" id="u11165-12">&nbsp;</p>
    <p class="text" id="u11165-13">&nbsp;</p>
    <p class="text" id="u11165-14">&nbsp;</p>
    <p class="text" id="u11165-15">&nbsp;</p>
    <p class="text" id="u11165-16">&nbsp;</p>
    <p class="text" id="u11165-18">The Oulahens have wide and varied experience in the commercial area. In the early stages of Paul’s career he worked in Commercial Real Estate in the downtown core of Toronto. Now he is a specialist in North York and Central Toronto. He has done a lot of real estate and development work. He has created many real estate deals with a single vision. He has assembled many tracts of residential land for developers and helped take a property through the zoning changes including presentations before the Ontario Municipal Board. The Oulahens attend community meetings, study the official plan, chart the development in North York. Their expertise goes beyond the average real estate agent. Paul and Jeff’s broad skills in the legal aspects of zoning and planning make them leaders in the commercial field. The team also helps clients develop large retail and commercial properties. Many of these real estate transactions have taken several years to complete and extensive negotiation.</p>
    <p class="text" id="u11165-19">&nbsp;</p>
    <p class="text" id="u11165-21">They have successfully leased several floors of major buildings in the Toronto and can help you to lease the right space for your business. With their experience in construction that can give advice on alternations, renovations or office space adjustments.</p>
    <p class="text" id="u11165-22">&nbsp;</p>
    <p class="text" id="u11165-24">Most importantly they represent investors in Toronto and all over the world who are looking for the right commercial product. They have travelled to Dubai and several parts of the Middle East to discuss investment options.</p>
    <p>&nbsp;</p>
   </div>
   <div class="text clearfix grpelem" id="u13583-24"><!-- content -->
    <p>&nbsp;• Many years experience with a proven sales record in leasing, acquisition, investment</p>
    <p>&nbsp;&nbsp; and assembly.</p>
    <p>&nbsp;• Information, zoning and details on the North York area with charts, reports,</p>
    <p>&nbsp;&nbsp; comparisons and opportunities.</p>
    <p>&nbsp;• Up to the minute commercial searches for retail, office or industrial space.</p>
    <p>&nbsp;• Negotiation skills and knowledge to get the right price.</p>
    <p>&nbsp;• Hands on experience in Commercial use and ownership.</p>
    <p>&nbsp;• Large resource of contacts in the Construction and Development trades as well as</p>
    <p>&nbsp;&nbsp;&nbsp; architects, engineers, soil and environmental specialists.</p>
    <p>&nbsp;• Experience in business brokering and sales of small to large companies</p>
    <p>&nbsp;&nbsp;• Property Management.</p>
   </div>
  </div>