<%= content_for :page_title, 'Condo Profiles' %>

<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="u21691-4"><!-- content -->
     <p>NORTH YORK CONDOS</p>
    </div>
    <div class="colelem" id="u21692"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pu30476"><!-- group -->
     <img class="grpelem" id="u30476" src="/images/c_p_map-u30476.png" alt="" width="369" height="352"/><!-- rasterized frame -->
     <a class="nonblock nontext anim_swing grpelem" id="u7554" href="condo-profiles.html#yongefinch"><!-- simple frame --></a>
     <a class="nonblock nontext anim_swing grpelem" id="u7564" href="condo-profiles.html#yongesheppard"><!-- simple frame --></a>
     <a class="nonblock nontext anim_swing grpelem" id="u7570" href="condo-profiles.html#avondale"><!-- simple frame --></a>
     <a class="nonblock nontext anim_swing grpelem" id="u7522" href="condo-profiles.html#bayview"><!-- simple frame --></a>
     <div class="grpelem" id="u26593"><!-- image -->
      <img class="block" id="u26593_img" src="/images/condo%20profile_main.jpg" alt="" width="520" height="334"/>
     </div>
    </div>
    <div class="clearfix colelem" id="pslideshowu8187"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu8187"><!-- group -->
      <div class="popup_anchor" id="u8188popup">
       <div class="SlideShowContentPanel clearfix" id="u8188"><!-- stack box -->
        <a class="nonblock nontext SSSlide grpelem" id="u26708" href="c-condos.html"><!-- image --><img class="block ImageInclude" id="u26708_img" data-src="/images/1%20-%20c%20condominiums.jpg" src="/images/blank.gif" alt="" data-width="377" data-height="321"/></a>
        <a class="nonblock nontext SSSlide invi grpelem" id="u26741" href="monet.html"><!-- image --><img class="block ImageInclude" id="u26741_img" data-src="/images/monet.jpg" src="/images/blank.gif" alt="" data-width="377" data-height="321"/></a>
        <a class="nonblock nontext SSSlide invi grpelem" id="u26732" href="dia-condos.html"><!-- image --><img class="block ImageInclude" id="u26732_img" data-src="/images/dia-condos.jpg" src="/images/blank.gif" alt="" data-width="377" data-height="321"/></a>
        <a class="nonblock nontext SSSlide invi grpelem" id="u26761" href="grand-triomphe.html"><!-- image --><img class="block ImageInclude" id="u26761_img" data-src="/images/grand-triomphe.jpg" src="/images/blank.gif" alt="" data-width="377" data-height="321"/></a>
        <a class="nonblock nontext SSSlide invi grpelem" id="u26786" href="chicago.html"><!-- image --><img class="block ImageInclude" id="u26786_img" data-src="/images/5%20-%20chicago.jpg" src="/images/blank.gif" alt="" data-width="377" data-height="321"/></a>
        <a class="nonblock nontext SSSlide invi grpelem" id="u26804" href="meridian.html"><!-- image --><img class="block ImageInclude" id="u26804_img" data-src="/images/meridian.jpg" src="/images/blank.gif" alt="" data-width="377" data-height="321"/></a>
        <a class="nonblock nontext SSSlide invi grpelem" id="u26795" href="marquis.html"><!-- image --><img class="block ImageInclude" id="u26795_img" data-src="/images/marquis.jpg" src="/images/blank.gif" alt="" data-width="377" data-height="321"/></a>
        <a class="nonblock nontext SSSlide invi grpelem" id="u26829" href="triomphe-grand-triomphe-i.html"><!-- image --><img class="block ImageInclude" id="u26829_img" data-src="/images/triomphe---grand-triomphe.jpg" src="/images/blank.gif" alt="" data-width="377" data-height="321"/></a>
        <a class="nonblock nontext SSSlide invi grpelem" id="u33808" href="bravo-boutique.html"><!-- image --><img class="block ImageInclude" id="u33808_img" data-src="/images/bravo.jpg" src="/images/blank.gif" alt="" data-width="377" data-height="321"/></a>
        <a class="nonblock nontext SSSlide invi grpelem" id="u33842" href="princess-place-tower.html"><!-- image --><img class="block ImageInclude" id="u33842_img" data-src="/images/princess%20place.jpg" src="/images/blank.gif" alt="" data-width="377" data-height="321"/></a>
        <a class="nonblock nontext SSSlide invi grpelem" id="u33851" href="pulse-towers.html"><!-- image --><img class="block ImageInclude" id="u33851_img" data-src="/images/pulse%20towers.jpg" src="/images/blank.gif" alt="" data-width="377" data-height="321"/></a>
        <div class="SSSlide invi grpelem" id="u33833"><!-- image -->
         <img class="block ImageInclude" id="u33833_img" data-src="/images/palm.jpg" src="/images/blank.gif" alt="" data-width="377" data-height="321"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u8229popup">
       <div class="SSSlideLinks clearfix" id="u8229"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u26711"><!-- image -->
         <div id="u26711_clip">
          <img class="position_content" id="u26711_img" src="/images/1%20-%20c%20condominiums39x33.jpg" alt="" width="38" height="33"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u26744"><!-- image -->
         <div id="u26744_clip">
          <img class="position_content" id="u26744_img" src="/images/monet37x32.jpg" alt="" width="37" height="32"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u26735"><!-- image -->
         <div id="u26735_clip">
          <img class="position_content" id="u26735_img" src="/images/dia-condos37x32.jpg" alt="" width="37" height="32"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u26764"><!-- image -->
         <div id="u26764_clip">
          <img class="position_content" id="u26764_img" src="/images/grand-triomphe37x32.jpg" alt="" width="37" height="32"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u26789"><!-- image -->
         <div id="u26789_clip">
          <img class="position_content" id="u26789_img" src="/images/5%20-%20chicago39x33.jpg" alt="" width="38" height="33"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u26807"><!-- image -->
         <div id="u26807_clip">
          <img class="position_content" id="u26807_img" src="/images/meridian37x32.jpg" alt="" width="37" height="32"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u26798"><!-- image -->
         <div id="u26798_clip">
          <img class="position_content" id="u26798_img" src="/images/marquis39x33.jpg" alt="" width="38" height="33"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u26832"><!-- image -->
         <div id="u26832_clip">
          <img class="position_content" id="u26832_img" src="/images/triomphe---grand-triomphe37x32.jpg" alt="" width="37" height="32"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33811"><!-- image -->
         <div id="u33811_clip">
          <img class="position_content" id="u33811_img" src="/images/bravo37x32.jpg" alt="" width="37" height="32"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33845"><!-- image -->
         <div id="u33845_clip">
          <img class="position_content" id="u33845_img" src="/images/princess%20place37x32.jpg" alt="" width="37" height="32"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33854"><!-- image -->
         <div id="u33854_clip">
          <img class="position_content" id="u33854_img" src="/images/pulse%20towers37x32.jpg" alt="" width="37" height="32"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33836"><!-- image -->
         <div id="u33836_clip">
          <img class="position_content" id="u33836_img" src="/images/palm37x32.jpg" alt="" width="37" height="32"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u8221popup">
       <div class="SlideShowCaptionPanel clearfix" id="u8221"><!-- stack box -->
        <a class="nonblock nontext SSSlideCaption clearfix grpelem" id="u26714-5" href="c-condos.html"><!-- content --><p>&nbsp; 503 &amp; 509 Beecroft <span id="u26714-2">&#45; C Condominiums</span></p></a>
        <a class="nonblock nontext SSSlideCaption invi clearfix grpelem" id="u26747-5" href="monet.html"><!-- content --><p>&nbsp; 60 Byng Avenue <span id="u26747-2">&#45; Monet</span></p></a>
        <a class="nonblock nontext SSSlideCaption invi clearfix grpelem" id="u26738-6" href="dia-condos.html"><!-- content --><p id="u26738-4"><span>&nbsp; </span><span>30 Canterbury Place </span><span id="u26738-3">– DIA Condominiums</span></p></a>
        <a class="nonblock nontext SSSlideCaption invi clearfix grpelem" id="u26767-6" href="grand-triomphe.html"><!-- content --><p id="u26767-4"><span>&nbsp; </span><span>500 Doris Avenue </span><span id="u26767-3">– Grand Triomphe</span></p></a>
        <a class="nonblock nontext SSSlideCaption invi clearfix grpelem" id="u26792-6" href="chicago.html"><!-- content --><p id="u26792-4"><span>&nbsp; </span><span>35 Finch Avenue East </span><span id="u26792-3">– Chicago</span></p></a>
        <a class="nonblock nontext SSSlideCaption invi clearfix grpelem" id="u26810-6" href="meridian.html"><!-- content --><p>&nbsp; 15 &amp; 25 Greenview Ave <span id="u26810-3">– Meridian</span></p></a>
        <a class="nonblock nontext SSSlideCaption invi clearfix grpelem" id="u26801-6" href="marquis.html"><!-- content --><p id="u26801-4"><span>&nbsp; </span><span>8 McKee Ave </span><span id="u26801-3">– Marquis</span></p></a>
        <a class="nonblock nontext SSSlideCaption invi clearfix grpelem" id="u26835-6" href="triomphe-grand-triomphe-i.html"><!-- content --><p id="u26835-4"><span>&nbsp; </span><span>5, 10 &amp; 15 Northtown Way </span><span id="u26835-3">– Triomphe &amp; Grand Triomphe I</span></p></a>
        <a class="nonblock nontext SSSlideCaption invi clearfix grpelem" id="u33814-6" href="bravo-boutique.html"><!-- content --><p id="u33814-4"><span>&nbsp; </span><span>22 Norton Avenue </span><span id="u33814-3">– Bravo Boutique</span></p></a>
        <a class="nonblock nontext SSSlideCaption invi clearfix grpelem" id="u33848-6" href="princess-place-tower.html"><!-- content --><p id="u33848-4"><span>&nbsp; 20, 22, 26 &amp; 28 Olive Ave.</span><span>&nbsp;</span><span id="u33848-3">– Princess Place Tower 1,2,3 &amp; 4</span></p></a>
        <a class="nonblock nontext SSSlideCaption invi clearfix grpelem" id="u33857-6" href="pulse-towers.html"><!-- content --><p id="u33857-4"><span>&nbsp; </span><span>5500 &amp; 5508 Yonge Street </span><span id="u33857-3">– Pulse Towers</span></p></a>
        <div class="SSSlideCaption invi clearfix grpelem" id="u33839-6"><!-- content -->
         <p id="u33839-4"><span>&nbsp; </span><span>5740 Yonge Street </span><span id="u33839-3">– The Palm Condos</span></p>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u8227-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u8227-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u8200-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u8200-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="pu7567-9"><!-- column -->
      <div class="clearfix colelem" id="u7567-9"><!-- content -->
       <p>Jeff and Mark Oulahen know condos. Over the years they have visited almost every unit in every condominium in North York. Their expertise includes midtown and downtown units as well. They’ve represented condo buyers and sellers in Toronto and keep abreast of city planning and future developments. They have lots of stories and personal experiences to share.</p>
       <p>&nbsp;</p>
       <p>This section has been created to give you an overview of Condos. Our Condo Map will give you a glance of North York’s vast selection of condo buildings, while our Condo Listings provide detailed information, galleries and listings for each building. We welcome feedback, questions or comments. Please call us at <span id="u7567-5">416&#45;222&#45;1212</span>&nbsp;or drop by anytime for free information.</p>
      </div>
      <div class="Headings-Submenus clearfix colelem" id="u7614-4"><!-- content -->
       <h1>NORTH YORK CONDO LISTINGS</h1>
      </div>
     </div>
     <div class="clearfix grpelem" id="ppu7559"><!-- column -->
      <div class="clearfix colelem" id="pu7559"><!-- group -->
       <a class="nonblock nontext grpelem" id="u7559" href="map.html"><!-- image --><img class="block" id="u7559_img" src="/images/photo_condo2.jpg" alt="" width="103" height="103"/></a>
       <div class="clearfix grpelem" id="pu7553-6"><!-- column -->
        <div class="clearfix colelem" id="u7553-6"><!-- content -->
         <p id="u7553-2">North York Condo Map</p>
         <p>Browse our interactive map of condominium buildings in North York. Click on any location to read useful information about the building.</p>
        </div>
        <a class="nonblock nontext clearfix colelem" id="u22132-4" href="map.html"><!-- content --><p>&nbsp;[More]</p></a>
       </div>
      </div>
      <div class="clearfix colelem" id="paccordionu7523"><!-- group -->
       <ul class="AccordionWidget clearfix grpelem" id="accordionu7523"><!-- column -->
        <li class="AccordionPanel clearfix colelem" id="u7524"><!-- vertical box -->
         <div class="AccordionPanelTab Subtitles clearfix colelem" id="u7525-4"><!-- content -->
          <h2>Yonge &amp; Finch Condos</h2>
         </div>
         <div class="AccordionPanelContent clearfix colelem" id="u7526"><!-- column -->
          <div class="position_content" id="u7526_position_content">
           <a class="nonblock nontext text clearfix colelem" id="u7527-6" href="condo-profiles/c-condos.html"><!-- content --><p id="u7527-4"><span id="u7527">503 &amp; 509 Beecroft</span><span>&nbsp;</span><span id="u7527-3">– C Condominiums</span></p></a>
           <a class="nonblock nontext text clearfix colelem" id="u32169-6" href="condo-profiles/monet.html"><!-- content --><p id="u32169-4"><span id="u32169">60 Byng Avenue</span><span>&nbsp;</span><span id="u32169-3">– Monet</span></p></a>
           <a class="nonblock nontext text clearfix colelem" id="u32171-6" href="condo-profiles/dia-condos.html"><!-- content --><p id="u32171-4"><span id="u32171">30 Canterbury Place</span><span>&nbsp;</span><span id="u32171-3">– DIA Condominiums</span></p></a>
           <a class="nonblock nontext text clearfix colelem" id="u32170-6" href="condo-profiles/grand-triomphe.html"><!-- content --><p id="u32170-4"><span id="u32170">500 Doris Avenue</span><span>&nbsp;</span><span id="u32170-3">– Grand Triomphe</span></p></a>
           <a class="nonblock nontext text clearfix colelem" id="u32175-5" href="condo-profiles/chicago.html"><!-- content --><p id="u32175-3"><span id="u32175">35 Finch Ave East </span><span id="u32175-2">– Chicago</span></p></a>
           <a class="nonblock nontext clearfix colelem" id="u32174-5" href="condo-profiles/meridian.html"><!-- content --><p id="u32174-3"><span id="u32174">15 &amp; 25 Greenview Ave</span><span id="u32174-2">&nbsp;– Meridian</span></p></a>
           <a class="nonblock nontext clearfix colelem" id="u32173-6" href="condo-profiles/marquis.html"><!-- content --><p id="u32173-4"><span class="Condo-addresses-in-chart">8 McKee Ave</span><span>&nbsp;</span><span id="u32173-3">– Marquis</span></p></a>
           <a class="nonblock nontext text clearfix colelem" id="u32172-6" href="condo-profiles/triomphe-grand-triomphe-i.html"><!-- content --><p id="u32172-4"><span class="Condo-addresses-in-chart">5, 10 &amp; 15 Northtown Way</span><span>&nbsp;</span><span id="u32172-3">– Triomphe &amp; Grand Triomphe I</span></p></a>
           <a class="nonblock nontext text clearfix colelem" id="u32179-8" href="condo-profiles/bravo-boutique.html"><!-- content --><p id="u32179-6"><span class="Condo-addresses-in-chart">22 Norton Ave</span><span>&nbsp;– </span><span id="u32179-3">Bravo Boutique</span><span>&nbsp;</span><span id="u32179-5">(Under construction)</span></p></a>
           <a class="nonblock nontext text clearfix colelem" id="u32178-6" href="condo-profiles/princess-place-tower.html"><!-- content --><p id="u32178-4"><span class="Condo-addresses-in-chart">20, 22, 26 &amp; 28 Olive Ave</span><span>&nbsp;</span><span id="u32178-3">– Princess Place Tower 1, 2, 3 &amp; 4</span></p></a>

           <a class="nonblock nontext text clearfix colelem" id="u32177-6" href="condo-profiles/park-lane.html">

           <!-- content --><p id="u32177-4"><span class="Condo-addresses-in-chart">1 &amp; 3 Pemberton Ave</span><span>&nbsp;</span><span id="u32177-3">&#45; Park Lane I &amp; II</span></p></a>

           <a class="nonblock nontext text clearfix colelem" id="u32176-6" href="condo-profiles/pulse-towers.html"><!-- content --><p id="u32176-4"><span class="Condo-addresses-in-chart">5500 &amp; 5508 Yonge St</span><span>&nbsp;</span><span id="u32176-3">&#45; Pulse Towers</span></p></a>
           


           <a class="nonblock nontext text clearfix colelem" id="u32181-7" href="condo-profiles/palm-condos.html"><!-- content -->
             <p id="u32181-5">
               <span class="Condo-addresses-in-chart">5740 Yonge St</span>
               <span>&nbsp;</span>
               <span id="u32181-3">&#45; Palm Condominium </span>
               <span id="u32181-4">(Under construction)</span>
             </p>
           </a>



          </div>
         </div>
        </li>
        <li class="AccordionPanel clearfix colelem" id="u7528"><!-- vertical box -->
       
         <div class="AccordionPanelTab Subtitles clearfix colelem" id="u7532-4"><!-- content -->
          <h2>Yonge &amp; Sheppard Condos</h2>
         </div>
         
         <div class="AccordionPanelContent disn clearfix colelem" id="u7529"><!-- column -->
          <div class="clearfix colelem" id="pu7531-6"><!-- group -->
           <div class="text clearfix grpelem" id="u7531-6"><!-- content -->

            <a class="nontext" href="condo-profiles/hullmark-centre.html">
              <p id="u7531-4"><span id="u7531">2 Anndale Dr &amp; 5 Sheppard Ave E</span><span>&nbsp;– Hullmark Centre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span id="u7531-3">(Under construction)</span></p>
            </a>
           </div>
           <a class="anchor_item grpelem" id="yongesheppard"></a>
          </div>
          <div class="text clearfix colelem" id="u32202-5"><!-- content -->
            <a class="nontext" href="condo-profiles/manhattan-place.html">
           <p id="u32202-3"><span id="u32202">131 Beecroft Rd</span><span>&nbsp;&#45; Manhattan Place</span></p>
           </a>

          </div>
          <div class="text clearfix colelem" id="u32203-5"><!-- content -->
           <a class="nontext" href="condo-profiles/broadway.html">
            <p id="u32203-3"><span id="u32203">153 &amp; 155 Beecroft Rd</span><span>&nbsp;– Broadway</span></p>
            </a>

          </div>
          <div class="text clearfix colelem" id="u32208-5"><!-- content -->
           <a class="nontext" href="condo-profiles/peninsula-place.html">
            <p id="u32208-3"><span id="u32208">233 Beecroft Rd</span><span>&nbsp;– Peninsula Place</span></p>
            </a>

          </div>
          <div class="text clearfix colelem" id="u32207-5"><!-- content -->
            <a class="nontext" href="condo-profiles/the-boulevard.html">
             <p id="u32207-3"><span id="u32207">188 Doris Ave</span><span>&nbsp;– The Boulevard</span></p>
             </a>
          </div>
          <div class="text clearfix colelem" id="u32212-5"><!-- content -->
             <a class="nontext" href="condo-profiles/kingsdale.html">
              <p id="u32212-3"><span id="u32212">238 Doris Ave</span><span>&nbsp;– Kingsdale</span></p>
              </a>
          
          </div>
          <div class="text clearfix colelem" id="u32211-5"><!-- content -->
           <a class="nontext" href="condo-profiles/imperial.html">
              <p id="u32211-3"><span id="u32211">256 &amp; 260 Doris Ave</span><span>&nbsp;– Imperial</span></p>
              </a>
          </div>
          <div class="text clearfix colelem" id="u32210-5"><!-- content -->
            <a class="nontext" href="condo-profiles/atrium-i.html">
              <p id="u32210-3"><span id="u32210">33 Elmhurst Ave</span><span>&nbsp;– Atrium I</span></p>
              </a>
          </div>
          <div class="text clearfix colelem" id="u32209-5"><!-- content -->
           <a class="nontext" href="condo-profiles/majestic---majestic-ii.html">
            <p id="u32209-3"><span id="u32209">28 Empress Ave &amp; 18 Parkview Ave</span><span>&nbsp;– Majestic &amp; Majestic II</span></p>
            </a>
          </div>
          <div class="text clearfix colelem" id="u32217-5"><!-- content -->
           <a class="nontext" href="condo-profiles/empress-plaza-i-ii.html">
              <p id="u32217-3"><span id="u32217">35 Empress Ave &amp; 18 Hillcrest Ave</span><span>&nbsp;– Empress Plaza I &amp; II</span></p>
              </a>
          </div>
          <div class="text clearfix colelem" id="u32216-5"><!-- content -->
           <a class="nontext" href="condo-profiles/rodeo-walk.html">
              <p id="u32216-3"><span id="u32216">30 Greenfield Ave</span><span>&nbsp;– Rodeo Walk</span></p>
              </a>
          </div>
          <div class="text clearfix colelem" id="u32215-7"><!-- content -->
           <a class="nontext" href="condo-profiles/pinnacle---royal.html">
              <p id="u32215-5"><span id="u32215">8 Hillcrest Ave &amp; 33 Empress Ave</span><span>&nbsp;– </span><span id="u32215-3">Pinnacle &amp; Royal </span><span>Pinnacle</span></p>
          </div>
          <div class="text clearfix colelem" id="u32214-5"><!-- content -->
           <a class="nontext" href="condo-profiles/21-hillcrest.html">
              <p id="u32214-3"><span id="u32214">21 Hillcrest Ave</span><span>&nbsp;– 21 Hillcrest</span></p>
              </a>
          </div>
          <div class="text clearfix colelem" id="u32213-5"><!-- content -->
           <a class="nontext" href="#">
              <p id="u32213-3"><span id="u32213">23 Hollywood Ave &amp; 18 Spring Garden Ave </span><span>– Platinum</span></p>
            </a>
          </div>
          <div class="text clearfix colelem" id="u32221-6"><!-- content -->
           <a class="nontext" href="condo-profiles/pearl-condominium.html">
              <p id="u32221-4"><span id="u32221">35 Hollywood Ave</span><span>&nbsp;&#45; Pearl Condominium </span><span id="u32221-3">(Under construction)</span></p>
              </a>
          </div>
          <div class="text clearfix colelem" id="u32220-5"><!-- content -->
           <a class="nontext" href="condo-profiles/pavillion.html">
              <p id="u32220-3"><span id="u32220">5 &amp; 10 Kenneth Ave</span><span>&nbsp;&#45; The Pavilion &amp; Pavilion Del Sol</span></p>
              </a>
          </div>
          <div class="text clearfix colelem" id="u32219-5"><!-- content -->
           <a class="nontext" href="condo-profiles/spring-at-minto.html">
              <p id="u32219-3"><span id="u32219">23 Sheppard Ave E</span><span>&nbsp;– Spring at Minto Gardens</span></p>
              </a>
          </div>
          <div class="text clearfix colelem" id="u32218-5"><!-- content -->
           <a class="nontext" href="condo-profiles/radiance-at-minto.html">
              <p id="u32218-3"><span id="u32218">33 Sheppard Ave E </span><span>– Radiance at Minto Gardens</span></p>
              </a>
          </div>
          <div class="text clearfix colelem" id="u32225-6"><!-- content -->
           <a class="nontext" href="condo-profiles/ei8ht8-condos.html">
              <p id="u32225-4"><span id="u32225">88 Sheppard Ave E </span><span>– EI8HTY8 Condos </span><span id="u32225-3">(To be built)</span></p>
              </a>
          </div>
          <div class="text clearfix colelem" id="u32224-5"><!-- content -->
           <a class="nontext" href="condo-profiles/atrium-ii.html">
              <p id="u32224-3"><span id="u32224">65 Spring Garden Ave</span><span>&nbsp;– Atrium II</span></p>
              </a>
          </div>
          <div class="text clearfix colelem" id="u32223-5"><!-- content -->
           <a class="nontext" href="condo-profiles/residence-of-madison-centre.html">
              <p id="u32223-3"><span id="u32223">100 Upper Madison </span><span>– Residence of Madison Centre</span></p>
              </a>
          </div>
          <div class="text clearfix colelem" id="u32222-5"><!-- content -->
           <a class="nontext" href="condo-profiles/ultima.html">
              <p id="u32222-3"><span id="u32222">4968 &amp; 4978 Yonge St</span><span>&nbsp;– Ultima</span></p>
              </a>
          </div>
         </div>
        </li>
        <li class="AccordionPanel clearfix colelem" id="u7548"><!-- vertical box -->
         <div class="AccordionPanelTab Subtitles clearfix colelem" id="u7549-4"><!-- content -->
          <h2>Avondale Condos</h2>
         </div>
         <div class="AccordionPanelContent disn clearfix colelem" id="u7550"><!-- group -->
          <div class="text clearfix grpelem" id="u7552-44"><!-- content -->
           <a class="nontext" href="condo-profiles/one-avondale-lofts.html">
              <p id="u7552-3"><span id="u7552">1 Avondale Ave</span><span>&nbsp;– One Avondale Lofts</span></p>
           </a>

           <a class="nontext" href="condo-profiles/pied-a-terre.html">
              <p id="u7552-6"><span id="u7552-4">19 Avondale Ave</span><span>&nbsp;– Pied a Terre</span></p>
           </a>

           <a class="nontext" href="condo-profiles/cosmo.html">
              <p id="u7552-9"><span id="u7552-7">31 &amp; 35 Bales Ave</span><span>&nbsp;– Cosmo</span></p>
           </a>

           <a class="nontext" href="condo-profiles/emerald-park.html">
              <p id="u7552-12"><span id="u7552-10">9 &amp; 11 Bogert Ave</span><span>&nbsp;&#45; Emerald Park (To be built)</span></p>
           </a>


           <a class="nontext" href="condo-profiles/townhomes-of-toronto-centre.html">
              <p id="u7552-15"><span id="u7552-13">3&#45;5 Everson Dr</span><span>&nbsp;– Townhomes of Toronto Centre</span></p>
           </a>

           <a class="nontext" href="condo-profiles/carriage-homes-of-avondale.html">
              <p id="u7552-18"><span id="u7552-16">11 Everson Dr </span><span>– Carriage Homes of Avondale</span></p>
           </a>

           <a class="nontext" href="condo-profiles/savvy.html">
              <p id="u7552-22"><span id="u7552-19">23 Glendora Ave</span><span>&nbsp;&#45; Savvy </span><span id="u7552-21">(Under construction)</span></p>
           </a>

           <a class="nontext" href="condo-profiles/residences-of-avondale.html">
              <p id="u7552-25"><span id="u7552-23">16 &amp; 18 Harrison Garden Blvd</span><span>&nbsp;– Residences of Avondale</span></p>
           </a>

           <a class="nontext" href="condo-profiles/spectrum.html">
              <p id="u7552-28"><span id="u7552-26">28 &amp; 30 Harrison Garden Blvd</span><span>&nbsp;– Spectrum</span></p>
           </a>

           <a class="nontext" href="condo-profiles/mansions-of-avondale.html">
              <p id="u7552-31"><span id="u7552-29">51 &amp; 55 Harrison Garden Blvd</span><span>&nbsp;– Mansions of Avondale</span></p>
           </a>

           <a class="nontext" href="condo-profiles/skymark.html">
              <p id="u7552-34"><span id="u7552-32">78 &amp; 80 Harrison Garden Blvd </span><span>– Skymark</span></p>
           </a>

           <a class="nontext" href="condo-profiles/avonshire.html">
              <p id="u7552-38"><span id="u7552-35">100 Harrison Garden Blvd</span><span>&nbsp;– Avonshire </span><span id="u7552-37">(Under construction)</span>
           </p>
           </a>
            <a class="nontext" href="condo-profiles/aristo-at-avonshire-(to-be-built).html">
              <p id="u7552-42"><span id="u7552-39">120 Harrison Garden Blvd</span><span>&nbsp;– Aristo at Avonshire </span><span id="u7552-41">(To be built)</span></p>
           </a>
          </div>
          <a class="anchor_item grpelem" id="avondale"></a>
         </div>
        </li>
        <li class="AccordionPanel clearfix colelem" id="u7543"><!-- vertical box -->
         <div class="AccordionPanelTab Subtitles clearfix colelem" id="u7544-4"><!-- content -->
          <h2>Bayview &amp; Sheppard Condos</h2>
         </div>
         <div class="AccordionPanelContent disn clearfix colelem" id="u7545"><!-- column -->
          <a class="anchor_item colelem" id="bayview"></a>
          <div class="clearfix colelem" id="u7547-33"><!-- content -->
           <a class="nontext" href="condo-profiles/empire-on-bayview.html">
              <p id="u7547-3"><span id="u7547">17 Barberry Pl</span><span>&nbsp;&#45; Empire on Bayview</span></p>
           </a>
           <a class="nontext" href="condo-profiles/the-chelsea.html">
              <p id="u7547-6"><span id="u7547-4">19 Barberry Pl</span><span>&nbsp;&#45; The Chelsea</span></p>
           </a>
           <a class="nontext" href="condo-profiles/the-arc.html">
              <p id="u7547-9"><span id="u7547-7">2885 Bayview Ave</span><span>&nbsp;– The Arc</span></p>
           </a>
           <a class="nontext" href="condo-profiles/bayview-mansions.html">
              <p id="u7547-12"><span id="u7547-10">1 &amp; 2 Clairtrell Rd</span><span>&nbsp;&#45; Bayview Mansions</span></p>
           </a>
           <a class="nontext" href="condo-profiles/twenty-one-clairtrell.html">
              <p id="u7547-16"><span id="u7547-13">21 Clairtrell Rd </span><span>&#45; Twenty One Clairtrell </span><span id="u7547-15">(To be built)</span></p>
           </a>   
           <a class="nontext" href="condo-profiles/fashion-roseway.html">
              <p id="u7547-19"><span id="u7547-17">10, 20 &amp; 30 Fashion Roseway</span><span>&nbsp;– Fashion Roseway</span></p>
           </a>
           <a class="nontext" href="condo-profiles/the-rockefeller-on-bayview.html">
              <p id="u7547-22"><span id="u7547-20">18 Kenaston Gardens</span><span>&nbsp;&#45; The Rockefeller on Bayview</span></p>
           </a>
           <a class="nontext" href="condo-profiles/chrysler-towers.html">
              <p id="u7547-25"><span id="u7547-23">1 &amp; 3 Rean Dr</span><span>&nbsp;&#45; Chrysler Towers</span></p>
           </a>
           <a class="nontext" href="condo-profiles/waldorf-towers.html">
              <p id="u7547-28"><span id="u7547-26">2 &amp; 8 Rean Dr</span><span>&nbsp;&#45; Waldorf Towers</span></p>
           </a>
           <a class="nontext" href="condo-profiles/merci-le-condominiums.html">
              <p id="u7547-31"><span id="u7547-29">600 Sheppard Ave E </span><span>&#45; MERCI Le Condominiums</span></p>
          </a>
          </div>
         </div>
        </li>
       </ul>
       <a class="anchor_item grpelem" id="yongefinch"></a>
      </div>
     </div>
    </div>
