<%= content_for :page_title, default_title('Condo Profiles') %>

<div class="gradient colelem" id="u16510"></div>
    <div class="clearfix colelem" id="u21691-4">
     <p>Page Under Construction.</p>
    </div>
    <div class="colelem" id="u21692"></div>


    <div class="clearfix colelem" style="margin-left: 23px;margin-top: 20px;" >
      <p>We are working at updating all the condo profiles. Please stay tuned. This page will be back shortly.</p>
    </div>
   