<%= content_for :page_title, 'Contact Us' %>

<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="u12514-4"><!-- content -->
     <p>CONTACT US</p>
    </div>
    <div class="colelem" id="u12515"><!-- simple frame --></div>
    <div class="SlideShowWidget clearfix colelem" id="slideshowu12709"><!-- group -->
     <div class="popup_anchor" id="u12741popup">
      <div class="SlideShowContentPanel clearfix" id="u12741"><!-- stack box -->
       <div class="SSSlide grpelem" id="u13227"><!-- image -->
        <img class="block ImageInclude" id="u13227_img" data-src="/images/1_cu.jpg" src="/images/blank.gif" alt="" data-width="584" data-height="262"/>
       </div>
       <div class="SSSlide invi grpelem" id="u29605"><!-- image -->
        <img class="block ImageInclude" id="u29605_img" data-src="/images/2_cu.jpg" src="/images/blank.gif" alt="" data-width="584" data-height="262"/>
       </div>
       <div class="SSSlide invi grpelem" id="u29614"><!-- image -->
        <img class="block ImageInclude" id="u29614_img" data-src="/images/3_cu.jpg" src="/images/blank.gif" alt="" data-width="584" data-height="262"/>
       </div>
       <div class="SSSlide invi grpelem" id="u29623"><!-- image -->
        <img class="block ImageInclude" id="u29623_img" data-src="/images/4_cu.jpg" src="/images/blank.gif" alt="" data-width="584" data-height="262"/>
       </div>
       <div class="SSSlide invi grpelem" id="u29632"><!-- image -->
        <img class="block ImageInclude" id="u29632_img" data-src="/images/5_cu.jpg" src="/images/blank.gif" alt="" data-width="584" data-height="262"/>
       </div>
       <div class="SSSlide invi grpelem" id="u29641"><!-- image -->
        <img class="block ImageInclude" id="u29641_img" data-src="/images/6_cu.jpg" src="/images/blank.gif" alt="" data-width="584" data-height="262"/>
       </div>
       <div class="SSSlide invi grpelem" id="u29650"><!-- image -->
        <img class="block ImageInclude" id="u29650_img" data-src="/images/7_cu.jpg" src="/images/blank.gif" alt="" data-width="584" data-height="262"/>
       </div>
       <div class="SSSlide invi grpelem" id="u29659"><!-- image -->
        <img class="block ImageInclude" id="u29659_img" data-src="/images/8_cu.jpg" src="/images/blank.gif" alt="" data-width="584" data-height="262"/>
       </div>
      </div>
     </div>
     <div class="popup_anchor" id="u12710-4popup">
      <div class="SSPreviousButton rgba-background clearfix" id="u12710-4"><!-- content -->
       <p>&lt;</p>
      </div>
     </div>
     <div class="popup_anchor" id="u12751-4popup">
      <div class="SSNextButton rgba-background clearfix" id="u12751-4"><!-- content -->
       <p>&gt;</p>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="u11750-16"><!-- content -->
     <p class="Charitable-work-subtitles">Paul, Norah, Jeff and Mark Oulahen</p>
     <p id="u11750-3">&nbsp;</p>
     <p class="Contact-text">4685 Yonge Street, Suite 200</p>
     <p class="Contact-text">Toronto, Ontario</p>
     <p class="Contact-text">M2N 5M3</p>
     <p class="Contact-text">&nbsp;</p>
     <p class="Contact-text">Phone: (416) 222&#45;1212</p>
     <p id="u11750-14">Fax: (416) 221&#45;1212</p>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u12507-4" href="contact-us-form.html"><!-- content --><p>Click to e&#45;mail the Team</p></a>
    <div class="clearfix colelem" id="ppu25842-19"><!-- group -->
     <div class="clearfix grpelem" id="pu25842-19"><!-- group -->
      <div class="clearfix grpelem" id="u25842-19"><!-- content -->
       <p class="Charitable-work-subtitles" id="u25842-2">Norah Oulahen</p>
       <p class="Contact-text" id="u25842-4">Cell:&nbsp; (647) 225&#45;1212</p>
       <p class="Contact-text" id="u25842-5">&nbsp;</p>
       <p class="Contact-text" id="u25842-6">&nbsp;</p>
       <p class="Charitable-work-subtitles" id="u25842-8">Mark Oulahen</p>
       <p class="Contact-text" id="u25842-10">Cell:&nbsp; (905) 222&#45;1212</p>
       <p class="Contact-text" id="u25842-11">&nbsp;</p>
       <p class="Contact-text" id="u25842-12">&nbsp;</p>
       <p class="Charitable-work-subtitles" id="u25842-14">Vinay Lakhani</p>
       <p class="Contact-text" id="u25842-16">Cell:&nbsp; (416) 899&#45;8408</p>
       <p class="Contact-text">&nbsp;</p>
      </div>
      <a class="nonblock nontext clearfix grpelem" id="u13493-4" href="contact-us-form.html"><!-- content --><p>Click to e&#45;mail Norah</p></a>
      <a class="nonblock nontext clearfix grpelem" id="u13495-4" href="contact-us-form.html"><!-- content --><p>Click to e&#45;mail Mark</p></a>
      <a class="nonblock nontext clearfix grpelem" id="u25838-4" href="contact-us-form.html"><!-- content --><p>Click to e&#45;mail Vinay</p></a>
     </div>
     <div class="grpelem" id="u12497"><!-- custom html -->
      <iframe width="585" height="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=4685+yonge+street&amp;aq=&amp;sll=43.656877,-79.32085&amp;sspn=0.702439,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=4685+Yonge+St,+Toronto,+Toronto+Division,+Ontario+M2N+6K8&amp;t=m&amp;ll=43.765577,-79.408579&amp;spn=0.017356,0.050211&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=4685+yonge+street&amp;aq=&amp;sll=43.656877,-79.32085&amp;sspn=0.702439,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=4685+Yonge+St,+Toronto,+Toronto+Division,+Ontario+M2N+6K8&amp;t=m&amp;ll=43.765577,-79.408579&amp;spn=0.017356,0.050211&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u12508-18"><!-- content -->
      <p class="Charitable-work-subtitles" id="u12508-2">Paul Oulahen</p>
      <p class="Contact-text" id="u12508-4">Cell:&nbsp; (416) 520&#45;1212</p>
      <p class="Contact-text" id="u12508-5">&nbsp;</p>
      <p class="Contact-text" id="u12508-6">&nbsp;</p>
      <p class="Charitable-work-subtitles" id="u12508-8">Jeff Oulahen</p>
      <p class="Contact-text" id="u12508-10">Cell:&nbsp; (647) 222&#45;1212</p>
      <p class="Contact-text" id="u12508-11">&nbsp;</p>
      <p class="Contact-text" id="u12508-12">&nbsp;</p>
      <p class="Charitable-work-subtitles" id="u12508-14">Thanh Nguyen</p>
      <p class="Contact-text" id="u12508-16">Cell:&nbsp; (416) 953&#45;9814</p>
      <p class="Contact-text" id="u12508-12">&nbsp;</p>
      <p class="Contact-text" id="u12508-12">&nbsp;</p> 
      <p class="Charitable-work-subtitles" id="u12508-14">Ajay Aheer</p>
      <p class="Contact-text" id="u12508-16">Cell:&nbsp; (647) 449&#45;1212</p>
      <p class="Contact-text" id="u12508-12">&nbsp;</p>
      <p class="Contact-text" id="u12508-12">&nbsp;</p> 
</div>
     <a class="nonblock nontext clearfix grpelem" id="u13492-4" href="contact-us-form.html"><!-- content --><p>Click to e&#45;mail Paul</p></a>
     <a class="nonblock nontext clearfix grpelem" id="u13494-4" href="contact-us-form.html"><!-- content --><p>Click to e&#45;mail Jeff</p></a>
     <a class="nonblock nontext clearfix grpelem" id="u25843-4" href="contact-us-form.html"><!-- content --><p>Click to e&#45;mail Thanh</p></a>
     <a class="nonblock nontext clearfix grpelem" id="u25843-4-ajay" href="contact-us-form.html"><!-- content --><p>Click to e&#45;mail Ajay</p></a>
    </div>