<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pu13350-4"><!-- group -->
     <div class="clearfix grpelem" id="u13350-4"><!-- content -->
      <p>CONTACT US</p>
     </div>
     <div class="grpelem" id="u13352"><!-- simple frame --></div>
    </div>
    <div class="clearfix colelem" id="ppu13351-4"><!-- group -->
     <div class="clearfix grpelem" id="pu13351-4"><!-- column -->
      <div class="clearfix colelem" id="u13351-4"><!-- content -->
       <p>One of the Oulahen Team members will get back to you as soon as possible with any real estate information you need. We value your inquiry and will take the time to consult with your needs.</p>
      </div>
      <form class="form-grp clearfix colelem" id="widgetu25844" method="post" enctype="multipart/form-data" action="scripts/form-u25844.php"><!-- group -->
       <div class="fld-grp clearfix grpelem" id="widgetu25852" data-required="true"><!-- group -->
        <label class="fld-label actAsDiv clearfix grpelem" id="u25854-4" for="widgetu25852_input"><!-- content -->
         <span class="actAsPara">Name:</span>
        </label>
        <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u25853-4" style="border:none;"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu25852_input" name="custom_U25852" tabindex="1"/><label class="wrapped-input fld-prompt" id="widgetu25852_prompt" for="widgetu25852_input"><span class="actAsPara">Your Name</span></label></span>
       </div>
       <div class="fld-grp clearfix grpelem" id="widgetu25846" data-required="true" data-type="email"><!-- group -->
        <label class="fld-label actAsDiv clearfix grpelem" id="u25847-4" for="widgetu25846_input"><!-- content -->
         <span class="actAsPara">Email:</span>
        </label>
        <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u25848-4" style="border:none;"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu25846_input" name="Email" tabindex="2"/><label class="wrapped-input fld-prompt" id="widgetu25846_prompt" for="widgetu25846_input"><span class="actAsPara">name@email.com</span></label></span>
       </div>
       <div class="clearfix grpelem" id="u25851-4"><!-- content -->
        <p>Submitting Form...</p>
       </div>
       <div class="clearfix grpelem" id="u25863-4"><!-- content -->
        <p>The server encountered an error.</p>
       </div>
       <div class="clearfix grpelem" id="u25857-4"><!-- content -->
        <p>Form received.</p>
       </div>
       <input class="submit-btn NoWrap grpelem" id="u25845-17" type="submit" value="" tabindex="5"/><!-- state-based BG images -->
       <div class="fld-grp clearfix grpelem" id="widgetu25858" data-required="true"><!-- group -->
        <label class="fld-label actAsDiv clearfix grpelem" id="u25861-4" for="widgetu25858_input"><!-- content -->
         <span class="actAsPara">Message:</span>
        </label>
        <span class="fld-textarea actAsDiv clearfix grpelem" id="u25859-4"><!-- content --><textarea class="wrapped-input" id="widgetu25858_input" name="custom_U25858" tabindex="4"></textarea><label class="wrapped-input fld-prompt" id="widgetu25858_prompt" for="widgetu25858_input"><span class="actAsPara">Add a brief message...</span></label></span>
       </div>
       <div class="fld-grp clearfix grpelem" id="widgetu25881" data-required="false"><!-- group -->
        <label class="fld-label actAsDiv clearfix grpelem" id="u25882-4" for="widgetu25881_input"><!-- content -->
         <span class="actAsPara">Phone Number</span>
        </label>
        <span class="fld-input NoWrap actAsDiv clearfix grpelem"  style="border:none;" id="u25884-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu25881_input" name="custom_U25881" tabindex="3"/><label class="wrapped-input fld-prompt" id="widgetu25881_prompt" for="widgetu25881_input"><span class="actAsPara">Enter Phone Number</span></label></span>
       </div>
      </form>
     </div>
     <div class="grpelem" id="u13496"><!-- media frame -->
      <object type="application/x-shockwave-flash" data="/images/panorama.swf" width="459.70393258426964" height="464.43662280701744" id="u13496_media">
       <param name="movie" value="/images/panorama.swf"/>
       <param name="quality" value="high"/>
       <param name="swfversion" value="6.0.65.0"/>
       <param name="wmode" value="transparent"/>
       <param name="expressinstall" value="Scripts/expressInstall.swf"/>
       <object type="application/x-shockwave-flash" data="/images/panorama.swf" width="459.70393258426964" height="464.43662280701744">
        <param name="quality" value="high"/>
        <param name="swfversion" value="6.0.65.0"/>
        <param name="wmode" value="transparent"/>
        <param name="expressinstall" value="Scripts/expressInstall.swf"/>
        <div>
         <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
         <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com//images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33"/></a></p>
        </div>
       </object>
      </object>
     </div>
    </div>