<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pslideshowu33114"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu33114"><!-- group -->
      <div class="popup_anchor" id="u33154popup">
       <div class="SlideShowContentPanel clearfix" id="u33154"><!-- stack box -->
        <div class="SSSlide grpelem" id="u33159"><!-- image -->
         <img class="block ImageInclude" id="u33159_img" data-src="/images/1-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33157"><!-- image -->
         <img class="block ImageInclude" id="u33157_img" data-src="/images/2-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33161"><!-- image -->
         <img class="block ImageInclude" id="u33161_img" data-src="/images/3-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33155"><!-- image -->
         <img class="block ImageInclude" id="u33155_img" data-src="/images/4-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33136popup">
       <div class="SSSlideLinks clearfix" id="u33136"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u33139"><!-- image -->
         <div id="u33139_clip">
          <img class="position_content" id="u33139_img" src="/images/1-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33141"><!-- image -->
         <div id="u33141_clip">
          <img class="position_content" id="u33141_img" src="/images/2-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33143"><!-- image -->
         <div id="u33143_clip">
          <img class="position_content" id="u33143_img" src="/images/3-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33137"><!-- image -->
         <div id="u33137_clip">
          <img class="position_content" id="u33137_img" src="/images/4-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33153-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u33153-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u33115-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u33115-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u33113-4"><!-- content -->
      <h1>GRAND TRIOMPHE</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u33111-4"><!-- content -->
     <h1>500 Doris Avenue</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u33110-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u33110-2">Yonge &amp; Finch</span></p></a>
    <div class="clearfix colelem" id="pu33163"><!-- group -->
     <div class="grpelem" id="u33163"><!-- custom html -->
      <iframe width="520" height="352" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=500+doris+avenue&amp;aq=&amp;sll=43.771931,-79.415038&amp;sspn=0.010955,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=500+Doris+Ave,+Toronto,+Toronto+Division,+Ontario+M2N&amp;t=m&amp;ll=43.782931,-79.41124&amp;spn=0.021812,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=500+doris+avenue&amp;aq=&amp;sll=43.771931,-79.415038&amp;sspn=0.010955,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=500+Doris+Ave,+Toronto,+Toronto+Division,+Ontario+M2N&amp;t=m&amp;ll=43.782931,-79.41124&amp;spn=0.021812,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u33112-24"><!-- content -->
      <p id="u33112-2">500 Doris Avenue</p>
      <p><span id="u33112-3">Built:</span>&nbsp;2009</p>
      <p><span id="u33112-6">Builder:</span>&nbsp;Tridel</p>
      <p><span id="u33112-9">Floors: </span><span id="u33112-10">30</span></p>
      <p><span id="u33112-12">Units: </span><span id="u33112-13">307</span></p>
      <p id="u33112-15">&nbsp;</p>
      <p><span id="u33112-16">Building Amenities:</span>&nbsp;Gym, Concierge, Meeting Room, Billards Lounge, Gold Centre, Theatre, Party Lounge, Indoor Pool, Suite Alarms, Included Parking.</p>
      <p id="u33112-19">&nbsp;</p>
      <p><span id="u33112-20">Builder's Description:</span>&nbsp;Located on Yonge Street, just south of Finch Avenue, Grand Triomphe is central to all of lifes essentials. Stroll past a diverse assortment of charming cafés, restaurants, shops and boutiques at your own European&#45;inspired retail promenade. Enjoy the shopping, theatres, services and excitement of Yonge Street. Walk to the Toronto Centre For The Performing Arts and Sheppard Centre. Or travel across the City via the Subway, Go Bus, 401 or 404. Moments from everything &#45; Grand Triomphe is at the heart of it all.</p>
     </div>
    </div>