<%= content_for :page_title, default_title('Helpful Tools') %>

<div class="gradient colelem" id="u16510"></div>



<div id="tab_menu">
  <div class="tab_item active">
    <p>HELPFUL TOOLS</p>
  </div>
</div>


<!--     <div class="clearfix colelem" id="u13935-4">
     <p>HELPFUL TOOLS</p>
    </div>
    <div class="colelem" id="u13936"></div> -->



    <div class="clearfix colelem" id="pu30634">
     <a class="nonblock nontext grpelem" id="u30634" href="mortgage-calculator.html"><!-- image --><img class="block" id="u30634_img" src="/images/mortgage-calculator.jpg" alt="" width="120" height="100"/></a>
     <a class="nonblock nontext grpelem" id="u30647" href="land-transfer-calculator.html"><!-- image --><img class="block" id="u30647_img" src="/images/land%20transfer%20tax_calculator.jpg" alt="" width="172" height="100"/></a>
    </div>
    <div class="clearfix colelem" id="pu32393-4">
     <a class="nonblock nontext clearfix grpelem" id="u32393-4" href="mortgage-calculator.html"><p>Mortgage Calculator</p></a>
     <a class="nonblock nontext clearfix grpelem" id="u32395-4" href="land-transfer-calculator.html"><p>Land Transfer Tax Calculator</p></a>
    </div>
    <div class="clearfix colelem" id="pu11231-4">
     <div class="clearfix grpelem" id="u11231-4">
      <p>Use this calculator to estimate the cost of your mortgage payment. Enter the asking price and the annual interest rate and the length of amortization (typically 25 years in Canada, but you could have a 5 or 10 year mortgage).</p>
     </div>
     <a class="nonblock nontext clearfix grpelem" id="u11233-4" href="land-transfer-calculator.html"><p>Calculate the land transfer tax in Toronto including Toronto and Ontario tax or see the difference as a first time buyer. Enter the purchase price and then click the box if you are first time buyer or buying in Toronto. If not leave them both blank.</p></a>
    </div>
    <div class="colelem" id="u11342"></div>
    <div class="clearfix colelem" id="u11239-4">
     <p>Links for Your Real Estate Search</p>
    </div>
    <div class="colelem" id="u11437"></div>
    <div class="clearfix colelem" id="pu15253">
     <div class="clearfix grpelem" id="u15253">
      <div class="clearfix grpelem" id="u15231"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u11300-4" href="http://www.remax.ca/" target="_blank"><p>Re/Max Resource Center</p></a>
       <div class="clearfix colelem" id="u11299-4">
        <p>Some helpful resources from Re/Max, including Re/Max’s Buyer’s Guide and Seller’s Guide.</p>
       </div>
      </div>
     </div>
     <div class="grpelem" id="u11594"></div>
     <div class="grpelem" id="u15276"></div>
     <div class="grpelem" id="u15271"></div>
     <div class="grpelem" id="u15274"></div>
     <div class="grpelem" id="u15267"></div>
     <div class="grpelem" id="u15275"></div>
     <div class="grpelem" id="u15305"></div>
     <div class="grpelem" id="u15270"></div>
     <a class="nonblock nontext grpelem" id="u11380" href="http://www.cmhc-schl.gc.ca/" target="_blank"><!-- image --><img class="block" id="u11380_img" src="/images/cmhc-logo.jpg" alt="" width="85" height="58"/></a>
     <div class="clearfix grpelem" id="u15302"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u11378-4" href="http://www.cmhc-schl.gc.ca/" target="_blank"><p>Canada Mortgage and Housing Corporation</p></a>
      <div class="clearfix colelem" id="u11370-4">
       <p>Canadian Mortgage information</p>
      </div>
     </div>
     <a class="nonblock nontext grpelem" id="u15093" href="http://www1.toronto.ca/wps/portal/contentonly?vgnextoid=3ea2ba2ae8b1e310VgnVCM10000071d60f89RCRD" target="_blank"><!-- image --><img class="block" id="u15093_img" src="/images/toronto_logogif.png" alt="" width="110" height="45"/></a>
     <div class="clearfix grpelem" id="u15300"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u11409-4" href="http://www1.toronto.ca/wps/portal/contentonly?vgnextoid=3ea2ba2ae8b1e310VgnVCM10000071d60f89RCRD" target="_blank"><p>Living in Toronto</p></a>
      <div class="clearfix colelem" id="u11402-4">
       <p>City of Toronto general information, park and recreation, water, utility, toronto transit etc.</p>
      </div>
     </div>
     <div class="clearfix grpelem" id="u15249">
      <a class="nonblock nontext grpelem" id="u15085" href="http://www.toronto.ca/planning/" target="_blank"><!-- image --><img class="block" id="u15085_img" src="/images/toronto_logogif.png" alt="" width="110" height="45"/></a>
      <div class="clearfix grpelem" id="pu11397-4"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u11397-4" href="http://www.toronto.ca/planning/" target="_blank"><p>Toronto Planning Department</p></a>
       <div class="clearfix colelem" id="u11398-4">
        <p>Toronto City Planning</p>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u15248">
      <a class="nonblock nontext grpelem" id="u15111" href="http://www.fct.ca/newhome.htm" target="_blank"><!-- image --><img class="block" id="u15111_img" src="/images/fctgif.png" alt="" width="100" height="68"/></a>
      <div class="clearfix grpelem" id="u15357"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u11410-4" href="http://www.fct.ca/newhome.htm" target="_blank"><p>Title Insurance</p></a>
       <div class="clearfix colelem" id="u11411-4">
        <p>Understanding Title Insurance in Ontario</p>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u15250">
      <a class="nonblock nontext grpelem" id="u15121" href="http://www.genworth.ca/en/index.aspx" target="_blank"><!-- image --><img class="block" id="u15121_img" src="/images/genworth_logogif.png" alt="" width="110" height="75"/></a>
      <div class="clearfix grpelem" id="u15355"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u11379-4" href="http://www.genworth.ca/en/index.aspx" target="_blank"><p>Genworth Financial</p></a>
       <div class="clearfix colelem" id="u11377-4">
        <p>More information on Mortgages</p>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u15251">
      <a class="nonblock nontext grpelem" id="u15131" href="http://www.google.ca/maps" target="_blank"><!-- image --><img class="block" id="u15131_img" src="/images/google_logo-u15131.jpg" alt="" width="75" height="69"/></a>
      <div class="clearfix grpelem" id="u15353"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u11352-4" href="http://www.google.ca/maps" target="_blank"><p>Google Maps</p></a>
       <div class="clearfix colelem" id="u11344-4">
        <p>A great tool for mapping property and planning routes.</p>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u15254">
      <a class="nonblock nontext grpelem" id="u15136" href="http://www.canadapost.ca/cpc2/addrm/hh/maps/FSA/on20.pdf" target="_blank"><!-- image --><img class="block" id="u15136_img" src="/images/gtamap_logogif.png" alt="" width="110" height="75"/></a>
      <div class="clearfix grpelem" id="u15230"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u11283-4" href="http://www.canadapost.ca/cpc2/addrm/hh/maps/FSA/on20.pdf" target="_blank"><p>Toronto Postal Code Map</p></a>
       <div class="clearfix colelem" id="u11284-4">
        <p>Narrow down your search with the use of postal codes.</p>
       </div>
      </div>
     </div>
     <a class="nonblock nontext grpelem" id="u15141" href="http://www.hgstagingandredesign.com/" target="_blank"><!-- image --><img class="block" id="u15141_img" src="/images/hg_logogif-u15141.jpg" alt="" width="110" height="55"/></a>
     <div class="clearfix grpelem" id="u15359"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u11414-4" href="http://www.hgstagingandredesign.com/" target="_blank"><p>HG Staging and reDesign</p></a>
      <div class="clearfix colelem" id="u11415-4">
       <p>Hendrik Glastra has helped us stage several of our listings. Visit his site for his Before and After gallery.</p>
      </div>
     </div>
     <a class="nonblock nontext grpelem" id="u15156" href="http://www.toronto.ca/demographics/profiles_map_and_index.htm" target="_blank"><!-- image --><img class="block" id="u15156_img" src="/images/neighbourhoodmaps_logogif.png" alt="" width="110" height="75"/></a>
     <div class="clearfix grpelem" id="u32391">
      <a class="nonblock nontext grpelem" id="u15151" href="http://www.homezilla.ca/" target="_blank"><!-- image --><img class="block" id="u15151_img" src="/images/homezilla_logogif-u15151.jpg" alt="" width="71" height="73"/></a>
      <div class="clearfix grpelem" id="u15360"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u11351-4" rhef="http://www.homezilla.ca/" target="_blank"><p>Homezilla</p></a>
       <div class="clearfix colelem" id="u11343-4">
        <p>A search engine that allows you to search an address and find the nearby schools, restaurants, grocery stores and more in the neighbourhood.</p>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u15301"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u11396-4" href="http://www.toronto.ca/demographics/profiles_map_and_index.htm" target="_blank"><p>Toronto Neighbourhood Demographics</p></a>
      <div class="clearfix colelem" id="u11392-4">
       <p>Toronto neighbourhood demographic maps</p>
      </div>
     </div>
     <a class="nonblock nontext clearfix grpelem" id="u11292-4" href="http://www.howrealtorshelp.ca/" target="_blank"><p>How REALTORS Help</p></a>
     <div class="clearfix grpelem" id="u11291-4">
      <p>A handy site with resources for Buyers and Sellers.</p>
     </div>
     <a class="nonblock nontext clearfix grpelem" id="u15166" href="http://www.howrealtorshelp.ca/" target="_blank"><!-- image --><div id="u15166_clip"><img class="position_content" id="u15166_img" src="/images/howrealtorshelp_logogif.png" alt="" width="102" height="70"/></div></a>
     <a class="nonblock nontext grpelem" id="u15169" href="http://www.insidetoronto.com/toronto/" target="_blank"><!-- image --><img class="block" id="u15169_img" src="/images/insidetoronto_logogif.png" alt="" width="110" height="75"/></a>
     <div class="clearfix grpelem" id="u15298"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u11430-4" href="http://www.insidetoronto.com/toronto/" target="_blank"><p>Inside Toronto</p></a>
      <div class="clearfix colelem" id="u11422-4">
       <p>Toronto Updates</p>
      </div>
     </div>
     <div class="clearfix grpelem" id="u15245">
      <a class="nonblock nontext grpelem" id="u15194" href="http://www.silentfloor.ca/" target="_blank"><!-- image --><img class="block" id="u15194_img" src="/images/silentfloor_logogif.png" alt="" width="110" height="75"/></a>
      <div class="clearfix grpelem" id="u15361"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u11436-4" href="http://www.silentfloor.ca/" target="_blank"><p>Silent Floor Solutions</p></a>
       <div class="clearfix colelem" id="u11432-4">
        <p>A company that specializes in the restoration of &quot;silence&quot; in hardwood, parquet, laminate, or carpeted flooring.</p>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u15252">
      <a class="nonblock nontext grpelem" id="u15209" href="http://www.tcdsb.org/FORPARENTS/AdmissionsandRegistration/Pages/CommunitySchoolLocator.aspx" target="_blank"><!-- image --><img class="block" id="u15209_img" src="/images/tcdsb_logogif-u15209.jpg" alt="" width="77" height="75"/></a>
      <div class="clearfix grpelem" id="u15232"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u11329-4" href="http://www.tcdsb.org/FORPARENTS/AdmissionsandRegistration/Pages/CommunitySchoolLocator.aspx" target="_blank"><p>TCDSB School Locator</p></a>
       <div class="clearfix colelem" id="u11321-4">
        <p>Search for Toronto Catholic schools in your neighbourhood.</p>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u15233"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u11328-4" href="http://www.tdsb.on.ca/" target="_blank"><p>TDSB Street Guide</p></a>
      <div class="clearfix colelem" id="u11320-4">
       <p>This site lets you search for the Toronto District public schools in your residential area.</p>
      </div>
     </div>
     <div class="clearfix grpelem" id="u15229"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u11281-4" href="http://www.realtor.ca/splash.aspx" target="_blank"><p>Multiple Listing Server (MLS)</p></a>
      <div class="clearfix colelem" id="u11282-4">
       <p>The go&#45;to internet research tool for searching for homes in Ontario.</p>
      </div>
     </div>
     <a class="nonblock nontext grpelem" id="u15219" href="http://www.realtor.ca/splash.aspx" target="_blank"><!-- image --><img class="block" id="u15219_img" src="/images/mls_logogif.png" alt="" width="95" height="65"/></a>
     <a class="nonblock nontext grpelem" id="u15224" href="http://www.pillartopost.com/" target="_blank"><!-- image --><img class="block" id="u15224_img" src="/images/pillarpost_logogif.png" alt="" width="110" height="75"/></a>
     <div class="clearfix grpelem" id="u15299"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u11413-4" href="http://www.pillartopost.com/" target="_blank"><p>Pillar to Post Home Inspectors</p></a>
      <div class="clearfix colelem" id="u11412-4">
       <p>One of the home inspection companies that the Oulahen Team uses regularly. Includes a handy cost guide for home repairs and upgrades.</p>
      </div>
     </div>
     <div class="grpelem" id="u15303"></div>
     <a class="nonblock nontext grpelem" id="u15316" href="http://www.remax.ca/" target="_blank"><!-- image --><img class="block" id="u15316_img" src="/images/remax_logogif.png" alt="" width="110" height="75"/></a>
     <div class="grpelem" id="u31572"><!-- image -->
      <img class="block" id="u31572_img" src="/images/tdsb_logogif.png" alt="" width="110" height="75"/>
     </div>
    </div>