<%= content_for :page_title, default_title('In The News') %>

<div class="gradient colelem" id="u16510"></div>
    <div class="clearfix colelem" id="pu11090-4">
<!--      <div class="clearfix grpelem" id="u11090-4">
      <p>NEWS &amp; PUBLICATIONS</p>
     </div>
    
     <div class="grpelem" id="u12039"></div> -->
     <%= render 'pages/shared/submenu_tabs' %>
    </div>
 
     <div class="clearfix colelem" id="u29512">
     <div class="clearfix grpelem" id="u12012-4">
      <p>01</p>
     </div>
     <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/willowdale-townhouse-packed-with-perks-sells-quickly/article22040610/" target="_blank"><p class="News-Title2">&quot; Willowdale townhouse packed with perks sells quickly &quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail December 2014</p></a>
      <div class="clearfix colelem" id="u29508-4">
       <p>Willowdale is home to various townhouses, from stacked suites to traditional freeholds, so this three-storey unit’s mix of a low-rise layout with condominium conveniences brought out nearly two dozen buyers and an offer by the 10th day of exposure ....</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/willowdale-townhouse-packed-with-perks-sells-quickly/article22040610/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
     </div>
    </div>
     

     <div class="clearfix colelem" id="u29512">
     <div class="clearfix grpelem" id="u12012-4">
      <p>02</p>
     </div>
     <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/humber-valley-village-home-draws-two-strong-bids/article21138232/" target="_blank"><p class="News-Title2">&quot; Humber Valley Village home draws two strong bids &quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail October 2014</p></a>
      <div class="clearfix colelem" id="u29508-4">
       <p>On a street roughly equidistant from Islington and Lambton golf courses in Humber Valley Village, this four-level sidesplit was crammed full with buyers at two open houses....</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/humber-valley-village-home-draws-two-strong-bids/article21138232/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
     </div>
    </div>
    
     
     <div class="clearfix colelem" id="u29512">
     <div class="clearfix grpelem" id="u12012-4">
      <p>03</p>
     </div>
     <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/corner-lot-helps-scarborough-bungalow-stand-out/article21137672/" target="_blank"><p class="News-Title2">&quot; Corner lot helps Scarborough bungalow stand out  &quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail October 2014</p></a>
      <div class="clearfix colelem" id="u29508-4">
       <p> Initially a builder’s own home, this detached bungalow on a 43-by-120-foot corner lot in Scarborough captured the attention of more than 50 buyers who booked private showings and another 200 curious open house attendees...</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/corner-lot-helps-scarborough-bungalow-stand-out/article21137672/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
     </div>
    </div>
    

     <div class="clearfix colelem" id="u29512">
     <div class="clearfix grpelem" id="u12012-4">
      <p>04</p>
     </div>
     <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/rare-north-york-townhouse-draws-pair-of-bids/article20891299/" target="_blank"><p class="News-Title2">&quot; Rare North York townhouse draws pair of bids &quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail October 2014</p></a>
      <div class="clearfix colelem" id="u29508-4">
       <p>There are several residential high-rises that rise up along Yonge Street, just north of Highway 401, so this three-storey unit at the Carriage Homes of Avondale...</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/rare-north-york-townhouse-draws-pair-of-bids/article20891299/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
     </div>
    </div>


    <div class="clearfix colelem" id="u29512">
     <div class="clearfix grpelem" id="u12012-4">
      <p>05</p>
     </div>
     <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/life-video/video-done-deals/article20824114/" target="_blank"><p class="News-Title2">&quot; Condo near Eglinton LRT line sells over asking in three days&quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail September 2014</p></a>
      <div class="clearfix colelem" id="u29508-4">
       <p>Mark Oulahen of The Oulahen Team and a very lovely condo that we helped sell were featured in The Globe and Mail's Done Deal Video section! Looking good!...</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/life-video/video-done-deals/article20824114/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
     </div>
    </div>


    <div class="clearfix colelem" id="u29512">
     <div class="clearfix grpelem" id="u12012-4">
      <p>06</p>
     </div>
     <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/king-west-seller-rewarded-after-holding-out-for-better-offer/article20797264/" target="_blank"><p class="News-Title2">&quot;King West seller rewarded after holding out for better offer&quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail September 2014</p></a>
      <div class="clearfix colelem" id="u29508-4">
       <p>Tridel’s Reve building is primarily a collection of modern suites, but this one-bedroom-plus-den residence has its own ground-level entrance, which appealed to 30 shoppers who booked private showings...</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/king-west-seller-rewarded-after-holding-out-for-better-offer/article20797264/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
     </div>
    </div>


    <div class="clearfix colelem" id="u29512">
     <div class="clearfix grpelem" id="u12012-4">
      <p>07</p>
     </div>
     <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/richmond-hill-home-goes-115100-over-asking/article18921787/" target="_blank"><p class="News-Title2">&quot;Richmond Hill home goes $115,100 over-asking&quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail May 2014</p></a>
      <div class="clearfix colelem" id="u29508-4">
       <p>This section of Richmond Hill is infamous for bidding wars, so this detached, brick residence near a renovated park, school and transit racked up 50 showings and a busy open house...</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/richmond-hill-home-goes-115100-over-asking/article18921787/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
     </div>
    </div>

    

    <div class="clearfix colelem" id="u29512">
     <div class="clearfix grpelem" id="u12012-4">
      <p>08</p>
     </div>
     <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/change-of-plans-puts-house-back-on-the-market/article18567681/" target="_blank"><p class="News-Title2">&quot;Change of plans puts house back on the market&quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail May 2014</p></a>
      <div class="clearfix colelem" id="u29508-4">
       <p>But the buyer had a change of plans so the four-bedroom property was listed again with the Oulahens, who were armed with extensive marketing tools, including brochures, open houses and a strong social media presence</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/change-of-plans-puts-house-back-on-the-market/article18567681/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
     </div>
    </div>


     
     <div class="clearfix colelem" id="u29512">
      <div class="clearfix grpelem" id="u12012-4">
       <p>09</p>
      </div>
      <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/don-mills-bungalow-in-the-sky-sells-under-asking/article18916004/" target="_blank"><p class="News-Title2">&quot;Don Mills ‘bungalow in the sky’ sells under asking &quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail May 2014</p></a>
       <div class="clearfix colelem" id="u29508-4">
        <p>In the south tower of the Highgate community, this 1,883-square-foot suite has south and west-facing windows illuminating the open living and dining area...</p>
       </div>
       <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/don-mills-bungalow-in-the-sky-sells-under-asking/article18916004/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
      </div>
     </div>



     <div class="clearfix colelem" id="u29512">
      <div class="clearfix grpelem" id="u12012-4">
       <p>10</p>
      </div>
      <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/no-pets-policy-kills-first-deal-for-mississauga-condo/article18363432/" target="_blank"><p class="News-Title2">&quot;No pets policy kills first deal for Mississauga condo&quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail May 2014</p></a>
       <div class="clearfix colelem" id="u29508-4">
        <p>The first time the Oulahen family sold this two-bedroom suite in the Aspen Grove complex, the buyers backed out after discovering the no-pet policy...</p>
       </div>
       <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/no-pets-policy-kills-first-deal-for-mississauga-condo/article18363432/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
      </div>
     </div>


      <div class="clearfix colelem" id="u29512">
      <div class="clearfix grpelem" id="u12012-4">
       <p>11</p>
      </div>
      <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/brampton-townhouse-sells-under-asking-but-still-sets-record-for-the-area/article17790911/" target="_blank"><p class="News-Title2">&quot;Brampton townhouse sells under asking, but still sets record for the area&quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail April 2014</p></a>
       <div class="clearfix colelem" id="u29508-4">
        <p>In a growing townhouse community in Brampton, this two-storey, end unit logged 50 showings late last year. Though it sold for nearly $10,000 shy of its $409,900 list price...</p>
       </div>
       <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/brampton-townhouse-sells-under-asking-but-still-sets-record-for-the-area/article17790911/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
      </div>
     </div>


      <div class="clearfix colelem" id="u29512">
      <div class="clearfix grpelem" id="u12012-4">
       <p>12</p>
      </div>
      <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/north-york-townhouse-sells-over-asking-in-just-48-hours/article17695634/" target="_blank"><p class="News-Title2">&quot;North York townhouse sells over asking in just 48 hours &quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail March 2014</p></a>
       <div class="clearfix colelem" id="u29508-4">
        <p>Five to ten townhouses may come up for sale annually in the Carriage Homes of Avondale community in North York, so this four-bedroom unit swiftly scored two offers after more than a dozen were steered through...</p>
       </div>
       <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/north-york-townhouse-sells-over-asking-in-just-48-hours/article17695634/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
      </div>
     </div>


     <div class="clearfix colelem" id="u29512">
      <div class="clearfix grpelem" id="u12012-4">
       <p>13</p>
      </div>
      <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/affordability-drives-newmarket-home-sale/article15347524/" target="_blank"><p class="News-Title2">&quot;Affordability drives Newmarket home sale&quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail November 2013</p></a>
       <div class="clearfix colelem" id="u29508-4">
        <p>This detached, 11/2 storey residence is one of the more affordable properties in the community just south of the Newmarket Cemetery. It drew more than a dozen buyers to its door and a viable offer in a few days rather than a few weeks or months, which is typically needed for the sale of properties nearby....</p>
       </div>
       <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/affordability-drives-newmarket-home-sale/article15347524/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
      </div>
     </div>


     <div class="clearfix colelem" id="u29512">
      <div class="clearfix grpelem" id="u12012-4">
       <p>14</p>
      </div>
      <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/renovation-helps-set-oakdale-bungalow-semi-apart/article15457189/" target="_blank"><p class="News-Title2">&quot;Renovation helps set Oakdale bungalow semi apart&quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail November 2013</p></a>
       <div class="clearfix colelem" id="u29508-4">
        <p>In the residential pocket abutting the Oakdale Golf and Country Club, several properties were listed for sale. But the pastoral setting of this semi-detached bungalow at the end of the street and backing onto manicured greens ensured a quick sale following an open house and 20 private showings....</p>
       </div>
       <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/renovation-helps-set-oakdale-bungalow-semi-apart/article15457189/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
      </div>
     </div>


     <div class="clearfix colelem" id="u29512">
      <div class="clearfix grpelem" id="u12012-4">
       <p>15</p>
      </div>
      <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/toronto-highway-highrise-makes-the-most-of-the-view/article15074389/" target="_blank"><p class="News-Title2">&quot;Toronto highway high rise makes the most of the view&quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail October 2013</p></a>
       <div class="clearfix colelem" id="u29508-4">
        <p>In the cluster of high-rises hugging Yonge Street and Highway 401, several suites were available this summer, including this two-bedroom-plus-den unit at the Skymark Centre at Avondale. It sold in a timely fashion after more than two dozen buyers were steered through....</p>
       </div>
       <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/toronto-highway-highrise-makes-the-most-of-the-view/article15074389/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
      </div>
     </div>


     <div class="clearfix colelem" id="u29512">
      <div class="clearfix grpelem" id="u12012-4">
       <p>16</p>
      </div>
      <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/competition-trims-sale-price-for-north-york-home/article14796248/" target="_blank"><p class="News-Title2">&quot;Competition trims sale price for North York home&quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail October 2013</p></a>
       <div class="clearfix colelem" id="u29508-4">
        <p>In the cluster of high-rises hugging Yonge Street and Highway 401, several suites were available this summer, including this two-bedroom-plus-den unit at the Skymark Centre at Avondale. It sold in a timely fashion after more than two dozen buyers were steered through....</p>
       </div>
       <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/competition-trims-sale-price-for-north-york-home/article14796248/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
      </div>
     </div>


     <div class="clearfix colelem" id="u29512">
      <div class="clearfix grpelem" id="u12012-4">
       <p>17</p>
      </div>
      <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/toronto-bungalow-sellers-hold-out-for-top-dollar/article14407716/" target="_blank"><p class="News-Title2">&quot;Toronto bungalow sellers hold out for top dollar&quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail September 2013</p></a>
       <div class="clearfix colelem" id="u29508-4">
        <p>Around the corner from Earl Haig Secondary School, which has a coveted arts program, this detached, brick bungalow scored over two dozen visitors and fielded several offers throughout the month. But the sellers stood firm on signing a deal only for the full list price....</p>
       </div>
       <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/toronto-bungalow-sellers-hold-out-for-top-dollar/article14407716/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
      </div>
     </div>


     <div class="clearfix colelem" id="u29512">
      <div class="clearfix grpelem" id="u12012-4">
       <p>18</p>
      </div>
      <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/good-transit-links-help-north-york-condo-sale/article14407840/" target="_blank"><p class="News-Title2">&quot;Good transit links help North York condo sale&quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail September 2013</p></a>
       <div class="clearfix colelem" id="u29508-4">
        <p>Less than a 10-minute walk south of Finch subway station in a cluster of high-rise condominiums, this one-bedroom unit at the Grand Triomphe 2 was lined up with about 20 showings prior to receiving a viable offer....</p>
       </div>
       <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/good-transit-links-help-north-york-condo-sale/article14407840/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
      </div>
     </div>


     <div class="clearfix colelem" id="u29512">
      <div class="clearfix grpelem" id="u12012-4">
       <p>19</p>
      </div>
      <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/quick-sale-for-small-modern-condo/article12712379/" target="_blank"><p class="News-Title2">&quot;Quick sale for small modern condo&quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail June 2013</p></a>
       <div class="clearfix colelem" id="u29508-4">
        <p>Just a block west of Yonge Street shops and businesses, this one-bedroom suite at Dia Condominiums only needed to open its doors to 10 buyers as one visitor negotiated a price within days....</p>
       </div>
       <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/quick-sale-for-small-modern-condo/article12712379/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
      </div>
     </div>


      <div class="clearfix colelem" id="u29512">
      <div class="clearfix grpelem" id="u12012-4">
       <p>20</p>
      </div>
      <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/six-bids-in-one-day-for-classic-don-mills-home/article12508875/" target="_blank"><p class="News-Title2">&quot;Six bids in one day for classic Don Mills home&quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail June 2013</p></a>
       <div class="clearfix colelem" id="u29508-4">
        <p>In a residential community home to the Peanut Plaza, Fairview Mall and Don Mills subway station, this detached residence was virtually off limits to the owners with buyers clamouring through its doors as soon as it was listed. Offers were accepted at any time, so six buyers promptly presented their highest price within 24 hours....</p>
       </div>
       <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/six-bids-in-one-day-for-classic-don-mills-home/article12508875/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
      </div>
     </div>


       <div class="clearfix colelem" id="u29512">
      <div class="clearfix grpelem" id="u12012-4">
       <p>21</p>
      </div>
      <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/not-your-average-toronto-condo-sells-close-to-asking/article12125175/" target="_blank"><p class="News-Title2">&quot;‘Not your average’ Toronto condo sells close to asking&quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail May 2013</p></a>
       <div class="clearfix colelem" id="u29508-4">
        <p>Across from Edithvale Community Centre and Park in North York, this two-storey condominium townhouse in the Chelsea Gate complex sold for close to list price after recording more than 50 visitors either arranging private showings or taking a tour during an open house....</p>
       </div>
       <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/not-your-average-toronto-condo-sells-close-to-asking/article12125175/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
      </div>
     </div>


      <div class="clearfix colelem" id="u29512">
     <div class="clearfix grpelem" id="u12012-4">
      <p>22</p>
     </div>
     <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u29507-6" href="/pdfs/Condo Voice Article_Smallersize.pdf" target="_blank"><p class="News-Title2">&quot;The New Face of Yonge and Sheppard&quot;</p><p class="Publication-name-2" id="u29507-4">Condo Voice Summer 2013</p></a>
      <div class="clearfix colelem" id="u29508-4">
       <p>The corner of Yonge and Sheppard will be the next destination for people in 2014. In the coming years this area will become a landmark stop with the new Hullmark Centre and Emerald Park Condos...</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u29509-5" href="/pdfs/Condo Voice Article_Smallersize.pdf"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
     </div>
    </div>



    <div class="clearfix colelem" id="u29521"><!-- column -->
     <div class="clearfix colelem" id="u29513">
      <div class="clearfix grpelem" id="u12082-4">
       <p>23</p>
      </div>
      <div class="clearfix grpelem" id="pu12025-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u12025-6" href="http://life.nationalpost.com/2012/03/30/street-smarts-i-love-north-york-torontos-second-downtown/" target="_blank"><p class="News-Title2">&quot;Street Smarts: I love North York, Toronto's 'second downtown'&quot;</p><p class="Publication-name-2" id="u12025-4">&nbsp;National Post March 2012</p></a>
       <div class="clearfix colelem" id="u12050-4">
        <p>Toronto has a love affair with the condo, with 28,466 new&#45;build units purchased in 2011. Thousands more are planned. Suite size, price, amenities and architecture are important, but more and more, a building’s neighbourhood is being considered the ultimate draw..</p>
       </div>
      </div>
     </div>
     <a class="nonblock nontext clearfix colelem" id="u12051-5" href="http://life.nationalpost.com/2012/03/30/street-smarts-i-love-north-york-torontos-second-downtown/" target="_blank"><p>&nbsp; <span id="u12051-2">Read More</span></p></a>
    </div>



    <div class="clearfix colelem" id="u29514">
     <div class="clearfix grpelem" id="u12083-4">
      <p>24</p>
     </div>
     <div class="clearfix grpelem" id="pu12045"><!-- column -->
      <div class="clearfix colelem" id="u12045">
       <a class="nonblock nontext clearfix grpelem" id="u12026-6" href="http://life.nationalpost.com/2012/03/30/street-smarts-new-in-north-york/" target="_blank"><p class="News-Title2" id="u12026-2">&quot;Street Smarts: New in North York&quot;</p><p class="Publication-name-2">&nbsp;National Post March 2012</p></a>
      </div>
      <div class="clearfix colelem" id="u12056-4">
       <p>Jeff and Mark Oulahen grew up near Yonge and Sheppard, went to the local public schools, and spent their teenage years watching construction crews build condominiums and movie theatres. Today, the brothers spend hours working and playing just steps from their homes...</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u12076-5" href="http://life.nationalpost.com/2012/03/30/street-smarts-new-in-north-york/" target="_blank"><p>&nbsp; <span id="u12076-2">Read More</span></p></a>
     </div>
    </div>



    <div class="clearfix colelem" id="u29515">
     <div class="clearfix grpelem" id="u12084-4">
      <p>25</p>
     </div>
     <div class="clearfix grpelem" id="pu12027-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u12027-6" href="http://www.thestar.com/about/yourhome.html" target="_blank"><p class="News-Title2">&quot;What They Got, August 26&quot;</p><p class="Publication-name-2">&nbsp;Toronto Star August 2011</p></a>
      <div class="clearfix colelem" id="pu12063-4">
       <div class="clearfix grpelem" id="u12063-4">
        <p>Home and Décor tips, DIY tricks and everything to do with Outdoor Living...</p>
       </div>
       <a class="nonblock nontext clearfix grpelem" id="u12064-5" href="http://www.thestar.com/about/yourhome.html"><p>&nbsp;&nbsp; <span id="u12064-2">Read More</span></p></a>
      </div>
     </div>
    </div>



    <div class="clearfix colelem" id="u29516">
     <div class="clearfix grpelem" id="u12085-4">
      <p>26</p>
     </div>
     <div class="clearfix grpelem" id="pu12028-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u12028-6" href="http://www.nationalpost.com/related/topics/North+York+then/4225371/story.html" target="_blank"><p class="News-Title2">&quot;North York, then and now&quot;</p><p class="Publication-name-2">&nbsp;National Post February 2011</p></a>
      <div class="clearfix colelem" id="u12086-4">
       <p>Paul Oulahen moved into the Yonge&#45;Sheppard area of North York in 1959. As a youngster, he and his friends shopped at Northtown Plaza and Dempsey’s Hardware, hung out at the Willow Theatre and Mitchell Field’s outdoor rink, and collected chestnuts from the bountiful trees along Yonge Street. There were no buildings taller than three storeys, and nobody knew what a high&#45;rise condominium meant...</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u12087-5" href="http://www.nationalpost.com/related/topics/North+York+then/4225371/story.html"><p>&nbsp;&nbsp; <span id="u12087-2">Read More</span></p></a>
     </div>
    </div>



    <div class="clearfix colelem" id="u29517">
     <div class="clearfix grpelem" id="u12090-4">
      <p>27</p>
     </div>
     <div class="clearfix grpelem" id="pu12029-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u12029-6" href="http://www.snapnorthyork.com/index.php?option=com_sngevents&amp;id%5B%5D=193869" target="_blank"><p class="News-Title2">&quot;The Oulahen Team in the Community&quot;</p><p class="Publication-name-2">&nbsp;Snap North York</p></a>
      <div class="clearfix colelem" id="u12088-4">
       <p>Avondale Community Condominium Association held the 7th annual BBQ in their beautiful park, located right in the centre of the community. This year’s celebration was packed with things to do for all ages. It featured magic shows, face painting and morning fitness sessions...</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u12089-5" href="http://www.snapnorthyork.com/index.php?option=com_sngevents&amp;id%5B%5D=193869" target="_blank"><p>&nbsp; <span id="u12089-2">Read More</span></p></a>
     </div>
    </div>



    <div class="clearfix colelem" id="u29518">
     <div class="clearfix grpelem" id="u12094-4">
      <p>28</p>
     </div>
     <div class="clearfix grpelem" id="pu12035-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u12035-6" href="/pdfs/7_news.pdf" target="_blank"><p class="News-Title2">&quot;2009 Top Winners!&quot;</p><p class="Publication-name-2">&nbsp;Re/Max</p></a>
      <div class="clearfix colelem" id="u12067-4">
       <p>It is with great pleasure that we take this opportunity to congratulate you on your tremendous sales achievements for 2009...</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u12091-5" href="/pdfs/7_news.pdf"><p>&nbsp; <span id="u12091-2">Read More</span></p></a>
     </div>
    </div>



    <div class="clearfix colelem" id="u29519"><!-- column -->
     <div class="clearfix colelem" id="pu12093-4">
      <div class="clearfix grpelem" id="u12093-4">
       <p>29</p>
      </div>
      <a class="nonblock nontext clearfix grpelem" id="u12034-6" href="/pdfs/8_news.pdf" target="_blank"><p class="News-Title2">&quot;Don't miss out on buying into Condoville&#45;&#45; this prime spot is smokin'&quot;</p><p class="Publication-name-2">&nbsp;National Post September 2008</p></a>
     </div>
     <div class="clearfix colelem" id="u12095-4">
      <p>The original houses east and west of Yonge Street are being snapped up quickly, mostly by developers who know their market. According to Mr. Oulahen, they're splitting 60&#45;and 70&#45;ft. lots in half to get twice as much bang for the buck. Smaller developers are willing to pay more than $600,000 for land value alone...</p>
     </div>
     <a class="nonblock nontext clearfix colelem" id="u12096-5" href="/pdfs/8_news.pdf"><p>&nbsp; <span id="u12096-2">Read More</span></p></a>
    </div>



    <div class="clearfix colelem" id="u29520"><!-- column -->
     <div class="clearfix colelem" id="pu22657">
      <div class="clearfix grpelem" id="u22657">
       <div class="clearfix grpelem" id="u12092-4">
        <p>30</p>
       </div>
      </div>
      <a class="nonblock nontext clearfix grpelem" id="u12033-6" href="/pdfs/9_news.pdf" target="_blank"><p class="News-Title2">&quot;Top Agent Spotlight: The Oulahens Family Business, Family Values&quot;</p><p class="Publication-name-2">&nbsp;Re/Max News Article</p></a>
     </div>
     <div class="clearfix colelem" id="u12098-4">
      <p>Since joining Re/Max Realtronin 2001, the Oulahen Team has consistently ranked in the Top 100 Agents for Re/Max Canada. They’ve also won numerous awards and established themselves as prominent figures in the Yonge/Sheppard neighbourhood...</p>
     </div>
     <a class="nonblock nontext clearfix colelem" id="u12097-5" href="/pdfs/9_news.pdf"><p>&nbsp; <span id="u12097-2">Read More</span></p></a>
    </div>



    <div class="clearfix colelem" id="u29502"><!-- column -->
     <div class="clearfix colelem" id="pu29505-4">
      <div class="clearfix grpelem" id="u29505-4">
       <p>31</p>
      </div>
      <a class="nonblock nontext clearfix grpelem" id="u29506-6" href="/pdfs/10_news.pdf" target="_blank"><p class="News-Title2">&quot;This Team Treats Your Home As If It Were Their Own!&quot;</p><p class="Publication-name-2">&nbsp;Profiles of Success Magazine</p></a>
     </div>
     <div class="clearfix colelem" id="u29503-4">
      <p>Confident, caring and committed...that's the Oulahens. Five years ago, this husband, wife and son chose to combine their 35 years of experience and work together as a team in real estate, bringing their unique talents together to provide exceptional service to clients.</p>
     </div>
     <a class="nonblock nontext clearfix colelem" id="u29504-5" href="/pdfs/10_news.pdf"><p>&nbsp; <span id="u29504-2">Read More</span></p></a>
    </div>