<%= content_for :page_title, default_title('In The News') %>

<div class="gradient colelem" id="u16510"></div>
    <div class="clearfix colelem" id="pu11090-4">
<!--      <div class="clearfix grpelem" id="u11090-4">
      <p>NEWS &amp; PUBLICATIONS</p>
     </div>
    
     <div class="grpelem" id="u12039"></div> -->
     <%= render 'pages/shared/submenu_tabs' %>
    </div>


    <div class="clearfix colelem" id="u29512">
     <div class="clearfix grpelem" id="u12012-4">
      <p>01</p>
     </div>
     <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u29507-6" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/change-of-plans-puts-house-back-on-the-market/article18567681/" target="_blank"><p class="News-Title2">&quot;Change of plans puts house back on the market&quot;</p><p class="Publication-name-2" id="u29507-4">Globe and Mail May 2014</p></a>
      <div class="clearfix colelem" id="u29508-4">
       <p>But the buyer had a change of plans so the four-bedroom property was listed again with the Oulahens, who were armed with extensive marketing tools, including brochures, open houses and a strong social media presence</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u29509-5" href="http://www.theglobeandmail.com/life/home-and-garden/real-estate/change-of-plans-puts-house-back-on-the-market/article18567681/"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
     </div>
    </div>


    <div class="clearfix colelem" id="u29512">
     <div class="clearfix grpelem" id="u12012-4">
      <p>02</p>
     </div>
     <div class="clearfix grpelem" id="pu29507-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u29507-6" href="/pdfs/Condo Voice Article_Smallersize.pdf" target="_blank"><p class="News-Title2">&quot;The New Face of Yonge and Sheppard&quot;</p><p class="Publication-name-2" id="u29507-4">Condo Voice Summer 2013</p></a>
      <div class="clearfix colelem" id="u29508-4">
       <p>The corner of Yonge and Sheppard will be the next destination for people in 2014. In the coming years this area will become a landmark stop with the new Hullmark Centre and Emerald Park Condos...</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u29509-5" href="assets/1_news.pdf"><p>&nbsp; <span id="u29509-2">Read More</span></p></a>
     </div>
    </div>



    <div class="clearfix colelem" id="u29521"><!-- column -->
     <div class="clearfix colelem" id="u29513">
      <div class="clearfix grpelem" id="u12082-4">
       <p>03</p>
      </div>
      <div class="clearfix grpelem" id="pu12025-6"><!-- column -->
       <a class="nonblock nontext clearfix colelem" id="u12025-6" href="http://life.nationalpost.com/2012/03/30/street-smarts-i-love-north-york-torontos-second-downtown/" target="_blank"><p class="News-Title2">&quot;Street Smarts: I love North York, Toronto's 'second downtown'&quot;</p><p class="Publication-name-2" id="u12025-4">&nbsp;National Post March 2012</p></a>
       <div class="clearfix colelem" id="u12050-4">
        <p>Toronto has a love affair with the condo, with 28,466 new&#45;build units purchased in 2011. Thousands more are planned. Suite size, price, amenities and architecture are important, but more and more, a building’s neighbourhood is being considered the ultimate draw..</p>
       </div>
      </div>
     </div>
     <a class="nonblock nontext clearfix colelem" id="u12051-5" href="http://life.nationalpost.com/2012/03/30/street-smarts-i-love-north-york-torontos-second-downtown/" target="_blank"><p>&nbsp; <span id="u12051-2">Read More</span></p></a>
    </div>



    <div class="clearfix colelem" id="u29514">
     <div class="clearfix grpelem" id="u12083-4">
      <p>04</p>
     </div>
     <div class="clearfix grpelem" id="pu12045"><!-- column -->
      <div class="clearfix colelem" id="u12045">
       <a class="nonblock nontext clearfix grpelem" id="u12026-6" href="http://life.nationalpost.com/2012/03/30/street-smarts-new-in-north-york/" target="_blank"><p class="News-Title2" id="u12026-2">&quot;Street Smarts: New in North York&quot;</p><p class="Publication-name-2">&nbsp;National Post March 2012</p></a>
      </div>
      <div class="clearfix colelem" id="u12056-4">
       <p>Jeff and Mark Oulahen grew up near Yonge and Sheppard, went to the local public schools, and spent their teenage years watching construction crews build condominiums and movie theatres. Today, the brothers spend hours working and playing just steps from their homes...</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u12076-5" href="http://life.nationalpost.com/2012/03/30/street-smarts-new-in-north-york/" target="_blank"><p>&nbsp; <span id="u12076-2">Read More</span></p></a>
     </div>
    </div>



    <div class="clearfix colelem" id="u29515">
     <div class="clearfix grpelem" id="u12084-4">
      <p>05</p>
     </div>
     <div class="clearfix grpelem" id="pu12027-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u12027-6" href="http://www.thestar.com/about/yourhome.html" target="_blank"><p class="News-Title2">&quot;What They Got, August 26&quot;</p><p class="Publication-name-2">&nbsp;Toronto Star August 2011</p></a>
      <div class="clearfix colelem" id="pu12063-4">
       <div class="clearfix grpelem" id="u12063-4">
        <p>Home and Décor tips, DIY tricks and everything to do with Outdoor Living...</p>
       </div>
       <a class="nonblock nontext clearfix grpelem" id="u12064-5" href="http://www.thestar.com/about/yourhome.html"><p>&nbsp;&nbsp; <span id="u12064-2">Read More</span></p></a>
      </div>
     </div>
    </div>



    <div class="clearfix colelem" id="u29516">
     <div class="clearfix grpelem" id="u12085-4">
      <p>06</p>
     </div>
     <div class="clearfix grpelem" id="pu12028-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u12028-6" href="assets/5_news.pdf" target="_blank"><p class="News-Title2">&quot;North York, then and now&quot;</p><p class="Publication-name-2">&nbsp;National Post February 2011</p></a>
      <div class="clearfix colelem" id="u12086-4">
       <p>Paul Oulahen moved into the Yonge&#45;Sheppard area of North York in 1959. As a youngster, he and his friends shopped at Northtown Plaza and Dempsey’s Hardware, hung out at the Willow Theatre and Mitchell Field’s outdoor rink, and collected chestnuts from the bountiful trees along Yonge Street. There were no buildings taller than three storeys, and nobody knew what a high&#45;rise condominium meant...</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u12087-5" href="assets/5_news.pdf"><p>&nbsp;&nbsp; <span id="u12087-2">Read More</span></p></a>
     </div>
    </div>



    <div class="clearfix colelem" id="u29517">
     <div class="clearfix grpelem" id="u12090-4">
      <p>07</p>
     </div>
     <div class="clearfix grpelem" id="pu12029-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u12029-6" href="http://www.snapnorthyork.com/index.php?option=com_sngevents&amp;id%5B%5D=193869" target="_blank"><p class="News-Title2">&quot;The Oulahen Team in the Community&quot;</p><p class="Publication-name-2">&nbsp;Snap North York</p></a>
      <div class="clearfix colelem" id="u12088-4">
       <p>Avondale Community Condominium Association held the 7th annual BBQ in their beautiful park, located right in the centre of the community. This year’s celebration was packed with things to do for all ages. It featured magic shows, face painting and morning fitness sessions...</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u12089-5" href="http://www.snapnorthyork.com/index.php?option=com_sngevents&amp;id%5B%5D=193869" target="_blank"><p>&nbsp; <span id="u12089-2">Read More</span></p></a>
     </div>
    </div>



    <div class="clearfix colelem" id="u29518">
     <div class="clearfix grpelem" id="u12094-4">
      <p>08</p>
     </div>
     <div class="clearfix grpelem" id="pu12035-6"><!-- column -->
      <a class="nonblock nontext clearfix colelem" id="u12035-6" href="assets/7_news.pdf" target="_blank"><p class="News-Title2">&quot;2009 Top Winners!&quot;</p><p class="Publication-name-2">&nbsp;Re/Max</p></a>
      <div class="clearfix colelem" id="u12067-4">
       <p>It is with great pleasure that we take this opportunity to congratulate you on your tremendous sales achievements for 2009...</p>
      </div>
      <a class="nonblock nontext clearfix colelem" id="u12091-5" href="assets/7_news.pdf"><p>&nbsp; <span id="u12091-2">Read More</span></p></a>
     </div>
    </div>



    <div class="clearfix colelem" id="u29519"><!-- column -->
     <div class="clearfix colelem" id="pu12093-4">
      <div class="clearfix grpelem" id="u12093-4">
       <p>09</p>
      </div>
      <a class="nonblock nontext clearfix grpelem" id="u12034-6" href="assets/8_news.pdf" target="_blank"><p class="News-Title2">&quot;Don't miss out on buying into Condoville&#45;&#45; this prime spot is smokin' &quot;</p><p class="Publication-name-2">&nbsp;National Post September 2008</p></a>
     </div>
     <div class="clearfix colelem" id="u12095-4">
      <p>The original houses east and west of Yonge Street are being snapped up quickly, mostly by developers who know their market. According to Mr. Oulahen, they're splitting 60&#45;and 70&#45;ft. lots in half to get twice as much bang for the buck. Smaller developers are willing to pay more than $600,000 for land value alone...</p>
     </div>
     <a class="nonblock nontext clearfix colelem" id="u12096-5" href="assets/8_news.pdf"><p>&nbsp; <span id="u12096-2">Read More</span></p></a>
    </div>



    <div class="clearfix colelem" id="u29520"><!-- column -->
     <div class="clearfix colelem" id="pu22657">
      <div class="clearfix grpelem" id="u22657">
       <div class="clearfix grpelem" id="u12092-4">
        <p>10</p>
       </div>
      </div>
      <a class="nonblock nontext clearfix grpelem" id="u12033-6" href="assets/9_news.pdf" target="_blank"><p class="News-Title2">&quot;Top Agent Spotlight: The Oulahens Family Business, Family Values&quot;</p><p class="Publication-name-2">&nbsp;Re/Max News Article</p></a>
     </div>
     <div class="clearfix colelem" id="u12098-4">
      <p>Since joining Re/Max Realtronin 2001, the Oulahen Team has consistently ranked in the Top 100 Agents for Re/Max Canada. They’ve also won numerous awards and established themselves as prominent figures in the Yonge/Sheppard neighbourhood...</p>
     </div>
     <a class="nonblock nontext clearfix colelem" id="u12097-5" href="assets/9_news.pdf"><p>&nbsp; <span id="u12097-2">Read More</span></p></a>
    </div>



    <div class="clearfix colelem" id="u29502"><!-- column -->
     <div class="clearfix colelem" id="pu29505-4">
      <div class="clearfix grpelem" id="u29505-4">
       <p>11</p>
      </div>
      <a class="nonblock nontext clearfix grpelem" id="u29506-6" href="assets/10_news.pdf" target="_blank"><p class="News-Title2">&quot;This Team Treats Your Home As If It Were Their Own!&quot;</p><p class="Publication-name-2">&nbsp;Profiles of Success Magazine</p></a>
     </div>
     <div class="clearfix colelem" id="u29503-4">
      <p>Confident, caring and committed...that's the OUlahens. Five years ago, this husband, wife and son chose to combine their 35 years of experience and work together as a team in real estate, bringing their unique talents together to provide exceptional service to clients.</p>
     </div>
     <a class="nonblock nontext clearfix colelem" id="u29504-5" href="assets/10_news.pdf"><p>&nbsp; <span id="u29504-2">Read More</span></p></a>
    </div>