<div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clearfix colelem" id="ppu6474"><!-- group -->
     <div class="grpelem" id="pu6474"><!-- inclusion -->
      <div id="u6474"><!-- simple frame --></div>
      <div class="clearfix" id="pu26985"><!-- group -->
       <div class="clearfix grpelem" id="u26985"><!-- column -->
        <div class="clearfix colelem" id="u6470-6"><!-- content -->
         <p>HAVE A QUESTION?<br/>WE'RE HERE TO HELP!</p>
        </div>
        <div class="colelem" id="u6571"><!-- simple frame --></div>
       </div>
      </div>
     </div>
     <div class="grpelem" id="u16205"><!-- simple frame --></div>
     <div class="grpelem" id="u16210"><!-- simple frame --></div>
     <a class="nonblock nontext MuseLinkActive grpelem" id="u27008" href="/pages/index.html"><!-- image --><img class="block" id="u27008_img" src="/images/website-team-photo.jpg" alt="" width="237" height="252"/></a>
     <div class="clearfix grpelem" id="u16220-10"><!-- content -->
      <p id="u16220-2">Realtron Realty Inc.</p>
      <p id="u16220-4">Brokerage</p>
      <p id="u16220-6">Independently Owned</p>
      <p id="u16220-8">and Operated</p>
     </div>
     <ul class="MenuBar clearfix grpelem" id="menuu16043"><!-- row -->
      <li class="MenuItemContainer clearfix grpelem" id="u16185"><!-- vertical box -->

        <%= link_to page_path('index'), class: 'nonblock nontext MenuItem MenuItemWithSubMenu MuseMenuActive rounded-corners clearfix colelem', id: 'u16188' do %>
        	<div class="MenuItemLabel NoWrap clearfix grpelem" id="u16190-4"><!-- content -->
        		<p>Home</p>
        	</div>
        <% end %>

      </li>
      <li class="MenuItemContainer clearfix grpelem" id="u16087"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u16088" href="/pages/listings.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u16089-4"><!-- content --><p>Listings</p></div></a>
       <div class="SubMenu  MenuLevel1 clearfix" id="u16092"><!-- vertical box -->
        <ul class="SubMenuView clearfix colelem" id="u16093"><!-- vertical box -->
         <li class="MenuItemContainer clearfix colelem" id="u16101"><!-- horizontal box -->
          <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u16104" href="/pages/commercial.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u16105-4"><!-- content --><p>Commercial</p></div></a>
         </li>
         <li class="MenuItemContainer clearfix colelem" id="u31759"><!-- horizontal box -->
          <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u31760" href="/pages/commercial-listings.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u31761-4"><!-- content --><p>Commercial Listings</p></div></a>
         </li>
         <li class="MenuItemContainer clearfix colelem" id="u31843"><!-- horizontal box -->
          <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u31844" href="/pages/transactions.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u31847-4"><!-- content --><p>Transactions</p></div></a>
          <div class="SubMenu  MenuLevel2 clearfix" id="u31848"><!-- vertical box -->
           <ul class="SubMenuView clearfix colelem" id="u31849"><!-- vertical box -->
            <li class="MenuItemContainer clearfix colelem" id="u31850"><!-- horizontal box -->
             <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u31851" href="/pages/condos.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u31853-4"><!-- content --><p>Condos</p></div></a>
            </li>
           </ul>
          </div>
         </li>
         <li class="MenuItemContainer clearfix colelem" id="u31808"><!-- horizontal box -->
          <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u31809" href="/pages/commercial-transations.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u31812-4"><!-- content --><p>Commercial Transations</p></div></a>
         </li>
         <li class="MenuItemContainer clearfix colelem" id="u33981"><!-- horizontal box -->
          <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u33984" href="/pages/ct-under-construction.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u33986-4"><!-- content --><p>CT&#45;under construction</p></div></a>
         </li>
        </ul>
       </div>
      </li>
      <li class="MenuItemContainer clearfix grpelem" id="u16122"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u16123" href="/pages/selling.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u16125-4"><!-- content --><p>Selling</p></div></a>
       <div class="SubMenu  MenuLevel1 clearfix" id="u16127"><!-- vertical box -->
        <ul class="SubMenuView clearfix colelem" id="u16128"><!-- vertical box -->
         <li class="MenuItemContainer clearfix colelem" id="u16136"><!-- horizontal box -->
          <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u16139" href="/pages/market-evaluation.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u16141-4"><!-- content --><p>Market Evaluation</p></div></a>
         </li>
        </ul>
       </div>
      </li>
      <li class="MenuItemContainer clearfix grpelem" id="u26420"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u26430" href="/pages/buying.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u26431-4"><!-- content --><p>Buying</p></div></a>
      </li>
      <li class="MenuItemContainer clearfix grpelem" id="u20536"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u20537" href="/pages/stats.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u20539-4"><!-- content --><p>Stats</p></div></a>
      </li>
      <li class="MenuItemContainer clearfix grpelem" id="u16192"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u16193" href="/pages/condo-profiles.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u16194-4"><!-- content --><p>Condo Profiles</p></div></a>
      </li>
      <li class="MenuItemContainer clearfix grpelem" id="u16080"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u16081" href="/pages/blog.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u16082-4"><!-- content --><p>Blog</p></div></a>
      </li>
      <li class="MenuItemContainer clearfix grpelem" id="u16044"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u16061" href="/pages/helpful-tools.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u16062-4"><!-- content --><p>Helpful Tools</p></div></a>
      </li>
      <li class="MenuItemContainer clearfix grpelem" id="u16150"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u16151" href="/pages/about-us.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u16153-4"><!-- content --><p>About Us</p></div></a>
       <div class="SubMenu  MenuLevel1 clearfix" id="u16155"><!-- vertical box -->
        <ul class="SubMenuView clearfix colelem" id="u16156"><!-- vertical box -->
         <li class="MenuItemContainer clearfix colelem" id="u16171"><!-- horizontal box -->
          <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u16172" href="/pages/awards.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u16174-4"><!-- content --><p>Awards</p></div></a>
         </li>
         <li class="MenuItemContainer clearfix colelem" id="u16164"><!-- horizontal box -->
          <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u16167" href="/pages/testimonials.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u16169-4"><!-- content --><p>Testimonials</p></div></a>
         </li>
         <li class="MenuItemContainer clearfix colelem" id="u16157"><!-- horizontal box -->
          <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u16158" href="/pages/charitable-work.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u16160-4"><!-- content --><p>Charitable Work</p></div></a>
         </li>
         <li class="MenuItemContainer clearfix colelem" id="u16178"><!-- horizontal box -->
          <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u16181" href="/pages/in-the-news.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u16182-4"><!-- content --><p>In the News</p></div></a>
         </li>
        </ul>
       </div>
      </li>
      <li class="MenuItemContainer clearfix grpelem" id="u16115"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu rounded-corners clearfix colelem" id="u16116" href="/pages/contact-us.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u16118-4"><!-- content --><p>Contact Us</p></div></a>
      </li>
     </ul>
     <div class="gradient grpelem" id="u16274"><!-- simple frame --></div>
     <a class="nonblock nontext MuseLinkActive grpelem" id="u27210" href="/pages/index.html"><!-- image --><img class="block" id="u27210_img" src="/images/oulahen-logo.gif" alt="" width="222" height="46"/></a>
     <a class="nonblock nontext grpelem" id="u27216" href="http://www.remax.ca/" target="_blank"><!-- image --><img class="block" id="u27216_img" src="/images/remax-logo.gif" alt="" width="164" height="50"/></a>
     <a class="nonblock nontext grpelem" id="u27229" href="https://www.facebook.com/oulahenteam" target="_blank" title="Like us on Facebook!"><!-- image --><img class="block" id="u27229_img" src="/images/logo_facebook.gif" alt="" width="20" height="20"/></a>
     <div class="grpelem" id="u27264" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="-4"><!-- image -->
      <img class="block" id="u27264_img" src="/images/logo_facebook.gif" alt="" width="20" height="20"/>
     </div>
     <a class="nonblock nontext grpelem" id="u27237" href="https://twitter.com/oulahen" target="_blank" title="Follow Us on Twitter!"><!-- image --><img class="block" id="u27237_img" src="/images/twitter-logo.gif" alt="" width="21" height="21"/></a>
     <div class="grpelem" id="u27258" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="-4"><!-- image -->
      <img class="block" id="u27258_img" src="/images/twitter-logo.gif" alt="" width="20" height="20"/>
     </div>
     <a class="nonblock nontext grpelem" id="u27242" href="http://blog.oulahen.com/" target="_blank" title="Follow Our Blog!"><!-- image --><img class="block" id="u27242_img" src="/images/wordpress-logo.gif" alt="" width="20" height="20"/></a>
     <div class="grpelem" id="u27261" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="-2"><!-- image -->
      <img class="block" id="u27261_img" src="/images/wordpress-logo.gif" alt="" width="20" height="20"/>
     </div>
     <a class="nonblock nontext grpelem" id="u27249" href="http://www.linkedin.com/profile/view?id=250177723&amp;trk=nav_responsive_tab_profile" target="_blank" title="Visit Our Linked In!"><!-- image --><img class="block" id="u27249_img" src="/images/linkedin_logo.gif" alt="" width="20" height="20"/></a>
     <div class="grpelem" id="u27255" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="-2"><!-- image -->
      <img class="block" id="u27255_img" src="/images/linkedin_logo.gif" alt="" width="20" height="20"/>
     </div>
     <div class="clearfix grpelem" id="u16042-5"><!-- content -->
      <p><span id="u16042">&nbsp;416&#45;222&#45;1212</span></p>
     </div>
     <a class="nonblock nontext clearfix grpelem" id="u27269-4" href="/pages/contact-us-form.html"><!-- content --><p>team@oulahen.com</p></a>
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu6475"><!-- group -->
      <div class="popup_anchor" id="u6493popup">
       <div class="SlideShowContentPanel clearfix" id="u6493"><!-- stack box -->
        <div class="SSSlide clearfix grpelem" id="u15534"><!-- image -->
         <div id="u15534_clip">
          <img class="ImageInclude position_content" id="u15534_img" data-src="/images/1-team-altogether.jpg" src="/images/blank.gif" alt="" data-width="736" data-height="410"/>
         </div>
        </div>
        <div class="SSSlide invi clearfix grpelem" id="u15562"><!-- image -->
         <div id="u15562_clip">
          <img class="ImageInclude position_content" id="u15562_img" data-src="/images/2-office-outside.jpg" src="/images/blank.gif" alt="" data-width="736" data-height="410"/>
         </div>
        </div>
        <a class="nonblock nontext SSSlide invi clearfix grpelem" id="u23894" href="/pages/listings.html"><!-- image --><div id="u23894_clip"><img class="ImageInclude position_content" id="u23894_img" data-src="/images/3_featured-listing.jpg" src="/images/blank.gif" alt="" data-width="736" data-height="410"/></div></a>
       </div>
      </div>
      <div class="popup_anchor" id="u6508popup">
       <div class="SlideShowCaptionPanel clearfix" id="u6508"><!-- stack box -->
        <div class="SSSlideCaption gradient clearfix grpelem" id="u15540-7"><!-- content -->
         <p>&nbsp;</p>
         <p id="u15540-3">#17&nbsp; Remax team in Canada</p>
         <p id="u15540-5">#32&nbsp; worldwide with impressive results</p>
        </div>
        <div class="SSSlideCaption invi gradient clearfix grpelem" id="u15568-8"><!-- content -->
         <p id="u15568">&nbsp;</p>
         <p id="u15568-6"><span id="u15568-5">Come Visit Our Office at <br/>&nbsp; 4685 Yonge Street in the heart of North York!</span></p>
        </div>
        <a class="nonblock nontext SSSlideCaption invi gradient clearfix grpelem" id="u23900-7" href="/pages/listings.html"><!-- content --><p>&nbsp;</p><p><span id="u23900-2">FEATURED LISTING</span></p><p id="u23900-5"><span id="u23900-4">18 Franklin Avenue, Toronto</span></p></a>
       </div>
      </div>
      <div class="popup_anchor" id="u6476-4popup">
       <div class="SlideShowLabel SSSlideCount clearfix" id="u6476-4"><!-- content -->
        <p>3 &#45; 3</p>
       </div>
      </div>
      <div class="popup_anchor" id="u6489-4popup">
       <div class="SSPreviousButton clearfix" id="u6489-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u6492-4popup">
       <div class="SSNextButton clearfix" id="u6492-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="u6524-6"><!-- content -->
      <p id="u6524-2">Welcome to our site!</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
     </div>
     <div class="clearfix grpelem" id="u6572-6"><!-- content -->
      <p>WE ARE A FAMILY OF</p>
      <p id="u6572-4">REALTORS IN TORONTO.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u6518-16"><!-- content -->
     <p id="u6518-2">Freehold residential, condominium, commercial or investment real estate in Toronto.</p>
     <p id="u6518-4">We&nbsp; provide the knowledge, experience and advice to help you with all your real estate needs. 85% of our business&nbsp; is repeat&nbsp; and referral.</p>
     <p id="u6518-6">Over 50 years combined experience.</p>
     <p id="u6518-7">&nbsp;</p>
     <p id="u6518-9">Call us anytime!</p>
     <p id="u6518-11">416&#45;222&#45;1212</p>
     <p id="u6518-12">&nbsp;</p>
     <p id="u6518-14">Let our family move yours.</p>
    </div>
    <div class="clearfix colelem" id="ppu15720"><!-- group -->
     <div class="clearfix grpelem" id="pu15720"><!-- group -->
      <div class="clearfix grpelem" id="u15720"><!-- group -->
       <div class="clearfix grpelem" id="u15678"><!-- group -->
        <div class="pointer_cursor clearfix grpelem" id="u15682"><!-- column -->
         <a class="block" href="/pages/listings.html"></a>
         <div class="position_content" id="u15682_position_content">
          <a class="nonblock nontext colelem" id="u6514" href="/pages/market-evaluation.html"><!-- image --></a>
          <div class="clearfix colelem" id="pu6559-6"><!-- group -->
           <div class="clearfix grpelem" id="u6559-6"><!-- content -->
            <p id="u6559-2">FREE</p>
            <p id="u6559-4">MARKET EVALUATION</p>
           </div>
           <div class="grpelem" id="u6516"><!-- image -->
            <img class="block" id="u6516_img" src="/images/red%20arrow.png" alt="" width="9" height="17"/>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="grpelem" id="u31353"><!-- image -->
       <img class="block" id="u31353_img" src="/images/home_market%20evaluation.jpg" alt="" width="198" height="151"/>
      </div>
     </div>
     <div class="clearfix grpelem" id="u15721"><!-- group -->
      <div class="clearfix grpelem" id="u15679"><!-- group -->
       <a class="nonblock nontext clearfix grpelem" id="u15684" href="/pages/listings.html"><!-- column --><div class="position_content" id="u15684_position_content"><div class="colelem" id="u6525"><!-- image --><img class="block" id="u6525_img" src="/images/home_what%20did%20that%20home%20sell%20for.jpg" alt="" width="198" height="151"/></div><div class="clearfix colelem" id="pu6573-6"><!-- group --><div class="clearfix grpelem" id="u6573-6"><!-- content --><p id="u6573-2">WHAT DID THAT</p><p id="u6573-4">HOME SELL FOR?</p></div><div class="grpelem" id="u6575"><!-- image --><img class="block" id="u6575_img" src="/images/red%20arrow.png" alt="" width="9" height="17"/></div></div></div></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u15722"><!-- group -->
      <div class="clearfix grpelem" id="u15681"><!-- group -->
       <a class="nonblock nontext clearfix grpelem" id="u15685" href="/pages/listings.html"><!-- group --><div class="clearfix grpelem" id="u6556-6"><!-- content --><p id="u6556-2">EMAIL US FOR</p><p id="u6556-4">CONDO FLOOR PLANS</p></div><div class="grpelem" id="u6472"><!-- image --><img class="block" id="u6472_img" src="/images/red%20arrow.png" alt="" width="9" height="17"/></div></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u15719"><!-- group -->
      <div class="clearfix grpelem" id="u15675"><!-- group -->
       <div class="pointer_cursor clearfix grpelem" id="u6574"><!-- group -->
        <a class="block" href="/pages/listings.html"></a>
        <div class="clearfix grpelem" id="u6521-4"><!-- content -->
         <p>LISTINGS</p>
        </div>
        <a class="nonblock nontext grpelem" id="u6569" href="/pages/listings.html"><!-- image --><img class="block" id="u6569_img" src="/images/red%20arrow.png" alt="" width="9" height="17"/></a>
       </div>
      </div>
     </div>
     <div class="grpelem" id="u31347"><!-- image -->
      <img class="block" id="u31347_img" src="/images/home_listings.jpg" alt="" width="198" height="151"/>
     </div>
     <div class="grpelem" id="u31359"><!-- image -->
      <img class="block" id="u31359_img" src="/images/home_floor%20plans.jpg" alt="" width="198" height="151"/>
     </div>
    </div>
    <div class="clearfix colelem" id="pwidgetu6528"><!-- group -->
     <form class="form-grp clearfix grpelem" id="widgetu6528" method="post" enctype="multipart/form-data" action="scripts/form-u6528.php"><!-- group -->
      <div class="fld-grp clearfix grpelem" id="widgetu6543" data-required="true"><!-- group -->
       <label class="fld-label actAsDiv clearfix grpelem" id="u6546-4" for="widgetu6543_input"><!-- content -->
        <span class="actAsPara">Name:</span>
       </label>
       <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u6547-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu6543_input" name="custom_U6543" tabindex="1"/><label class="wrapped-input fld-prompt" id="widgetu6543_prompt" for="widgetu6543_input"><span class="actAsPara">Your Name</span></label></span>
      </div>
      <div class="fld-grp clearfix grpelem" id="widgetu6534" data-required="true" data-type="email"><!-- group -->
       <label class="fld-label actAsDiv clearfix grpelem" id="u6536-4" for="widgetu6534_input"><!-- content -->
        <span class="actAsPara">Email:</span>
       </label>
       <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u6538-4"><!-- content --><input class="wrapped-input" type="text" spellcheck="false" id="widgetu6534_input" name="Email" tabindex="2"/><label class="wrapped-input fld-prompt" id="widgetu6534_prompt" for="widgetu6534_input"><span class="actAsPara">name@email.com</span></label></span>
      </div>
      <div class="clearfix grpelem" id="u6540-4"><!-- content -->
       <p>Submitting Form...</p>
      </div>
      <div class="clearfix grpelem" id="u6541-4"><!-- content -->
       <p>The server encountered an error.</p>
      </div>
      <div class="clearfix grpelem" id="u6542-4"><!-- content -->
       <p>Form received.</p>
      </div>
      <input class="submit-btn NoWrap grpelem" id="u6539-17" type="submit" value="" tabindex="4"/><!-- state-based BG images -->
      <div class="fld-grp clearfix grpelem" id="widgetu6529" data-required="false"><!-- group -->
       <label class="fld-label actAsDiv clearfix grpelem" id="u6533-4" for="widgetu6529_input"><!-- content -->
        <span class="actAsPara">Message:</span>
       </label>
       <span class="fld-textarea actAsDiv clearfix grpelem" id="u6531-4"><!-- content --><textarea class="wrapped-input" id="widgetu6529_input" name="custom_U6529" tabindex="3"></textarea><label class="wrapped-input fld-prompt" id="widgetu6529_prompt" for="widgetu6529_input"><span class="actAsPara">Add a brief message...</span></label></span>
      </div>
     </form>
     <div class="clearfix grpelem" id="u26983"><!-- group -->
      <div class="clearfix grpelem" id="u26984-4"><!-- content -->
       <p>BLOG FEED GOES HERE</p>
      </div>
     </div>
     <div class="grpelem" id="u6522"><!-- custom html -->
      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like-box" data-href="https://www.facebook.com/oulahenteam" data-width="212" data-height="345" data-show-faces="true" data-stream="true" data-show-border="true" data-header="true"></div>
</div>
     <div class="grpelem" id="u6519"><!-- custom html -->
      <a class="twitter-timeline"  href="https://twitter.com/Oulahen"  data-widget-id="319566325435473920">Tweets by @Oulahen</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


</div>
    </div>
    <div class="verticalspacer"></div>
    <div class="colelem" id="u16202"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pu16201-4"><!-- group -->
     <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u16201-4" href="/pages/index.html"><!-- content --><p>Home</p></a>
     <a class="nonblock nontext clearfix grpelem" id="u16232-4" href="/pages/listings.html"><!-- content --><p>Listings</p></a>
     <a class="nonblock nontext clearfix grpelem" id="u16199-4" href="/pages/helpful-tools.html"><!-- content --><p>Helpful Tools</p></a>
     <a class="nonblock nontext clearfix grpelem" id="u16200-4" href="/pages/contact-us.html"><!-- content --><p>Contact Us</p></a>
     <div class="clearfix grpelem" id="u16225-4"><!-- content -->
      <p>All Rights Reserved. Copyright © 2013 The Oulahen Team</p>
     </div>
     <div class="clearfix grpelem" id="u16211"><!-- group -->
      <div class="clearfix grpelem" id="u16213-4"><!-- content -->
       <p>|</p>
      </div>
      <div class="clearfix grpelem" id="u16215-4"><!-- content -->
       <p>|</p>
      </div>
      <div class="clearfix grpelem" id="u16212-4"><!-- content -->
       <p>|</p>
      </div>
      <div class="clearfix grpelem" id="u16214-4"><!-- content -->
       <p>|</p>
      </div>
     </div>
     <div class="grpelem" id="u27340"><!-- image -->
      <img class="block" id="u27340_img" src="/images/logo_facebook1.jpg" alt="" width="14" height="14"/>
     </div>
     <div class="grpelem" id="u27345"><!-- image -->
      <img class="block" id="u27345_img" src="/images/twitter-logo1.jpg" alt="" width="15" height="15"/>
     </div>
     <div class="grpelem" id="u27335"><!-- image -->
      <img class="block" id="u27335_img" src="/images/linkedin_logo1.jpg" alt="" width="14" height="14"/>
     </div>
     <div class="grpelem" id="u27350"><!-- image -->
      <img class="block" id="u27350_img" src="/images/wordpress-logo1.jpg" alt="" width="14" height="14"/>
     </div>
    </div>
   </div>
  </div>
  <div class="preload_images">
   <img class="preload" src="/images/u6539-17-r.png" alt=""/>
   <img class="preload" src="/images/u6539-17-m.png" alt=""/>
   <img class="preload" src="/images/u6539-17-fs.png" alt=""/>
  </div>
