<%= content_for :page_title, default_title('Jasmine Mann') %>

<div class="gradient colelem" id="u16510"></div>
    <div class="clearfix colelem" id="pslideshowu29170">
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu29170">
      <div class="popup_anchor" id="u29224popup">
       <div class="SlideShowContentPanel clearfix" id="u29224"><!-- stack box -->
        <div class="SSSlide grpelem" id="u15626"><!-- image -->
         <img class="block ImageInclude" id="u15626_img" data-src="/images/1 - Jasmine.jpg" src="=/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u15635"><!-- image -->
         <img class="block ImageInclude" id="u15635_img" data-src="/images/2 - Jasmine.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u15644"><!-- image -->
         <img class="block ImageInclude" id="u15644_img" data-src="/images/3 - Jasmine.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u15653"><!-- image -->
         <img class="block ImageInclude" id="u15653_img" data-src="/images/4 - Jasmine.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u30094"><!-- image -->
         <img class="block ImageInclude" id="u30094_img" data-src="/images/5 - Jasmine.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
       </div>
       </div>
      </div>
      <div class="popup_anchor" id="u29204popup">
       <div class="SSSlideLinks clearfix" id="u29204"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u15629"><!-- image -->
         <img class="block" id="u15629_img" src="/images/1 - Jasmine-53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u15638"><!-- image -->
         <img class="block" id="u15638_img" src="/images/2 - Jasmine-53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u15647"><!-- image -->
         <img class="block" id="u15647_img" src="/images/3 - Jasmine-53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u15656"><!-- image -->
         <img class="block" id="u15656_img" src="/images/4 - Jasmine-53x45.jpg" alt="" width="52" height="45"/>
        </div>
       <div class="SSSlideLink grpelem" id="u30088"><!-- image -->
         <img class="block" id="u30088_img" src="/images/5 - Jasmine-53x45.jpg" alt="" width="52" height="45"/>
       </div>
        </div>
      </div>
      <div class="popup_anchor" id="u29171popup">
       <div class="SlideShowCaptionPanel clearfix" id="u29171"><!-- stack box -->
        <div class="SSSlideCaption clearfix grpelem" id="u30055-4">
         <p>&nbsp;&nbsp; Amazing Party </p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u30064-4">
         <p>&nbsp;&nbsp; Best thing ever</p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u30073-4">
         <p>&nbsp;&nbsp; Social Project</p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u30082-4">
         <p>&nbsp;&nbsp; Climbing Mt. Everest </p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u30091-4">
         <p>&nbsp;&nbsp; One of my favorite films </p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u30100-4">
         <p>&nbsp;&nbsp; </p>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u29223-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u29223-4">
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u29201-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u29201-4">
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <img class="grpelem" id="u15056" src="/images/Jasmine_profile.jpg" alt="" width="338" height="297"/><!-- rasterized frame -->
     <div class="clearfix grpelem" id="pu10729-4"><!-- column -->
      <div class="Headings-Submenus clearfix colelem" id="u10729-4">
       <h1>JASMINE MANN</h1>
      </div>
      <div class="clearfix colelem" id="u10727-4">
       <p>Administrative Assistant</p>
      </div>
      <div class="clearfix colelem" id="pu10683-5">
       <div class="clearfix grpelem" id="u10683-5">
        <p class="Personal-Description-red">Jasmine is currently completing her Criminology and Human Rights and Equity Studies Degree at York University. When she’s not working she’s chasing her nephew around the house or watching movies.</p>
        <p id="u10683-3">&nbsp;</p>
       </div>
       <img class="grpelem" id="u14798" src="/images/u14798.png" alt="" width="539" height="2"/><!-- rasterized frame -->
      </div>
      <div class="clearfix colelem" id="pu10726-35">
       <div class="clearfix grpelem" id="u10726-35">
        <p id="u10726-2">Education</p>
        <p id="u10726-3">&nbsp;</p>
        <p id="u10726-5">Best accomplishment</p>
        <p id="u10726-6">&nbsp;</p>
        <p id="u10726-7">&nbsp;</p>
        <p id="u10726-9">Favourite street in Toronto</p>
        <p id="u10726-10">&nbsp;</p>
        <p id="u10726-12">Favourite movie</p>
        <p id="u10726-13">&nbsp;</p>
        <p id="u10726-17">Favourite thing about working in real estate</p>
        <p id="u10726-18">&nbsp;</p>
        <p id="u10726-20">Pet peeve</p>
        <p id="u10726-24">&nbsp;</p>
        <p id="u10726-29">What you might not know <br/>about me</p>
        <p id="u10726-30">&nbsp;</p>
        <p id="u10726-32">Favourite website</p>
        <p>&nbsp;</p>
       </div>
       <div class="clearfix grpelem" id="pu10728-25"><!-- column -->
        <div class="clearfix colelem" id="u10728-25">
         <p>B.A., Hons. Maj/Min Criminology and Human Rights and Equity Studies</p>
         <p>&nbsp;</p>
         <p>Helping my brothers with their babies. Between my first nephew and my latest I’ve been blessed.</p>
         <p>&nbsp;</p>
         <p>Bay St. My goal is to work there one day with some of the best and most highly accomplished lawyers.</p>
         <p>&nbsp;</p>
         <p>Dark Knight Rises and Devdas</p>
         <p>&nbsp;</p>
         <p> Learning so many practical and knowledgeable things that University and Law School will never teach me.</p>
         <p>&nbsp;</p>
         <p>People who are not punctual/on time. I really need to get my driver’s license sorted out.</p>
         <p>&nbsp;</p>
         <p>I love boots. Way too much actually. Just as much as I love Bhangra, Hockey, and Novels.</p>
        </div>
        <a class="nonblock nontext clearfix colelem" id="u14941-4" href="https://mail.google.com/mail/help/motion.html" target="_blank"><p>www.mail.google.com/mail/help/motion.html</p></a>
       </div>
      </div>
     </div>
    </div>
    <%= render 'pages/shared/staff_icons' %>