<%= content_for :page_title, default_title('Jeff Oulahen') %>

<div class="gradient colelem" id="u16510"></div>
    <div class="clearfix colelem" id="pslideshowu14410">
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu14410">
      <div class="popup_anchor" id="u14456popup">
       <div class="SlideShowContentPanel clearfix" id="u14456"><!-- stack box -->
        <div class="SSSlide grpelem" id="u14491"><!-- image -->
         <img class="block ImageInclude" id="u14491_img" data-src="/images/1-jeff.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u14500"><!-- image -->
         <img class="block ImageInclude" id="u14500_img" data-src="/images/2-jeff.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u32020"><!-- image -->
         <img class="block ImageInclude" id="u32020_img" data-src="/images/3-jeff.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u32029"><!-- image -->
         <img class="block ImageInclude" id="u32029_img" data-src="/images/4-jeff.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u32038"><!-- image -->
         <img class="block ImageInclude" id="u32038_img" data-src="/images/5-jeff.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u32047"><!-- image -->
         <img class="block ImageInclude" id="u32047_img" data-src="/images/6-jeff.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u32056"><!-- image -->
         <img class="block ImageInclude" id="u32056_img" data-src="/images/7-jeff.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u32065"><!-- image -->
         <img class="block ImageInclude" id="u32065_img" data-src="/images/8-jeff.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u32074"><!-- image -->
         <img class="block ImageInclude" id="u32074_img" data-src="/images/9-jeff.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u14422popup">
       <div class="SSSlideLinks clearfix" id="u14422"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u14494"><!-- image -->
         <img class="block" id="u14494_img" src="/images/1-jeff53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u14503"><!-- image -->
         <img class="block" id="u14503_img" src="/images/2-jeff53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u32023"><!-- image -->
         <img class="block" id="u32023_img" src="/images/3-jeff53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u32032"><!-- image -->
         <img class="block" id="u32032_img" src="/images/4-jeff53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u32041"><!-- image -->
         <img class="block" id="u32041_img" src="/images/5-jeff53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u32050"><!-- image -->
         <img class="block" id="u32050_img" src="/images/6-jeff53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u32059"><!-- image -->
         <img class="block" id="u32059_img" src="/images/7-jeff53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u32068"><!-- image -->
         <img class="block" id="u32068_img" src="/images/8-jeff53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u32077"><!-- image -->
         <img class="block" id="u32077_img" src="/images/9-jeff53x45.jpg" alt="" width="52" height="45"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u14418-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u14418-4">
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u14421-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u14421-4">
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <img class="grpelem" id="u14403" src="/images/jeff_profile-u14403.png" alt="" width="338" height="297"/><!-- rasterized frame -->
     <div class="clearfix grpelem" id="pu10346-4"><!-- column -->
      <div class="Headings-Submenus clearfix colelem" id="u10346-4">
       <h1>JEFF OULAHEN</h1>
      </div>
      <div class="clearfix colelem" id="u10350-4">
       <p>Real Estate Salesperson</p>
      </div>
      <div class="Personal-Description-red clearfix colelem" id="u10347-4">
       <p>Jeff has worked in all facets of real estate, construction and planning through the years and also contributes his broad technical and analytical skills to the team. He has implemented new office systems for the team and technically savvy ways in keeping clients connected.</p>
      </div>
      <img class="colelem" id="u14402" src="/images/u14402.png" alt="" width="539" height="2"/><!-- rasterized frame -->
      <div class="clearfix colelem" id="pu10348-40">
       <div class="clearfix grpelem" id="u10348-40">
        <p id="u10348-2">Education</p>
        <p id="u10348-3">&nbsp;</p>
        <p id="u10348-5">Best accomplishment</p>
        <p id="u10348-6">&nbsp;</p>
        <p id="u10348-7">&nbsp;</p>
        <p id="u10348-9">Favourite street in Toronto</p>
        <p id="u10348-10">&nbsp;</p>
        <p id="u10348-12">Favourite movie</p>
        <p id="u10348-13">&nbsp;</p>
        <p id="u10348-17">Favourite thing about being <br/>a real estate broker</p>
        <p id="u10348-18">&nbsp;</p>
        <p id="u10348-20">Pet peeve</p>
        <p id="u10348-21">&nbsp;</p>
        <p id="u10348-25">Random important point <br/>about real estate</p>
        <p id="u10348-26">&nbsp;</p>
        <p id="u10348-30">Most interesting thing about <br/>working on a family team</p>
        <p id="u10348-31">&nbsp;</p>
        <p id="u10348-35">What you might not know <br/>about me</p>
        <p>&nbsp;</p>
        <p>Favourite website</p>
       </div>
       <div class="clearfix grpelem" id="pu10349-28"><!-- column -->
        <div class="clearfix colelem" id="u10349-28">
         <p>Wilfred Laurier University HBBA</p>
         <p>&nbsp;</p>
         <p>Finding my beautiful wife (who is from PEI) and being present for the birth of my daughter Claire</p>
         <p>&nbsp;</p>
         <p>Roxborough Street West or Macpherson Street</p>
         <p>&nbsp;</p>
         <p>Sneekers,&nbsp; The Bourne Series</p>
         <p>&nbsp;</p>
         <p>Helping people through huge decisions and complicated transactions</p>
         <p>&nbsp;</p>
         <p>Bad lane discipline</p>
         <p>&nbsp;</p>
         <p>Your land appreciates and your home depreciates. Buying a condo is a lifestyle choice.</p>
         <p>&nbsp;</p>
         <p>I can take a holiday and know my client will be taken care of.</p>
         <p>&nbsp;</p>
         <p>I am addicted to my iPad, I hate mustard and I met my wife on eHarmony.</p>
        </div>
        <a class="nonblock nontext clearfix colelem" id="u10351-4" href="http://www.apple.com/" target="_blank"><p>www.apple.com</p></a>
       </div>
      </div>
     </div>
    </div>
    <%= render 'pages/shared/staff_icons' %>