<%= content_for :page_title, default_title('Karuna Dewan') %>

<div class="gradient colelem" id="u16510"></div>
    <div class="clearfix colelem" id="pslideshowu29170">
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu29170">
      <div class="popup_anchor" id="u29224popup">
       <div class="SlideShowContentPanel clearfix" id="u10904"><!-- stack box -->
        <div class="SSSlide grpelem" id="u28857"><!-- image -->
         <img class="block ImageInclude" id="u28857_img" data-src="/images/3-karuna.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u28866"><!-- image -->
         <img class="block ImageInclude" id="u28866_img" data-src="/images/2-karuna.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u28875"><!-- image -->
         <img class="block ImageInclude" id="u28875_img" data-src="/images/4-karuna.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u28884"><!-- image -->
         <img class="block ImageInclude" id="u28884_img" data-src="/images/5-karuna.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u28893"><!-- image -->
         <img class="block ImageInclude" id="u28893_img" data-src="/images/6-karuna.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
       </div>
       </div>
      </div>
      <div class="popup_anchor" id="u29204popup">
       <div class="SSSlideLinks clearfix" id="u10893"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u28860"><!-- image -->
         <img class="block" id="u28860_img" src="/images/3-karuna53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u28869"><!-- image -->
         <img class="block" id="u28869_img" src="/images/2-karuna53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u28878"><!-- image -->
         <img class="block" id="u28878_img" src="/images/4-karuna53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u28887"><!-- image -->
         <img class="block" id="u28887_img" src="/images/5-karuna53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u28896"><!-- image -->
         <img class="block" id="u28896_img" src="/images/6-karuna53x45.jpg" alt="" width="52" height="45"/>
        </div>
        </div>
      </div>
      <div class="popup_anchor" id="u29171popup">
       <div class="SlideShowCaptionPanel clearfix" id="u29171"><!-- stack box -->
        <div class="SSSlideCaption clearfix grpelem" id="u30055-4">
         <p>&nbsp;&nbsp; My Pug Luke Skywalker</p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u30064-4">
         <p>&nbsp;&nbsp; Costume I made and wore during a convention</p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u30073-4">
         <p>&nbsp;&nbsp; My sister Chrissy was born</p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u30082-4">
         <p>&nbsp;&nbsp; Painting I made from "Spirited Away"</p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u30091-4">
         <p>&nbsp;&nbsp; Sketch I did of "Sherlock"</p>
        </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u29223-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u29223-4">
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u29201-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u29201-4">
        <p>&gt;</p>
       </div>
      </div>
     </div>
      <img class="grpelem" id="u30470" src="/images/KARUNA_profile.jpg" alt="" width="338" height="297"/><!-- rasterized frame -->
     <div class="clearfix grpelem" id="pu10936-4"><!-- column -->
      <div class="Headings-Submenus clearfix colelem" id="u10936-4">
       <h1>KARUNA DEWAN</h1>
      </div>
      <div class="clearfix colelem" id="u10932-4">
       <p>Marketing Manager</p>
      </div>
      <div class="clearfix colelem" id="u10933-4">
       <p>Karuna works with the Oulahen Team as an Junior Marketing Manager/Designer. She completed her studies at Seneca College and obtained a diploma in both 3D Animation and Graphic Design. When she isn’t working, she likes to draw and sell her artwork and make buttons at local conventions with her friends. Also she loves spending time with family, friends, her pug Luke Skywalker and exploring the different parts of Toronto.</p>
      </div>
      <img class="colelem" id="u14195" src="/images/u14195.png" alt="" width="539" height="2"/><!-- rasterized frame -->
      <div class="clearfix colelem" id="pu10940-39">
       <div class="clearfix grpelem" id="u10940-39">
        <p id="u10940-2">Education</p>
        <p id="u10940-3">&nbsp;</p>
        <p id="u10940-4">&nbsp;</p>
        <p id="u10940-6">Best accomplishment</p>
        <p id="u10940-7">&nbsp;</p>
        <p id="u10940-8">&nbsp;</p>
        <p id="u10940-9">&nbsp;</p>
        <p id="u10940-11">Favourite street in Toronto</p>
        <p id="u10940-12">&nbsp;</p>
        <p id="u10940-14">Favourite movie</p>
        <p id="u10940-15">&nbsp;</p>
        <p id="u10940-16">&nbsp;</p>
        <p id="u10940-18">Favourite thing about working in Real Estate</p>
        <p id="u10940-19">&nbsp;</p>
        <p id="u10940-20">&nbsp;</p>
        <p id="u10940-21">&nbsp;</p>
        <p id="u10940-23">Pet peeve</p>
        <p id="u10940-24">&nbsp;</p>
        <p id="u10940-28">What you might not know <br/>about me</p>
        <p id="u10940-29">&nbsp;</p>
        <p id="u10940-30">&nbsp;</p>
        <p id="u10940-31">&nbsp;</p>
        <p id="u10940-32">&nbsp;</p>
        <p id="u10940-33">&nbsp;</p>
        <p id="u10940-34">&nbsp;</p>
        <p id="u10940-36">Favourite website</p>
        <p>&nbsp;</p>
       </div>
       <div class="clearfix grpelem" id="pu10931-27"><!-- column -->
        <div class="clearfix colelem" id="u10931-27">
         <p>Seneca College School of Communication Arts, Graphic Design</p>
         <p>&nbsp;</p>
         <p>Creating my first complex costume mostly consisting of armor in just two days and winning an award 
            for it.</p>
         <p>&nbsp;</p>
         <p>Spadina/Queen &amp; Cumberland street</p>
         <p>&nbsp;</p>
         <p>Difficult to choose just one but my all time favorite would be the &quot;Shawshank Redemption&quot;
            Also love the Studio Ghibli films like Spirited Away and Princess Mononoke.</p> 
         <p>&nbsp;</p>
         <p>I am new to the real estate scene, so I love working in an environment where I am constantly 
            learning new skills and it's exciting to learn a new trade outside my field of expertise</p>
         <p>&nbsp;</p>
         <p>Itchy sweaters and people who don't shower.</p>
         <p>&nbsp;</p>
         <p>I love to sew and create costumes. Every year I attend conventions and usually enter them in
            masquerades to get judged for craftsmanship. I also love to go and sing at open karaoke bars.</p>
        <p>&nbsp;</p>
        </div>
        <a class="nonblock nontext clearfix colelem" id="u18334-4" href="http://www.appliedartsmag.com/" target="_blank"><p>www.appliedartsmag.com</p></a>
       </div>
      </div>
     </div>
    </div>
    <%= render 'pages/shared/staff_icons' %>