<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="u20691-4"><!-- content -->
     <p>THINKING OF SELLING?</p>
    </div>
    <div class="colelem" id="u20692"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pu31888"><!-- group -->
     <div class="clearfix grpelem" id="u31888"><!-- group -->
      <div class="pointer_cursor clearfix grpelem" id="u31890"><!-- group -->
       <a class="block" href="selling.html"></a>
       <a class="nonblock nontext clearfix grpelem" id="u31889-4" href="selling.html"><!-- content --><p>Selling</p></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u31894"><!-- group -->
      <div class="pointer_cursor MuseLinkActive clearfix grpelem" id="u31896"><!-- group -->
       <a class="block" href="market-evaluation.html"></a>
       <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u31895-4" href="market-evaluation.html"><!-- content --><p>Market Evaluation</p></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u31891"><!-- group -->
      <div class="pointer_cursor clearfix grpelem" id="u31893"><!-- group -->
       <a class="block" href="buying.html"></a>
       <a class="nonblock nontext clearfix grpelem" id="u31892-4" href="buying.html"><!-- content --><p>Buying</p></a>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu30816"><!-- group -->
     <div class="clearfix grpelem" id="pu30816"><!-- column -->
      <div class="colelem" id="u30816"><!-- image -->
       <img class="block" id="u30816_img" src="/images/market%20evaluation_main.jpg" alt="" width="392" height="220"/>
      </div>
      <div class="clearfix colelem" id="u4367-12"><!-- content -->
       <p>Your home is your largest asset. It is a very important decision to determine the right asking price of a property.<br/><br/>This opinion of value will give you the confidence to price and maximize the value of your home. We show you the comparables and a sophisticated system to calculate</p>
       <p>market price.</p>
       <p><br/>The Oulahens have years of experience and advice to share. We are enthusiastic to show you the details of our listing and marketing package.</p>
      </div>
     </div>
     <div class="clearfix grpelem" id="pu5063"><!-- column -->
      <div class="clearfix colelem" id="u5063"><!-- group -->
       <div class="clearfix grpelem" id="u5062-8"><!-- content -->
        <p>Fill in the form below for a Free Custom Home Evaluation and advice about selling your property.</p>
        <p id="u5062-6"><span id="u5062-3">*</span><span id="u5062-4">&nbsp;</span><span id="u5062-5">Required field</span></p>
       </div>
      </div>
      <div class="colelem" id="u5060"><!-- custom html -->
       <script type="text/javascript" src="http://form.jotform.ca/jsform/31004403097240"></script>
</div>
     </div>
    </div>