<%= content_for :page_title, default_title('Market Evaluation') %>

<div class="gradient colelem" id="u16510"></div>

<%= render 'pages/shared/selling_tabs' %>

<!-- 
    <div class="clearfix colelem" id="u20691-4">
     <p>THINKING OF SELLING?</p>
    </div>
    <div class="colelem" id="u20692"></div>
    <div class="clearfix colelem" id="pu31888">
     <div class="clearfix grpelem" id="u31888">
      <div class="pointer_cursor clearfix grpelem" id="u31890">
       <a class="block" href="selling.html"></a>
       <a class="nonblock nontext clearfix grpelem" id="u31889-4" href="selling.html"><p>Selling</p></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u31894">
      <div class="pointer_cursor MuseLinkActive clearfix grpelem" id="u31896">
       <a class="block" href="market-evaluation.html"></a>
       <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u31895-4" href="market-evaluation.html"><p>Market Evaluation</p></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u31891">
      <div class="pointer_cursor clearfix grpelem" id="u31893">
       <a class="block" href="buying.html"></a>
       <a class="nonblock nontext clearfix grpelem" id="u31892-4" href="buying.html"><p>Buying</p></a>
      </div>
     </div>
    </div>
    <div style="float: left; height: 3px; width: 920px; background-color: #EAF3FA; margin-top: 37px;">
</div> -->



    <div class="clearfix colelem" id="ppu30816">
     <div class="clearfix grpelem" id="pu30816">
      <div class="colelem" id="u30816">
       <img class="block" id="u30816_img" src="/images/market evaluation_main-NEW PHOTO.jpg" alt="" width="392" height="220"/>
      </div>
      <div class="clearfix colelem" id="u4367-12">
       <p>Your home is your largest asset. It is a very important decision to determine the right asking price of a property.<br/><br/>This opinion of value will give you the confidence to price and maximize the value of your home. We show you the comparables and a sophisticated system to calculate</p>
       <p>market price.</p>
       <p><br/>The Oulahens have years of experience and advice to share. We are enthusiastic to show you the details of our listing and marketing package.</p>
      </div>
     </div>
     <div class="clearfix grpelem" id="pu5063">
      <div class="clearfix colelem" id="u5063">
       <div class="clearfix grpelem" id="u5062-8">
        <p>Fill in the form below for a Free Custom Home Evaluation and advice about selling your property.</p>
        <p id="u5062-6"><span id="u5062-3">*</span><span id="u5062-4">&nbsp;</span><span id="u5062-5">Required field</span></p>
       </div>
      </div>
      <div class="colelem" id="u5060"><!-- custom html -->
       <script type="text/javascript" src="http://form.jotform.ca/jsform/31004403097240"></script>
</div>
     </div>
    </div>