<%= content_for :page_title, default_title('Mortgage Calculator') %>


<style>
	form input[type=text] {
		width:130px;
	}

	table td {
		width: 195px;
	}

	.button {
		border-top: 1px solid #63080c;
		background: #a61e25;
		background: -webkit-gradient(linear, left top, left bottom, from(#76080d), to(#a61e25));
		background: -webkit-linear-gradient(top, #76080d, #a61e25);
		background: -moz-linear-gradient(top, #76080d, #a61e25);
		background: -ms-linear-gradient(top, #76080d, #a61e25);
		background: -o-linear-gradient(top, #76080d, #a61e25);
		padding: 5px 10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
		-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
		box-shadow: rgba(0,0,0,1) 0 1px 0;
		text-shadow: rgba(0,0,0,.4) 0 1px 0;
		color: white;
		font-size: 12px;
		font-family: Georgia, serif;
		text-decoration: none;
		vertical-align: middle;
		cursor:pointer;
		font-size:100%;
	}
	.button:hover {
	   border-top-color: #76080d;
	   background: #76080d;
	   color: #ffffff;
	}
	.button:active {
	   border-top-color: #76080d;
	   background: #76080d;
	}

	td input[type="text"] {
		margin-top: 8px;
		margin-left: 3px;
	}
</style>

<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
<div class="clearfix colelem" id="u13935-4"><!-- content -->
 <p>Mortgage Calculator</p>
</div>
<div class="colelem" id="u13936"><!-- simple frame --></div>

<div style="width:750px; margin:0 auto;  padding-top:35px; clear:both;">
	<form name="AffordFORM" method="get" action="" >
		<input type="hidden" name="io_listing_afford" value="">
		<input type="hidden" name="io_gds" value="32">
		<input name="io_heating" type="hidden"  size="15" value="0">

		<div style="display:table; margin:0 auto; margin-bottom: 30px; width:750px;">
			<table cellpadding=5 cellspacing=0 border=0 style="width: 100%;">
				<tr>
					<td align=right>
						Asking Price: &nbsp$
					</td>
					<td>
						<input name="io_price" id="io_price" type="text"  size="15" value=""/>
					</td>
					<td align=right>
						Taxes: &nbsp$
					</td>
					<td>
						<input name="io_taxes" id="io_taxes" type="text"  size="15" value="" /> / year
					</td>
				</tr>
				<tr>
					<td align=right>
						Interest Rate: &nbsp
					</td>
					<td>
						<input name="io_interest" id="io_interest" type="text"  size="15" value="5.25"/> %
					</td>
					<td align=right>
						Condo Fees: &nbsp$
					</td>
					<td>
						<input name="io_condo" id="io_condo" type="text"  size="15" value=""/> / year
					</td>
				</tr>
				<tr>
					<td align=right>
						Amortization: &nbsp
					</td>
					<td>
						<select name="io_amortization" id="io_amortization" onChange="doCalc();"  size="1">
							<option value="5" >5 Years
							<option value="10" >10 Years
							<option value="15" >15 Years
							<option value="20" >20 Years
							<option value="25"  selected>25 Years
							<option value="30" >30 Years
						</select>
					</td>
				</tr>
				<tr>
					<td align=center colspan=4>
						<input type="button" class="button" onClick="setPercent(); doCalc();" value="Calculate" style="float: right; margin-top: 10px;"/>
					</td>
				</tr>
			</table>
		</div>
		


		<table width=100% cellpadding=2 cellspacing=2 border=0 style="width:750px;">
			<tr>
				<td align=right>
					<strong>Down Payment</strong>: 
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="down_payment1" id="down_payment1" onkeyup="calcRefresh(event);" value="50000"/>
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="down_payment2" id="down_payment2" onkeyup="calcRefresh(event);" value="75000"/>
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="down_payment3" id="down_payment3" onkeyup="calcRefresh(event);" value="100000"/>
				</td>
			</tr>

			<tr align=right>
				<td>
					<strong>Percent Down</strong>:  </td>
				<td align=left>
					%<input size=12 type="text"  name="percent_down1" onkeyup="calcRefreshP(this,event);" name="percent_down1"/>
				</td>
				<td align=left>
					%<input size=12 type="text"  name="percent_down2" onkeyup="calcRefreshP(this,event);" name="percent_down2"/>
				</td>
					<td align=left>
					%<input size=12 type="text"  name="percent_down3" onkeyup="calcRefreshP(this,event);" name="percent_down3"/>
				</td>
			</tr>

			<tr>
				<td align=right>
					First Mortgage: 
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="first_mortgage1"/>
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="first_mortgage2"/>
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="first_mortgage3"/>
				</td>
			</tr>

			<tr>
				<td align=right>
				CMHC / GE Premium: </td>
				<td>
					&nbsp$<input size=12 type="text"  name="cmhc1"/>
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="cmhc2"/>
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="cmhc3"/>
				</td>
			</tr>

			<tr>
				<td align=right>
					Total Financing: 
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="total_financing1"/>
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="total_financing2"/>
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="total_financing3"/>
				</td>
			</tr>

			<tr>
				<td align=right>
					Monthly Mortgage Payment: 
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="monthly_payment1"/>
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="monthly_payment2"/>
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="monthly_payment3"/>
				</td>
			</tr>


			<tr>
				<td align=right>
					Taxes / Fees: 
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="expenses1"/>
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="expenses2"/>
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="expenses3"/>
				</td>
			</tr>

			<tr>
				<td align=right>
					Total Payment: 
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="total_payment1"/>
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="total_payment2"/>
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="total_payment3"/>
				</td>
			</tr>

			<tr>
				<td align=right>
					Income Required:
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="income_required1"/>
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="income_required2"/>
				</td>
				<td>
					&nbsp$<input size=12 type="text"  name="income_required3"/>
				</td>
			</tr>

		</table>

	</form>
</div>

