<%= content_for :page_title, 'Norah Oulahen' %>

<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pslideshowu10176"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu10176"><!-- group -->
      <div class="popup_anchor" id="u10207popup">
       <div class="SlideShowContentPanel clearfix" id="u10207"><!-- stack box -->
        <div class="SSSlide grpelem" id="u14131"><!-- image -->
         <img class="block ImageInclude" id="u14131_img" data-src="/images/1-norah.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u14140"><!-- image -->
         <img class="block ImageInclude" id="u14140_img" data-src="/images/2-norah.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u14149"><!-- image -->
         <img class="block ImageInclude" id="u14149_img" data-src="/images/3-norah.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u14158"><!-- image -->
         <img class="block ImageInclude" id="u14158_img" data-src="/images/4-norah.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u14167"><!-- image -->
         <img class="block ImageInclude" id="u14167_img" data-src="/images/5-norah.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u14176"><!-- image -->
         <img class="block ImageInclude" id="u14176_img" data-src="/images/6-norah.jpg" src="/images/blank.gif" alt="" data-width="338" data-height="290"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u10202popup">
       <div class="SSSlideLinks clearfix" id="u10202"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u14134"><!-- image -->
         <img class="block" id="u14134_img" src="/images/1-norah53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u14143"><!-- image -->
         <img class="block" id="u14143_img" src="/images/2-norah53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u14152"><!-- image -->
         <img class="block" id="u14152_img" src="/images/3-norah53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u14161"><!-- image -->
         <img class="block" id="u14161_img" src="/images/4-norah53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u14170"><!-- image -->
         <img class="block" id="u14170_img" src="/images/5-norah53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u14179"><!-- image -->
         <img class="block" id="u14179_img" src="/images/6-norah53x45.jpg" alt="" width="52" height="45"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u10177popup">
       <div class="SlideShowCaptionPanel clearfix" id="u10177"><!-- stack box -->
        <div class="SSSlideCaption clearfix grpelem" id="u14137-4"><!-- content -->
         <p>&nbsp; Sharing my baby brother’s heartbeat with Noni</p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u14146-4"><!-- content -->
         <p>&nbsp; Building a snowman with my granddaughter</p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u14155-4"><!-- content -->
         <p>&nbsp; A night out with Paul</p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u14164-4"><!-- content -->
         <p>&nbsp; Wedding fun in Ottawa</p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u14173-4"><!-- content -->
         <p>&nbsp; At the cottage</p>
        </div>
        <div class="SSSlideCaption invi clearfix grpelem" id="u14182-4"><!-- content -->
         <p>&nbsp; CIBC Run for the cure with end Breastcancer</p>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u10201-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u10201-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u10180-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u10180-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <img class="grpelem" id="u14092" src="/images/norah_profile-u14092.png" alt="" width="338" height="297"/><!-- rasterized frame -->
     <div class="clearfix grpelem" id="pu10215-4"><!-- column -->
      <div class="Headings-Submenus clearfix colelem" id="u10215-4"><!-- content -->
       <h1>NORAH OULAHEN</h1>
      </div>
      <div class="clearfix colelem" id="u10171-4"><!-- content -->
       <p>Real Estate Salesperson</p>
      </div>
      <div class="Personal-Description-red clearfix colelem" id="u10172-4"><!-- content -->
       <p>Norah loves to connect with people and share in their lives. She was an ESL teacher for many years while helping Paul with the business. She has worked with buyers and helped clients through the listing process all over Toronto. She has a flair for finding the right property for a client.</p>
      </div>
      <img class="colelem" id="u14081" src="/images/u14081.png" alt="" width="539" height="2"/><!-- rasterized frame -->
      <div class="clearfix colelem" id="pu10175-46"><!-- group -->
       <div class="clearfix grpelem" id="u10175-46"><!-- content -->
        <p id="u10175-2">Education</p>
        <p id="u10175-3">&nbsp;</p>
        <p id="u10175-4">&nbsp;</p>
        <p id="u10175-5">&nbsp;</p>
        <p id="u10175-7">Best accomplishment</p>
        <p id="u10175-8">&nbsp;</p>
        <p id="u10175-9">&nbsp;</p>
        <p id="u10175-11">Favourite street in Toronto</p>
        <p id="u10175-12">&nbsp;</p>
        <p id="u10175-14">Favourite movie</p>
        <p id="u10175-15">&nbsp;</p>
        <p id="u10175-16">&nbsp;</p>
        <p id="u10175-20">Favourite thing about being <br/>a real estate broker</p>
        <p id="u10175-21">&nbsp;</p>
        <p id="u10175-23">Pet peeve</p>
        <p id="u10175-24">&nbsp;</p>
        <p id="u10175-25">&nbsp;</p>
        <p id="u10175-29">Random important point <br/>about real estate</p>
        <p id="u10175-30">&nbsp;</p>
        <p id="u10175-34">Most interesting thing about <br/>working on a family team</p>
        <p id="u10175-35">&nbsp;</p>
        <p id="u10175-39">What you might not know <br/>about me</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Favourite website</p>
       </div>
       <div class="clearfix grpelem" id="pu10173-28"><!-- column -->
        <div class="clearfix colelem" id="u10173-28"><!-- content -->
         <p>University of Waterloo (Philosophy degree), Humber College (TESL Certificate), Ryerson University (Certificate in Magazine Journalism)</p>
         <p>&nbsp;</p>
         <p>Marrying my high school sweetheart, becoming a mother of twins and now a grandmother (so huge)</p>
         <p>&nbsp;</p>
         <p>Garfield Avenue and Inglewood Drive</p>
         <p>&nbsp;</p>
         <p>The English Patient, The Pianist, Sophie’s Choice, The King’s Speech, Slumdog Millionaire</p>
         <p>&nbsp;</p>
         <p>Meeting people who generously share their private lives and give me insight into my own</p>
         <p>&nbsp;</p>
         <p>Missing the garbage truck as I run down the driveway or the bus as it pulls away</p>
         <p>&nbsp;</p>
         <p>You are not just selling your home or condo, you are selling your story.</p>
         <p>&nbsp;</p>
         <p>How honest and blunt we can be and still respect one another deeply.</p>
         <p>&nbsp;</p>
         <p>I write poetry and paint watercolours. I was a downhill ski racer at Blue Mountain in my younger days. I love yoga and the McMIchael Canadian Art Collection.</p>
        </div>
        <a class="nonblock nontext clearfix colelem" id="u10174-4" href="http://www.poodwaddle.com/clocks/worldclock/" target="_blank"><!-- content --><p>www.poodwaddle.com/clocks/worldclock</p></a>
       </div>
      </div>
     </div>
    </div>
    <%= render 'pages/shared/staff_icons' %>