<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pslideshowu8577"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu8577"><!-- group -->
      <div class="popup_anchor" id="u8588popup">
       <div class="SlideShowContentPanel clearfix" id="u8588"><!-- stack box -->
        <div class="SSSlide grpelem" id="u22089"><!-- image -->
         <img class="block ImageInclude" id="u22089_img" data-src="/images/main.jpg" src="/images/blank.gif" alt="" data-width="516" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u22044"><!-- image -->
         <img class="block ImageInclude" id="u22044_img" data-src="/images/2.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u22053"><!-- image -->
         <img class="block ImageInclude" id="u22053_img" data-src="/images/3.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u22062"><!-- image -->
         <img class="block ImageInclude" id="u22062_img" data-src="/images/4.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u22071"><!-- image -->
         <img class="block ImageInclude" id="u22071_img" data-src="/images/5.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u22080"><!-- image -->
         <img class="block ImageInclude" id="u22080_img" data-src="/images/6.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u8578popup">
       <div class="SSSlideLinks clearfix" id="u8578"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u22092"><!-- image -->
         <img class="block" id="u22092_img" src="/images/main61x35.jpg" alt="" width="60" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u22047"><!-- image -->
         <img class="block" id="u22047_img" src="/images/252x35.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u22056"><!-- image -->
         <img class="block" id="u22056_img" src="/images/352x35.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u22065"><!-- image -->
         <img class="block" id="u22065_img" src="/images/452x35.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u22074"><!-- image -->
         <img class="block" id="u22074_img" src="/images/552x35.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u22083"><!-- image -->
         <img class="block" id="u22083_img" src="/images/652x35.jpg" alt="" width="51" height="34"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u8618-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u8618-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u8619-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u8619-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u8634-4"><!-- content -->
      <h1>PLATINUM</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u8904-6"><!-- content -->
     <h1>18 Spring Garden Avenue &amp;</h1>
     <h1>23 Hollywood Avenue</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u8902-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u8902-2">Yonge &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="pu8575"><!-- group -->
     <div class="grpelem" id="u8575"><!-- custom html -->
      <iframe width="520" height="295" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=18+Spring+Garden+Avenue+Toronto&amp;sll=43.76598,-79.410789&amp;sspn=0.011932,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=18+Spring+Garden+Ave,+Toronto,+Toronto+Division,+Ontario+M2N+3G3&amp;t=m&amp;ll=43.764183,-79.411154&amp;spn=0.009143,0.022316&amp;z=15&amp;output=embed"></iframe><br /><small><a href="http://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=18+Spring+Garden+Avenue+Toronto&amp;sll=43.76598,-79.410789&amp;sspn=0.011932,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=18+Spring+Garden+Ave,+Toronto,+Toronto+Division,+Ontario+M2N+3G3&amp;t=m&amp;ll=43.764183,-79.411154&amp;spn=0.009143,0.022316&amp;z=15" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u8573-44"><!-- content -->
      <p id="u8573-2">18 Spring Garden Avenue</p>
      <p><span id="u8573-3">Built:</span>&nbsp;2008</p>
      <p><span id="u8573-6">Builder:</span>&nbsp;The Conservatory Group</p>
      <p><span id="u8573-9">Floors: </span>36</p>
      <p><span id="u8573-12">Units:</span>&nbsp;341</p>
      <p id="u8573-16">Condo Corp:</p>
      <p><span id="u8573-17">Property Manager:</span>&nbsp;Del Property Management &#45; 416&#45;229&#45;4551</p>
      <p>&nbsp;</p>
      <p id="u8573-22">23 Hollywood Avenue</p>
      <p><span id="u8573-23">Built:</span>&nbsp;2008</p>
      <p><span id="u8573-26">Builder: </span>The Conservatory Group</p>
      <p><span id="u8573-29">Floors: </span>36</p>
      <p><span id="u8573-32">Units:</span>&nbsp;341</p>
      <p id="u8573-35">&nbsp;</p>
      <p><span id="u8573-36">Building Amenities:</span>&nbsp;Gym, Concierge, Yoga/Rec Room, Pool, Sauna, Bowling, Hot Tub, Party Room, Billiards/Games Room, Guest Suites, Business Centre/Board Room, Deck/Garden, Library/Study Room, Theatre.</p>
      <p id="u8573-39">&nbsp;</p>
      <p><span id="u8573-40">Builder's Description:</span>&nbsp;Rare. Precious. Irreplaceable. Only Platinum captures the essence of value. Connecting you instantaneously to the crackling energy and pulsing vibrancy of downtown North York, Platinum Towers is in the heart and soul of North York at Yonge between Spring Gardens and Hollywood. All the amenities conveniently at your doorstep. Minutes to the 401 and the 404 and the Yonge St. subway just steps away. The ground floor features an extensive weight &amp; fitness room with everything you could possibly want in home exercise equipment. Complete with a spacious indoor pool, extensive men's and women's change rooms, relaxing saunas and exciting bowling lanes, this is the Platinum life. If you seek a soothing moment of tranquility, the entertainment centre in Platinum Towers has everything you need. Watch a movie in the home theatre. Socialize in the conference room. Enjoy bridge or poker in the card room. Play a few games of snooker in the billiards room. This is living, the Platinum way.</p>
     </div>
    </div>