<%= content_for :page_title, 'Selling' %>

<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="u20495-4"><!-- content -->
     <p>LISTING PLAN FOR SELLERS</p>
    </div>
    <div class="colelem" id="u20496"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pu31897"><!-- group -->
     <div class="clearfix grpelem" id="u31897"><!-- group -->
      <div class="pointer_cursor MuseLinkActive clearfix grpelem" id="u31899"><!-- group -->
       <a class="block" href="selling.html"></a>
       <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u31898-4" href="selling.html"><!-- content --><p>Selling</p></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u31903"><!-- group -->
      <div class="pointer_cursor clearfix grpelem" id="u31905"><!-- group -->
       <a class="block" href="market-evaluation.html"></a>
       <a class="nonblock nontext clearfix grpelem" id="u31904-4" href="market-evaluation.html"><!-- content --><p>Market Evaluation</p></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="u31900"><!-- group -->
      <div class="pointer_cursor clearfix grpelem" id="u31902"><!-- group -->
       <a class="block" href="buying.html"></a>
       <a class="nonblock nontext clearfix grpelem" id="u31901-4" href="buying.html"><!-- content --><p>Buying</p></a>
      </div>
     </div>
    </div>
        <div style="float: left; height: 3px; width: 920px; background-color: #EAF3FA; margin-top: 35px; margin-bottom: 15px;">
</div>
    <div class="clearfix colelem" id="pppu19270-4"><!-- group -->
     <div class="clearfix grpelem" id="ppu19270-4"><!-- column -->
      <div class="clearfix colelem" id="pu19270-4"><!-- group -->
       <a class="nonblock nontext clearfix grpelem" id="u19270-4" href="listings.html"><!-- content --><p>Residential</p></a>
       <a class="nonblock nontext clearfix grpelem" id="u19271-4" href="commercial-listings.html"><!-- content --><p>Commercial</p></a>
       <a class="nonblock nontext clearfix grpelem" id="u19272-4" href="commercial-listings.html"><!-- content --><p>Transactions</p></a>
       <div class="grpelem" id="u30562"><!-- image -->
        <img class="block" id="u30562_img" src="/images/selling_main.jpg" alt="" width="419" height="211"/>
       </div>
      </div>
      <div class="clearfix colelem" id="ppu26502"><!-- group -->
       <div class="clearfix grpelem" id="pu26502"><!-- group -->
        <a class="nonblock nontext grpelem" id="u26502" href="/images/39 Gypsy Roseway_Postcard_WEB.pdf" target="_blank" title="Click here to view a sample"><!-- image --><img class="block" id="u26502_img" src="/images/mailer-samples.jpg" alt="" width="187" height="281"/></a>
        <a class="nonblock nontext clearfix grpelem" id="u32376-4" href="/images/39 Gypsy Roseway_Postcard_WEB.pdf" target="_blank" title="Click here to view a sample"><!-- content --><p>Postcards</p></a>
       </div>
       <a class="nonblock nontext grpelem" id="u26496" href="/images/18 Franklin Avenue_FS_WEB.pdf" target="_blank" title="Click here to view a sample"><!-- image --><img class="block" id="u26496_img" src="/images/fs_franklin.jpg" alt="" width="217" height="281"/></a>
       <a class="nonblock nontext clearfix grpelem" id="u17547-4" href="/images/18 Franklin Avenue_FS_WEB.pdf" target="_blank" title="Click here to view a sample"><!-- content --><p>Feature Sheets</p></a>
      </div>
      <div class="clearfix colelem" id="ppu30504"><!-- group -->
       <div class="clearfix grpelem" id="pu30504"><!-- group -->
        <a class="nonblock nontext grpelem" id="u30504" href="http://www.youtube.com/watch?v=afT_ghtIg9U" target="_blank"><!-- image --><img class="block" id="u30504_img" src="/images/virtual-tour_Glenrose.jpg" alt="" width="187" height="229"/></a>
        <a class="nonblock nontext clearfix grpelem" id="u32375-4" href="http://www.youtube.com/watch?v=afT_ghtIg9U" target="_blank" title="Click here to view a sample"><!-- content --><p>Virtual Tour</p></a>
       </div>
       <a class="nonblock nontext grpelem" id="u17550" href="/images/87 Bogert_FLOOR_PLAN .jpg" target="_blank" title="Click here to view a sample"><!-- image --><img class="block" id="u17550_img" src="/images/floor-plans-u17550.jpg" alt="" width="217" height="229"/></a>
       <a class="nonblock nontext clearfix grpelem" id="u32374-4" href="/images/87 Bogert_FLOOR_PLAN .jpg" target="_blank" title="Click here to view a sample"><!-- content --><p>Floor Plans</p></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="ppu6865-4"><!-- column -->
      <div class="clearfix colelem" id="pu6865-4"><!-- group -->
       <div class="clearfix grpelem" id="u6865-4"><!-- content -->
        <p>It is crucial to know what steps to take when you become involved in the real</p>
       </div>
       <div class="clearfix grpelem" id="u32371"><!-- group -->
        <div class="pointer_cursor rounded-corners clearfix grpelem" id="u32357"><!-- group -->
         <a class="block" href="market-evaluation.html"></a>
         <a class="nonblock nontext grpelem" id="u32343" href="market-evaluation.html"><!-- rasterized frame --><img id="u32343_img" src="/images/selling_house-button-u32343.png" alt="" width="81" height="76"/></a>
         <a class="nonblock nontext clearfix grpelem" id="u32342-4" href="market-evaluation.html"><!-- content --><p>Call the Oulahens to sell your property today!</p></a>
        </div>
       </div>
      </div>
      <div class="clearfix colelem" id="u32360-4"><!-- content -->
       <p>estate process. Years of experience in the business have allowed us to develop a technique that will help us sell your home quickly and for the best price possible. As your representatives we will:</p>
      </div>
      <div class="clearfix colelem" id="u6860-75"><!-- content -->
       <p id="u6860-3"><span id="u6860">• </span>Provide extensive analysis of recent sales in your neighborhood and current</p>
       <p id="u6860-5">&nbsp; competing properties</p>
       <p id="u6860-8"><span id="u6860-6">• </span>Give an honest and accurate opinion of market value</p>
       <p id="u6860-13"><span id="u6860-9">• </span>Have an interior decorator from HG Staging and Redesign visit your<br/>&nbsp;&nbsp; home for a consultation and potential staging</p>
       <p id="u6860-16"><span id="u6860-14">• </span>Receive professional floor plans of your home</p>
       <p id="u6860-19"><span id="u6860-17">• </span>Take professional pictures and video of your home</p>
       <p id="u6860-22"><span id="u6860-20">• </span>Create a virtual tour of your home</p>
       <p id="u6860-25"><span id="u6860-23">• </span>Create a Feature Sheet of your home for potential purchasers</p>
       <p id="u6860-30"><span id="u6860-26">• </span>Circulate the listing details of your property to the Re/Max Realtron<br/>&nbsp;&nbsp; website and their offices</p>
       <p id="u6860-35"><span id="u6860-31">• </span>Place your home on the MLS and Toronto MLS websites to be viewed<br/>&nbsp;&nbsp; by agents and home buyers</p>
       <p id="u6860-42"><span id="u6860-36">• </span>Put your home on our oulahen.com with additional link for today's<br/>&nbsp;&nbsp; tech&#45;savvy buyer (including YouTube, Facebook, feature sheet and <br/>&nbsp;&nbsp; floor plans)</p>
       <p id="u6860-47"><span id="u6860-43">• </span>Mail “Just Listed” postcards to houses or condominium buildings in the<br/>&nbsp; surrounding neighbourhood</p>
       <p id="u6860-50"><span id="u6860-48">• </span>Research all competition in the area to plan and prepare accordingly</p>
       <p id="u6860-53"><span id="u6860-51">• </span>Hold weekend open houses at your convenience, whenever possible</p>
       <p id="u6860-58"><span id="u6860-54">• </span>Answer all buyers inquiring about your home quickly with a VOIP<br/>&nbsp;&nbsp;  
        phone system</p>
       <p id="u6860-63"><span id="u6860-59">• </span>Qualify all purchasers and work with mortgage lenders for potential<br/>&nbsp;&nbsp; buyers</p>
       <p id="u6860-68"><span id="u6860-64">• </span>Provide strong representation during offer negotiations, getting you the best<br/>&nbsp;&nbsp; price and terms possible.</p>
       <p id="u6860-73"><span id="u6860-69">• </span>Assist your lawyer and mortgage broker between the date of<br/>&nbsp;&nbsp; acceptance of the offer and the closing date</p>
      </div>
     </div>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u6863-6" href="market-evaluation.html"><!-- content --><p>Contact us today for a <span id="u6863-2">Free Market Evaluation</span>&nbsp;for your home.</p></a>
	
	
	
	
	