<%= content_for :page_title, default_title('Condominium Market Statistics') %>

<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pu17909-4"><!-- group -->
     <div class="clearfix grpelem" id="u17909-4"><!-- content -->
      <p>CURRENT MARKET STATISTICS</p>
     </div>
     <div class="grpelem" id="u17884"><!-- simple frame --></div>
    </div>
    <div class="clearfix colelem" id="ppu17888-4"><!-- group -->
     <div class="clearfix grpelem" id="pu17888-4"><!-- column -->
      <div class="clearfix colelem" id="u17888-4"><!-- content -->
       <p>We've compiled statistics from Toronto Real Estate Board Market Watch to present these easy&#45;to&#45;read graphs. In each graph you can view the average sold price and number of homes sold for condos and houses in each district. We update these graphs monthly so check back often! If you don't see your area here, email us us and we can send you statistics specific to your neighbourhood.</p>
      </div>
      <div class="clearfix colelem" id="u17907-4"><!-- content -->
       <p>Clicking on a graph will open its high&#45;resolution version in a new window. Click on Houses or Condos in the bar below to view statistics.</p>
      </div>
     </div>
     <a class="nonblock nontext clearfix grpelem" id="u17915" href="/images/stats_gta.jpg" target="_blank" title="Click here to view a high&#45;resolution version"><!-- image --><div id="u17915_clip"><img class="position_content" id="u17915_img" src="/images/sstats_gta.jpg" alt="" width="591" height="360"/></div></a>
    </div>
    <div class="clearfix colelem" id="pu17889"><!-- group -->
     <div class="clearfix grpelem" id="u17889"><!-- column -->
      <div class="clearfix colelem" id="pu17912"><!-- group -->
       <div class="clearfix grpelem" id="u17912"><!-- group -->
        <div class="pointer_cursor rounded-corners clearfix grpelem" id="u17914"><!-- group -->
         <a class="block" href="stats.html"></a>
         
         <%= link_to 'HOUSES', page_path('stats'), class: 'nonblock nontext clearfix grpelem', id: 'u17913-4' %>
        </div>
       </div>
       <div class="clearfix grpelem" id="u17890"><!-- group -->
        <div class="pointer_cursor MuseLinkActive rounded-corners clearfix grpelem" id="u17892"><!-- group -->
         <a class="block" href="stats-condos.html"></a>
         <%= link_to 'CONDOS', page_path('stats-condos'), class: 'nonblock nontext MuseLinkActive clearfix grpelem', id: 'u17891-4' %>
        </div>
       </div>
      </div>
      <div class="clearfix colelem" id="u17964"><!-- image -->
       <div id="u17964_clip">
        <img class="position_content" id="u17964_img" src="/images/condos%20map.jpg" alt="" width="314" height="385"/>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="pu18141"><!-- column -->
      <div class="clearfix colelem" id="u18141"><!-- group -->
       <div class="clearfix grpelem" id="u17917-4"><!-- content -->
        <p>Condo Market Statistics</p>
       </div>
      </div>
      <div class="clearfix colelem" id="pu30544"><!-- group -->
       <div class="clearfix grpelem" id="u30544"><!-- image -->
        <div id="u30544_clip">
         <img class="position_content" id="u30544_img" src="/images/stats_c7c14.png" alt="" width="600" height="365"/>
        </div>
       </div>
       <a class="nonblock nontext clearfix grpelem" id="u17902-4" href="/images/stats_c7.jpg" target="_blank" title="Click here to enlarge image"><!-- content --><p>Market Statistics for c7 &amp; c14 Condos for the Past 2 Years</p></a>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="pu30550"><!-- group -->
     <div class="clearfix grpelem" id="u30550"><!-- image -->
      <div id="u30550_clip">
       <img class="position_content" id="u30550_img" src="/images/stats_c1c8.png" alt="" width="600" height="365"/>
      </div>
     </div>
     <a class="nonblock nontext clearfix grpelem" id="u18100-4" href="/images/stats_c1c8.jpg" target="_blank" title="Click here to enlarge image"><!-- content --><p>Market Statistics for c1 &amp; c8 Condos for the Past 2 Years</p></a>
    </div>