<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pu17677-4"><!-- group -->
     <div class="clearfix grpelem" id="u17677-4"><!-- content -->
      <p>CURRENT MARKET STATISTICS</p>
     </div>
     <div class="grpelem" id="u17678"><!-- simple frame --></div>
    </div>
    <div class="clearfix colelem" id="ppu7346-4"><!-- group -->
     <div class="clearfix grpelem" id="pu7346-4"><!-- column -->
      <div class="clearfix colelem" id="u7346-4"><!-- content -->
       <p>We've compiled statistics from Toronto Real Estate Board Market Watch to present these easy&#45;to&#45;read graphs. In each graph you can view the average sold price and number of homes sold for condos and houses in each district. We update these graphs monthly so check back often! If you don't see your area here, email us us and we can send you statistics specific to your neighbourhood.</p>
      </div>
      <div class="clearfix colelem" id="u17687-8"><!-- content -->
       <p>Clicking on a graph will open its high&#45;resolution version in a new window.<span id="u17687-2">&nbsp;Click on Houses</span>&nbsp;or <span id="u17687-4">Condos</span>&nbsp;in the bar below to view statistics.</p>
      </div>
     </div>
     <div class="grpelem" id="u30498"><!-- image -->
      <img class="block" id="u30498_img" src="/images/stats_gta.jpg" alt="" width="549" height="345"/>
     </div>
    </div>
    <div class="clearfix colelem" id="pu17818"><!-- group -->
     <div class="clearfix grpelem" id="u17818"><!-- column -->
      <div class="clearfix colelem" id="pu17840"><!-- group -->
       <div class="clearfix grpelem" id="u17840"><!-- group -->
        <div class="pointer_cursor MuseLinkActive rounded-corners clearfix grpelem" id="u17832"><!-- group -->
         <a class="block" href="stats.html"></a>
         <%= link_to 'HOUSES', page_path('stats'), class: 'nonblock nontext MuseLinkActive clearfix grpelem', id: 'u17703-4' %>
        </div>
       </div>
       <div class="clearfix grpelem" id="u17841"><!-- group -->
        <div class="pointer_cursor rounded-corners clearfix grpelem" id="u17838"><!-- group -->
         <a class="block" href="stats-condos.html"></a>
         <%= link_to 'CONDOS', page_path('stats-condos'), class: 'nonblock nontext clearfix grpelem', id: 'u17704-4' %>
        </div>
       </div>
      </div>
      <div class="clearfix colelem" id="u17697"><!-- image -->
       <div id="u17697_clip">
        <img class="position_content" id="u17697_img" src="/images/houses-map.jpg" alt="" width="316" height="376"/>
       </div>
      </div>
     </div>
     <div class="clearfix grpelem" id="pu18142"><!-- column -->
      <div class="clearfix colelem" id="u18142"><!-- group -->
       <div class="clearfix grpelem" id="u18143-4"><!-- content -->
        <p>Detached Home Market Statistics</p>
       </div>
      </div>
      <div class="clearfix colelem" id="pu32132"><!-- group -->
       <div class="clearfix grpelem" id="u32132"><!-- image -->
        <div id="u32132_clip">
         <img class="position_content" id="u32132_img" src="/images/stats_c7.png" alt="" width="600" height="365"/>
        </div>
       </div>
       <div class="clearfix grpelem" id="u17746"><!-- group -->
        <a class="nonblock nontext clearfix grpelem" id="u17725-4" href="/images/stats_c7.jpg" target="_blank" title="Click here to enlarge image"><!-- content --><p>Market Statistics for c7 Detached Homes for the Past 2 Years</p></a>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu17712"><!-- group -->
     <div class="clearfix grpelem" id="pu17712"><!-- group -->
      <a class="nonblock nontext clearfix grpelem" id="u17712" href="/images/stats_c15.jpg" target="_blank" title="Click here to enlarge image"><!-- image --><div id="u17712_clip"><img class="position_content" id="u17712_img" src="/images/stats_c15.jpg" alt="" width="474" height="288"/></div></a>
      <div class="clearfix grpelem" id="u17732-4"><!-- content -->
       <p>Market Statistics for c15 Detached Homes for the Past 2 Years</p>
      </div>
     </div>
     <a class="nonblock nontext clearfix grpelem" id="u17707" href="/images/stats_c14.jpg" target="_blank" title="Click here to enlarge image"><!-- image --><div id="u17707_clip"><img class="position_content" id="u17707_img" src="/images/stats_c14.jpg" alt="" width="479" height="292"/></div></a>
     <div class="clearfix grpelem" id="u17730-4"><!-- content -->
      <p>Market Statistics for c14 Detached Homes for the Past 2 Years</p>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu17739"><!-- group -->
     <div class="clearfix grpelem" id="pu17739"><!-- group -->
      <a class="nonblock nontext clearfix grpelem" id="u17739" href="/images/stats_c10.jpg" target="_blank" title="Click here to enlarge image"><!-- image --><div id="u17739_clip"><img class="position_content" id="u17739_img" src="/images/stats_c10.jpg" alt="" width="466" height="283"/></div></a>
      <div class="clearfix grpelem" id="u17734-4"><!-- content -->
       <p>Market Statistics for c10 Detached Homes for the Past 18 Months</p>
      </div>
     </div>
     <a class="nonblock nontext clearfix grpelem" id="u17720" href="/images/stats_c12.jpg" target="_blank" title="Click here to enlarge image"><!-- image --><div id="u17720_clip"><img class="position_content" id="u17720_img" src="/images/stats_c12.jpg" alt="" width="468" height="284"/></div></a>
     <div class="clearfix grpelem" id="u17733-4"><!-- content -->
      <p>Market Statistics for c12 Detached Homes for the Past 18 Months*</p>
     </div>
    </div>