<%= content_for :page_title, default_title('Testimonials') %>

    <div class="gradient colelem" id="u16510"></div>
<!--     <div class="clearfix colelem" id="pu12238-4">
     <div class="clearfix grpelem" id="u12238-4">
      <p>TESTIMONIALS</p>
     </div>
     <div class="grpelem" id="u12239"></div>
    </div> -->
    <%= render 'pages/shared/submenu_tabs' %>
    <div class="clearfix colelem" id="ppu26290">
     <div class="clearfix grpelem" id="pu26290"><!-- column -->
      <div class="colelem" id="u26290"><!-- image -->
       <img class="block" id="u26290_img" src="/images/Carrie-and-Bryce.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22136-6">
       <p>Carrie and Bryce</p>
       <p id="u22136-4">Buyers and Sellers</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22135"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22134-4">
      <p id="u22193-2">To Mark and all the amazing people on Team Oulahen!</p>
      <p id="u22193-3">&nbsp;</p>
      <p>Words really can’t express how happy and thankful we are with all the help and support from you and your team while we were on the 
      real estate roller coaster this year.

      We never would have sold the condo or found our dream home without all of your dedication and hard work and ability to explain the 
      craziness that is the Toronto real estate market to us newbies. 

      Also the ability to tell listing agents that their Sellers are out to lunch when they ask for $100K+ over the list price on a sign back.
      Honestly guys, from the bottom of our hearts – thank you so much!</p>
      </div>
    <div class="clearfix colelem" id="ppu26290">
     <div class="clearfix grpelem" id="pu26290"><!-- column -->
      <div class="colelem" id="u26290"><!-- image -->
       <img class="block" id="u26290_img" src="/images/Fairmeadow Cres-7099--mervincarolyn.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22136-6">
       <p>Mervin and Carolyn</p>
       <p id="u22136-4">Buyers</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22135"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22134-4">
      <p id="u22193-2">Ajay and Team Oulahen</p>
      <p id="u22193-3">&nbsp;</p>
      <p>We have had the pleasure of working with Ajay Aheer and the Oulahen Team as part of our journey towards becoming home owners. He took us through the entire process step by step answering any questions we had along the way.

      He represented himself and us as clients in a professional manner at all times. Having engaged him as our agent there were no regrets. We won't hesitate to recommend him to any of our friends.

      Thank you again, Ajay, and if there is any need in the future, we will be calling on you.</p>
      </div>
     </div> 
     <div class="clearfix colelem" id="ppu26290">
     <div class="clearfix grpelem" id="pu26290"><!-- column -->
      <div class="colelem" id="u26290"><!-- image -->
       <img class="block" id="u26290_img" src="/images/1-289-Dunview-Harry-W-Ort.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22136-6">
       <p>Harry W.Ort</p>
       <p id="u22136-4">Buyers &amp; Sellers</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22135"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22134-4">
      <p id="u22193-2">Team Oulahen</p>
      <p id="u22193-3">&nbsp;</p>
      <p>We used Team Oulahen on both the sale and purchase side during our time of downsizing.  The different generations from Team Oulahen
      brought the perspective of the likely buyer with the result that we were very happy with the results of our sale.

      Team Oulahen's advice and guidance with respect to the purchase of our new house was also spot on!!

      We would highly recommend the Team to anyone thinking of buying or selling.</p>
      </div>
     </div>
     <div class="clearfix colelem" id="ppu26290">
     <div class="clearfix grpelem" id="pu26290"><!-- column -->
      <div class="colelem" id="u26290"><!-- image -->
       <img class="block" id="u26290_img" src="/images/1-63-hobert-bonnie-bruce.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22136-6">
       <p>Bruce and Bonnie</p>
       <p id="u22136-4">Buyers &amp; Sellers</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22135"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22134-4">
      <p>I just wanted to send you a note about how happy we are that we got the opportunity to work with &quot;Team Oulahen&quot; on our recent buy and sell. We started down this road almost 1 and 1/2 years ago after being introduced to you folks by John. As I am sure you recall Bonnie and I had no idea where we wanted to live, what we wanted to live in, or even if we wanted to move. Talk about a realtor challenge.The patience that you showed in guiding us around and through the alternatives was definitely &quot;above and beyond the call&quot;. We appreciated your efforts and also the efforts of Paul, Norah and Jeff as well as the others that supported us during this time.We also were extremely surprised and pleased with the continued support after the transactions were completed. Again we see this as &quot;above and beyond&quot;. Quite frankly, we have no idea why anyone would want to enter into any real estate transaction with another realtor. We would be more than happy to offer ourselves as a reference at any point in the future. Again many thanks.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu26264">
     <div class="clearfix grpelem" id="pu26264"><!-- column -->
      <div class="colelem" id="u26264"><!-- image -->
       <img class="block" id="u26264_img" src="/images/2-30-harrison-ron---judith.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22199-6">
       <p>Ron and Judith</p>
       <p id="u22199-4">Sellers</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22197"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22193-10">
      <p id="u22193-2">Dear Jeff and Mark:</p>
      <p id="u22193-3">&nbsp;</p>
      <p id="u22193-5">We would like to thank you and your team for all the hard work and effort put forth into the sale of our condo on Harrison Garden Blvd. We are truly appreciative of your professional work and highly recommend you. We have moved a few times and can assure you that your team is one of the best. Our move went smoothly and we are very happy with our purchase.</p>
      <p id="u22193-6">&nbsp;</p>
      <p id="u22193-8">Take care and good luck in the future.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u22633">
     <div class="clearfix grpelem" id="u22221">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22208-6">
       <p>Lucy and Sagar</p>
       <p id="u22208-4">Buyers</p>
      </div>
      <div class="gradient grpelem" id="u22209"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22207-7">
       <p>Jeff showed great patience, diligence and tenacity through a long challenging search in helping me and my wife finally find the house that we would ultimately call home.<br/><br/>Thanks Jeff!</p>
      </div>
     </div>
     <div class="grpelem" id="u22313"><!-- image -->
      <img class="block" id="u22313_img" src="/images/1-143-lucy-sagar-testimonial.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu26225">
     <div class="clearfix grpelem" id="pu26225"><!-- column -->
      <div class="colelem" id="u26225"><!-- image -->
       <img class="block" id="u26225_img" src="/images/4-357-greenfield---henderson-ian-cathy.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22170-6">
       <p>Ian and Cathy Hazell</p>
       <p id="u22170-4">Sellers</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22210"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22171-7">
      <p id="u22171-2">We have known and worked with Paul and Norah for almost 20 years conducting and creating a range of real estate projects – from buying and selling our home to developing and building investments. Their honest, intelligent and practical approach to real estate is fundamental to understanding the needs in each unique situation and providing us with the right advice. And now we have the whole team in behind us. They work brilliantly with their sons, Jeff and Mark, who bring their own special insights to the project. We have never considered working with anyone but Paul and Norah &#45; who are now helping our parents make the unprecedented step from their family home to condo living.</p>
      <p id="u22171-3">&nbsp;</p>
      <p id="u22171-5">The Oulahens continue to work their magic!</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u22634">
     <div class="clearfix grpelem" id="pu22310"><!-- column -->
      <div class="colelem" id="u22310"><!-- image -->
       <img class="block" id="u22310_img" src="/images/1-156- portland-Jamie-TEST.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22185-6">
       <p>Jamie</p>
       <p id="u22185-4">Buyer</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22218"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22186-4">
      <p>I worked with Mark &amp; Jeff for quite a while looking for my first home and I can honestly say that are by far the most committed, dedicated and resourceful team I have ever had the pleasure of working with. While looking for my home, I changed directions quite a few times and Mark was not only incredibly patient, but had this ability to understand what I was looking for even before I did &#45; which was hugely enabling for a first time home buyer. He went out of his way to show me my options to ensure that I understood the market &amp; what my money could buy. He had the expertise &amp; knowledge to educate me throughout the entire process and often brought up watch&#45;outs to protect me and my investment. Finally, when I conditionally purchased a place, there were added complexities to sort out &#45; and Mark &amp; Jeff went ABOVE and BEYOND trying to resolve them on my behalf, which was well beyond their scope. The entire Oulahen team is dedicated not just to excellence in realty, but also upholding the highest standard of integrity. So for that, and for treating me as if I was a part of their family rather than a client, I can't thank them enough for everything they have done for me.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu26212">
     <div class="clearfix grpelem" id="pu26212"><!-- column -->
      <div class="colelem" id="u26212"><!-- image -->
       <img class="block" id="u26212_img" src="/images/6--15-northtown-lianne--john.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22231-6">
       <p>John and Lianne Vuksic</p>
       <p id="u22231-4">Buyers &amp; Sellers</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22225"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22232-4">
      <p>Thank you, thank you, thank you for making our transition from condo to house a smooth one even with all the bumps in the road that we encountered to get there. From not knowing what our “must haves” were to then dealing with a difficult seller and then getting over the nervousness of selling our condo, Jeff and his team were there to guide us through every process. The advice we were given to prepare our condo for sale including the pricing was bang on because we sold our condo after just 1 DOM! A clever clause in our home purchase documents allowed us to be flexible with closing dates and we were bought, sold and moved within a few weeks! The Oulahen’s knowledge of the market, neighbourhoods and investment opportunities were far beyond any of our expectations and helped make our decisions easier. We love our new home and our son loves his new green room!</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu22234">
     <div class="clearfix grpelem" id="u22234">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22241-6">
       <p>David P.</p>
       <p id="u22241-4">Seller</p>
      </div>
      <div class="gradient grpelem" id="u22238"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22242-4">
       <p>I wanted to take a moment to thank you for your remarkable efforts in selling our home. Before this sale, I wouldn’t have believed it was possible for a realtor to fill so many roles in such a complex process. Your team exceeded our expectations at all levels, professional and personal. On a professional front, your market knowledge and experience gave us a valuable edge in pricing the house. Your negotiation etiquette and attention to contract details was obvious throughout the process. Your advice on advertising and marketing were brilliant. On the personal side, our sale had a few irregularities, not to mention an erratic schedule and timeline. Yet your team handled the dozens of transactional details smoothly and reassuringly. You were always easy to contact and returned our calls promptly. Your advice on how to prepare the house for sale turned what could have been a nerve&#45;wracking experience, into a wonderful success. You assisted us every step of the way, making it feel like we had a trusted professional guide navigate an unfamiliar industry. And to top it all off, you helped us get our asking price within weeks! We feel very fortunate to have had your team in our corner.</p>
      </div>
     </div>
     <div class="grpelem" id="u26195"><!-- image -->
      <img class="block" id="u26195_img" src="/images/7--90-hollywood-ave--david-pennington.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu26132">
     <div class="clearfix grpelem" id="pu26132"><!-- column -->
      <div class="colelem" id="u26132"><!-- image -->
       <img class="block" id="u26132_img" src="/images/8--19-mcclellan-way--chris-and-andrea.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22255-6">
       <p>Chris and Andrea</p>
       <p id="u22255-4">Buyers &amp; Sellers</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22259"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22258-6">
      <p>Working with the Oulahen Team was the best decision we could have made when it came down to buying and selling real estate. Their professionalism, knowledge and experience provided us with the confidence and support we needed . We appreciated their true dedication every step of the way. We have bought and sold two properties now with the Oulahens and we love how the support and advice continues even after the deals close. It wasn’t rare for multiple Oulahen team members to be sitting around with us, counseling us and helping us sort through options. They listened to us and above all were just as passionate and genuinely excited about our new home purchase as we were. Mark’s negotiation skills and experience was always far beyond other agents. I have recommended them to friends and family and the sentiment is always the same, the Oulahens are leaps and bounds beyond the abilities of the average real estate agent.</p>
      <p>We would never think about buying or selling real estate without them.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u22288">
     <div class="clearfix grpelem" id="pu22281"><!-- column -->
      <div class="colelem" id="u22281"><!-- image -->
       <img class="block" id="u22281_img" src="/images/8%20-%2086%20empress-%20hakim.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22269-6">
       <p>Hakim and Lilly</p>
       <p id="u22269-4">Sellers</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22265"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22264-7">
      <p>Thank you for the excellent results on our Alfred Ave property. Within 2 weeks of listing the property sold for a much higher than anticipated price. In fact it still is the highest price for any comparable property in the area. The Oulahen Team exhibited expertise, integrity and commitment. When the offers for our property came in, three qualified in&#45;house agents conferred to produce the best possible outcome. The process was calm, informed and totally transparent. In our opinion, the Oulahen Team must be the most informed real estate salespeople in the Willowdale area.</p>
      <p>&nbsp;</p>
      <p>Thanks again, looking forward to do business through you again.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u22685">
     <div class="clearfix grpelem" id="pu22680"><!-- column -->
      <div class="colelem" id="u22680"><!-- image -->
       <img class="block" id="u22680_img" src="/images/10--47-parkview--anne-marie.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22294-6">
       <p>Anne Marie</p>
       <p id="u22294-4">Seller</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22290"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22293-4">
      <p>My sincere appreciation to you and the entire Oulahen team for your hard work on behalf of my Dad and our family. You are a consummate professionals and I marvel at how you do what you do. Your rapport with my father was amazing and I can’t imagine anyone else having been a better fit. We all felt fully supported throughout the process. You were understanding of the emotional impact of selling the family home, but also practical and savvy. Dad was very happy with the outcome and we will never forget the look on his face when you gave him the big news. I always &#45;trusted we would be in good hands and indeed we were!</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu22637">
     <div class="clearfix grpelem" id="u22637">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22319-6">
       <p>Lisa B.</p>
       <p id="u22319-4">Seller &amp; Buyer</p>
      </div>
      <div class="gradient grpelem" id="u22318"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22317-4">
       <p>I have worked with the Oulahen Team Re/Max for the purchase of two homes and the sale of one. Their knowledge of real estate in homes and condominiums is outstanding. Their exceptional expertise in the art of a real estate transaction could only have been acquired through their many years of experience. But what I was most impressed with and most grateful for is the level of service I received from the Oulahen Team&#45; it was far beyond my expectations. I have taken their advice on each transaction and it proved to be spot on. I would highly recommend them to all of my friends and family.</p>
      </div>
     </div>
     <div class="grpelem" id="u22686"><!-- image -->
      <img class="block" id="u22686_img" src="/images/11--31-avondale-th401--lisa-banks.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="u22638">
     <div class="clearfix grpelem" id="pu22327"><!-- column -->
      <div class="colelem" id="u22327"><!-- image -->
       <img class="block" id="u22327_img" src="/images/1-12-28 hollywood-206-tanya-alex-TEST.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22324-6">
       <p>Tanya and Alex</p>
       <p id="u22324-4">Buyers &amp; Sellers</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22326"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22325-7">
      <p>Just wanted to say thank you for all of your wonderful help selling our condo and purchasing our new home. You really helped us make it a smooth transition….it was a really busy year because we were working to sell our own condo and buy a house. We love our new home and are slowly making it our own. Everything worked out quite nicely.</p>
      <p><br/>So thanks again for all your advice and wonderful support during a very busy time!!!</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u22639">
     <div class="clearfix grpelem" id="pu22334"><!-- column -->
      <div class="colelem" id="u22334"><!-- image -->
       <img class="block" id="u22334_img" src="/images/1-31-woodthrushCourt-g.banks-TEST.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22333-6">
       <p>G. Banks</p>
       <p id="u22333-4">Buyers &amp; Sellers</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22331"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22332-8">
      <p>Paul and TEAM:<br/><br/></p>
      <p id="u22332-6">They say luck is where preparation meets opportunity. You guys were well prepared – thank you all for the great work! You guys are creative, highly competent and fun to work with – what else can I say?!</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu22337">
     <div class="clearfix grpelem" id="u22337">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22339-6">
       <p>Katja</p>
       <p id="u22339-4">Buyer &amp; Seller</p>
      </div>
      <div class="gradient grpelem" id="u22340"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22338-4">
       <p>I have just completed both a sale and a purchase with the Oulahen Team. I can honestly say that this is the most incredible customer service experience I have ever had. From the very first contact, there was not an email or phone call that was not quickly answered by one of the members of the team. My house sold for a good amount over asking and well above what anything similar in my neighbourhood has sold for. Their advice on which upgrades to the house prior to the sale would net me the best results was spot on. I was a picky purchaser and the Oulahens moved heaven and earth to find for me what I wanted. When I finally did find what I wanted they got if for me at a fair price. The Oulahens are a wonderful team of realtors with integrity, vast knowledge and experience. Each member of the team has their own expertise and they make it work together to your advantage. They both made and saved me money. All accolades they have received are 110% deserved. I grew to really like and respect Paul, Norah, Jeff and Mark. These are wonderful people and my advice to you if you are working with this family is TRUST THEIR ADVICE. The process of selling and buying (in my case on my own) is stressful enough. Let them handle it. You will not be sorry.</p>
      </div>
     </div>
     <div class="grpelem" id="u26119"><!-- image -->
      <img class="block" id="u26119_img" src="/images/14-285-mutual-katjia.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="u22351">
     <div class="clearfix grpelem" id="u22344">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22346-6">
       <p>Sarah Turner</p>
       <p id="u22346-4">Buyer &amp; Seller</p>
      </div>
      <div class="gradient grpelem" id="u22345"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22347-6">
       <p>Thanks Norah. I am really happy it all worked out. It was a pleasure working with you too. You made the process fun and I enjoyed looking at all the homes with you. It gave me a good sense of the neighbourhood and the type of home that I wanted to buy.</p>
       <p>Thanks to Mark for helping me with the sale and Jeff for taking me out to look at all those houses too. And Paul for coming with you on the Sunday.</p>
      </div>
     </div>
     <div class="grpelem" id="u22348"><!-- image -->
      <img class="block" id="u22348_img" src="/images/1-28-209-sarah-turner-harrisongdn-test.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="u22696">
     <div class="clearfix grpelem" id="pu22691"><!-- column -->
      <div class="colelem" id="u22691"><!-- image -->
       <img class="block" id="u22691_img" src="/images/16--105-yorkview--andy-and-rita.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22367-6">
       <p>Andy and Rita</p>
       <p id="u22367-4">Buyers</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22366"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22365-4">
      <p>Mark, I would just like to say thank you. You were awesome last night. You, Jeff, your mom and dad are all great. Thank you for all your patience, I know it was not easy dealing with both Rita and I, we had faith in you guys cause you guys are the best in the business. We are so excited that I didn't sleep a wink last night. I believe we got a really good lot with lots of potential and we got it at a fair price. The process was probably one of the most painful and nerve racking in our lives, but looking back, we've learned a lot from it thanks to the Oulahen team and we love our new place! &quot;I'm so excited &amp; I just can't hide it…..&quot; You know how the song goes…Thanks and we'll be in touch soon.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u22369">
     <div class="clearfix grpelem" id="u22370">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22372-6">
       <p>Mel and Steve</p>
       <p id="u22372-4">Buyers</p>
      </div>
      <div class="gradient grpelem" id="u22371"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22373-7">
       <p>Hi Jeff, Steve and I wanted to re&#45;iterate our thanks for all of your help landing this incredible deal for us. We couldn't have been happier with how you represented us and your thoughtful advice, sense of humour and negotiating skills helped to land an impossible set of variables in just a couple of weeks! You ought to be a doctor &#45; My blood pressure is down and my husband's heart palpitations have stopped!</p>
       <p>&nbsp;</p>
       <p>We very much look forward to continuing to work with you through the closing process.</p>
      </div>
     </div>
     <div class="grpelem" id="u22374"><!-- image -->
      <img class="block" id="u22374_img" src="/images/1-71-raymond-ave-mel-steve-TEST.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="u22702">
     <div class="clearfix grpelem" id="pu22697"><!-- column -->
      <div class="colelem" id="u22697"><!-- image -->
       <img class="block" id="u22697_img" src="/images/18--55-harrison-garden-ph03--roman-and-julia.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22390-6">
       <p>Roman and Julia</p>
       <p id="u22390-4">Buyers</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22391"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22389-7">
      <p>My girlfriend and I were first time homebuyers with very limited knowledge about the ins and outs of buying a home, especially at a time of instability in the real estate market. Mark Oulahen helped us throughout the process, helping us narrow our search, dealing with the multiple offer situations, finding a good mortgage, and ensuring we were comfortably moved in. Mark helped make the process easy and enjoyable and now we are in a condo that we absolutely love.</p>
      <p>&nbsp;</p>
      <p>Thank you to Mark and the entire Oulahen family for all your hard work and dedication!</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u22401">
     <div class="clearfix grpelem" id="u22402">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22405-6">
       <p>T. Cooke</p>
       <p id="u22405-4">Buyers</p>
      </div>
      <div class="gradient grpelem" id="u22404"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22403-7">
       <p>I wanted to extend my extreme appreciation and gratitude for all the work you did for me on this new adventure of mine. You were so gracious to me and held my hand through the whole process, so to speak. I don't think many agents big or small would have taken that kind of time for my little property but you made me feel like I bought a palace. Your team is very unique.</p>
       <p>&nbsp;</p>
       <p>I can’t thank you enough and if anyone I know ever needs a great agent, I will of course immediately pass on your name.</p>
      </div>
     </div>
     <div class="grpelem" id="u22406"><!-- image -->
      <img class="block" id="u22406_img" src="/images/1-297-celina-street-T.COOKE-TEST.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="u22708">
     <div class="clearfix grpelem" id="pu22703"><!-- column -->
      <div class="colelem" id="u22703"><!-- image -->
       <img class="block" id="u22703_img" src="/images/20--11-everson--604--gina-and-marvin-mikhail.jpg" alt="" width="233" height="147"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22411-6">
       <p>Gina and Marvin</p>
       <p id="u22411-4">Buyers</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22412"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22413-7">
      <p>We couldn’t be more thankful to have you are our agents, partners and friends in our long search for a home.</p>
      <p>&nbsp;</p>
      <p>Thank you and all the best.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u22719">
     <div class="clearfix grpelem" id="pu22714"><!-- column -->
      <div class="colelem" id="u22714"><!-- image -->
       <img class="block" id="u22714_img" src="/images/21--30-harrison-garden--2803--juliet-johnson.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22421-6">
       <p>J. Johnson</p>
       <p id="u22421-4">Buyer &amp; Seller</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22422"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22423-9">
      <p>Just wanted to take this opportunity to thank you so much for your continued dedication with helping me find the right condo unit. Although it took time I finally lucked out and I am quite happy. You have always been available and I can tell that your mandate is excellence in getting the job done. Please send a special thank you to Mark, Norah and Paul.</p>
      <p>&nbsp;</p>
      <p>You all played a significant role in my sale and your caring has not gone unnoticed.</p>
      <p>I will keep in touch neighbours!</p>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu22720">
     <div class="clearfix grpelem" id="pu22720"><!-- column -->
      <div class="colelem" id="u22720"><!-- image -->
       <img class="block" id="u22720_img" src="/images/22--40-castlefield--donna-morgan.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22429-6">
       <p>D. Morgan</p>
       <p id="u22429-4">Seller</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22431"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22430-6">
      <p>Thank you so much for your hard work in selling my home.</p>
      <p>Your personal touch was very meaningful to me.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u22441">
     <div class="clearfix grpelem" id="u22444">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22445-6">
       <p>J and L</p>
       <p id="u22445-4">Sellers</p>
      </div>
      <div class="gradient grpelem" id="u22447"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22446-7">
       <p>It has been a pleasant experience meeting you and the Oulahens. We truly appreciate all your help. We also believe that we will need more help from you in the future. In appreciation for your time and effort.</p>
       <p>&nbsp;</p>
       <p>All the best.</p>
      </div>
     </div>
     <div class="grpelem" id="u22442"><!-- image -->
      <img class="block" id="u22442_img" src="/images/1-GenericHouse-J-and-L.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="u22449">
     <div class="clearfix grpelem" id="u22450">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22453-6">
       <p>The Flook Family</p>
       <p id="u22453-4">Buyers</p>
      </div>
      <div class="gradient grpelem" id="u22451"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22452-7">
       <p>We are so fortunate that our journey to find a house included you all. Buying a home can be a very daunting task but you made it worry free and somewhat easy.</p>
       <p>&nbsp;</p>
       <p>We can’t thank you enough.</p>
      </div>
     </div>
     <div class="grpelem" id="u22454"><!-- image -->
      <img class="block" id="u22454_img" src="/images/1-588- rhodes-flookfamily-test.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="u22730">
     <div class="clearfix grpelem" id="pu22725"><!-- column -->
      <div class="colelem" id="u22725"><!-- image -->
       <img class="block" id="u22725_img" src="/images/25--33-sheppard--1607--khobie-and-linda.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22460-6">
       <p>Linda and Khobie</p>
       <p id="u22460-4">Buyers</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22459"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22461-7">
      <p id="u22461-2">Thanks for helping us find our first home.</p>
      <p id="u22461-3">&nbsp;</p>
      <p id="u22461-5">We really appreciated your expert knowledge, honest opinion and advice.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="pu22476">
     <div class="clearfix grpelem" id="u22476">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22477-6">
       <p>Eden</p>
       <p id="u22477-4">Buyer</p>
      </div>
      <div class="gradient grpelem" id="u22479"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22478-9">
       <p>Being a first time buyer can be an excruciating process, however with your guidance it was enjoyable. I can’t comment enough on how much I appreciate your hard work and dedication. You guided me through the process, from start to finish and even helped me above and beyond any expectations. Your knowledge, experience and easy going manner allowed me to find the perfect home. It is refreshing to find people you can trust, especially with such an important decision, and I am glad that you were here.</p>
       <p>My recommendations to everyone!</p>
       <p>&nbsp;</p>
       <p>Once again thank you and all the best.</p>
      </div>
     </div>
     <div class="grpelem" id="u26145"><!-- image -->
      <img class="block" id="u26145_img" src="/images/26-150-george-eden.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="u22481">
     <div class="clearfix grpelem" id="u22482">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22483-6">
       <p>Katherine McMahon</p>
       <p id="u22483-4">Buyer</p>
      </div>
      <div class="gradient grpelem" id="u22485"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22484-9">
       <p id="u22484-2">A big thank you to Jeff for helping me find the perfect home! Jeff helped me to find a condo in downtown Toronto. Buying a home for the first time is a intimidating process&#45; but not with Jeff at my side! He knew all the right things to look for, to be concerned about and to consider. He understood exactly what I was looking for and was dedicated to inding me just that! Once we found the perfect place, Jeff coached me through the offer process, and I got a deal I was satisfied with. I could not have asked for a more knowledgeable and understanding realtor!</p>
       <p id="u22484-3">&nbsp;</p>
       <p id="u22484-5">I have referred Jeff to friends and family, and they had the same great experience I did.</p>
       <p id="u22484-7">Jeff, I cannot thank you enough!</p>
      </div>
     </div>
     <div class="grpelem" id="u22486"><!-- image -->
      <img class="block" id="u22486_img" src="/images/1-397-FrontSt-McMahon-TEST.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="pu22498">
     <div class="clearfix grpelem" id="u22498">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22501-6">
       <p>Peter and Michael</p>
       <p id="u22501-4">Sellers</p>
      </div>
      <div class="gradient grpelem" id="u22500"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22499-9">
       <p>Jeff and Mark, thank you so much for the great news that everything got finalized tonight!</p>
       <p>You guys are a great team and my brother and I are extremely happy with your excellent advice and guidance in the sale.</p>
       <p>&nbsp;</p>
       <p id="u22499-7">My fiancee and I are having a glass of champagne to celebrate!l</p>
      </div>
     </div>
     <div class="grpelem" id="u26080"><!-- image -->
      <img class="block" id="u26080_img" src="/images/27-5-everson--1204-peter-and-michael.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="pu22506">
     <div class="clearfix grpelem" id="u22506">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22509-6">
       <p>Wendy and James</p>
       <p id="u22509-4">Buyers</p>
      </div>
      <div class="gradient grpelem" id="u22508"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22507-7">
       <p>The Oulahen Team's knowledge of the Yonge/Sheppard neighbourhood is really impressive. Having grown up in the area they have seen the changes firsthand and continue to keep on top of future development. As a result, Jeff was able to tell us how the properties we were interested in would be affected by future planning and where the neighbourhood was heading. The Oulahens are sincere and honest. They listened to what we were looking for and offered insightful suggestions on homes in the area.</p>
       <p>&nbsp;</p>
       <p>It is refreshing to find people you can trust to help you make the important decision of buying a home.</p>
      </div>
     </div>
     <div class="grpelem" id="u26054"><!-- image -->
      <img class="block" id="u26054_img" src="/images/28-11-everson--607-james-and-wendy.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu26106">
     <div class="clearfix grpelem" id="pu26106"><!-- column -->
      <div class="colelem" id="u26106"><!-- image -->
       <img class="block" id="u26106_img" src="/images/29-502-arbor-michael-and-jen.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22515-6">
       <p>Michael and Jen</p>
       <p id="u22515-4">Buyers</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22516"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22517-11">
      <p id="u22517-2">Mark &amp; Jeff:</p>
      <p id="u22517-4">Wanted to take a minute to thank you both for helping Jen and I with the purchase of our home. We could not have asked for a better team. Whether it was our starting pitcher who was always there to ask us what we needed or answer our 1,000 questions or our closer who is a &quot;firm believer of not wasting anyone's time&quot; you guys were great.</p>
      <p id="u22517-5">&nbsp;</p>
      <p id="u22517-7">All kidding aside thanks to both of you for making this an enjoyable and worthwhile process.</p>
      <p id="u22517-9">Thanks.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u22521">
     <div class="clearfix grpelem" id="u22522">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22523-6">
       <p>Dennis</p>
       <p id="u22523-4">Seller</p>
      </div>
      <div class="gradient grpelem" id="u22525"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22524-9">
       <p>Again my thanks to you and Paul and the entire Oulahen organization for making it a most successful and satisfactory outcome – all the while making it look easy (which it isn’t). Your professional advice and support throughout the entire process were most appreciated. I will certainly recommend you highly to anyone looking to list a property.</p>
       <p>&nbsp;</p>
       <p>Hopefully we will have an opportunity to work together again.</p>
       <p id="u22524-7">All the best.</p>
      </div>
     </div>
     <div class="grpelem" id="u22526"><!-- image -->
      <img class="block" id="u22526_img" src="/images/1-TernhillCres-Dennis-Testimonial.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="pu22532">
     <div class="clearfix grpelem" id="u22532">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22534-6">
       <p>Tomas and Zuzana</p>
       <p id="u22534-4">Sellers</p>
      </div>
      <div class="gradient grpelem" id="u22535"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22533-9">
       <p>To the Oulahen Team:</p>
       <p id="u22533-4">Thank you very much for all your hard work to sell our home in such a short time and above our asking price. We were very impressed with your professionalism, work ethic and the real estate advice we received. Your research on competition in the area together with a feature sheet for potential purchasers exceeded all our expectations. Jeff – thanks for leading this sale , Norah – thanks for all the ideas to improve and lighten our home, Mark – thanks for taking those fabulous pictures and advertising and Paul – thanks for applying your real estate experience and excellent people skills to negotiate with potential purchasers.</p>
       <p id="u22533-5">&nbsp;</p>
       <p id="u22533-7">You are such a great team to work with and we would recommend you to anyone!</p>
      </div>
     </div>
     <div class="grpelem" id="u26067"><!-- image -->
      <img class="block" id="u26067_img" src="/images/31-42-anndale-tomas-and-zuzana.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="pu22538">
     <div class="clearfix grpelem" id="u22538">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22540-6">
       <p>Brian P</p>
       <p id="u22540-4">Buyer</p>
      </div>
      <div class="gradient grpelem" id="u22541"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22539-4">
       <p>We contemplated a condo, but really had our hearts set on a house. I like cutting the grass, and wanted to play catch with my son in a backyard. Thanks to Jeff, Mark, Paul the patriarch and Norah the matriarch, houses were visited, numbers crunched, and our offer was accepted. Our home search was actually fun. Now we can't wait for our backyard snow to melt: let lawnmowing and baseball seasons begin!</p>
      </div>
     </div>
     <div class="grpelem" id="u26093"><!-- image -->
      <img class="block" id="u26093_img" src="/images/32-170-snowshoe-brian.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="pu22556">
     <div class="clearfix grpelem" id="u22556">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22558-6">
       <p>Evelyn and Libby</p>
       <p id="u22558-4">Buyers</p>
      </div>
      <div class="gradient grpelem" id="u22557"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22559-15">
       <p id="u22559-2">Thank you for all very much for the speed, congeniality, efficiency and overall excellent advice which resulted in the successful completion of two transactions.</p>
       <p id="u22559-4">Paul did an excellent job with the bidding!</p>
       <p id="u22559-6">Jeff – thanks for being so sensitive to my feelings.</p>
       <p id="u22559-8">Norah, good advice re set up and moral support.</p>
       <p id="u22559-10">Ajay – thanks for the late night. You really are a team! Great example for the community.</p>
       <p id="u22559-11">&nbsp;</p>
       <p id="u22559-13">Thank you for the lovely picture of the house. It shall be treasured for years to come.</p>
      </div>
     </div>
     <div class="grpelem" id="u26032"><!-- image -->
      <img class="block" id="u26032_img" src="/images/33-9-calvin-evelyn-and-libby.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="ppu26158">
     <div class="clearfix grpelem" id="pu26158"><!-- column -->
      <div class="colelem" id="u26158"><!-- image -->
       <img class="block" id="u26158_img" src="/images/34-44-st-joseph--2507---agnes.jpg" alt="" width="245" height="155"/>
      </div>
      <div class="Charitable-work-subtitles clearfix colelem" id="u22565-6">
       <p>Agnes</p>
       <p id="u22565-4">Buyer</p>
      </div>
     </div>
     <div class="gradient grpelem" id="u22567"></div>
     <div class="testimonials-Text clearfix grpelem" id="u22566-4">
      <p>I had some serious doubts about purchasing a home, it seemed like such a HUGE task! What if I made the wrong choice? But Mark and Jeff eased all my concerns. They took me through the whole process step by step and made sure I understood everything that I had to do. No matter how many questions I had they let me do things in my own time and made sure I was comfortable with all my choices. Once Mark and I started! They were a pleasure to deal with and I am ever grateful for the wonderful support I got from the Oulahens. I recommend them to everyone I know! It was a great experience! I never thought purchasing a home could be so easy! Mark let me take all the time I needed to go through a LONG list of suites and in the end the suite I purchased was perfect.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u22577">
     <div class="clearfix grpelem" id="u22578">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22581-6">
       <p>The Di Liddo Family</p>
       <p id="u22581-4">Buyers &amp; Sellers</p>
      </div>
      <div class="gradient grpelem" id="u22580"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22579-7">
       <p>We just wanted to send you a quick note thanking you for your incredible degree of professionalism and hard work during the sale of our previous home and the purchase of our new home. Your team sold our home in less than 1 day for more than we were asking, then you went door&#45;to&#45;door in the area we were interested in, and found us the perfect house that we now proudly call &quot;home&quot;.</p>
       <p>&nbsp;</p>
       <p>Thank you again for all your hard work, kindness and for looking out for our best interests.</p>
      </div>
     </div>
     <div class="grpelem" id="u22582"><!-- image -->
      <img class="block" id="u22582_img" src="/images/1-6-frivickcourt-Di-Liddo-Testimonial.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="u22585">
     <div class="clearfix grpelem" id="u22588">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22590-6">
       <p>Christine and Stephen Drab</p>
       <p id="u22590-4">Buyers</p>
      </div>
      <div class="gradient grpelem" id="u22591"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22589-7">
       <p>The Oulahen team was an enormous help in buying our first home. They are exceptional people to deal with in a very competitive market. They have a high degree of professionalism and their negotiation skills and work ethic are second to none.</p>
       <p>&nbsp;</p>
       <p>Thank you for your outstanding service, determination and hard work in finding us a home.</p>
      </div>
     </div>
     <div class="grpelem" id="u22586"><!-- image -->
      <img class="block" id="u22586_img" src="/images/1-32 VanderhoofAve-Christine Stephen Darb-Test.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="u22593">
     <div class="clearfix grpelem" id="u22594">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22595-6">
       <p>A. Weir</p>
       <p id="u22595-4">Seller</p>
      </div>
      <div class="gradient grpelem" id="u22596"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22597-7">
       <p>The Oulahens offered me more than I expected from a real estate agent. Their suggestions were so effective that my home sold in two days of showings for more than I had asked. They let me lead and share in the process.</p>
       <p>&nbsp;</p>
       <p>Thanks a million Team!!</p>
      </div>
     </div>
     <div class="grpelem" id="u22598"><!-- image -->
      <img class="block" id="u22598_img" src="/images/1-189-MutualSt-A.Weir.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="u22601">
     <div class="clearfix grpelem" id="u22604">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22606-6">
       <p>The Sissaris Family</p>
       <p id="u22606-4">Sellers</p>
      </div>
      <div class="gradient grpelem" id="u22605"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22607-7">
       <p>Thanks so much for all your team has done for us. It was such a pleasure to have such kind and professional people looking after our best interests. You've made us feel comfortable and at ease.</p>
       <p>&nbsp;</p>
       <p>We wish you and your family all the best.</p>
      </div>
     </div>
     <div class="grpelem" id="u22602"><!-- image -->
      <img class="block" id="u22602_img" src="/images/1-121-NorthWoodrow-sissaris-family-test.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="u22609">
     <div class="clearfix grpelem" id="u22612">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22613-6">
       <p>Celeste and Dave Manning</p>
       <p id="u22613-4">Buyers</p>
      </div>
      <div class="gradient grpelem" id="u22614"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22615-7">
       <p>I feel I made new friends, terrific business people and a united family company. You are all to be admired. I really appreciate how you kept in touch with what was happening.</p>
       <p>&nbsp;</p>
       <p>I will recommend you to all my friends.</p>
      </div>
     </div>
     <div class="grpelem" id="u22610"><!-- image -->
      <img class="block" id="u22610_img" src="/images/1-3-SeasonsDr-Manning-TEST.jpg" alt="" width="245" height="155"/>
     </div>
    </div>
    <div class="clearfix colelem" id="u22625">
     <div class="clearfix grpelem" id="u22626">
      <div class="Charitable-work-subtitles clearfix grpelem" id="u22629-6">
       <p>Deb and David Flawn</p>
       <p id="u22629-4">Buyers &amp; Sellers</p>
      </div>
      <div class="gradient grpelem" id="u22627"></div>
      <div class="testimonials-Text clearfix grpelem" id="u22628-7">
       <p id="u22628-2">Paul, Norah and Jeff Oulahen have been our real estate agents with many purchases and sales over the years. They have also managed a rental property for us. Their professionalism and attention to detail has been outstanding. They are consummate experts in their market providing us with perceptive advice on trends, current values and the fine nuances of the community. They have always given us their undivided attention and council in what can be a stressful time.</p>
       <p id="u22628-3">&nbsp;</p>
       <p id="u22628-5">They have worked tirelessly on our behalf and have, without exception, secured for us the very best deal.</p>
      </div>
     </div>
     <div class="grpelem" id="u22630"><!-- image -->
      <img class="block" id="u22630_img" src="/images/1-103-kingsdale-deb-david-flawn-TEST.jpg" alt="" width="245" height="155"/>
     </div>
    </div>