<div class="clearfix" style="float: left;margin-top: 26px; min-height:600px">

I would like to add a photo to this page but I don't know how...:() ...Hahaha :((( awww...

Please read this: http://www.w3schools.com/tags/tag_img.asp


example:

<img src="/images/smiley.gif" alt="Smiley face" height="42" width="42">


</div>