<%= content_for :page_title, default_title('Videos') %>

<div class="gradient colelem" id="u16510"></div>


<div id="tab_menu">
  <div class="tab_item active">
    <p>Videos</p>
  </div>
</div>


<!-- <div class="clearfix colelem" id="pu13350-4">
 <div class="clearfix grpelem" id="u13350-4">
  <p>VIDEOS</p>
 </div>
 <div class="grpelem" id="u13352"></div>
</div> -->
<div class="clearfix colelem" id="videos_content">


  <ul>
    <li class="video">

      <iframe src="//www.youtube.com/embed/PuoyqQnQPjM" width="425" height="239" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    </li>

    <li class="video">
      <iframe width="425" height="239" src="http://www.youtube.com/embed/P_J023LoeTA?list=PLF217A605F25A71E6" frameborder="0" allowfullscreen></iframe>
    </li>

    <li class="video">
      <iframe width="425" height="239" src="//www.youtube.com/embed/4islhpzMrLA" frameborder="0" allowfullscreen></iframe>
    </li>

    <li class="video">
    <iframe width="425" height="239" src="//www.youtube.com/embed/arhajOkf_K4" frameborder="0" allowfullscreen></iframe>
    </li>
  </ul>
</div>



