<%= content_for :page_title, 'Vinay Lakhani' %>

<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pslideshowu10754"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu10754"><!-- group -->
      <div class="popup_anchor" id="u10756popup">
       <div class="SlideShowContentPanel clearfix" id="u10756"><!-- stack box -->
        <div class="SSSlide grpelem" id="u14644"><!-- image -->
         <img class="block ImageInclude" id="u14644_img" data-src="/images/1-vinay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u14662"><!-- image -->
         <img class="block ImageInclude" id="u14662_img" data-src="/images/3-vinay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u14671"><!-- image -->
         <img class="block ImageInclude" id="u14671_img" data-src="/images/4-vinay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u14680"><!-- image -->
         <img class="block ImageInclude" id="u14680_img" data-src="/images/5-vinay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u10784popup">
       <div class="SSSlideLinks clearfix" id="u10784"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u14647"><!-- image -->
         <img class="block" id="u14647_img" src="/images/1-vinay53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u14665"><!-- image -->
         <img class="block" id="u14665_img" src="/images/3-vinay53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u14674"><!-- image -->
         <img class="block" id="u14674_img" src="/images/4-vinay53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u14683"><!-- image -->
         <img class="block" id="u14683_img" src="/images/5-vinay53x45.jpg" alt="" width="52" height="45"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u10790-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u10790-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u10761-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u10761-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <img class="grpelem" id="u14703" src="/images/vinay_profile-u14703.png" alt="" width="338" height="297"/><!-- rasterized frame -->
     <div class="clearfix grpelem" id="pu10793-4"><!-- column -->
      <div class="Headings-Submenus clearfix colelem" id="u10793-4"><!-- content -->
       <h1>VINAY LAKHANI</h1>
      </div>
      <div class="clearfix colelem" id="u10797-4"><!-- content -->
       <p>Real Estate Salesperson</p>
      </div>
      <div class="Personal-Description-red clearfix colelem" id="u10794-4"><!-- content -->
       <p>Vinay owned and Operated his own Audio Visual and Events Company for 5 years. In 2011 Vinay decided that he wanted to become a realtor and began working for the Oulahen Team as an administrative assistant. Vinay handles the Team’s real estate transactions for all the Buyers and is now also a Realtor. He is looking forward to many years in his exciting Career as Realtor.</p>
      </div>
      <img class="colelem" id="u14701" src="/images/u14701.png" alt="" width="539" height="2"/><!-- rasterized frame -->
      <div class="clearfix colelem" id="pu10751-34"><!-- group -->
       <div class="clearfix grpelem" id="u10751-34"><!-- content -->
        <p id="u10751-2">Education</p>
        <p id="u10751-3">&nbsp;</p>
        <p id="u10751-4">&nbsp;</p>
        <p id="u10751-6">Best accomplishment</p>
        <p id="u10751-7">&nbsp;</p>
        <p id="u10751-8">&nbsp;</p>
        <p id="u10751-10">Favourite street in Toronto</p>
        <p id="u10751-11">&nbsp;</p>
        <p id="u10751-13">Favourite movie</p>
        <p id="u10751-14">&nbsp;</p>
        <p id="u10751-18">Favourite thing about being <br/>a real estate agent</p>
        <p id="u10751-19">&nbsp;</p>
        <p id="u10751-21">Pet peeve</p>
        <p id="u10751-22">&nbsp;</p>
        <p id="u10751-26">What you might not know <br/>about me</p>
        <p id="u10751-27">&nbsp;</p>
        <p id="u10751-28">&nbsp;</p>
        <p id="u10751-29">&nbsp;</p>
        <p id="u10751-31">Favourite website</p>
        <p>&nbsp;</p>
       </div>
       <div class="clearfix grpelem" id="pu10753-23"><!-- column -->
        <div class="clearfix colelem" id="u10753-23"><!-- content -->
         <p>George Brown College, Business Administration Management</p>
         <p>&nbsp;</p>
         <p>Owned and operated my own Audio Visual company when he was 18 years old.</p>
         <p>&nbsp;</p>
         <p>College Street West</p>
         <p>&nbsp;</p>
         <p>Goodfellas</p>
         <p>&nbsp;</p>
         <p>Meeting new people and working in the City I Love</p>
         <p>&nbsp;</p>
         <p>&nbsp;</p>
         <p>Negativity</p>
         <p>&nbsp;</p>
         <p>I was born in Scarborough, lived in Markham for 5 years and has lived in North York for over 15 years. I love music and soccer. I’m half&#45;Portuguese and half&#45;Indian with African Roots.</p>
        </div>
        <a class="nonblock nontext clearfix colelem" id="u14702-4" href="http://www.wikipedia.org/" target="_blank"><!-- content --><p>www.wikipedia.org</p></a>
       </div>
      </div>
     </div>
    </div>
    <img class="colelem" id="u25111" src="/images/u25111.png" alt="" width="539" height="2"/><!-- rasterized frame -->
    <div class="clearfix colelem" id="u28592"><!-- group -->
     <div class="clearfix grpelem" id="pu28616"><!-- column -->
      <a class="nonblock nontext colelem" id="u28616" href="paul-oulahen.html"><!-- image --><img class="block" id="u28616_img" src="/images/paul_th.jpg" alt="" width="43" height="49"/></a>
      <div class="clearfix colelem" id="u28618"><!-- group -->
       <a class="nonblock nontext clearfix grpelem" id="u28619-4" href="paul-oulahen.html"><!-- content --><p>Paul</p></a>
      </div>
     </div>
     <div class="clearfix grpelem" id="pu28604"><!-- column -->
      <a class="nonblock nontext colelem" id="u28604" href="norah-oulahen.html"><!-- image --><img class="block" id="u28604_img" src="/images/norah_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28615-4" href="norah-oulahen.html"><!-- content --><p>Norah</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28625"><!-- column -->
      <a class="nonblock nontext colelem" id="u28625" href="jeff-oulahen.html"><!-- image --><img class="block" id="u28625_img" src="/images/jeff_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28593-4" href="jeff-oulahen.html"><!-- content --><p>Jeff</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28602"><!-- column -->
      <a class="nonblock nontext colelem" id="u28602" href="mark-oulahen.html"><!-- image --><img class="block" id="u28602_img" src="/images/mark_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28597-4" href="mark-oulahen.html"><!-- content --><p>Mark</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28621"><!-- column -->
      <a class="nonblock nontext colelem" id="u28621" href="ajay-aheer.html"><!-- image --><img class="block" id="u28621_img" src="/images/ajay_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28606-4" href="ajay-aheer.html"><!-- content --><p>Ajay</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28608"><!-- column -->
      <a class="nonblock nontext colelem" id="u28608" href="thanh-nguyen.html"><!-- image --><img class="block" id="u28608_img" src="/images/thanh_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28600-4" href="thanh-nguyen.html"><!-- content --><p>Thanh</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28612"><!-- column -->
      <a class="nonblock nontext MuseLinkActive colelem" id="u28612" href="vinay-lakhani.html"><!-- image --><img class="block" id="u28612_img" src="/images/vinay_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext MuseLinkActive clearfix colelem" id="u28620-4" href="vinay-lakhani.html"><!-- content --><p>Vinay</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28594"><!-- column -->
      <a class="nonblock nontext colelem" id="u28594" href="claire.html"><!-- image --><img class="block" id="u28594_img" src="/images/claire_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28601-4" href="claire.html"><!-- content --><p>Claire</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28610"><!-- column -->
      <a class="nonblock nontext colelem" id="u28610" href="karuna.html"><!-- image --><img class="block" id="u28610_img" src="/images/karuna_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28614-4" href="karuna.html"><!-- content --><p>Karuna</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28623"><!-- column -->
      <a class="nonblock nontext colelem" id="u28623" href="victor.html"><!-- image --><img class="block" id="u28623_img" src="/images/victor_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28596-4" href="victor.html"><!-- content --><p>Victor</p></a>
     </div>
     <div class="clearfix grpelem" id="pu28598"><!-- column -->
      <a class="nonblock nontext colelem" id="u28598" href="carly.html"><!-- image --><img class="block" id="u28598_img" src="/images/carly_th.jpg" alt="" width="43" height="49"/></a>
      <a class="nonblock nontext clearfix colelem" id="u28607-4" href="carly.html"><!-- content --><p>Carly</p></a>
     </div>
    </div>