<%= content_for :page_title, default_title('Vinay Lakhani') %>

<div class="gradient colelem" id="u16510"></div>
    <div class="clearfix colelem" id="pslideshowu10754">
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu10754">
      <div class="popup_anchor" id="u10756popup">
       <div class="SlideShowContentPanel clearfix" id="u10756"><!-- stack box -->
        <div class="SSSlide grpelem" id="u14644"><!-- image -->
         <img class="block ImageInclude" id="u14644_img" data-src="/images/1-vinay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u14662"><!-- image -->
         <img class="block ImageInclude" id="u14662_img" data-src="/images/3-vinay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u14671"><!-- image -->
         <img class="block ImageInclude" id="u14671_img" data-src="/images/4-vinay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u14680"><!-- image -->
         <img class="block ImageInclude" id="u14680_img" data-src="/images/5-vinay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u30085"><!-- image -->
         <img class="block ImageInclude" id="u30085_img" data-src="/images/6-vinay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u30094"><!-- image -->
         <img class="block ImageInclude" id="u30094_img" data-src="/images/7-vinay.jpg" src="/images/blank.gif" alt="" data-width="341" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u10784popup">
       <div class="SSSlideLinks clearfix" id="u10784"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u14647"><!-- image -->
         <img class="block" id="u14647_img" src="/images/1-vinay53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u14665"><!-- image -->
         <img class="block" id="u14665_img" src="/images/3-vinay53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u14674"><!-- image -->
         <img class="block" id="u14674_img" src="/images/4-vinay53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u14683"><!-- image -->
         <img class="block" id="u14683_img" src="/images/5-vinay53x45.jpg" alt="" width="52" height="45"/>
        </div>
         <div class="SSSlideLink grpelem" id="u30088"><!-- image -->
         <img class="block" id="u30088_img" src="/images/6-vinay53x45.jpg" alt="" width="52" height="45"/>
        </div>
        <div class="SSSlideLink grpelem" id="u30097"><!-- image -->
         <img class="block" id="u30097_img" src="/images/7-vinay53x45.jpg" alt="" width="52" height="45"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u10790-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u10790-4">
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u10761-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u10761-4">
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <img class="grpelem" id="u14703" src="/images/vinay_profile-u14703.png" alt="" width="338" height="297"/><!-- rasterized frame -->
     <div class="clearfix grpelem" id="pu10793-4"><!-- column -->
      <div class="Headings-Submenus clearfix colelem" id="u10793-4">
       <h1>VINAY LAKHANI</h1>
      </div>
      <div class="clearfix colelem" id="u10797-4">
       <p>Real Estate Salesperson</p>
      </div>
      <div class="Personal-Description-red clearfix colelem" id="u10794-4">
       <p>Vinay owned and Operated his own Audio Visual and Events Company for 5 years. In 2011 Vinay decided that he wanted to become a realtor and began working for the Oulahen Team as an administrative assistant. Vinay handles the Team’s real estate transactions for all the Buyers and is now also a Realtor. He is looking forward to many years in his exciting Career as Realtor.</p>
      </div>
      <img class="colelem" id="u14701" src="/images/u14701.png" alt="" width="539" height="2"/><!-- rasterized frame -->
      <div class="clearfix colelem" id="pu10751-34">
       <div class="clearfix grpelem" id="u10751-34">
        <p id="u10751-2">Education</p>
        <p id="u10751-3">&nbsp;</p>
        <p id="u10751-4">&nbsp;</p>
        <p id="u10751-6">Best accomplishment</p>
        <p id="u10751-7">&nbsp;</p>
        <p id="u10751-8">&nbsp;</p>
        <p id="u10751-10">Favourite street in Toronto</p>
        <p id="u10751-11">&nbsp;</p>
        <p id="u10751-13">Favourite movie</p>
        <p id="u10751-14">&nbsp;</p>
        <p id="u10751-18">Favourite thing about being <br/>a real estate agent</p>
        <p id="u10751-19">&nbsp;</p>
        <p id="u10751-21">Pet peeve</p>
        <p id="u10751-22">&nbsp;</p>
        <p id="u10751-26">What you might not know <br/>about me</p>
        <p id="u10751-27">&nbsp;</p>
        <p id="u10751-28">&nbsp;</p>
        <p id="u10751-29">&nbsp;</p>
        <p id="u10751-31">Favourite website</p>
        <p>&nbsp;</p>
       </div>
       <div class="clearfix grpelem" id="pu10753-23"><!-- column -->
        <div class="clearfix colelem" id="u10753-23">
         <p>George Brown College, Business Administration Management</p>
         <p>&nbsp;</p>
         <p>Owned and operated my own Audio Visual company when he was 18 years old.</p>
         <p>&nbsp;</p>
         <p>College Street West</p>
         <p>&nbsp;</p>
         <p>Goodfellas</p>
         <p>&nbsp;</p>
         <p>Meeting new people and working in the City I Love</p>
         <p>&nbsp;</p>
         <p>&nbsp;</p>
         <p>Negativity</p>
         <p>&nbsp;</p>
         <p>I was born in Scarborough, lived in Markham for 5 years and has lived in North York for over 15 years. I love music and soccer. I’m half&#45;Portuguese and half&#45;Indian with African Roots.</p>
        </div>
        <a class="nonblock nontext clearfix colelem" id="u14702-4" href="http://www.wikipedia.org/" target="_blank"><p>www.wikipedia.org</p></a>
       </div>
      </div>
     </div>
    </div>
    <%= render 'pages/shared/staff_icons' %>