<%= content_for :page_title, default_title('Aristo at Avonshire') %>

    <div class="clearfix colelem" id="pslideshowu47219"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu47219"><!-- group -->
      <div class="popup_anchor" id="u47224popup">
       <div class="SlideShowContentPanel clearfix" id="u47224"><!-- stack box -->
        <div class="SSSlide grpelem" id="u47316"><!-- image -->
         <img class="block ImageInclude" id="u47316_img" data-src="/images/132.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u47339"><!-- image -->
         <img class="block ImageInclude" id="u47339_img" data-src="/images/230.jpg" src="/images/blank.gif" alt="" data-width="437" data-height="292"/>
        </div>
        <div class="SSSlide invi grpelem" id="u47354"><!-- image -->
         <img class="block ImageInclude" id="u47354_img" data-src="/images/324.jpg" src="/images/blank.gif" alt="" data-width="400" data-height="267"/>
        </div>
        <div class="SSSlide invi grpelem" id="u47377"><!-- image -->
         <img class="block ImageInclude" id="u47377_img" data-src="/images/420.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u47392"><!-- image -->
         <img class="block ImageInclude" id="u47392_img" data-src="/images/516.jpg" src="/images/blank.gif" alt="" data-width="400" data-height="267"/>
        </div>
        <div class="SSSlide invi grpelem" id="u47411"><!-- image -->
         <img class="block ImageInclude" id="u47411_img" data-src="/images/611.jpg" src="/images/blank.gif" alt="" data-width="400" data-height="267"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u47268popup">
       <div class="SSSlideLinks clearfix" id="u47268"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u47319"><!-- image -->
         <img class="block" id="u47319_img" src="/images/151x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u47342"><!-- image -->
         <img class="block" id="u47342_img" src="/images/243x29.jpg" alt="" width="43" height="29"/>
        </div>
        <div class="SSSlideLink grpelem" id="u47357"><!-- image -->
         <img class="block" id="u47357_img" src="/images/351x35.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u47380"><!-- image -->
         <img class="block" id="u47380_img" src="/images/450x33.jpg" alt="" width="49" height="33"/>
        </div>
        <div class="SSSlideLink grpelem" id="u47395"><!-- image -->
         <img class="block" id="u47395_img" src="/images/551x35.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u47414"><!-- image -->
         <img class="block" id="u47414_img" src="/images/651x35.jpg" alt="" width="51" height="34"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u47267-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u47267-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u47220-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u47220-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u47285-4"><!-- content -->
      <h1>ARISTO AT AVONSHIRE</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u47286-4"><!-- content -->
     <h1>120 Harrison Garden Boulevard</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u47289-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u47289-2">Avondale</span></p></a>
    <div class="clearfix colelem" id="pu47283"><!-- group -->
     <div class="grpelem" id="u47283"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=120+Harrison+Garden+Boulevard,+Toronto,+ON&amp;aq=0&amp;oq=120+harrison&amp;sll=43.756899,-79.404588&amp;sspn=0.010895,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=120+Harrison+Garden+Blvd,+Toronto,+Toronto+Division,+Ontario+M2N+2T2&amp;t=m&amp;ll=43.76409,-79.412012&amp;spn=0.023431,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=120+Harrison+Garden+Boulevard,+Toronto,+ON&amp;aq=0&amp;oq=120+harrison&amp;sll=43.756899,-79.404588&amp;sspn=0.010895,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=120+Harrison+Garden+Blvd,+Toronto,+Toronto+Division,+Ontario+M2N+2T2&amp;t=m&amp;ll=43.76409,-79.412012&amp;spn=0.023431,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u47288-32"><!-- content -->
      <p id="u47288-2">120 Harrison Garden Boulevard</p>
      <p><span id="u47288-3">Built:</span>&nbsp;Early 2014 (Tentative)</p>
      <p><span id="u47288-6">Builder: </span><span id="u47288-7">Tridel</span></p>
      <p><span id="u47288-9">Floors: </span><span id="u47288-10">21 &amp; 15</span></p>
      <p><span id="u47288-12">Units:</span>&nbsp;300</p>
      <p id="u47288-15">&nbsp;</p>
      <p id="u47288-22"><span id="u47288-16">Building Amenities:</span><span id="u47288-17">&nbsp;</span><span id="u47288-21">Gym, Concierge, Yoga, Pool, Sauna, Outdoor Terrace, Party Room<br/><br/></span></p>
      <p><span id="u47288-23">Builder's Description:</span>&nbsp;: A downtown vibe meets an uptown Yonge &amp; 401 address. A&#45;listers take note: A fusion of sleek design and modern day must&#45;haves is set to take North York by storm. Nothing will be deemed too glam at Aristo, the newest 21 storey tower at Tridel’s happening Avonshire community. Jet out of town or downtown for club hopping, retail therapy or indulging in the whims of the newest chef du jour. Aristo’s location along the subway line and near the 401 is prime for that. Or stay close, and enjoy the shops, restaurants and entertainment venues of vibrant downtown North York. Inside Aristo: ultra posh amenities and complimentary shuttles chauffeur homeowners to the Yonge and Sheppard subway during peak hours.</p>
      <p>&nbsp;</p>
      <p>An oasis of downtime endeavours await on the second floor Aristo Club. The Euro infused Urban Spa &amp; Fitness Centres sleek sauna and steam rooms, hot and cold plunge pools, state&#45;of&#45;the&#45;art cardio equipment and the quiet “shhh” of the yoga studio offer perfect spots to channel inner relaxation. For those who crave the social scene, two ultra hip entertaining lounges, dining room and seductive outdoor terrace area offer just the right amount of “je ne sais quoi”. From slowing down to a zen&#45;like trance to the pulsing vibe of the club scene, Aristo presents R&amp;R options galore. When socializing is the focus, sophisticated party venues with spaces that range from informal to impossibly sleek demand to be right in your building.</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u47287-4"><!-- content -->
     <p>Last Update: July 2010</p>
    </div>
   