<%= content_for :page_title, default_title('Bayview Mansions') %>
    <div class="clearfix colelem" id="pslideshowu47782"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu47782"><!-- group -->
      <div class="popup_anchor" id="u47793popup">
       <div class="SlideShowContentPanel clearfix" id="u47793"><!-- stack box -->
        <div class="SSSlide grpelem" id="u47848"><!-- image -->
         <img class="block ImageInclude" id="u47848_img" data-src="/images/132.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
        <div class="SSSlide invi grpelem" id="u47867"><!-- image -->
         <img class="block ImageInclude" id="u47867_img" data-src="/images/230.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
        <div class="SSSlide invi grpelem" id="u47886"><!-- image -->
         <img class="block ImageInclude" id="u47886_img" data-src="/images/324.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
        <div class="SSSlide invi grpelem" id="u47907"><!-- image -->
         <img class="block ImageInclude" id="u47907_img" data-src="/images/420.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
        <div class="SSSlide invi grpelem" id="u47922"><!-- image -->
         <img class="block ImageInclude" id="u47922_img" data-src="/images/516.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
        <div class="SSSlide invi grpelem" id="u47937"><!-- image -->
         <img class="block ImageInclude" id="u47937_img" data-src="/images/611.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u47801popup">
       <div class="SSSlideLinks clearfix" id="u47801"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u47851"><!-- image -->
         <img class="block" id="u47851_img" src="/images/151x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u47870"><!-- image -->
         <img class="block" id="u47870_img" src="/images/251x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u47889"><!-- image -->
         <img class="block" id="u47889_img" src="/images/351x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u47910"><!-- image -->
         <img class="block" id="u47910_img" src="/images/451x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u47925"><!-- image -->
         <img class="block" id="u47925_img" src="/images/551x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u47940"><!-- image -->
         <img class="block" id="u47940_img" src="/images/651x34.jpg" alt="" width="51" height="34"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u47792-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u47792-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u47789-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u47789-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u47826-4"><!-- content -->
      <h1>BAYVIEW MANSIONS</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u47831-4"><!-- content -->
     <h1>1 &amp; 2 Clairtrell Road</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u47827-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u47827-2">Bayview &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="pu47947"><!-- group -->
     <div class="grpelem" id="u47947"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1+Clairtrell+Road,+Toronto,+ON&amp;aq=0&amp;oq=1+CLAIRRELL&amp;sll=43.767762,-79.388344&amp;sspn=0.010893,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=1+Clairtrell+Rd,+Toronto,+Toronto+Division,+Ontario+M2N+5J6&amp;t=m&amp;ll=43.772829,-79.397249&amp;spn=0.023427,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1+Clairtrell+Road,+Toronto,+ON&amp;aq=0&amp;oq=1+CLAIRRELL&amp;sll=43.767762,-79.388344&amp;sspn=0.010893,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=1+Clairtrell+Rd,+Toronto,+Toronto+Division,+Ontario+M2N+5J6&amp;t=m&amp;ll=43.772829,-79.397249&amp;spn=0.023427,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u47833-61"><!-- content -->
      <p><span id="u47833-4">1 Clairtrell Road<br/>Built:</span>&nbsp;2005</p>
      <p><span id="u47833-7">Builder: </span><span id="u47833-8">Times Group Corporation</span></p>
      <p><span id="u47833-10">Floors: </span><span id="u47833-11">14</span></p>
      <p><span id="u47833-13">Units:</span>&nbsp;130</p>
      <p><span id="u47833-16">Condo Corp:</span><span id="u47833-17">1688</span></p>
      <p><span id="u47833-19">Property Manager: </span><span id="u47833-23">Times Property Management &#45;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 905&#45;882&#45;6286</span></p>
      <p><br/><span id="u47833-29">2 Clairtrell Road<br/>Built:</span>&nbsp;2004</p>
      <p><span id="u47833-32">Builder: </span>Times Group Corporation</p>
      <p><span id="u47833-35">Floors: </span>14</p>
      <p><span id="u47833-38">Units:</span>&nbsp;130</p>
      <p><span id="u47833-41">Condo Corp:</span>1688</p>
      <p><span id="u47833-44">Property Manager: </span>Times Property Management &#45;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 905&#45;882&#45;6286</p>
      <p id="u47833-49">&nbsp;</p>
      <p id="u47833-56"><span id="u47833-50">Building Amenities:</span><span id="u47833-51">&nbsp;</span><span id="u47833-55">Gym, Concierge, Yoga/Rec Room, Pool, Sauna, Party Room<br/><br/></span></p>
      <p><span id="u47833-57">Builder's Description:</span>&nbsp;Bayview Mansions were built with gracious and luxurious style, and designed with contemporary taste and convenience in mind, while respecting traditions and of an established community. The distinctive terraced buildings are the proud culmination of many years of creative planning and design by some of Canada’s best real estate professionals. Built with the finest materials and a fine attention to detailing, Bayview Mansions step down to adjoining townhouses and blend seamlessly into the neighborhood. From the moment you arrive you will discover the pinnacle of enduring quality. Bayview Mansions I &amp; II envelope you in a lifestyle of quiet luxury befitting its Bayview Village location, at the center of everything.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u47832-4"><!-- content -->
     <p>Last Update: July 2010</p>
    </div>
  