<%= content_for :page_title, default_title('Broadway') %>
    <div class="clearfix colelem" id="pslideshowu40879">
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu40879">
      <div class="popup_anchor" id="u40900popup">
       <div class="SlideShowContentPanel clearfix" id="u40900"><!-- stack box -->
        <div class="SSSlide grpelem" id="u41000"><!-- image -->
         <img class="block ImageInclude" id="u41000_img" data-src="/images/113.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u41009"><!-- image -->
         <img class="block ImageInclude" id="u41009_img" data-src="/images/213.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u41018"><!-- image -->
         <img class="block ImageInclude" id="u41018_img" data-src="/images/312.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u41027"><!-- image -->
         <img class="block ImageInclude" id="u41027_img" data-src="/images/411.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi clearfix grpelem" id="u41094"><!-- image -->
         <div id="u41094_clip">
          <img class="ImageInclude position_content" id="u41094_img" data-src="/images/67.jpg" src="/images/blank.gif" alt="" data-width="196" data-height="295"/>
         </div>
        </div>
        <div class="SSSlide invi clearfix grpelem" id="u41103"><!-- image -->
         <div id="u41103_clip">
          <img class="ImageInclude position_content" id="u41103_img" data-src="/images/74.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="345"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u40928popup">
       <div class="SSSlideLinks clearfix" id="u40928"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u41003"><!-- image -->
         <div id="u41003_clip">
          <img class="position_content" id="u41003_img" src="/images/180x4512.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u41012"><!-- image -->
         <div id="u41012_clip">
          <img class="position_content" id="u41012_img" src="/images/280x4511.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u41021"><!-- image -->
         <div id="u41021_clip">
          <img class="position_content" id="u41021_img" src="/images/380x4510.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u41030"><!-- image -->
         <div id="u41030_clip">
          <img class="position_content" id="u41030_img" src="/images/480x459.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u41097"><!-- image -->
         <div id="u41097_clip">
          <img class="position_content" id="u41097_img" src="/images/67.jpg" alt="" width="60" height="90"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u41106"><!-- image -->
         <div id="u41106_clip">
          <img class="position_content" id="u41106_img" src="/images/74.jpg" alt="" width="68" height="45"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u40924-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u40924-4">
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u40925-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u40925-4">
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u40943-4">
      <h1>BROADWAY</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u40877-4">
     <h1>153 &amp; 155 Beecroft Road</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u40873-5" href="http://oulahen.com/search_YS.asp" target="_blank"><p>View Listings at: <span id="u40873-2">Yonge &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="pu40875">
     <div class="grpelem" id="u40875"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=153+Beecroft+Road,+Toronto,+ON&amp;aq=0&amp;oq=153+beec&amp;sll=43.656877,-79.32085&amp;sspn=0.627928,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=153+Beecroft+Rd,+Toronto,+Toronto+Division,+Ontario+M2N+7C5&amp;t=m&amp;ll=43.771776,-79.415789&amp;spn=0.023428,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=153+Beecroft+Road,+Toronto,+ON&amp;aq=0&amp;oq=153+beec&amp;sll=43.656877,-79.32085&amp;sspn=0.627928,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=153+Beecroft+Rd,+Toronto,+Toronto+Division,+Ontario+M2N+7C5&amp;t=m&amp;ll=43.771776,-79.415789&amp;spn=0.023428,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u40878-39">
      <p id="u40878-2">153 Beecroft Road</p>
      <p><span id="u40878-3">Built:</span>&nbsp;2003</p>
      <p><span id="u40878-6">Builder:</span>&nbsp;Menkes</p>
      <p><span id="u40878-9">Floors: </span><span id="u40878-10">26</span></p>
      <p><span id="u40878-12">Units:</span>&nbsp;274</p>
      <p id="u40878-15">&nbsp;</p>
      <p id="u40878-17">155 Beecroft Road</p>
      <p><span id="u40878-18">Built:</span>&nbsp;2003</p>
      <p><span id="u40878-21">Builder:</span>&nbsp;Menkes</p>
      <p><span id="u40878-24">Floors: </span>28</p>
      <p id="u40878-29">Units: <span id="u40878-28">226</span></p>
      <p id="u40878-30">&nbsp;</p>
      <p><span id="u40878-31">Building Amenities:</span>&nbsp;Gym, Concierge, Yoga/Rec Room, Pool, Sauna, Hot Tub, Party Room.</p>
      <p>&nbsp;</p>
      <p><span id="u40878-35">Builder's Description: </span><span id="u40878-36">Broadway at the Toronto Centre for the Arts is part of a master planned residential, retail and commercial community that is changing the face of Yonge Street in downtown North York with its stunning architectural design.</span></p>
     </div>
    </div>
  
