<%= content_for :page_title, default_title('C Condominiums') %>

<div class="gradient colelem" id="u16510"></div>
    <div class="clearfix colelem" id="pslideshowu22736">
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu22736">
      <div class="popup_anchor" id="u22766popup">
       <div class="SlideShowContentPanel clearfix" id="u22766"><!-- stack box -->
        <div class="SSSlide grpelem" id="u32187"><!-- image -->
         <img class="block ImageInclude" id="u32187_img" data-src="/images/1.jpg" src="/images/blank.gif" alt="" data-width="516" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u26915"><!-- image -->
         <img class="block ImageInclude" id="u26915_img" data-src="/images/kitchen.jpg" src="/images/blank.gif" alt="" data-width="516" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u26924"><!-- image -->
         <img class="block ImageInclude" id="u26924_img" data-src="/images/lounge.jpg" src="/images/blank.gif" alt="" data-width="514" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u22780popup">
       <div class="SSSlideLinks clearfix" id="u22780"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u32191"><!-- image -->
         <div id="u32191_clip">
          <img class="position_content" id="u32191_img" src="/images/180x45.jpg" alt="" width="79" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u26918"><!-- image -->
         <div id="u26918_clip">
          <img class="position_content" id="u26918_img" src="/images/kitchen80x45.jpg" alt="" width="79" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u26927"><!-- image -->
         <div id="u26927_clip">
          <img class="position_content" id="u26927_img" src="/images/lounge80x45.jpg" alt="" width="79" height="45"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u22794-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u22794-4">
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u22793-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u22793-4">
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u22795-4">
      <h1>C CONDOMINIUMS</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u22799-6">
     <h1>503 Beecroft Road &amp;</h1>
     <h1>509 Beecroft Road</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u22800-5" href="http://oulahen.com/search_YS.asp" target="_blank"><p>View Listings at: <span id="u22800-2">Yonge &amp; Finch</span></p></a>
    <div class="clearfix colelem" id="pu22796">
     <div class="grpelem" id="u22796"><!-- custom html -->
      <iframe width="520" height="314" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=503+Beecroft+Road&amp;aq=&amp;sll=43.778392,-79.418166&amp;sspn=0.001369,0.00327&amp;ie=UTF8&amp;hq=&amp;hnear=503+Beecroft+Rd,+Toronto,+Toronto+Division,+Ontario+M2N+0A3&amp;t=m&amp;ll=43.784604,-79.421797&amp;spn=0.019457,0.044632&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=503+Beecroft+Road&amp;aq=&amp;sll=43.778392,-79.418166&amp;sspn=0.001369,0.00327&amp;ie=UTF8&amp;hq=&amp;hnear=503+Beecroft+Rd,+Toronto,+Toronto+Division,+Ontario+M2N+0A3&amp;t=m&amp;ll=43.784604,-79.421797&amp;spn=0.019457,0.044632&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="pu22798-55"><!-- column -->
      <div class="clearfix colelem" id="u22798-55">
       <p id="u22798-2">503 Beecroft Road</p>
       <p><span id="u22798-3">Built:</span>&nbsp;2008</p>
       <p><span id="u22798-6">Builder:</span>&nbsp;Empire Communities</p>
       <p><span id="u22798-9">Floors: </span><span id="u22798-10">21</span></p>
       <p><span id="u22798-12">Units:</span>&nbsp;242</p>
       <p id="u22798-17">Condo Corp: <span id="u22798-16">1933</span></p>
       <p><span id="u22798-18">Property Manage</span><span id="u22798-19">r</span><span id="u22798-20">:</span>&nbsp;Del Property Management &#45; 416&#45;229&#45;4551</p>
       <p>&nbsp;</p>
       <p id="u22798-25">509 Beecroft Road</p>
       <p><span id="u22798-26">Built:</span>&nbsp;2008</p>
       <p><span id="u22798-29">Builder: </span>Empire Communities</p>
       <p><span id="u22798-32">Floors: </span>21</p>
       <p><span id="u22798-35">Units:</span>&nbsp;274</p>
       <p id="u22798-40">Condo Corp: <span id="u22798-39">1891</span></p>
       <p id="u22798-45">Property Manage<span id="u22798-42">r</span>: <span id="u22798-44">Del Property Management &#45; 416&#45;229&#45;4551</span></p>
       <p id="u22798-46">&nbsp;</p>
       <p><span id="u22798-47">Building Amenities:</span>&nbsp;Gym, Concierge, Pool, Sauna, Hot Tub, Party Room, Billiards/Games Room, Deck/Garden, Theatre</p>
       <p id="u22798-50">&nbsp;</p>
       <p><span id="u22798-51">Builder's Description:</span>&nbsp;Welcome to C Condominiums, resort style living in North York. The second and final phase at The Continental, C offers luxury and convenience. Empire’s vision is to create an affordable, upscale condominium for people who want more than just a place to call home. Elegant curvilinear architecture, lavishly landscaped grounds, a grand lobby with 24 hour concierge, a spa inspired fitness centre with indoor pool, entertainment centre and so much more, all just steps from the Finch subway.</p>
      </div>
      <div class="clearfix colelem" id="u26949-4">
       <p>Last Update: July 2010</p>
      </div>
     </div>
    </div>