<%= content_for :page_title, 'Carriage Homes of Avondale' %>

    <div class="clearfix colelem" id="pslideshowu45829"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu45829"><!-- group -->
      <div class="popup_anchor" id="u45870popup">
       <div class="SlideShowContentPanel clearfix" id="u45870"><!-- stack box -->
        <div class="SSSlide grpelem" id="u45919"><!-- image -->
         <img class="block ImageInclude" id="u45919_img" data-src="/images/135.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45928"><!-- image -->
         <img class="block ImageInclude" id="u45928_img" data-src="/images/233.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45937"><!-- image -->
         <img class="block ImageInclude" id="u45937_img" data-src="/images/327.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45946"><!-- image -->
         <img class="block ImageInclude" id="u45946_img" data-src="/images/423.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u45831popup">
       <div class="SSSlideLinks clearfix" id="u45831"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u45922"><!-- image -->
         <div id="u45922_clip">
          <img class="position_content" id="u45922_img" src="/images/170x396.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45931"><!-- image -->
         <div id="u45931_clip">
          <img class="position_content" id="u45931_img" src="/images/270x395.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45940"><!-- image -->
         <div id="u45940_clip">
          <img class="position_content" id="u45940_img" src="/images/370x394.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45949"><!-- image -->
         <div id="u45949_clip">
          <img class="position_content" id="u45949_img" src="/images/470x394.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u45830-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u45830-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u45842-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u45842-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u45885-4"><!-- content -->
      <h1>CARRIAGE HOMES OF AVONDALE</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u45826-4"><!-- content -->
     <h1>11 Everson Drive</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u45883-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u45883-2">Avondale</span></p></a>
    <div class="clearfix colelem" id="pu45827"><!-- group -->
     <div class="grpelem" id="u45827"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=11+Everson+Drive,+Toronto,+ON&amp;aq=0&amp;oq=11+everson+d&amp;sll=43.656877,-79.32085&amp;sspn=0.670645,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=11+Everson+Dr,+Toronto,+Toronto+Division,+Ontario+M2N+2T9&amp;t=m&amp;ll=43.763222,-79.407377&amp;spn=0.023431,0.044632&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=11+Everson+Drive,+Toronto,+ON&amp;aq=0&amp;oq=11+everson+d&amp;sll=43.656877,-79.32085&amp;sspn=0.670645,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=11+Everson+Dr,+Toronto,+Toronto+Division,+Ontario+M2N+2T9&amp;t=m&amp;ll=43.763222,-79.407377&amp;spn=0.023431,0.044632&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="pu45884-30"><!-- column -->
      <div class="clearfix colelem" id="u45884-30"><!-- content -->
       <p id="u45884-2">11 Everson Drive</p>
       <p><span id="u45884-3">Built:</span>&nbsp;2002</p>
       <p><span id="u45884-6">Builder: </span><span id="u45884-7">Shane Baghai</span></p>
       <p><span id="u45884-9">Floors: </span><span id="u45884-10">N/A</span></p>
       <p><span id="u45884-12">Units:</span>&nbsp;160</p>
       <p><span id="u45884-15">Condo Corp: </span>1421</p>
       <p><span id="u45884-18">Property Manager: </span>ICC Property Management &#45; 106&#45;258&#45;9400</p>
       <p id="u45884-21">&nbsp;</p>
       <p><span id="u45884-22">Building Amenities:</span>&nbsp;Party Room</p>
       <p>&nbsp;</p>
       <p><span id="u45884-26">Builder's Description:</span>&nbsp;The distinctive carriage home architecture of this community is in perfect harmony with its carefully planned surrounding garden environment. Their turrets, romantic Juliet balconies, and generous use of window fenestration and mansard rooflines define the stately European inspired exteriors. These attractive facades only further enhance the outdoor enjoyment of residents who enjoy a magnificent two&#45;acre park at the heart of their community.</p>
      </div>
      <div class="clearfix colelem" id="u45825-4"><!-- content -->
       <p>Last Update: July 2010</p>
      </div>
     </div>
    </div>
    