<%= content_for :page_title, default_title('Chicago') %>

<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pslideshowu33190"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu33190"><!-- group -->
      <div class="popup_anchor" id="u33197popup">
       <div class="SlideShowContentPanel clearfix" id="u33197"><!-- stack box -->
        <div class="SSSlide grpelem" id="u33200"><!-- image -->
         <img class="block ImageInclude" id="u33200_img" data-src="/images/1-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33198"><!-- image -->
         <img class="block ImageInclude" id="u33198_img" data-src="/images/2-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33204"><!-- image -->
         <img class="block ImageInclude" id="u33204_img" data-src="/images/3-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33202"><!-- image -->
         <img class="block ImageInclude" id="u33202_img" data-src="/images/4-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33208popup">
       <div class="SSSlideLinks clearfix" id="u33208"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u33213"><!-- image -->
         <div id="u33213_clip">
          <img class="position_content" id="u33213_img" src="/images/1-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33211"><!-- image -->
         <div id="u33211_clip">
          <img class="position_content" id="u33211_img" src="/images/2-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33215"><!-- image -->
         <div id="u33215_clip">
          <img class="position_content" id="u33215_img" src="/images/3-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33209"><!-- image -->
         <div id="u33209_clip">
          <img class="position_content" id="u33209_img" src="/images/4-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33217-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u33217-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u33206-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u33206-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u33239-4"><!-- content -->
      <h1>CHICAGO</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u33241-4"><!-- content -->
     <h1>35 Finch Avenue East</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u33243-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u33243-2">Yonge &amp; Finch</span></p></a>
    <div class="clearfix colelem" id="u33240-28"><!-- content -->
     <p id="u33240-2">35 Finch Avenue East</p>
     <p><span id="u33240-3">Built:</span>&nbsp;2001</p>
     <p><span id="u33240-6">Builder:</span>&nbsp;Menkes</p>
     <p><span id="u33240-9">Floors: </span><span id="u33240-10">23</span></p>
     <p><span id="u33240-12">Units: </span><span id="u33240-13">250</span></p>
     <p><span id="u33240-15">Condo Corp: </span>1405</p>
     <p><span id="u33240-18">Property Manage</span><span id="u33240-19">r</span><span id="u33240-20">: </span><span id="u33240-21">Kindle Management Group &#45; 416&#45;250&#45;1456</span></p>
     <p>&nbsp;</p>
     <p><span id="u33240-24">Building Amenities:</span>&nbsp;Gym, Concierge, Pool, Sauna, Party Room</p>
    </div>
    <div class="colelem" id="u33244"><!-- custom html -->
     <iframe width="520" height="352" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=30+Canterbury+Place&amp;aq=&amp;sll=43.777335,-79.412746&amp;sspn=0.010954,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=30+Canterbury+Pl,+Toronto,+Toronto+Division,+Ontario+M2N+0B9&amp;t=m&amp;ll=43.778097,-79.412527&amp;spn=0.021814,0.044718&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=30+Canterbury+Place&amp;aq=&amp;sll=43.777335,-79.412746&amp;sspn=0.010954,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=30+Canterbury+Pl,+Toronto,+Toronto+Division,+Ontario+M2N+0B9&amp;t=m&amp;ll=43.778097,-79.412527&amp;spn=0.021814,0.044718&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
    <div class="clearfix colelem" id="u33242-4"><!-- content -->
     <p>Last Update: November 2010</p>
    </div>