<%= content_for :page_title, default_title('Chrysler Towers') %>
   <div class="clearfix colelem" id="pslideshowu48500"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu48500"><!-- group -->
      <div class="popup_anchor" id="u48521popup">
       <div class="SlideShowContentPanel clearfix" id="u48521"><!-- stack box -->
        <div class="SSSlide grpelem" id="u48560"><!-- image -->
         <img class="block ImageInclude" id="u48560_img" data-src="/images/132.jpg" src="/images/blank.gif" alt="" data-width="373" data-height="249"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48579"><!-- image -->
         <img class="block ImageInclude" id="u48579_img" data-src="/images/230.jpg" src="/images/blank.gif" alt="" data-width="373" data-height="249"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48598"><!-- image -->
         <img class="block ImageInclude" id="u48598_img" data-src="/images/324.jpg" src="/images/blank.gif" alt="" data-width="373" data-height="249"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48628"><!-- image -->
         <img class="block ImageInclude" id="u48628_img" data-src="/images/420.jpg" src="/images/blank.gif" alt="" data-width="373" data-height="249"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u48531popup">
       <div class="SSSlideLinks clearfix" id="u48531"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u48563"><!-- image -->
         <img class="block" id="u48563_img" src="/images/151x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48582"><!-- image -->
         <img class="block" id="u48582_img" src="/images/251x35.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48601"><!-- image -->
         <img class="block" id="u48601_img" src="/images/351x35.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48631"><!-- image -->
         <img class="block" id="u48631_img" src="/images/451x35.jpg" alt="" width="51" height="34"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u48502-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u48502-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u48528-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u48528-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u48498-4"><!-- content -->
      <h1>CHRYSLER TOWERS</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u48496-4"><!-- content -->
     <h1>1 &amp; 3 Rean Drive</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u48494-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u48494-2">Bayview &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="pu48638"><!-- group -->
     <div class="grpelem" id="u48638"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1+Rean+Drive,+Toronto,+ON&amp;aq=0&amp;oq=1+rean+&amp;sll=43.763206,-79.393194&amp;sspn=0.010894,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=1+Rean+Dr,+Toronto,+Toronto+Division,+Ontario+M2K&amp;t=m&amp;ll=43.771714,-79.390211&amp;spn=0.023428,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1+Rean+Drive,+Toronto,+ON&amp;aq=0&amp;oq=1+rean+&amp;sll=43.763206,-79.393194&amp;sspn=0.010894,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=1+Rean+Dr,+Toronto,+Toronto+Division,+Ontario+M2K&amp;t=m&amp;ll=43.771714,-79.390211&amp;spn=0.023428,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u48499-62"><!-- content -->
      <p><span id="u48499-4">1 Rean Drive<br/>Built:</span>&nbsp;2003</p>
      <p><span id="u48499-7">Builder: </span><span id="u48499-8">Daniels</span></p>
      <p><span id="u48499-10">Floors: </span><span id="u48499-11">28</span></p>
      <p><span id="u48499-13">Units:</span>&nbsp;320<br/><span id="u48499-16">Condo Corp:</span>&nbsp;149<br/><span id="u48499-19">Property Manager: </span>Maple Ridge Management &#45;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 416&#45;987&#45;6186<br/><br/></p>
      <p><span id="u48499-29">3 Rean Drive<br/>Built:</span>&nbsp;2003</p>
      <p><span id="u48499-32">Builder: </span>Daniels</p>
      <p><span id="u48499-35">Floors: </span>28</p>
      <p><span id="u48499-38">Units:</span>&nbsp;320<br/><span id="u48499-41">Condo Corp:</span>&nbsp;149<br/><span id="u48499-44">Property Manager: </span>Maple Ridge Management &#45;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 416&#45;987&#45;6186</p>
      <p>&nbsp;</p>
      <p id="u48499-50">&nbsp;</p>
      <p id="u48499-57"><span id="u48499-51">Building Amenities:</span><span id="u48499-52">&nbsp;</span><span id="u48499-56">Gym, Concierge, Yoga/Rec Room, Pool, Sauna, Party Room, Billiards/Games Room, Guest Suites, Deck/Garden, Library/Study Room, Golf, Tennis<br/><br/></span></p>
      <p><span id="u48499-58">Builder's Description:</span>&nbsp;Welcome to the Chrysler Towers, luxury buildings located in North York at Bayview and Sheppard Avenue. These buildings are part of the New York Towers complex built by Daniels, close to Bayview station on the Sheppard TTC line. Highway 401 is minutes away and Highway 404 and the Don Valley Parkway (DVP) is just 5 minutes east. Bayview Village shopping center is directly across the street, featuring groceries, restaurants and shopping. The YMCA is located right at Bayview. A movie theatre, more shopping and entertainment is just 5 minutes away at Yonge Street.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u48495-4"><!-- content -->
     <p>Last Update: July 2010</p>
    </div>
    