<%= content_for :page_title, 'Cosmo' %>
    <div class="clearfix colelem" id="pslideshowu45201"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu45201"><!-- group -->
      <div class="popup_anchor" id="u45213popup">
       <div class="SlideShowContentPanel clearfix" id="u45213"><!-- stack box -->
        <div class="SSSlide grpelem" id="u45425"><!-- image -->
         <img class="block ImageInclude" id="u45425_img" data-src="/images/132.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45434"><!-- image -->
         <img class="block ImageInclude" id="u45434_img" data-src="/images/230.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45443"><!-- image -->
         <img class="block ImageInclude" id="u45443_img" data-src="/images/324.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45452"><!-- image -->
         <img class="block ImageInclude" id="u45452_img" data-src="/images/420.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45461"><!-- image -->
         <img class="block ImageInclude" id="u45461_img" data-src="/images/516.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45470"><!-- image -->
         <img class="block ImageInclude" id="u45470_img" data-src="/images/611.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45479"><!-- image -->
         <img class="block ImageInclude" id="u45479_img" data-src="/images/78.jpg" src="/images/blank.gif" alt="" data-width="478" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45488"><!-- image -->
         <img class="block ImageInclude" id="u45488_img" data-src="/images/84.jpg" src="/images/blank.gif" alt="" data-width="378" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u45228popup">
       <div class="SSSlideLinks clearfix" id="u45228"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u45428"><!-- image -->
         <div id="u45428_clip">
          <img class="position_content" id="u45428_img" src="/images/159x39.jpg" alt="" width="59" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45437"><!-- image -->
         <div id="u45437_clip">
          <img class="position_content" id="u45437_img" src="/images/259x39.jpg" alt="" width="58" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45446"><!-- image -->
         <div id="u45446_clip">
          <img class="position_content" id="u45446_img" src="/images/359x39.jpg" alt="" width="58" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45455"><!-- image -->
         <div id="u45455_clip">
          <img class="position_content" id="u45455_img" src="/images/459x39.jpg" alt="" width="58" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45464"><!-- image -->
         <div id="u45464_clip">
          <img class="position_content" id="u45464_img" src="/images/559x39.jpg" alt="" width="58" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45473"><!-- image -->
         <div id="u45473_clip">
          <img class="position_content" id="u45473_img" src="/images/659x39.jpg" alt="" width="58" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45482"><!-- image -->
         <div id="u45482_clip">
          <img class="position_content" id="u45482_img" src="/images/764x39.jpg" alt="" width="64" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45491"><!-- image -->
         <div id="u45491_clip">
          <img class="position_content" id="u45491_img" src="/images/851x39.jpg" alt="" width="50" height="39"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u45211-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u45211-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u45262-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u45262-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u45265-4"><!-- content -->
      <h1>COSMO</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u45268-4"><!-- content -->
     <h1>31 &amp; 35 Bales</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u45270-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u45270-2">Avondale</span></p></a>
    <div class="clearfix colelem" id="pu45266"><!-- group -->
     <div class="grpelem" id="u45266"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=31+Bales+Ave,+Toronto,+Toronto+Division,+Ontario+M2N&amp;aq=&amp;sll=43.758362,-79.409424&amp;sspn=0.010461,0.026157&amp;ie=UTF8&amp;geocode=FXa4mwId7k9E-w&amp;split=0&amp;hq=&amp;hnear=31+Bales+Ave,+Toronto,+Toronto+Division,+Ontario+M2N&amp;t=m&amp;ll=43.765329,-79.411926&amp;spn=0.02343,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;q=31+Bales+Ave,+Toronto,+Toronto+Division,+Ontario+M2N&amp;aq=&amp;sll=43.758362,-79.409424&amp;sspn=0.010461,0.026157&amp;ie=UTF8&amp;geocode=FXa4mwId7k9E-w&amp;split=0&amp;hq=&amp;hnear=31+Bales+Ave,+Toronto,+Toronto+Division,+Ontario+M2N&amp;t=m&amp;ll=43.765329,-79.411926&amp;spn=0.02343,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u45269-51"><!-- content -->
      <p id="u45269-2">31 Bales</p>
      <p><span id="u45269-3">Built:</span>&nbsp;2006</p>
      <p><span id="u45269-6">Builder:</span>&nbsp;Menkes</p>
      <p><span id="u45269-9">Floors: </span><span id="u45269-10">23</span></p>
      <p><span id="u45269-12">Units:</span>&nbsp;278</p>
      <p><span id="u45269-15">Condo Corp: </span>1782</p>
      <p><span id="u45269-18">Property Manager: </span>Brookfield Residential Services Ltd. &#45; 416&#45;250&#45;8027</p>
      <p id="u45269-21">&nbsp;</p>
      <p id="u45269-23">35 Bales (32 Glendora Avenue)</p>
      <p><span id="u45269-24">Built:</span>&nbsp;2006</p>
      <p><span id="u45269-27">Builder:</span>&nbsp;Menkes</p>
      <p><span id="u45269-30">Floors: </span>23</p>
      <p><span id="u45269-33">Units:</span>&nbsp;283</p>
      <p><span id="u45269-36">Condo Corp: </span>1768</p>
      <p id="u45269-41">Property Manager: <span id="u45269-40">Brookfield Residential Services Ltd. &#45; 416&#45;250&#45;8027</span></p>
      <p id="u45269-42">&nbsp;</p>
      <p><span id="u45269-43">Building Amenities:</span>&nbsp;Gym, Concierge, Yoga/Rec Room, Pool, Sauna, Hot Tub, Party Room, Billiards/Games Room, Guest Suites</p>
      <p>&nbsp;</p>
      <p><span id="u45269-47">Builder's Description:</span><span id="u45269-48">The twin residences of Cosmo, located right at the Yonge and Sheppard Subway Station, have been designed with a distinctive stepped façade, creating a definitive signature profile amidst the downtown North York skyline. Cosmo's sensational indoor swimming pool is surrounded by a wealth of windows overlooking a private courtyard and is highlighted by a grand skylight of glass. Cosmo's exclusive Party Room features an elegant fireplace, private dining area, caterer's kitchen and a stylish setting for formal or informal evenings. The central lobby of Cosmo, connecting the two residences, reveals all the essentials of a fashionable sense of home, including a 24 hour Concierge, salient columns, classic modern seating lounges and suave finishes.</span></p>
     </div>
    </div>
    <div class="clearfix colelem" id="u45271-4"><!-- content -->
     <p>Last Update: July 2010</p>
    </div>
    