<%= content_for :page_title, default_title('Empire on Bayview') %>
    <div class="clearfix colelem" id="pslideshowu47435"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu47435"><!-- group -->
      <div class="popup_anchor" id="u47439popup">
       <div class="SlideShowContentPanel clearfix" id="u47439"><!-- stack box -->
        <div class="SSSlide grpelem" id="u47518"><!-- image -->
         <img class="block ImageInclude" id="u47518_img" data-src="/images/132.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
        <div class="SSSlide invi grpelem" id="u47533"><!-- image -->
         <img class="block ImageInclude" id="u47533_img" data-src="/images/230.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
        <div class="SSSlide invi grpelem" id="u47548"><!-- image -->
         <img class="block ImageInclude" id="u47548_img" data-src="/images/324.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u47473popup">
       <div class="SSSlideLinks clearfix" id="u47473"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u47521"><!-- image -->
         <img class="block" id="u47521_img" src="/images/151x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u47536"><!-- image -->
         <img class="block" id="u47536_img" src="/images/251x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u47551"><!-- image -->
         <img class="block" id="u47551_img" src="/images/351x34.jpg" alt="" width="51" height="34"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u47453-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u47453-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u47436-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u47436-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u47494-4"><!-- content -->
      <h1>EMPIRE ON BAYVIEW</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u47432-4"><!-- content -->
     <h1>17 Barberry Place</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u47431-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u47431-2">Bayview &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="u47434-36"><!-- content -->
     <p id="u47434-2">17 Barberry Place</p>
     <p><span id="u47434-3">Built:</span>&nbsp;2005</p>
     <p><span id="u47434-6">Builder: </span><span id="u47434-7">Daniels</span></p>
     <p><span id="u47434-9">Floors: </span><span id="u47434-10">28</span></p>
     <p><span id="u47434-12">Units:</span>&nbsp;400</p>
     <p><span id="u47434-15">Condo Corp:</span><span id="u47434-16">1687</span></p>
     <p><span id="u47434-18">Property Manager: </span>Maple Ridge Community Management<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#45; 416&#45;987&#45;9870</p>
     <p id="u47434-23">&nbsp;</p>
     <p id="u47434-24">&nbsp;</p>
     <p id="u47434-31"><span id="u47434-25">Building Amenities:</span><span id="u47434-26">&nbsp;</span><span id="u47434-30">Gym, Concierge, Yoga/Rec Room, Pool, Sauna, Party Room, Deck/Garden, Golf, Theatre.<br/><br/></span></p>
     <p><span id="u47434-32">Builder's Description:</span>&nbsp;N/A</p>
    </div>
    <div class="colelem" id="u47429"><!-- custom html -->
     <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=17+Barberry+Place,+Toronto,+ON&amp;aq=0&amp;oq=17+barberry+&amp;sll=43.757054,-79.405017&amp;sspn=0.010895,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=17+Barberry+Pl,+Toronto,+Toronto+Division,+Ontario+M2K&amp;t=m&amp;ll=43.7719,-79.391756&amp;spn=0.023428,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=17+Barberry+Place,+Toronto,+ON&amp;aq=0&amp;oq=17+barberry+&amp;sll=43.757054,-79.405017&amp;sspn=0.010895,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=17+Barberry+Pl,+Toronto,+Toronto+Division,+Ontario+M2K&amp;t=m&amp;ll=43.7719,-79.391756&amp;spn=0.023428,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
    <div class="clearfix colelem" id="u47433-4"><!-- content -->
     <p>Last Update: July 2010</p>
    </div>
    