<%= content_for :page_title, 'Fashion Roseway' %>
    <div class="clearfix colelem" id="pslideshowu48261"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu48261"><!-- group -->
      <div class="popup_anchor" id="u48322popup">
       <div class="SlideShowContentPanel clearfix" id="u48322"><!-- stack box -->
        <div class="SSSlide grpelem" id="u48378"><!-- image -->
         <img class="block ImageInclude" id="u48378_img" data-src="/images/138.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u48263popup">
       <div class="SSSlideLinks clearfix" id="u48263"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u48381"><!-- image -->
         <img class="block" id="u48381_img" src="/images/151x342.jpg" alt="" width="51" height="34"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u48308-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u48308-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u48321-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u48321-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u48258-4"><!-- content -->
      <h1>10, 20, &amp; 30 FASHION ROSEWAY</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u48260-4"><!-- content -->
     <h1>10 Fashion Roseway</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u48345-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u48345-2">Bayview &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="pu48254"><!-- group -->
     <div class="grpelem" id="u48254"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=10+Fashion+Roseway,+Toronto,+ON&amp;aq=0&amp;oq=10+F&amp;sll=43.768212,-79.391091&amp;sspn=0.010893,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=10+Fashion+Roseway,+Toronto,+Toronto+Division,+Ontario+M2N+6B4&amp;t=m&amp;ll=43.769854,-79.400253&amp;spn=0.023429,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=10+Fashion+Roseway,+Toronto,+ON&amp;aq=0&amp;oq=10+F&amp;sll=43.768212,-79.391091&amp;sspn=0.010893,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=10+Fashion+Roseway,+Toronto,+Toronto+Division,+Ontario+M2N+6B4&amp;t=m&amp;ll=43.769854,-79.400253&amp;spn=0.023429,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u48259-37"><!-- content -->
      <p><span id="u48259-4">10 Fashion Roseway<br/>Built: </span>1979</p>
      <p><span id="u48259-7">Builder: </span><span id="u48259-8">Cadillac Fairview Corporation Ltd.</span></p>
      <p><span id="u48259-10">Floors: </span><span id="u48259-11">5</span></p>
      <p><span id="u48259-13">Units:</span>&nbsp;90<br/><span id="u48259-16">Condo Corp: </span>444<br/><span id="u48259-19">Property Manager: </span><span id="u48259-23">Briarlane Property Management &#45;<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 905&#45;853&#45;3378</span></p>
      <p>&nbsp;</p>
      <p id="u48259-32"><span id="u48259-26">Building Amenities:</span><span id="u48259-27">&nbsp;</span><span id="u48259-31">Pool, Vistor Parking<br/><br/></span></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u48257-4"><!-- content -->
     <p>Last Update: July 2010</p>
    </div>
  