<%= content_for :page_title, default_title('Mansions of Avondale') %>
    <div class="clearfix colelem" id="pslideshowu46528"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu46528"><!-- group -->
      <div class="popup_anchor" id="u46559popup">
       <div class="SlideShowContentPanel clearfix" id="u46559"><!-- stack box -->
        <div class="SSSlide grpelem" id="u46696"><!-- image -->
         <img class="block ImageInclude" id="u46696_img" data-src="/images/137.jpg" src="/images/blank.gif" alt="" data-width="470" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46683"><!-- image -->
         <img class="block ImageInclude" id="u46683_img" data-src="/images/710.jpg" src="/images/blank.gif" alt="" data-width="470" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46668"><!-- image -->
         <img class="block ImageInclude" id="u46668_img" data-src="/images/613.jpg" src="/images/blank.gif" alt="" data-width="470" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46653"><!-- image -->
         <img class="block ImageInclude" id="u46653_img" data-src="/images/519.jpg" src="/images/blank.gif" alt="" data-width="470" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46638"><!-- image -->
         <img class="block ImageInclude" id="u46638_img" data-src="/images/424.jpg" src="/images/blank.gif" alt="" data-width="470" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46593"><!-- image -->
         <img class="block ImageInclude" id="u46593_img" data-src="/images/235.jpg" src="/images/blank.gif" alt="" data-width="470" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46710"><!-- image -->
         <img class="block ImageInclude" id="u46710_img" data-src="/images/85.jpg" src="/images/blank.gif" alt="" data-width="470" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46623"><!-- image -->
         <img class="block ImageInclude" id="u46623_img" data-src="/images/328.jpg" src="/images/blank.gif" alt="" data-width="470" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u46549popup">
       <div class="SSSlideLinks clearfix" id="u46549"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u46699"><!-- image -->
         <div id="u46699_clip">
          <img class="position_content" id="u46699_img" src="/images/163x39.jpg" alt="" width="63" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46686"><!-- image -->
         <div id="u46686_clip">
          <img class="position_content" id="u46686_img" src="/images/763x39.jpg" alt="" width="63" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46671"><!-- image -->
         <div id="u46671_clip">
          <img class="position_content" id="u46671_img" src="/images/663x39.jpg" alt="" width="63" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46656"><!-- image -->
         <div id="u46656_clip">
          <img class="position_content" id="u46656_img" src="/images/563x39.jpg" alt="" width="63" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46641"><!-- image -->
         <div id="u46641_clip">
          <img class="position_content" id="u46641_img" src="/images/463x39.jpg" alt="" width="63" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46596"><!-- image -->
         <div id="u46596_clip">
          <img class="position_content" id="u46596_img" src="/images/263x39.jpg" alt="" width="63" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46713"><!-- image -->
         <div id="u46713_clip">
          <img class="position_content" id="u46713_img" src="/images/863x39.jpg" alt="" width="63" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46626"><!-- image -->
         <div id="u46626_clip">
          <img class="position_content" id="u46626_img" src="/images/363x39.jpg" alt="" width="63" height="39"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u46556-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u46556-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u46557-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u46557-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u46524-4"><!-- content -->
      <h1>MANSIONS OF AVONDALE</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u46562-4"><!-- content -->
     <h1>51 &amp; 55 Harrison Garden Boulevard</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u46523-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u46523-2">Avondale</span></p></a>
    <div class="clearfix colelem" id="pu46526"><!-- group -->
     <div class="grpelem" id="u46526"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=51+Harrison+Garden+Boulevard,+Toronto,+ON&amp;aq=0&amp;oq=51+harrison&amp;sll=43.656877,-79.32085&amp;sspn=0.608057,1.326599&amp;ie=UTF8&amp;hq=&amp;hnear=51+Harrison+Garden+Blvd,+Toronto,+Toronto+Division,+Ontario+M2N+7G4&amp;t=m&amp;ll=43.76223,-79.414415&amp;spn=0.023432,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=51+Harrison+Garden+Boulevard,+Toronto,+ON&amp;aq=0&amp;oq=51+harrison&amp;sll=43.656877,-79.32085&amp;sspn=0.608057,1.326599&amp;ie=UTF8&amp;hq=&amp;hnear=51+Harrison+Garden+Blvd,+Toronto,+Toronto+Division,+Ontario+M2N+7G4&amp;t=m&amp;ll=43.76223,-79.414415&amp;spn=0.023432,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="pu46525-42"><!-- column -->
      <div class="clearfix colelem" id="u46525-42"><!-- content -->
       <p id="u46525-2">51 Harrison Garden Boulevard</p>
       <p><span id="u46525-3">Built:</span>&nbsp;2003</p>
       <p><span id="u46525-6">Builder: </span><span id="u46525-7">Shane Baghai</span></p>
       <p><span id="u46525-9">Floors: </span><span id="u46525-10">10</span></p>
       <p><span id="u46525-12">Units:</span>&nbsp;107</p>
       <p id="u46525-15">&nbsp;</p>
       <p id="u46525-17">55 Harrison Garden Boulevard</p>
       <p><span id="u46525-18">Built:</span>&nbsp;2004</p>
       <p><span id="u46525-21">Builder: </span>Shane Baghai</p>
       <p><span id="u46525-24">Floors: </span>14</p>
       <p id="u46525-29">Units:<span id="u46525-28">&nbsp;137</span></p>
       <p id="u46525-30">&nbsp;</p>
       <p><span id="u46525-31">Building Amenities:</span><span id="u46525-32">&nbsp;</span><span id="u46525-36">Gym, Concierge, Pool, Sauna, Party Room, Guest Suites, Deck/Garden<br/><br/></span></p>
       <p><span id="u46525-38">Builder's Description:</span>&nbsp;Attention to detail is what defines and identifies a Shane Baghai design and the name Mansions of Avondale aptly describes them. These mid&#45;rise condominiums exhibit all the timeless hallmarks that purchasers appreciate in a Shane Baghai home. Residents living here also enjoy a unique outdoor environment. With the entire Avondale neighbourhood connected to a central park through a series of walkways, belvederes, mews and garden courtyards. What a perfect setting for a mansion.</p>
      </div>
      <div class="clearfix colelem" id="u46522-4"><!-- content -->
       <p>Last Update: July 2010</p>
      </div>
     </div>
    </div>
