<%= content_for :page_title, 'Marquis' %>

<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pslideshowu33359"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu33359"><!-- group -->
      <div class="popup_anchor" id="u33368popup">
       <div class="SlideShowContentPanel clearfix" id="u33368"><!-- stack box -->
        <div class="SSSlide grpelem" id="u33369"><!-- image -->
         <img class="block ImageInclude" id="u33369_img" data-src="/images/1-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33373"><!-- image -->
         <img class="block ImageInclude" id="u33373_img" data-src="/images/2-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33375"><!-- image -->
         <img class="block ImageInclude" id="u33375_img" data-src="/images/3-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33371"><!-- image -->
         <img class="block ImageInclude" id="u33371_img" data-src="/images/4-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33396popup">
       <div class="SSSlideLinks clearfix" id="u33396"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u33403"><!-- image -->
         <div id="u33403_clip">
          <img class="position_content" id="u33403_img" src="/images/1-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33397"><!-- image -->
         <div id="u33397_clip">
          <img class="position_content" id="u33397_img" src="/images/2-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33401"><!-- image -->
         <div id="u33401_clip">
          <img class="position_content" id="u33401_img" src="/images/3-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33399"><!-- image -->
         <div id="u33399_clip">
          <img class="position_content" id="u33399_img" src="/images/4-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33407-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u33407-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u33367-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u33367-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u33410-4"><!-- content -->
      <h1>MARQUIS</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u33409-4"><!-- content -->
     <h1>8 Mckee Avenue</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u33357-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u33357-2">Yonge &amp; Finch</span></p></a>
    <div class="clearfix colelem" id="pu33411"><!-- group -->
     <div class="grpelem" id="u33411"><!-- custom html -->
      <iframe width="520" height="352" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=8+McKee+Avenue&amp;aq=&amp;sll=43.780917,-79.418085&amp;sspn=0.010953,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=8+McKee+Ave,+Toronto,+Toronto+Division,+Ontario+M2N+5R3&amp;t=m&amp;ll=43.780948,-79.418106&amp;spn=0.021813,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=8+McKee+Avenue&amp;aq=&amp;sll=43.780917,-79.418085&amp;sspn=0.010953,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=8+McKee+Ave,+Toronto,+Toronto+Division,+Ontario+M2N+5R3&amp;t=m&amp;ll=43.780948,-79.418106&amp;spn=0.021813,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u33408-24"><!-- content -->
      <p id="u33408-2">8 McKee Avenue</p>
      <p><span id="u33408-3">Built:</span>&nbsp;2004</p>
      <p><span id="u33408-6">Builder:</span>&nbsp;Tridel</p>
      <p><span id="u33408-9">Floors: </span><span id="u33408-10">16</span></p>
      <p><span id="u33408-12">Units: </span><span id="u33408-13">67</span></p>
      <p>&nbsp;</p>
      <p><span id="u33408-16">Building Amenities:</span>&nbsp;Gym, Concierge, Sauna, Pool, Party Room, Guest Suites.</p>
      <p>&nbsp;</p>
      <p><span id="u33408-20">Builder's Description:</span>&nbsp;Located between Finch and North York City Centre, 8 Mckee is a Tridel&#45;developed luxury condominium in the heart of North York. Suites feature a balcony overlooking the gorgeous North York skyline, massive windows, the convenience of an ensuite storage room, and granite countertops in the kitchen. Some suites even have a view of the CN Tower! Amenities include a24&#45;hour concierge, fitness centre, indoor pool, steam room, and lounge. The lobby has a fireplace to welcome you home.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u33358-4"><!-- content -->
     <p>Last Update: November 2010</p>
    </div>