<%= content_for :page_title, 'Merci le Condominium' %>
    <div class="clearfix colelem" id="pslideshowu48749"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu48749"><!-- group -->
      <div class="popup_anchor" id="u48777popup">
       <div class="SlideShowContentPanel clearfix" id="u48777"><!-- stack box -->
        <div class="SSSlide grpelem" id="u48795"><!-- image -->
         <img class="block ImageInclude" id="u48795_img" data-src="/images/132.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48814"><!-- image -->
         <img class="block ImageInclude" id="u48814_img" data-src="/images/230.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48833"><!-- image -->
         <img class="block ImageInclude" id="u48833_img" data-src="/images/324.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48852"><!-- image -->
         <img class="block ImageInclude" id="u48852_img" data-src="/images/420.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48871"><!-- image -->
         <img class="block ImageInclude" id="u48871_img" data-src="/images/516.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u48750popup">
       <div class="SSSlideLinks clearfix" id="u48750"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u48798"><!-- image -->
         <img class="block" id="u48798_img" src="/images/151x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48817"><!-- image -->
         <img class="block" id="u48817_img" src="/images/251x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48836"><!-- image -->
         <img class="block" id="u48836_img" src="/images/351x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48855"><!-- image -->
         <img class="block" id="u48855_img" src="/images/451x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48874"><!-- image -->
         <img class="block" id="u48874_img" src="/images/551x34.jpg" alt="" width="51" height="34"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u48753-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u48753-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u48758-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u48758-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u48784-4"><!-- content -->
      <h1>MERCI LE CONDOMINIUMS</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u48743-4"><!-- content -->
     <h1>600 Sheppard Avenue East</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u48783-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u48783-2">Bayview &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="pu48746"><!-- group -->
     <div class="grpelem" id="u48746"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=600+Sheppard+Avenue+East,+Toronto,+ON&amp;aq=0&amp;oq=600+SHE&amp;sll=43.765624,-79.383109&amp;sspn=0.010894,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=600+Sheppard+Ave+E,+Toronto,+Toronto+Division,+Ontario+M2K+3C8&amp;t=m&amp;ll=43.773201,-79.393473&amp;spn=0.023427,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=600+Sheppard+Avenue+East,+Toronto,+ON&amp;aq=0&amp;oq=600+SHE&amp;sll=43.765624,-79.383109&amp;sspn=0.010894,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=600+Sheppard+Ave+E,+Toronto,+Toronto+Division,+Ontario+M2K+3C8&amp;t=m&amp;ll=43.773201,-79.393473&amp;spn=0.023427,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u48744-27"><!-- content -->
      <p><span id="u48744-4">600 Sheppard Avenue East <br/>Built:</span>&nbsp;2011</p>
      <p><span id="u48744-7">Builder: </span><span id="u48744-8">Daniels</span></p>
      <p><span id="u48744-10">Floors: </span><span id="u48744-11">6</span></p>
      <p><span id="u48744-13">Units:</span>&nbsp;159<br/><br/></p>
      <p>&nbsp;</p>
      <p id="u48744-21"><span id="u48744-19">Building Amenities:</span><span id="u48744-20">&nbsp;Gym, Concierge, Yoga/Rec Room, Party Room, Billiards/Games Room, Deck/Garden, Theatre.</span></p>
      <p id="u48744-22">&nbsp;</p>
      <p><span id="u48744-23">Builder's Description:</span>&nbsp;MERCI Le Condominium is the newest residence to be added to Daneils' landmark NY Towers Community at Bayview and Sheppard. MERCI will combine authentic Parisian&#45;inspired architecture with modern amenities and superior appointments to offer a sophisticated lifestyle opportunity in the heart of uptown Toronto. This boutique&#45;style residence is resplendent in the classical touches of an ornate Parisian design marked by elegance of a traditional mansard roof and charming dormer windowns. The overall effect will fit as seamlessly into the urban landscape as it would on a street in Paris.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u48745-4"><!-- content -->
     <p>Last Update: July 2010</p>
    </div>