<%= content_for :page_title, default_title('Meridian Residences') %>

<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pslideshowu33264"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu33264"><!-- group -->
      <div class="popup_anchor" id="u33267popup">
       <div class="SlideShowContentPanel clearfix" id="u33267"><!-- stack box -->
        <div class="SSSlide grpelem" id="u33278"><!-- image -->
         <img class="block ImageInclude" id="u33278_img" data-src="/images/main.jpg" src="/images/blank.gif" alt="" data-width="516" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33276"><!-- image -->
         <img class="block ImageInclude" id="u33276_img" data-src="/images/2.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33272"><!-- image -->
         <img class="block ImageInclude" id="u33272_img" data-src="/images/3.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33309popup">
       <div class="SSSlideLinks clearfix" id="u33309"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u33314"><!-- image -->
         <img class="block" id="u33314_img" src="/images/main61x35.jpg" alt="" width="60" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u33316"><!-- image -->
         <img class="block" id="u33316_img" src="/images/252x35.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u33312"><!-- image -->
         <img class="block" id="u33312_img" src="/images/352x35.jpg" alt="" width="51" height="34"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33298-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u33298-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u33299-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u33299-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u33325-4"><!-- content -->
      <h1>MERIDIAN RESIDENCES</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u33324-4"><!-- content -->
     <h1>15 &amp; 25 Greenview Avenue</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u33323-5" href="http://oulahen.com/search_YF.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u33323-2">Yonge &amp; Finch</span></p></a>
    <div class="clearfix colelem" id="pu33262"><!-- group -->
     <div class="grpelem" id="u33262"><!-- custom html -->
      <iframe width="520" height="352" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=15+greenview+avenue&amp;aq=&amp;sll=43.780243,-79.418785&amp;sspn=0.001369,0.00327&amp;ie=UTF8&amp;hq=&amp;hnear=15+Greenview+Ave,+Toronto,+Toronto+Division,+Ontario+M2M+4M7&amp;t=m&amp;ll=43.786896,-79.418879&amp;spn=0.021811,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=15+greenview+avenue&amp;aq=&amp;sll=43.780243,-79.418785&amp;sspn=0.001369,0.00327&amp;ie=UTF8&amp;hq=&amp;hnear=15+Greenview+Ave,+Toronto,+Toronto+Division,+Ontario+M2M+4M7&amp;t=m&amp;ll=43.786896,-79.418879&amp;spn=0.021811,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u33261-39"><!-- content -->
      <p id="u33261-2">15 Greenview Avenue</p>
      <p><span id="u33261-3">Built:</span>&nbsp;2007</p>
      <p><span id="u33261-6">Builder:</span>&nbsp;Tridel</p>
      <p><span id="u33261-9">Floors: </span>31</p>
      <p><span id="u33261-12">Units:</span>&nbsp;406</p>
      <p>&nbsp;</p>
      <p id="u33261-17">25 Greenview&nbsp; Avenue</p>
      <p><span id="u33261-18">Built:</span>&nbsp;2008</p>
      <p><span id="u33261-21">Builder: </span>Tridel</p>
      <p><span id="u33261-24">Floors: </span>26</p>
      <p><span id="u33261-27">Units:</span>&nbsp;312</p>
      <p id="u33261-30">&nbsp;</p>
      <p><span id="u33261-31">Building Amenities:</span>&nbsp;Gym, Concierge, Pool, Sauna, Hot Tub, Party Room, Billiards/Games Room, Guest Suites, Deck/Garden, Golf.</p>
      <p>&nbsp;</p>
      <p><span id="u33261-35">Builder's Description:</span>&nbsp;Meridian, a grand elliptical glass tower that soars 31 storeys above the intersection of Yonge and Finch, is steps to the subway and features a dramatic two&#45;storey lobby with 24&#45;hour Concierge, luxuriously designed suites and spectacular Recreation Centre.</p>
     </div>
    </div>