<%= content_for :page_title, default_title('Monet') %>

<div class="gradient colelem" id="u16510"></div>
    <div class="clearfix colelem" id="pslideshowu32908">
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu32908">
      <div class="popup_anchor" id="u32918popup">
       <div class="SlideShowContentPanel clearfix" id="u32918"><!-- stack box -->
        <div class="SSSlide grpelem" id="u32988"><!-- image -->
         <img class="block ImageInclude" id="u32988_img" data-src="/images/1-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u32997"><!-- image -->
         <img class="block ImageInclude" id="u32997_img" data-src="/images/2-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33006"><!-- image -->
         <img class="block ImageInclude" id="u33006_img" data-src="/images/3-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33015"><!-- image -->
         <img class="block ImageInclude" id="u33015_img" data-src="/images/4-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u32927popup">
       <div class="SSSlideLinks clearfix" id="u32927"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u32991"><!-- image -->
         <div id="u32991_clip">
          <img class="position_content" id="u32991_img" src="/images/1-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33000"><!-- image -->
         <div id="u33000_clip">
          <img class="position_content" id="u33000_img" src="/images/2-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33009"><!-- image -->
         <div id="u33009_clip">
          <img class="position_content" id="u33009_img" src="/images/3-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33018"><!-- image -->
         <div id="u33018_clip">
          <img class="position_content" id="u33018_img" src="/images/4-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u32925-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u32925-4">
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u32917-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u32917-4">
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u32952-4">
      <h1>MONET</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u32953-4">
     <h1>60 Byng Avenue</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u32904-5" href="http://oulahen.com/search_YS.asp" target="_blank"><p>View Listings at: <span id="u32904-2">Yonge &amp; Finch</span></p></a>
    <div class="clearfix colelem" id="pu32905">
     <div class="grpelem" id="u32905"><!-- custom html -->
      <iframe width="520" height="333" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=60+Byng+Avenue,+Toronto,+ON&amp;aq=0&amp;oq=60+byng+a&amp;sll=43.656877,-79.32085&amp;sspn=0.702439,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=60+Byng+Ave,+Toronto,+Toronto+Division,+Ontario+M2N+7H4&amp;t=m&amp;ll=43.782869,-79.412785&amp;spn=0.020635,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=60+Byng+Avenue,+Toronto,+ON&amp;aq=0&amp;oq=60+byng+a&amp;sll=43.656877,-79.32085&amp;sspn=0.702439,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=60+Byng+Ave,+Toronto,+Toronto+Division,+Ontario+M2N+7H4&amp;t=m&amp;ll=43.782869,-79.412785&amp;spn=0.020635,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="pu32907-23"><!-- column -->
      <div class="clearfix colelem" id="u32907-23">
       <p id="u32907-2">60 Byng Avenue</p>
       <p><span id="u32907-3">Built:</span>&nbsp;2005</p>
       <p><span id="u32907-6">Builder:</span>&nbsp;Great Lands Corporation</p>
       <p><span id="u32907-9">Floors: </span><span id="u32907-10">28</span></p>
       <p><span id="u32907-12">Units: 311</span></p>
       <p id="u32907-14">&nbsp;</p>
       <p><span id="u32907-15">Building Amenities:</span>&nbsp;Gym, Concierge, Yoga/Rec Room, Pool, Sauna, Hot Tub, Party Room, Billiards/Games Room, Guest Suites, Business Centre/Board Room, Deck/Garden, Golf , Theatre.</p>
       <p id="u32907-18">&nbsp;</p>
       <p><span id="u32907-19">Builder's Description:</span>&nbsp;Just seconds away from Yonge and Finch in downtown North York, The Monet Water Garden Residences is close to all the major transportation routes of the city, including the Finch subway station and the 401. There are one and two&#45;bedroom suites available, with or without dens. Balconies overlooking the gorgeous Greater Toronto Area skyline are attached to all suites of this 28&#45;storey elliptical structure.</p>
      </div>
      <div class="clearfix colelem" id="u32954-4">
       <p>Last Update: November 2010</p>
      </div>
     </div>
    </div>