<%= content_for :page_title, default_title('Park Lane') %>

<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pslideshowu33670"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu33670"><!-- group -->
      <div class="popup_anchor" id="u33672popup">
       <div class="SlideShowContentPanel clearfix" id="u33672"><!-- stack box -->
        <div class="SSSlide grpelem" id="u33675"><!-- image -->
         <img class="block ImageInclude" id="u33675_img" data-src="/images/1-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33677"><!-- image -->
         <img class="block ImageInclude" id="u33677_img" data-src="/images/2-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33679"><!-- image -->
         <img class="block ImageInclude" id="u33679_img" data-src="/images/3-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33673"><!-- image -->
         <img class="block ImageInclude" id="u33673_img" data-src="/images/4-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33681popup">
       <div class="SSSlideLinks clearfix" id="u33681"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u33686"><!-- image -->
         <div id="u33686_clip">
          <img class="position_content" id="u33686_img" src="/images/1-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33682"><!-- image -->
         <div id="u33682_clip">
          <img class="position_content" id="u33682_img" src="/images/2-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33688"><!-- image -->
         <div id="u33688_clip">
          <img class="position_content" id="u33688_img" src="/images/3-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33684"><!-- image -->
         <div id="u33684_clip">
          <img class="position_content" id="u33684_img" src="/images/4-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33712-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u33712-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u33713-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u33713-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u33669-4"><!-- content -->
      <h1>PARK LANE I &amp; II</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u33731-6"><!-- content -->
     <h1>1 Pemberton Avenue &amp;</h1>
     <h1>3 Pemberton Avenue</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u33733-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u33733-2">Yonge &amp; Finch</span></p></a>
    <div class="clearfix colelem" id="u33732-35"><!-- content -->
     <p id="u33732-2">1 Pemberton Avenue</p>
     <p><span id="u33732-3">Built:</span>&nbsp;1999</p>
     <p><span id="u33732-6">Builder:</span>&nbsp;Burka Architects Inc.</p>
     <p><span id="u33732-9">Floors: </span><span id="u33732-10">25</span></p>
     <p><span id="u33732-12">Units:</span>&nbsp;192</p>
     <p>&nbsp;</p>
     <p id="u33732-17">3 Pemberton Avenue</p>
     <p><span id="u33732-18">Built:</span>&nbsp;1999</p>
     <p><span id="u33732-21">Builder:</span>&nbsp;Burka Architects Inc.</p>
     <p><span id="u33732-24">Floors: </span>23</p>
     <p><span id="u33732-27">Units:</span>&nbsp;181</p>
     <p id="u33732-30">&nbsp;</p>
     <p><span id="u33732-31">Building Amenities:</span>&nbsp;Gym, Concierge, Yoga/Rec Room, Party Room</p>
    </div>
    <div class="colelem" id="u33667"><!-- custom html -->
     <iframe width="520" height="352" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=3+Pemberton+Ave,+Toronto,+Toronto+Division,+Ontario+M2M+4L9&amp;aq=&amp;sll=43.761538,-79.411079&amp;sspn=0.175305,0.41851&amp;ie=UTF8&amp;geocode=FckLnAId4DtE-w&amp;split=0&amp;hq=&amp;hnear=3+Pemberton+Ave,+Toronto,+Toronto+Division,+Ontario+M2M+4L9&amp;t=m&amp;ll=43.78826,-79.412956&amp;spn=0.02181,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;q=3+Pemberton+Ave,+Toronto,+Toronto+Division,+Ontario+M2M+4L9&amp;aq=&amp;sll=43.761538,-79.411079&amp;sspn=0.175305,0.41851&amp;ie=UTF8&amp;geocode=FckLnAId4DtE-w&amp;split=0&amp;hq=&amp;hnear=3+Pemberton+Ave,+Toronto,+Toronto+Division,+Ontario+M2M+4L9&amp;t=m&amp;ll=43.78826,-79.412956&amp;spn=0.02181,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
    <div class="clearfix colelem" id="u33721-4"><!-- content -->
     <p>Last Update: November 2010</p>
    </div>