<%= content_for :page_title, default_title('Pavilion') %>
    <div class="clearfix colelem" id="pslideshowu42588">
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu42588">
      <div class="popup_anchor" id="u42629popup">
       <div class="SlideShowContentPanel clearfix" id="u42629"><!-- stack box -->
        <div class="SSSlide grpelem" id="u42688"><!-- image -->
         <img class="block ImageInclude" id="u42688_img" data-src="/images/124.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u42697"><!-- image -->
         <img class="block ImageInclude" id="u42697_img" data-src="/images/223.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u42706"><!-- image -->
         <img class="block ImageInclude" id="u42706_img" data-src="/images/318.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u42715"><!-- image -->
         <img class="block ImageInclude" id="u42715_img" data-src="/images/415.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u42724"><!-- image -->
         <img class="block ImageInclude" id="u42724_img" data-src="/images/512.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u42589popup">
       <div class="SSSlideLinks clearfix" id="u42589"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u42691"><!-- image -->
         <img class="block" id="u42691_img" src="/images/160x346.jpg" alt="" width="60" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u42700"><!-- image -->
         <img class="block" id="u42700_img" src="/images/260x346.jpg" alt="" width="60" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u42709"><!-- image -->
         <img class="block" id="u42709_img" src="/images/360x345.jpg" alt="" width="60" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u42718"><!-- image -->
         <img class="block" id="u42718_img" src="/images/460x344.jpg" alt="" width="60" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u42727"><!-- image -->
         <img class="block" id="u42727_img" src="/images/560x344.jpg" alt="" width="60" height="34"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u42620-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u42620-4">
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u42619-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u42619-4">
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u42587-4">
      <h1>THE PAVILLION &amp; PAVILLION DEL SOL</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u42642-4">
     <h1>5 &amp;10 Kenneth Avenue</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u42586-5" href="http://oulahen.com/search_YS.asp" target="_blank"><p>View Listings at: <span id="u42586-2">Yonge &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="pu42644">
     <div class="grpelem" id="u42644"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=5+Kenneth+Avenue&amp;aq=&amp;sll=43.766228,-79.409566&amp;sspn=0.01046,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=5+Kenneth+Ave,+Toronto,+Toronto+Division,+Ontario+M2N+6M7&amp;t=m&amp;ll=43.768491,-79.409351&amp;spn=0.023429,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5+Kenneth+Avenue&amp;aq=&amp;sll=43.766228,-79.409566&amp;sspn=0.01046,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=5+Kenneth+Ave,+Toronto,+Toronto+Division,+Ontario+M2N+6M7&amp;t=m&amp;ll=43.768491,-79.409351&amp;spn=0.023429,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="pu42646-57"><!-- column -->
      <div class="clearfix colelem" id="u42646-57">
       <p id="u42646-2">5 Keneth Avenue</p>
       <p><span id="u42646-3">Built:</span>&nbsp;1989</p>
       <p><span id="u42646-6">Builder:</span>&nbsp;N/A</p>
       <p><span id="u42646-9">Floors: </span><span id="u42646-10">18</span></p>
       <p><span id="u42646-12">Units:</span>&nbsp;140</p>
       <p id="u42646-17">Condo Corp: <span id="u42646-16">804</span></p>
       <p id="u42646-22">Property Manage<span id="u42646-19">r</span>:<span id="u42646-21">&nbsp;General Property Management &#45; 416&#45;221&#45;6099</span></p>
       <p id="u42646-23">&nbsp;</p>
       <p id="u42646-25">10 Keneth Avenue</p>
       <p><span id="u42646-26">Built:</span>&nbsp;1987</p>
       <p><span id="u42646-29">Builder:</span>&nbsp;N/A</p>
       <p><span id="u42646-32">Floors: </span>18</p>
       <p><span id="u42646-35">Units:</span>&nbsp;201</p>
       <p id="u42646-40">Condo Corp: <span id="u42646-39">733</span></p>
       <p id="u42646-45">Property Manage<span id="u42646-42">r</span>:<span id="u42646-44">&nbsp;Pro House Management &#45; 416&#45;229&#45;4922</span></p>
       <p id="u42646-46">&nbsp;</p>
       <p><span id="u42646-47">Building Amenities:</span>&nbsp;: Gym, Concierge, Rec Room, Pool, Party Room, Squash Court, Sauna</p>
       <p>&nbsp;</p>
       <p><span id="u42646-51">Builder's Description: </span><span id="u42646-52">The Pavilion Del Sol is located just 2 blocks east of Yonge Street off Sheppard. Within easy walking distance to both the shops and restaurants on Yonge Street, as well as upscale Bayview Village, it is within minutes from both the 401 and the TTC. Located on a quiet suburban street, views are gorgeous &#45; in every direction there is a lush canopy of trees. Schools, offices, banks and government services are all just around the corner.</span></p>
       <p>&nbsp;</p>
       <p>&nbsp;</p>
      </div>
      <div class="clearfix colelem" id="u42643-4">
       <p>Last Update: April 2011</p>
      </div>
     </div>
    </div>
   