   <%= content_for :page_title, default_title('Peninsula Place') %>
    <div class="clearfix colelem" id="pslideshowu41128"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu41128"><!-- group -->
      <div class="popup_anchor" id="u41159popup">
       <div class="SlideShowContentPanel clearfix" id="u41159"><!-- stack box -->
        <div class="SSSlide grpelem" id="u41237"><!-- image -->
         <img class="block ImageInclude" id="u41237_img" data-src="/images/114.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u41246"><!-- image -->
         <img class="block ImageInclude" id="u41246_img" data-src="/images/214.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u41255"><!-- image -->
         <img class="block ImageInclude" id="u41255_img" data-src="/images/313.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u41264"><!-- image -->
         <img class="block ImageInclude" id="u41264_img" data-src="/images/412.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u41273"><!-- image -->
         <img class="block ImageInclude" id="u41273_img" data-src="/images/59.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u41144popup">
       <div class="SSSlideLinks clearfix" id="u41144"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u41240"><!-- image -->
         <div id="u41240_clip">
          <img class="position_content" id="u41240_img" src="/images/180x4513.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u41249"><!-- image -->
         <div id="u41249_clip">
          <img class="position_content" id="u41249_img" src="/images/280x4512.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u41258"><!-- image -->
         <div id="u41258_clip">
          <img class="position_content" id="u41258_img" src="/images/380x4511.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u41267"><!-- image -->
         <div id="u41267_clip">
          <img class="position_content" id="u41267_img" src="/images/480x4510.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u41276"><!-- image -->
         <div id="u41276_clip">
          <img class="position_content" id="u41276_img" src="/images/580x457.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u41131-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u41131-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u41130-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u41130-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u41192-4"><!-- content -->
      <h1>PENINSULA PLACE</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u41195-4"><!-- content -->
     <h1>233 Beecroft Road</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u41127-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u41127-2">Yonge &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="pu41125"><!-- group -->
     <div class="grpelem" id="u41125"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=233+Beecroft+Road,+Toronto,+ON&amp;aq=&amp;sll=43.76533,-79.414712&amp;sspn=0.009794,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=233+Beecroft+Rd,+Toronto,+Toronto+Division,+Ontario+M2N+6Z9&amp;t=m&amp;ll=43.775618,-79.416647&amp;spn=0.023426,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=233+Beecroft+Road,+Toronto,+ON&amp;aq=&amp;sll=43.76533,-79.414712&amp;sspn=0.009794,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=233+Beecroft+Rd,+Toronto,+Toronto+Division,+Ontario+M2N+6Z9&amp;t=m&amp;ll=43.775618,-79.416647&amp;spn=0.023426,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u41193-4"><!-- content -->
      <p>Last Update: July 2010</p>
     </div>
     <div class="clearfix grpelem" id="u41194-24"><!-- content -->
      <p id="u41194-2">233 Beecroft Road</p>
      <p><span id="u41194-3">Built:</span>&nbsp;2001</p>
      <p><span id="u41194-6">Builder:</span>&nbsp;Pemberton Group</p>
      <p><span id="u41194-9">Floors: </span><span id="u41194-10">18</span></p>
      <p><span id="u41194-12">Units:</span>&nbsp;233</p>
      <p id="u41194-15">&nbsp;</p>
      <p><span id="u41194-16">Building Amenities:</span>&nbsp;Gym, Concierge, Yoga/Rec Room, Party Room, Billiards/Games Room, Library/Study Room</p>
      <p>&nbsp;</p>
      <p><span id="u41194-20">Builder's Description: </span><span id="u41194-21">Peninsula Place was completed in 2001 and is a great addition to the many outstanding condo buildings in the Yonge and Sheppard area. At 19 floors this building consists of mostly one and two bedroom units, some available with two&#45;storey units. Many suites enjoy unobstructed views from all sides of the buildings with generous balconies and terraces.</span></p>
     </div>
    </div>