<%= content_for :page_title, 'Pied a Terre' %>
    <div class="clearfix colelem" id="pslideshowu45005"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu45005"><!-- group -->
      <div class="popup_anchor" id="u45006popup">
       <div class="SlideShowContentPanel clearfix" id="u45006"><!-- stack box -->
        <div class="SSSlide grpelem" id="u45120"><!-- image -->
         <img class="block ImageInclude" id="u45120_img" data-src="/images/229.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45129"><!-- image -->
         <img class="block ImageInclude" id="u45129_img" data-src="/images/323.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45138"><!-- image -->
         <img class="block ImageInclude" id="u45138_img" data-src="/images/419.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45147"><!-- image -->
         <img class="block ImageInclude" id="u45147_img" data-src="/images/515.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45156"><!-- image -->
         <img class="block ImageInclude" id="u45156_img" data-src="/images/610.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45165"><!-- image -->
         <img class="block ImageInclude" id="u45165_img" data-src="/images/77.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45174"><!-- image -->
         <img class="block ImageInclude" id="u45174_img" data-src="/images/83.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u45018popup">
       <div class="SSSlideLinks clearfix" id="u45018"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u45123"><!-- image -->
         <div id="u45123_clip">
          <img class="position_content" id="u45123_img" src="/images/270x393.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45132"><!-- image -->
         <div id="u45132_clip">
          <img class="position_content" id="u45132_img" src="/images/370x392.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45141"><!-- image -->
         <div id="u45141_clip">
          <img class="position_content" id="u45141_img" src="/images/470x392.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45150"><!-- image -->
         <div id="u45150_clip">
          <img class="position_content" id="u45150_img" src="/images/570x39.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45159"><!-- image -->
         <div id="u45159_clip">
          <img class="position_content" id="u45159_img" src="/images/670x39.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45168"><!-- image -->
         <div id="u45168_clip">
          <img class="position_content" id="u45168_img" src="/images/770x39.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45177"><!-- image -->
         <div id="u45177_clip">
          <img class="position_content" id="u45177_img" src="/images/870x39.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u45052-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u45052-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u45033-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u45033-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u45000-4"><!-- content -->
      <h1>PIED A TERRE</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u45001-4"><!-- content -->
     <h1>19 Avondale</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u45054-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u45054-2">Avondale</span></p></a>
    <div class="clearfix colelem" id="pu45003"><!-- group -->
     <div class="grpelem" id="u45003"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=19+Avondale+Avenue,+Toronto,+ON&amp;aq=0&amp;oq=19+Avondale+Avenue&amp;sll=43.656877,-79.32085&amp;sspn=0.670645,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=19+Avondale+Ave,+Toronto,+Toronto+Division,+Ontario+M2N+4S8&amp;t=m&amp;ll=43.764772,-79.414158&amp;spn=0.023431,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=19+Avondale+Avenue,+Toronto,+ON&amp;aq=0&amp;oq=19+Avondale+Avenue&amp;sll=43.656877,-79.32085&amp;sspn=0.670645,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=19+Avondale+Ave,+Toronto,+Toronto+Division,+Ontario+M2N+4S8&amp;t=m&amp;ll=43.764772,-79.414158&amp;spn=0.023431,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="pu45002-24"><!-- column -->
      <div class="clearfix colelem" id="u45002-24"><!-- content -->
       <p id="u45002-2">19 Avondale</p>
       <p><span id="u45002-3">Built:</span>&nbsp;2007</p>
       <p><span id="u45002-6">Builder:</span>&nbsp;Shane Baghai</p>
       <p><span id="u45002-9">Floors: </span><span id="u45002-10">7</span></p>
       <p><span id="u45002-12">Units:</span>&nbsp;83</p>
       <p id="u45002-15">&nbsp;</p>
       <p><span id="u45002-16">Building Amenities:</span>&nbsp;Gym, Concierge, Party Room, Billiards/Games Room, Deck/Garden</p>
       <p>&nbsp;</p>
       <p><span id="u45002-20">Builder's Description:</span>&nbsp;Residents boosting an active lifestyle enjoy living at this stylishly designed, modern European inspired condominium. Professionally furnished by Shane Baghai's leading interior designers, owners of these bachelor suites just had to move right in. They also appreciate the location at the heart of Avondale, the gateway to downtown North York and convenient access to the new Sheppard subway line. Desirable building amenities include a rooftop garden with barbecue and bar facility, business centre, and party and exercise room. This is also another fine example of Shane Baghai’s commitment to a better environment with numerous energy saving technologies integrated into the building construction.</p>
      </div>
      <div class="clearfix colelem" id="u44999-4"><!-- content -->
       <p>Last Update: July 2010</p>
      </div>
     </div>
    </div>