<%= content_for :page_title, default_title('Princess Place Tower') %>

<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pslideshowu33590"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu33590"><!-- group -->
      <div class="popup_anchor" id="u33600popup">
       <div class="SlideShowContentPanel clearfix" id="u33600"><!-- stack box -->
        <div class="SSSlide grpelem" id="u33601"><!-- image -->
         <img class="block ImageInclude" id="u33601_img" data-src="/images/1-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33605"><!-- image -->
         <img class="block ImageInclude" id="u33605_img" data-src="/images/2-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33603"><!-- image -->
         <img class="block ImageInclude" id="u33603_img" data-src="/images/3-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u33607"><!-- image -->
         <img class="block ImageInclude" id="u33607_img" data-src="/images/4-monet.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33611popup">
       <div class="SSSlideLinks clearfix" id="u33611"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u33616"><!-- image -->
         <div id="u33616_clip">
          <img class="position_content" id="u33616_img" src="/images/1-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33614"><!-- image -->
         <div id="u33614_clip">
          <img class="position_content" id="u33614_img" src="/images/2-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33612"><!-- image -->
         <div id="u33612_clip">
          <img class="position_content" id="u33612_img" src="/images/3-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u33618"><!-- image -->
         <div id="u33618_clip">
          <img class="position_content" id="u33618_img" src="/images/4-monet80x45.jpg" alt="" width="80" height="45"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u33638-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u33638-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u33610-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u33610-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u33586-4"><!-- content -->
      <h1>PRINCESS PLACE TOWER 1,2,3 &amp; 4</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u33589-4"><!-- content -->
     <h1>20, 22, 26 &amp; 28 Olive Avenue</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u33639-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u33639-2">Yonge &amp; Finch</span></p></a>
    <div class="clearfix colelem" id="pu33587"><!-- group -->
     <div class="grpelem" id="u33587"><!-- custom html -->
      <iframe width="520" height="352" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=5+Northtown+Way&amp;aq=&amp;sll=43.773015,-79.413686&amp;sspn=0.010954,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=5+Northtown+Way,+Toronto,+Toronto+Division,+Ontario+M2N+7A1&amp;t=m&amp;ll=43.782063,-79.411926&amp;spn=0.021813,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=5+Northtown+Way&amp;aq=&amp;sll=43.773015,-79.413686&amp;sspn=0.010954,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=5+Northtown+Way,+Toronto,+Toronto+Division,+Ontario+M2N+7A1&amp;t=m&amp;ll=43.782063,-79.411926&amp;spn=0.021813,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u33640-69"><!-- content -->
      <p id="u33640-2">20 Olive Avenue</p>
      <p><span id="u33640-3">Built:</span>&nbsp;2003</p>
      <p><span id="u33640-6">Builder:</span>&nbsp;Pemberton Group</p>
      <p><span id="u33640-9">Floors: </span><span id="u33640-10">19</span></p>
      <p><span id="u33640-12">Units:</span>&nbsp;239</p>
      <p>&nbsp;</p>
      <p id="u33640-17">22 Olive Avenue</p>
      <p><span id="u33640-18">Built:</span>&nbsp;2004</p>
      <p><span id="u33640-21">Builder:</span>&nbsp;Pemberton Group</p>
      <p><span id="u33640-24">Floors: </span>26</p>
      <p id="u33640-29">Units: <span id="u33640-28">171</span></p>
      <p id="u33640-30">&nbsp;</p>
      <p id="u33640-32"><span id="u33640-31">26 Olive Avenue</span></p>
      <p><span id="u33640-33">Built:</span>&nbsp;2003</p>
      <p><span id="u33640-36">Builder:</span>&nbsp;Pemberton Group</p>
      <p><span id="u33640-39">Floors: </span>18</p>
      <p id="u33640-44">Units: <span id="u33640-43">193</span></p>
      <p id="u33640-45">&nbsp;</p>
      <p id="u33640-47">28 Olive Avenue</p>
      <p><span id="u33640-48">Built:</span>&nbsp;2003</p>
      <p><span id="u33640-51">Builder:</span>&nbsp;Pemberton Group</p>
      <p><span id="u33640-54">Floors: </span>16</p>
      <p id="u33640-59">Units: <span id="u33640-58">175</span></p>
      <p id="u33640-60">&nbsp;</p>
      <p><span id="u33640-61">Building Amenities:</span>&nbsp;Gym, Concierge, Yoga/Rec Room</p>
      <p>&nbsp;</p>
      <p><span id="u33640-65">Builder's Description:</span>&nbsp;Welcome to luxurious living at Yonge and Finch. Situated in the centre of an exciting neighbourhood with convenient central access to a variety of transportation, Princess Place is nothing short of spectacular value.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u33585-4"><!-- content -->
     <p>Last Update: November 2010</p>
    </div>