<%= content_for :page_title, default_title('Radiance at Minto') %>
    <div class="clearfix colelem" id="pslideshowu42910"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu42910"><!-- group -->
      <div class="popup_anchor" id="u42950popup">
       <div class="SlideShowContentPanel clearfix" id="u42950"><!-- stack box -->
        <div class="SSSlide grpelem" id="u42994"><!-- image -->
         <img class="block ImageInclude" id="u42994_img" data-src="/images/126.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u43003"><!-- image -->
         <img class="block ImageInclude" id="u43003_img" data-src="/images/225.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u43012"><!-- image -->
         <img class="block ImageInclude" id="u43012_img" data-src="/images/320.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u42931popup">
       <div class="SSSlideLinks clearfix" id="u42931"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u42997"><!-- image -->
         <img class="block" id="u42997_img" src="/images/160x348.jpg" alt="" width="60" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u43006"><!-- image -->
         <img class="block" id="u43006_img" src="/images/260x348.jpg" alt="" width="60" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u43015"><!-- image -->
         <img class="block" id="u43015_img" src="/images/360x347.jpg" alt="" width="60" height="34"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u42942-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u42942-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u42961-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u42961-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u42907-4"><!-- content -->
      <h1>RADIANCE AT MINTO GARDENS</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u42965-4"><!-- content -->
     <h1>33 Sheppard Avenue East</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u42964-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u42964-2">Yonge &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="pu42908"><!-- group -->
     <div class="grpelem" id="u42908"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=33+Sheppard+Ave+E,+Toronto,+Toronto+Division,+Ontario+M2N+7K1&amp;aq=&amp;sll=43.760804,-79.408987&amp;sspn=0.010461,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=33+Sheppard+Ave+E,+Toronto,+Toronto+Division,+Ontario+M2N&amp;t=m&amp;ll=43.768986,-79.409609&amp;spn=0.023429,0.044632&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=33+Sheppard+Ave+E,+Toronto,+Toronto+Division,+Ontario+M2N+7K1&amp;aq=&amp;sll=43.760804,-79.408987&amp;sspn=0.010461,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=33+Sheppard+Ave+E,+Toronto,+Toronto+Division,+Ontario+M2N&amp;t=m&amp;ll=43.768986,-79.409609&amp;spn=0.023429,0.044632&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="pu42906-24"><!-- column -->
      <div class="clearfix colelem" id="u42906-24"><!-- content -->
       <p id="u42906-2">33 Sheppard Avenue East</p>
       <p><span id="u42906-3">Built:</span>&nbsp;2004</p>
       <p><span id="u42906-6">Builder:</span>&nbsp;Minto</p>
       <p><span id="u42906-9">Floors: </span><span id="u42906-10">34</span></p>
       <p><span id="u42906-12">Units:</span>&nbsp;388</p>
       <p id="u42906-15">&nbsp;</p>
       <p><span id="u42906-16">Building Amenities:</span>&nbsp;Gym, Concierge, Yoga/Rec Room, Pool, Sauna, Billiards/Games Room, Deck/Garden, Golf</p>
       <p>&nbsp;</p>
       <p><span id="u42906-20">Builder's Description: </span><span id="u42906-21">This spectacular new 33&#45;storey condominium residence at Yonge &amp; Sheppard in North York exceeds expectations by bringing a sense of Muskoka to a sought&#45;after North Toronto location. The stunning collection of 1, 2 and 3 bedroom suites is set in an oasis of calm and beauty, created by a breathtaking urban lake and lush landscaping. Water&#45;side patios of Minto Garden's unique three&#45;storey town homes add to the feel of resort living in the city. Inspired by green thinking, Minto Gardens blends energy efficiencies with exceptional architecture for optimal comfort in a healthier more sustainable home that saves you money.</span></p>
      </div>
      <div class="clearfix colelem" id="u42966-4"><!-- content -->
       <p>Last Update: July 2010</p>
      </div>
     </div>
    </div>
