<%= content_for :page_title, 'Residence of Avondale' %>
    <div class="clearfix colelem" id="pslideshowu46229"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu46229"><!-- group -->
      <div class="popup_anchor" id="u46231popup">
       <div class="SlideShowContentPanel clearfix" id="u46231"><!-- stack box -->
        <div class="SSSlide grpelem" id="u46357"><!-- image -->
         <img class="block ImageInclude" id="u46357_img" data-src="/images/136.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46366"><!-- image -->
         <img class="block ImageInclude" id="u46366_img" data-src="/images/234.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u46277popup">
       <div class="SSSlideLinks clearfix" id="u46277"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u46360"><!-- image -->
         <div id="u46360_clip">
          <img class="position_content" id="u46360_img" src="/images/170x397.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46369"><!-- image -->
         <div id="u46369_clip">
          <img class="position_content" id="u46369_img" src="/images/270x396.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u46256-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u46256-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u46230-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u46230-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u46228-4"><!-- content -->
      <h1>RESIDENCES OF AVONDALE</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u46225-4"><!-- content -->
     <h1>16 &amp; 18 Harrison Garden Boulevard</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u46226-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u46226-2">Avondale</span></p></a>
    <div class="clearfix colelem" id="pu46223"><!-- group -->
     <div class="grpelem" id="u46223"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=16+Harrison+Garden+Boulevard,+Toronto,+ON&amp;aq=0&amp;oq=16+harri&amp;sll=43.656877,-79.32085&amp;sspn=0.670645,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=16+Harrison+Garden+Blvd,+Toronto,+Toronto+Division,+Ontario+M2N+7J6&amp;t=m&amp;ll=43.763594,-79.414501&amp;spn=0.023431,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=16+Harrison+Garden+Boulevard,+Toronto,+ON&amp;aq=0&amp;oq=16+harri&amp;sll=43.656877,-79.32085&amp;sspn=0.670645,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=16+Harrison+Garden+Blvd,+Toronto,+Toronto+Division,+Ontario+M2N+7J6&amp;t=m&amp;ll=43.763594,-79.414501&amp;spn=0.023431,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="pu46222-51"><!-- column -->
      <div class="clearfix colelem" id="u46222-51"><!-- content -->
       <p id="u46222-2">16 Harrison Garden Boulevard</p>
       <p><span id="u46222-3">Built:</span>&nbsp;2004</p>
       <p><span id="u46222-6">Builder: </span><span id="u46222-7">Shane Baghai</span></p>
       <p><span id="u46222-9">Floors: </span><span id="u46222-10">27</span></p>
       <p><span id="u46222-12">Units:</span>&nbsp;312</p>
       <p><span id="u46222-15">Condo Corp:</span>&nbsp;1633</p>
       <p><span id="u46222-18">Property Manager:</span>&nbsp;Brookfield Property Management &#45; 416&#45;987&#45;7907</p>
       <p id="u46222-21">&nbsp;</p>
       <p id="u46222-23">18 Harrison Garden Boulevard</p>
       <p><span id="u46222-24">Built:</span>&nbsp;2005</p>
       <p><span id="u46222-27">Builder: </span>Shane Baghai</p>
       <p><span id="u46222-30">Floors: </span>27</p>
       <p><span id="u46222-33">Units:</span>&nbsp;307</p>
       <p><span id="u46222-36">Condo Corp:</span>&nbsp;1633</p>
       <p id="u46222-41">Property Manager: <span id="u46222-40">Brookfield Property Management &#45; 416&#45;987&#45;7907</span></p>
       <p id="u46222-42">&nbsp;</p>
       <p><span id="u46222-43">Building Amenities:</span><span id="u46222-44">Gym, Concierge, Pool, Sauna, Hot Tub, Party Room, Billiards/Games Room, Business Centre/Board Room, Library/Study Room Deck/Garden</span></p>
       <p>&nbsp;</p>
       <p><span id="u46222-47">Builder's Description:</span>&nbsp;Grand in presence and designed with the finest details in mind, the Residence of Avondale by Shane Baghai allows you to enjoy all the benefits of living in an established North York community while experiencing the luxury and grandeur of a new neighbourhood</p>
      </div>
      <div class="clearfix colelem" id="u46227-4"><!-- content -->
       <p>Last Update: July 2010</p>
      </div>
     </div>
    </div>
