<%= content_for :page_title, default_title('Rodeo Walk') %>
    <div class="clearfix colelem" id="pslideshowu41886"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu41886"><!-- group -->
      <div class="popup_anchor" id="u41887popup">
       <div class="SlideShowContentPanel clearfix" id="u41887"><!-- stack box -->
        <div class="SSSlide grpelem" id="u41987"><!-- image -->
         <img class="block ImageInclude" id="u41987_img" data-src="/images/120.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u41996"><!-- image -->
         <img class="block ImageInclude" id="u41996_img" data-src="/images/219.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u42005"><!-- image -->
         <img class="block ImageInclude" id="u42005_img" data-src="/images/315.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u41923popup">
       <div class="SSSlideLinks clearfix" id="u41923"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u41990"><!-- image -->
         <img class="block" id="u41990_img" src="/images/160x342.jpg" alt="" width="60" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u41999"><!-- image -->
         <img class="block" id="u41999_img" src="/images/260x342.jpg" alt="" width="60" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u42008"><!-- image -->
         <img class="block" id="u42008_img" src="/images/360x342.jpg" alt="" width="60" height="34"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u41944-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u41944-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u41918-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u41918-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u41947-4"><!-- content -->
      <h1>RODEO WALK</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u41948-4"><!-- content -->
     <h1>30 Greenfield Avenue</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u41945-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u41945-2">Yonge &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="u41946-23"><!-- content -->
     <p id="u41946-2">30 Greenfield Avenue</p>
     <p><span id="u41946-3">Built:</span>&nbsp;1990</p>
     <p><span id="u41946-6">Builder:</span>&nbsp;Tridel</p>
     <p><span id="u41946-9">Floors: 23</span></p>
     <p><span id="u41946-11">Units:</span>&nbsp;338</p>
     <p id="u41946-14">&nbsp;</p>
     <p><span id="u41946-15">Building Amenities:</span>&nbsp;: Gym, Concierge, Yoga/Rec Room, Pool, Sauna, Hot Tub, Party Room, Deck/Garden</p>
     <p id="u41946-18">&nbsp;</p>
     <p><span id="u41946-19">Builder's Description:</span>&nbsp;Rodeo Walk is in the heart of downtown North York. Located just steps away from the shops, restaurants and services on Yonge Street, the condominium building is situated conveniently near the 401 as well as the Sheppard subway station on the Yonge and Sheppard lines. Nearby is a fine selection of schools as well as medical clinics and across the street is a shopping mall.</p>
    </div>
    <div class="clearfix colelem" id="pu41949"><!-- group -->
     <div class="grpelem" id="u41949"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=30+Greenfield+Avenue&amp;aq=&amp;sll=43.769327,-79.410939&amp;sspn=0.009359,0.023046&amp;ie=UTF8&amp;hq=&amp;hnear=30+Greenfield+Ave,+Toronto,+Toronto+Division,+Ontario+M2N+6N3,+Canada&amp;t=m&amp;ll=43.769296,-79.410896&amp;spn=0.023429,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=30+Greenfield+Avenue&amp;aq=&amp;sll=43.769327,-79.410939&amp;sspn=0.009359,0.023046&amp;ie=UTF8&amp;hq=&amp;hnear=30+Greenfield+Ave,+Toronto,+Toronto+Division,+Ontario+M2N+6N3,+Canada&amp;t=m&amp;ll=43.769296,-79.410896&amp;spn=0.023429,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u41971-4"><!-- content -->
      <p>Last Update: November 2010</p>
     </div>
    </div>
