<%= content_for :page_title, 'Savvy' %>
    <div class="clearfix colelem" id="pslideshowu45963"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu45963"><!-- group -->
      <div class="popup_anchor" id="u45985popup">
       <div class="SlideShowContentPanel clearfix" id="u45985"><!-- stack box -->
        <div class="SSSlide grpelem" id="u46095"><!-- image -->
         <img class="block ImageInclude" id="u46095_img" data-src="/images/132.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46104"><!-- image -->
         <img class="block ImageInclude" id="u46104_img" data-src="/images/230.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46113"><!-- image -->
         <img class="block ImageInclude" id="u46113_img" data-src="/images/324.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46122"><!-- image -->
         <img class="block ImageInclude" id="u46122_img" data-src="/images/420.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46131"><!-- image -->
         <img class="block ImageInclude" id="u46131_img" data-src="/images/516.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46140"><!-- image -->
         <img class="block ImageInclude" id="u46140_img" data-src="/images/611.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46149"><!-- image -->
         <img class="block ImageInclude" id="u46149_img" data-src="/images/78.jpg" src="/images/blank.gif" alt="" data-width="478" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46158"><!-- image -->
         <img class="block ImageInclude" id="u46158_img" data-src="/images/84.jpg" src="/images/blank.gif" alt="" data-width="378" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46167"><!-- image -->
         <img class="block ImageInclude" id="u46167_img" data-src="/images/9.jpg" src="/images/blank.gif" alt="" data-width="378" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46176"><!-- image -->
         <img class="block ImageInclude" id="u46176_img" data-src="/images/10.jpg" src="/images/blank.gif" alt="" data-width="380" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46185"><!-- image -->
         <img class="block ImageInclude" id="u46185_img" data-src="/images/11.jpg" src="/images/blank.gif" alt="" data-width="378" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46194"><!-- image -->
         <img class="block ImageInclude" id="u46194_img" data-src="/images/1210.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u45967popup">
       <div class="SSSlideLinks clearfix" id="u45967"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u46098"><!-- image -->
         <div id="u46098_clip">
          <img class="position_content" id="u46098_img" src="/images/159x39.jpg" alt="" width="59" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46107"><!-- image -->
         <div id="u46107_clip">
          <img class="position_content" id="u46107_img" src="/images/259x39.jpg" alt="" width="58" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46116"><!-- image -->
         <div id="u46116_clip">
          <img class="position_content" id="u46116_img" src="/images/359x39.jpg" alt="" width="58" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46125"><!-- image -->
         <div id="u46125_clip">
          <img class="position_content" id="u46125_img" src="/images/459x39.jpg" alt="" width="58" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46134"><!-- image -->
         <div id="u46134_clip">
          <img class="position_content" id="u46134_img" src="/images/559x39.jpg" alt="" width="58" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46143"><!-- image -->
         <div id="u46143_clip">
          <img class="position_content" id="u46143_img" src="/images/659x39.jpg" alt="" width="58" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46152"><!-- image -->
         <div id="u46152_clip">
          <img class="position_content" id="u46152_img" src="/images/764x39.jpg" alt="" width="64" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46161"><!-- image -->
         <div id="u46161_clip">
          <img class="position_content" id="u46161_img" src="/images/851x39.jpg" alt="" width="50" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46170"><!-- image -->
         <div id="u46170_clip">
          <img class="position_content" id="u46170_img" src="/images/951x39.jpg" alt="" width="50" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46179"><!-- image -->
         <div id="u46179_clip">
          <img class="position_content" id="u46179_img" src="/images/1051x39.jpg" alt="" width="51" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46188"><!-- image -->
         <div id="u46188_clip">
          <img class="position_content" id="u46188_img" src="/images/1151x39.jpg" alt="" width="50" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46197"><!-- image -->
         <div id="u46197_clip">
          <img class="position_content" id="u46197_img" src="/images/1270x39.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u45964-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u45964-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u45976-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u45976-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u46012-4"><!-- content -->
      <h1>SAVVY</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u46013-4"><!-- content -->
     <h1>23 Glendora Avenue</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u46018-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u46018-2">Avondale</span></p></a>
    <div class="clearfix colelem" id="pu46016"><!-- group -->
     <div class="grpelem" id="u46016"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=23+Glendora+Avenue,+Toronto,+ON&amp;aq=0&amp;oq=23+glendora&amp;sll=43.656877,-79.32085&amp;sspn=0.670645,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=23+Glendora+Ave,+Toronto,+Toronto+Division,+Ontario+M2N+2V8&amp;t=m&amp;ll=43.765949,-79.41184&amp;spn=0.02343,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=23+Glendora+Avenue,+Toronto,+ON&amp;aq=0&amp;oq=23+glendora&amp;sll=43.656877,-79.32085&amp;sspn=0.670645,1.674042&amp;ie=UTF8&amp;hq=&amp;hnear=23+Glendora+Ave,+Toronto,+Toronto+Division,+Ontario+M2N+2V8&amp;t=m&amp;ll=43.765949,-79.41184&amp;spn=0.02343,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="pu46014-28"><!-- column -->
      <div class="clearfix colelem" id="u46014-28"><!-- content -->
       <p id="u46014-2">23 Glendora Avenue</p>
       <p><span id="u46014-3">Expected:</span>&nbsp;2012 <span id="u46014-5">(Currently under construction)</span></p>
       <p><span id="u46014-7">Builder: </span><span id="u46014-8">Menkes</span></p>
       <p><span id="u46014-10">Floors: </span><span id="u46014-11">22</span></p>
       <p><span id="u46014-13">Units:</span>&nbsp;300</p>
       <p id="u46014-16">&nbsp;</p>
       <p><span id="u46014-17">Building Amenities:</span>&nbsp;Gym, Concierge, Yoga/Rec Room, Pool, Sauna, Party Room, Billiards/Games Room, Guest Suites, Business Centre/Board Room, Theatre.</p>
       <p>&nbsp;</p>
       <p><span id="u46014-21">Builder's Description:</span>&nbsp;Savvy is a luxurious condominium residence steps from the Yonge and Sheppard subway, appealing to sophisticated city dwellers searching for a home in a vibrant neighbourhood. The sophisticated lobby is highlighted by a chic sitting lounge, elliptical columns of light, rich polished wood textures, a shimmering chandelier, lush planting and a courteous 24 hour Concierge. 3 high speed elevators to effortlessly take you to the floor of your choice. A landscaped round&#45;about entry accessed off a quiet side street. With its eco&#45;chic styling, Savvy’s Grand Lobby invites you in, with an exotic green living wall and lush plantings &#45; creating an elegantly soothing sanctuary.</p>
       <p>&nbsp;</p>
       <p>Environmental landscape principles have been thoughtfully incorporated throughout the Savvy site plan. The eco&#45;friendly site plan features lush landscaping with naturalized Ontario planting, arbours, trellises, a gazebo, walking paths and a private landscaped terrace with a serene water and rock garden. The result is a setting that is aesthetically beautiful, low&#45;maintenance and environmentally sensitive.</p>
      </div>
      <div class="clearfix colelem" id="u46015-4"><!-- content -->
       <p>Last Update: April 2011</p>
      </div>
     </div>
    </div>
