<%= content_for :page_title, default_title('Skymark') %>
    <div class="clearfix colelem" id="pslideshowu46813">
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu46813">
      <div class="popup_anchor" id="u46837popup">
       <div class="SlideShowContentPanel clearfix" id="u46837"><!-- stack box -->
        <div class="SSSlide grpelem" id="u46960"><!-- image -->
         <img class="block ImageInclude" id="u46960_img" data-src="/images/1196x131.jpg" src="/images/blank.gif" alt="" data-width="195" data-height="130"/>
        </div>
        <div class="SSSlide invi grpelem" id="u46975"><!-- image -->
         <img class="block ImageInclude" id="u46975_img" data-src="/images/2196x131.jpg" src="/images/blank.gif" alt="" data-width="195" data-height="130"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u46817popup">
       <div class="SSSlideLinks clearfix" id="u46817"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u46963"><!-- image -->
         <div id="u46963_clip">
          <img class="position_content" id="u46963_img" src="/images/151x34.jpg" alt="" width="51" height="34"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u46978"><!-- image -->
         <div id="u46978_clip">
          <img class="position_content" id="u46978_img" src="/images/251x35.jpg" alt="" width="51" height="34"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u46816-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u46816-4">
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u46836-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u46836-4">
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u46883-4">
      <h1>SKYMARK</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u46812-4">
     <h1>78 &amp; 80 Harrison Garden Boulevard</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u46882-5" href="http://oulahen.com/search_YS.asp" target="_blank"><p>View Listings at: <span id="u46882-2">Avondale</span></p></a>
    <div class="clearfix colelem" id="pu46885">
     <div class="grpelem" id="u46885"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=78+Harrison+Garden+Boulevard,+Toronto,+ON&amp;aq=0&amp;oq=78+harrison&amp;sll=43.656877,-79.32085&amp;sspn=0.551419,1.321106&amp;ie=UTF8&amp;hq=&amp;hnear=78+Harrison+Garden+Blvd,+Toronto,+Toronto+Division,+Ontario+M2N&amp;t=m&amp;ll=43.763222,-79.413815&amp;spn=0.023431,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=78+Harrison+Garden+Boulevard,+Toronto,+ON&amp;aq=0&amp;oq=78+harrison&amp;sll=43.656877,-79.32085&amp;sspn=0.551419,1.321106&amp;ie=UTF8&amp;hq=&amp;hnear=78+Harrison+Garden+Blvd,+Toronto,+Toronto+Division,+Ontario+M2N&amp;t=m&amp;ll=43.763222,-79.413815&amp;spn=0.023431,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="pu46887-42"><!-- column -->
      <div class="clearfix colelem" id="u46887-42">
       <p id="u46887-2">78 Harrison Garden Boulevard</p>
       <p><span id="u46887-3">Built:</span>&nbsp;2003</p>
       <p><span id="u46887-6">Builder: </span><span id="u46887-7">Tridel</span></p>
       <p><span id="u46887-9">Floors: </span><span id="u46887-10">29</span></p>
       <p><span id="u46887-12">Units:</span>&nbsp;334</p>
       <p id="u46887-15">&nbsp;</p>
       <p id="u46887-17">80 Harrison Garden Boulevard</p>
       <p><span id="u46887-18">Built:</span>&nbsp;2004</p>
       <p><span id="u46887-21">Builder: </span>Tridel</p>
       <p><span id="u46887-24">Floors: </span>31</p>
       <p id="u46887-29">Units:<span id="u46887-28">&nbsp;407</span></p>
       <p id="u46887-30">&nbsp;</p>
       <p><span id="u46887-31">Building Amenities:</span><span id="u46887-32">&nbsp;</span><span id="u46887-36">Gym, Concierge, Pool, Bowling, Party Room, Billiards/Games Room, Guest Suites, Deck/Garden, Library/Study Room, Golf, Tennis.<br/><br/></span></p>
       <p><span id="u46887-38">Builder's Description:</span>&nbsp;These are elegant buildings with outstanding amenities in a shared central pod. Spectacular views that extend to the lake on some floors and exposures. There is a variety of square footage and suites sizes including some luxury penthouses on the top floors. You can walk to the subway, shops, theatre and more. Both buildings are located conveniently near the 401 and Yonge Street, making the commute easier.</p>
      </div>
      <div class="clearfix colelem" id="u46884-4">
       <p>Last Update: July 2010</p>
      </div>
     </div>
    </div>
