<%= content_for :page_title, default_title('Spectrum') %>
    <div class="clearfix colelem" id="pslideshowu46448">
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu46448">
      <div class="popup_anchor" id="u46458popup">
       <div class="SlideShowContentPanel clearfix" id="u46458"><!-- stack box -->
        <div class="SSSlide grpelem" id="u46508"><!-- image -->
         <img class="block ImageInclude" id="u46508_img" data-src="/images/img_2005.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u46449popup">
       <div class="SSSlideLinks clearfix" id="u46449"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u46511"><!-- image -->
         <div id="u46511_clip">
          <img class="position_content" id="u46511_img" src="/images/img_200570x39.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u46486-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u46486-4">
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u46485-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u46485-4">
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u46492-4">
      <h1>SPECTRUM</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u46488-4">
     <h1>28 &amp; 30 Harrison Garden Boulevard</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u46487-5" href="http://oulahen.com/search_YS.asp" target="_blank"><p>View Listings at: <span id="u46487-2">Avondale</span></p></a>
    <div class="clearfix colelem" id="pu46490">
     <div class="grpelem" id="u46490"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=28+Harrison+Garden+Boulevard,+Toronto,+ON&amp;aq=0&amp;oq=28+harris&amp;sll=43.66907,-79.398786&amp;sspn=0.010477,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=28+Harrison+Garden+Blvd,+Toronto,+Toronto+Division,+Ontario+M2N+7B5&amp;t=m&amp;ll=43.763408,-79.415445&amp;spn=0.023431,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=28+Harrison+Garden+Boulevard,+Toronto,+ON&amp;aq=0&amp;oq=28+harris&amp;sll=43.66907,-79.398786&amp;sspn=0.010477,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=28+Harrison+Garden+Blvd,+Toronto,+Toronto+Division,+Ontario+M2N+7B5&amp;t=m&amp;ll=43.763408,-79.415445&amp;spn=0.023431,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="pu46447-40"><!-- column -->
      <div class="clearfix colelem" id="u46447-40">
       <p id="u46447-2">28 Harrison Garden Boulevard</p>
       <p><span id="u46447-3">Built:</span>&nbsp;2003</p>
       <p><span id="u46447-6">Builder: </span><span id="u46447-7">Menkes</span></p>
       <p><span id="u46447-9">Floors: </span><span id="u46447-10">24</span></p>
       <p><span id="u46447-12">Units:</span>&nbsp;274</p>
       <p id="u46447-15">&nbsp;</p>
       <p id="u46447-17">30 Harrison Garden Boulevard</p>
       <p><span id="u46447-18">Built:</span>&nbsp;2003</p>
       <p><span id="u46447-21">Builder: </span>Menkes</p>
       <p><span id="u46447-24">Floors: </span>29</p>
       <p id="u46447-29">Units:<span id="u46447-28">&nbsp;226</span></p>
       <p id="u46447-30">&nbsp;</p>
       <p><span id="u46447-31">Building Amenities:</span><span id="u46447-32">&nbsp;</span><span id="u46447-33">Gym, Concierge, Yoga/Rec Room, Hot Tub, Sauna, Party Room, Billiards/Games Room, Guest Suites, Business Centre/Board Room, Deck/Garden</span></p>
       <p>&nbsp;</p>
       <p><span id="u46447-36">Builder's Description:</span>&nbsp;Spectrum's two dramatic condominium towers comprise a total of 500 suites and are connected by a sophisticated central lobby. Its curved glass walls dominate the North York skyline from a prominent vantage point at Yonge Street and Highway 401. The sky&#45;lit central lobby features a 24&#45;hour Concierge to greet guests and supervise the state&#45;of&#45;the&#45;art security, a dramatic span of floor&#45;to&#45;ceiling windows and stylish seating lounges overlook a private garden and the city skyline. Menkes' attention to fine detail comes to life in its smartly designed and exceptionally appointed Platinum Collection kitchens.</p>
      </div>
      <div class="clearfix colelem" id="u46489-4">
       <p>Last Update: July 2010</p>
      </div>
     </div>
    </div>
