<%= content_for :page_title, default_title('The Arc') %>
    <div class="clearfix colelem" id="pslideshowu47673">
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu47673">
      <div class="popup_anchor" id="u47699popup">
       <div class="SlideShowContentPanel clearfix" id="u47699"><!-- stack box -->
        <div class="SSSlide grpelem" id="u47728"><!-- image -->
         <img class="block ImageInclude" id="u47728_img" data-src="/images/132.jpg" src="/images/blank.gif" alt="" data-width="373" data-height="249"/>
        </div>
        <div class="SSSlide invi grpelem" id="u47747"><!-- image -->
         <img class="block ImageInclude" id="u47747_img" data-src="/images/230.jpg" src="/images/blank.gif" alt="" data-width="373" data-height="249"/>
        </div>
        <div class="SSSlide invi grpelem" id="u47762"><!-- image -->
         <img class="block ImageInclude" id="u47762_img" data-src="/images/324.jpg" src="/images/blank.gif" alt="" data-width="373" data-height="249"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u47706popup">
       <div class="SSSlideLinks clearfix" id="u47706"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u47731"><!-- image -->
         <img class="block" id="u47731_img" src="/images/151x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u47750"><!-- image -->
         <img class="block" id="u47750_img" src="/images/251x35.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u47765"><!-- image -->
         <img class="block" id="u47765_img" src="/images/351x35.jpg" alt="" width="51" height="34"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u47711-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u47711-4">
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u47698-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u47698-4">
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u47714-4">
      <h1>THE ARC</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u47671-4">
     <h1>2885 Bayview Avenue</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u47713-5" href="http://oulahen.com/search_YS.asp" target="_blank"><p>View Listings at: <span id="u47713-2">Bayview &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="pu47715">
     <div class="grpelem" id="u47715"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2885+Bayview+Avenue,+Toronto,+ON&amp;aq=0&amp;oq=2885+BAYVIEW&amp;sll=43.766275,-79.384677&amp;sspn=0.010894,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=2885+Bayview+Ave,+Toronto,+Toronto+Division,+Ontario+M2K&amp;t=m&amp;ll=43.774317,-79.395447&amp;spn=0.023427,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=2885+Bayview+Avenue,+Toronto,+ON&amp;aq=0&amp;oq=2885+BAYVIEW&amp;sll=43.766275,-79.384677&amp;sspn=0.010894,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=2885+Bayview+Ave,+Toronto,+Toronto+Division,+Ontario+M2K&amp;t=m&amp;ll=43.774317,-79.395447&amp;spn=0.023427,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u47670-35">
      <p><span id="u47670-4">2885 Bayview Avenue<br/>Built:</span>&nbsp;2009</p>
      <p><span id="u47670-7">Builder: </span><span id="u47670-8">Daniels</span></p>
      <p><span id="u47670-10">Floors: </span><span id="u47670-11">15</span></p>
      <p><span id="u47670-13">Units:</span>&nbsp;448</p>
      <p><span id="u47670-16">Condo Corp:</span><span id="u47670-17">2031</span></p>
      <p><span id="u47670-19">Property Manager: </span><span id="u47670-20">Daniels Home Management</span></p>
      <p id="u47670-22">&nbsp;</p>
      <p id="u47670-23">&nbsp;</p>
      <p id="u47670-30"><span id="u47670-24">Building Amenities:</span><span id="u47670-25">&nbsp;</span><span id="u47670-29">Pool, Fitness centre, his/her change rooms, Billiards room, Party room, Media lounge, Internet café, Catering kitchen, Coffee bar, Screening theatre, and Two guest suites.<br/><br/></span></p>
      <p><span id="u47670-31">Builder's Description:</span>&nbsp;Direct access to the Bayview Subway Station and located adjacent to Bayview Village Shopping Centre, ARC is at the apex of shopping, theatres, dining and cultural events. Bayview Village offers a variety of upscale fashion stores and services including a giant Loblaws Superstore, Chapters Indigo Book Store and Alliance Atlantis Cinemas.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u47672-4">
     <p>Last Update: July 2010</p>
    </div>
