<%= content_for :page_title, default_title('The Chelsea') %>
    <div class="clearfix colelem" id="pslideshowu47569">
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu47569">
      <div class="popup_anchor" id="u47570popup">
       <div class="SlideShowContentPanel clearfix" id="u47570"><!-- stack box -->
        <div class="SSSlide grpelem" id="u47634"><!-- image -->
         <img class="block ImageInclude" id="u47634_img" data-src="/images/132.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
        <div class="SSSlide invi grpelem" id="u47649"><!-- image -->
         <img class="block ImageInclude" id="u47649_img" data-src="/images/230.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u47604popup">
       <div class="SSSlideLinks clearfix" id="u47604"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u47637"><!-- image -->
         <img class="block" id="u47637_img" src="/images/151x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u47652"><!-- image -->
         <img class="block" id="u47652_img" src="/images/251x34.jpg" alt="" width="51" height="34"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u47577-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u47577-4">
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u47578-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u47578-4">
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u47613-4">
      <h1>THE CHELSEA</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u47615-4">
     <h1>19 Barberry Place</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u47565-5" href="http://oulahen.com/search_YS.asp" target="_blank"><p>View Listings at: <span id="u47565-2">Bayview &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="u47616-36">
     <p id="u47616-2">19 Barberry Place</p>
     <p><span id="u47616-3">Built:</span>&nbsp;2005</p>
     <p><span id="u47616-6">Builder: </span><span id="u47616-7">Daniels</span></p>
     <p><span id="u47616-9">Floors: </span><span id="u47616-10">8</span></p>
     <p><span id="u47616-12">Units:</span>&nbsp;126</p>
     <p><span id="u47616-15">Condo Corp:</span><span id="u47616-16">1593</span></p>
     <p><span id="u47616-18">Property Manager: </span>Maple Ridge Community Management<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 416&#45;987&#45;9871</p>
     <p id="u47616-23">&nbsp;</p>
     <p id="u47616-24">&nbsp;</p>
     <p id="u47616-31"><span id="u47616-25">Building Amenities:</span><span id="u47616-26">&nbsp;</span><span id="u47616-30">Gym, Party Room, Billiards/Games Room, Theatre.<br/><br/></span></p>
     <p><span id="u47616-32">Builder's Description:</span>&nbsp;N/A</p>
    </div>
    <div class="colelem" id="u47567"><!-- custom html -->
     <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=19+Barberry+Place,+Toronto,+ON&amp;aq=0&amp;oq=19+barberr&amp;sll=43.656877,-79.32085&amp;sspn=0.698464,1.321106&amp;ie=UTF8&amp;hq=&amp;hnear=19+Barberry+Pl,+North+York,+Ontario+M2K+3E3&amp;t=m&amp;ll=43.772209,-79.391756&amp;spn=0.023428,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=19+Barberry+Place,+Toronto,+ON&amp;aq=0&amp;oq=19+barberr&amp;sll=43.656877,-79.32085&amp;sspn=0.698464,1.321106&amp;ie=UTF8&amp;hq=&amp;hnear=19+Barberry+Pl,+North+York,+Ontario+M2K+3E3&amp;t=m&amp;ll=43.772209,-79.391756&amp;spn=0.023428,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
    <div class="clearfix colelem" id="u47617-4">
     <p>Last Update: July 2010</p>
    </div>
