<%= content_for :page_title, default_title('The Rockefeller on Bayview') %>
    <div class="clearfix colelem" id="pslideshowu48400"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu48400"><!-- group -->
      <div class="popup_anchor" id="u48411popup">
       <div class="SlideShowContentPanel clearfix" id="u48411"><!-- stack box -->
        <div class="SSSlide grpelem" id="u48466"><!-- image -->
         <img class="block ImageInclude" id="u48466_img" data-src="/images/132.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48481"><!-- image -->
         <img class="block ImageInclude" id="u48481_img" data-src="/images/230.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u48419popup">
       <div class="SSSlideLinks clearfix" id="u48419"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u48469"><!-- image -->
         <img class="block" id="u48469_img" src="/images/151x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48484"><!-- image -->
         <img class="block" id="u48484_img" src="/images/251x34.jpg" alt="" width="51" height="34"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u48410-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u48410-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u48407-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u48407-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u48444-4"><!-- content -->
      <h1>THE ROCKEFELLER ON BAYVIEW</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u48449-4"><!-- content -->
     <h1>18 Kenaston Gardens</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u48445-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u48445-2">Bayview &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="u48451-30"><!-- content -->
     <p><span id="u48451-4">18 Kenaston Gardens<br/>Built:</span>&nbsp;2006</p>
     <p><span id="u48451-7">Builder: </span><span id="u48451-8">Daniels</span></p>
     <p><span id="u48451-10">Floors: </span><span id="u48451-11">20</span></p>
     <p><span id="u48451-13">Units:</span>&nbsp;231</p>
     <p>&nbsp;</p>
     <p id="u48451-17">&nbsp;</p>
     <p id="u48451-18">&nbsp;</p>
     <p id="u48451-25"><span id="u48451-19">Building Amenities:</span><span id="u48451-20">&nbsp;</span><span id="u48451-24">Gym, Concierge, Pool, Sauna, Hot Tub, Party Room, Theatre.<br/><br/></span></p>
     <p><span id="u48451-26">Builder's Description:</span>&nbsp;N/A</p>
    </div>
    <div class="colelem" id="u48446"><!-- custom html -->
     <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2885+Bayview+Avenue,+Toronto,+ON&amp;aq=0&amp;oq=2885+BAYVIEW&amp;sll=43.766275,-79.384677&amp;sspn=0.010894,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=2885+Bayview+Ave,+Toronto,+Toronto+Division,+Ontario+M2K&amp;t=m&amp;ll=43.774317,-79.395447&amp;spn=0.023427,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=2885+Bayview+Avenue,+Toronto,+ON&amp;aq=0&amp;oq=2885+BAYVIEW&amp;sll=43.766275,-79.384677&amp;sspn=0.010894,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=2885+Bayview+Ave,+Toronto,+Toronto+Division,+Ontario+M2K&amp;t=m&amp;ll=43.774317,-79.395447&amp;spn=0.023427,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
    <div class="clearfix colelem" id="u48450-4"><!-- content -->
     <p>Last Update: July 2010</p>
    </div>
