<%= content_for :page_title, 'Townhomes of Toronto Centre' %>
    <div class="clearfix colelem" id="pslideshowu45660"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu45660"><!-- group -->
      <div class="popup_anchor" id="u45682popup">
       <div class="SlideShowContentPanel clearfix" id="u45682"><!-- stack box -->
        <div class="SSSlide grpelem" id="u45766"><!-- image -->
         <img class="block ImageInclude" id="u45766_img" data-src="/images/134.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45775"><!-- image -->
         <img class="block ImageInclude" id="u45775_img" data-src="/images/232.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45784"><!-- image -->
         <img class="block ImageInclude" id="u45784_img" data-src="/images/326.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45793"><!-- image -->
         <img class="block ImageInclude" id="u45793_img" data-src="/images/422.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u45802"><!-- image -->
         <img class="block ImageInclude" id="u45802_img" data-src="/images/518.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u45705popup">
       <div class="SSSlideLinks clearfix" id="u45705"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u45769"><!-- image -->
         <div id="u45769_clip">
          <img class="position_content" id="u45769_img" src="/images/170x395.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45778"><!-- image -->
         <div id="u45778_clip">
          <img class="position_content" id="u45778_img" src="/images/270x394.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45787"><!-- image -->
         <div id="u45787_clip">
          <img class="position_content" id="u45787_img" src="/images/370x393.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45796"><!-- image -->
         <div id="u45796_clip">
          <img class="position_content" id="u45796_img" src="/images/470x393.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u45805"><!-- image -->
         <div id="u45805_clip">
          <img class="position_content" id="u45805_img" src="/images/570x392.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u45720-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u45720-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u45681-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u45681-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u45659-4"><!-- content -->
      <h1>TOWNHOMES OF TORONTO CENTRE</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u45657-4"><!-- content -->
     <h1>3&#45;5 Everson Drive</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u45656-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u45656-2">Avondale</span></p></a>
    <div class="clearfix colelem" id="pu45654"><!-- group -->
     <div class="grpelem" id="u45654"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=3+everson+drive,+Toronto,+ON&amp;aq=&amp;sll=43.760696,-79.410896&amp;sspn=0.010461,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=3+Everson+Dr,+Toronto,+Toronto+Division,+Ontario+M2N+7C2&amp;t=m&amp;ll=43.763842,-79.411583&amp;spn=0.023431,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=3+everson+drive,+Toronto,+ON&amp;aq=&amp;sll=43.760696,-79.410896&amp;sspn=0.010461,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=3+Everson+Dr,+Toronto,+Toronto+Division,+Ontario+M2N+7C2&amp;t=m&amp;ll=43.763842,-79.411583&amp;spn=0.023431,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="pu45724-24"><!-- column -->
      <div class="clearfix colelem" id="u45724-24"><!-- content -->
       <p id="u45724-2">3&#45;5 Everson Drive</p>
       <p><span id="u45724-3">Built:</span>&nbsp;2002</p>
       <p><span id="u45724-6">Builder:</span>&nbsp;Urbancorp</p>
       <p><span id="u45724-9">Floors: </span><span id="u45724-10">4</span></p>
       <p><span id="u45724-12">Units:</span>&nbsp;394</p>
       <p id="u45724-15">&nbsp;</p>
       <p><span id="u45724-16">Building Amenities:</span>&nbsp;Party Room, Deck/Garden, Security System, Underground Parking, Lockers</p>
       <p>&nbsp;</p>
       <p><span id="u45724-20">Builder's Description:</span>&nbsp;3 Everson and 5 Everson Drive is a modern stacked townhouse complex situated in the Yonge and Sheppard area of North York, Toronto. The Everson townhouses are a great alternative to the high rise condominiums within the area. Although you don’t get the numerous amenities offered in the high&#45;rises, you do get huge roof top patios, front yard terraces with BBQs and multi level layouts. These townhouses are a short walk to the Yonge and Sheppard subway station and extremely close to the access ramp for the 401. Movie theaters, shops, restaurants, parks, and trendy Yonge &amp; Sheppard are all within close proximity. The Everson condo townhouses have many layouts that really appeal people. You can choose from standard flat layouts to multi level 2 storey townhouses with 250 sq. ft. roof top patios.</p>
      </div>
      <div class="clearfix colelem" id="u45658-4"><!-- content -->
       <p>Last Update: July 2010</p>
      </div>
     </div>
    </div>
