<%= content_for :page_title, 'Twenty one Clairtrell' %>
    <div class="clearfix colelem" id="pslideshowu47955"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu47955"><!-- group -->
      <div class="popup_anchor" id="u47978popup">
       <div class="SlideShowContentPanel clearfix" id="u47978"><!-- stack box -->
        <div class="SSSlide grpelem" id="u48046"><!-- image -->
         <img class="block ImageInclude" id="u48046_img" data-src="/images/132.jpg" src="/images/blank.gif" alt="" data-width="372" data-height="248"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48077"><!-- image -->
         <img class="block ImageInclude" id="u48077_img" data-src="/images/230.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48092"><!-- image -->
         <img class="block ImageInclude" id="u48092_img" data-src="/images/324.jpg" src="/images/blank.gif" alt="" data-width="396" data-height="264"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48107"><!-- image -->
         <img class="block ImageInclude" id="u48107_img" data-src="/images/420.jpg" src="/images/blank.gif" alt="" data-width="399" data-height="266"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48126"><!-- image -->
         <img class="block ImageInclude" id="u48126_img" data-src="/images/516.jpg" src="/images/blank.gif" alt="" data-width="399" data-height="266"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48141"><!-- image -->
         <img class="block ImageInclude" id="u48141_img" data-src="/images/611.jpg" src="/images/blank.gif" alt="" data-width="439" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48160"><!-- image -->
         <img class="block ImageInclude" id="u48160_img" data-src="/images/78.jpg" src="/images/blank.gif" alt="" data-width="478" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48175"><!-- image -->
         <img class="block ImageInclude" id="u48175_img" data-src="/images/84.jpg" src="/images/blank.gif" alt="" data-width="378" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48190"><!-- image -->
         <img class="block ImageInclude" id="u48190_img" data-src="/images/9.jpg" src="/images/blank.gif" alt="" data-width="378" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48205"><!-- image -->
         <img class="block ImageInclude" id="u48205_img" data-src="/images/10.jpg" src="/images/blank.gif" alt="" data-width="380" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u48228"><!-- image -->
         <img class="block ImageInclude" id="u48228_img" data-src="/images/11.jpg" src="/images/blank.gif" alt="" data-width="378" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u47957popup">
       <div class="SSSlideLinks clearfix" id="u47957"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u48049"><!-- image -->
         <img class="block" id="u48049_img" src="/images/151x34.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48080"><!-- image -->
         <img class="block" id="u48080_img" src="/images/247x32.jpg" alt="" width="47" height="31"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48095"><!-- image -->
         <img class="block" id="u48095_img" src="/images/351x35.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48110"><!-- image -->
         <img class="block" id="u48110_img" src="/images/451x35.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48129"><!-- image -->
         <img class="block" id="u48129_img" src="/images/551x35.jpg" alt="" width="51" height="34"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48144"><!-- image -->
         <img class="block" id="u48144_img" src="/images/647x32.jpg" alt="" width="47" height="31"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48163"><!-- image -->
         <img class="block" id="u48163_img" src="/images/751x32.jpg" alt="" width="51" height="31"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48178"><!-- image -->
         <img class="block" id="u48178_img" src="/images/851x39.jpg" alt="" width="50" height="39"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48193"><!-- image -->
         <img class="block" id="u48193_img" src="/images/951x39.jpg" alt="" width="50" height="39"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48208"><!-- image -->
         <img class="block" id="u48208_img" src="/images/1051x39.jpg" alt="" width="51" height="39"/>
        </div>
        <div class="SSSlideLink grpelem" id="u48231"><!-- image -->
         <img class="block" id="u48231_img" src="/images/1151x39.jpg" alt="" width="50" height="39"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u48013-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u48013-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u47970-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u47970-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u48018-4"><!-- content -->
      <h1>TWENTY ONE CLAIRTRELL ROAD</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u48021-4"><!-- content -->
     <h1>21 Clairtrell Road</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u48020-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u48020-2">Bayview &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="pu48014"><!-- group -->
     <div class="grpelem" id="u48014"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=21+Clairtrell+Road,+Toronto,+ON&amp;aq=0&amp;oq=21+CLAIR&amp;sll=43.766213,-79.390061&amp;sspn=0.010894,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=21+Clairtrell+Rd,+Toronto,+Toronto+Division,+Ontario+M2N+5J6&amp;t=m&amp;ll=43.774998,-79.398193&amp;spn=0.023427,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=21+Clairtrell+Road,+Toronto,+ON&amp;aq=0&amp;oq=21+CLAIR&amp;sll=43.766213,-79.390061&amp;sspn=0.010894,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=21+Clairtrell+Rd,+Toronto,+Toronto+Division,+Ontario+M2N+5J6&amp;t=m&amp;ll=43.774998,-79.398193&amp;spn=0.023427,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u48019-39"><!-- content -->
      <p><span id="u48019-4">21 Clairtrell Road<br/>Expected: </span>2012 (Construction begins Spring 2011)</p>
      <p><span id="u48019-7">Builder: </span><span id="u48019-8">The Rockport Group</span></p>
      <p><span id="u48019-10">Floors: </span><span id="u48019-11">7</span></p>
      <p><span id="u48019-13">Units:</span>&nbsp;128</p>
      <p>&nbsp;</p>
      <p id="u48019-23"><span id="u48019-17">Building Amenities:</span><span id="u48019-18">&nbsp;</span><span id="u48019-22">Party Room, Lounge, Billiards/Games Room, Guest Suites, Outdoor Deck/Garden.<br/><br/></span></p>
      <p><span id="u48019-24">Builder's Description:</span>&nbsp;When I arrive home at Twenty One Clairtrell, I’m struck by the elegance of an intimate seven storey building with 128 exclusive residences that blends seamlessly into the tree&#45;lined streetscape. The warm stone architectural accents and neatly landscaped grounds provide a welcoming entrance for me and my guests. Twenty One Clairtrell pays homage to the landscape with an expansive 6th floor outdoor terrace, where I can lay out with friends in the sunshine and admire the lush foliage of the terrace gardens.</p>
      <p>&nbsp;</p>
      <p>Inside the superbly curated lobby, I’m greeted by neighbours and the friendly concierge, who is always ready to help arrange the guest suite and a car from the on&#45;site car share program for my guests. At Twenty One Clairtrell, community comes naturally. Whether passing neighbours in the lobby lounge, or hosting friends for a casual night by the fire in the billiards room or a fabulous dinner party in the private dining room, socializing is delightfully easy. Overnight guests can have privacy in the guest suite and even our puppy gets special treatment in the Doggy Mud Room.</p>
      <p>&nbsp;</p>
      <p>The location for Twenty One Clairtrell suits my life perfectly. I can walk to Bayview Village Mall. I can walk to the park. I can walk to the subway and be anywhere I want to be in minutes. Everything I need is conveniently close, but where I really love to be is right here at home at Twenty One Clairtrell.</p>
      <p>&nbsp;</p>
      <p>The residences at Twenty One Clairtrell feel like home. In my Euro&#45;inspired kitchen, I can create delicious feats that bring everyone to the table. The well&#45;designed living areas, with ceilings up to 10’, provide a spacious feel for entertaining. And in my spa&#45;like ensuite, I find sanctuary in the soaker tub, with a glass of wine perched on the marble countertop beside me.</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u47954-4"><!-- content -->
     <p>Last Update: July 2010</p>
    </div>
