<%= content_for :page_title, default_title('Ultima') %>
    <div class="clearfix colelem" id="pslideshowu43924"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu43924"><!-- group -->
      <div class="popup_anchor" id="u43930popup">
       <div class="SlideShowContentPanel clearfix" id="u43930"><!-- stack box -->
        <div class="SSSlide grpelem" id="u43982"><!-- image -->
         <img class="block ImageInclude" id="u43982_img" data-src="/images/130.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
        <div class="SSSlide invi grpelem" id="u43991"><!-- image -->
         <img class="block ImageInclude" id="u43991_img" data-src="/images/227.jpg" src="/images/blank.gif" alt="" data-width="520" data-height="293"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u43952popup">
       <div class="SSSlideLinks clearfix" id="u43952"><!-- horizontal-rows box -->
        <div class="SSSlideLink clearfix grpelem" id="u43985"><!-- image -->
         <div id="u43985_clip">
          <img class="position_content" id="u43985_img" src="/images/170x393.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
        <div class="SSSlideLink clearfix grpelem" id="u43994"><!-- image -->
         <div id="u43994_clip">
          <img class="position_content" id="u43994_img" src="/images/270x39.jpg" alt="" width="69" height="39"/>
         </div>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u43927-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u43927-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u43951-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u43951-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u43961-4"><!-- content -->
      <h1>ULTIMA</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u43962-4"><!-- content -->
     <h1>4968 &amp; 4978 Yonge Street</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u43923-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u43923-2">Yonge &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="pu43958"><!-- group -->
     <div class="grpelem" id="u43958"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=4968+Yonge+Street&amp;aq=&amp;sll=43.764167,-79.412441&amp;sspn=0.01046,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=4968+Yonge+St,+Toronto,+Toronto+Division,+Ontario+M2N&amp;t=m&amp;ll=43.771404,-79.413471&amp;spn=0.023428,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=4968+Yonge+Street&amp;aq=&amp;sll=43.764167,-79.412441&amp;sspn=0.01046,0.026157&amp;ie=UTF8&amp;hq=&amp;hnear=4968+Yonge+St,+Toronto,+Toronto+Division,+Ontario+M2N&amp;t=m&amp;ll=43.771404,-79.413471&amp;spn=0.023428,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="pu43963-39"><!-- column -->
      <div class="clearfix colelem" id="u43963-39"><!-- content -->
       <p id="u43963-2">4968 Yonge Street</p>
       <p><span id="u43963-3">Built:</span>&nbsp;2004</p>
       <p><span id="u43963-6">Builder:</span>&nbsp;Menkes</p>
       <p><span id="u43963-9">Floors: </span><span id="u43963-10">36</span></p>
       <p><span id="u43963-12">Units:</span>&nbsp;374</p>
       <p id="u43963-15">&nbsp;</p>
       <p id="u43963-17">4978 Yonge Street</p>
       <p><span id="u43963-18">Built:</span>&nbsp;2004</p>
       <p><span id="u43963-21">Builder:</span>&nbsp;The Conservatory Group</p>
       <p><span id="u43963-24">Floors: </span>36</p>
       <p id="u43963-29">Units: <span id="u43963-28">404</span></p>
       <p id="u43963-30">&nbsp;</p>
       <p><span id="u43963-31">Building Amenities:</span>&nbsp;Gym, Concierge, Yoga/Rec Room, Pool, Sauna, Hot Tub, Party Room, Billiards/Games Room, Guest Suites, Business Centre/Board Room, Golf.</p>
       <p id="u43963-34">&nbsp;</p>
       <p><span id="u43963-35">Builder's Description:</span>&nbsp;Ultima at Broadway, the final and most spectacular phase of Menkes' acclaimed master planned residential, shopping and commercial community at North York City Centre. Ultima is redefining Yonge Street with a grand arched walkway at its centre point.</p>
      </div>
      <div class="clearfix colelem" id="u43960-4"><!-- content -->
       <p>Last Update: July 2010</p>
      </div>
     </div>
    </div>
