<%= content_for :page_title, default_title('Waldorf Towers') %>
    <div class="clearfix colelem" id="pslideshowu48649"><!-- group -->
     <div class="SlideShowWidget clearfix grpelem" id="slideshowu48649"><!-- group -->
      <div class="popup_anchor" id="u48660popup">
       <div class="SlideShowContentPanel clearfix" id="u48660"><!-- stack box -->
        <div class="SSSlide grpelem" id="u48723"><!-- image -->
         <img class="block ImageInclude" id="u48723_img" data-src="/images/132.jpg" src="/images/blank.gif" alt="" data-width="373" data-height="249"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u48651popup">
       <div class="SSSlideLinks clearfix" id="u48651"><!-- horizontal-rows box -->
        <div class="SSSlideLink grpelem" id="u48726"><!-- image -->
         <img class="block" id="u48726_img" src="/images/151x34.jpg" alt="" width="51" height="34"/>
        </div>
       </div>
      </div>
      <div class="popup_anchor" id="u48650-4popup">
       <div class="SSPreviousButton rgba-background clearfix" id="u48650-4"><!-- content -->
        <p>&lt;</p>
       </div>
      </div>
      <div class="popup_anchor" id="u48679-4popup">
       <div class="SSNextButton rgba-background clearfix" id="u48679-4"><!-- content -->
        <p>&gt;</p>
       </div>
      </div>
     </div>
     <div class="Headings-Submenus clearfix grpelem" id="u48703-4"><!-- content -->
      <h1>WALDORF TOWERS</h1>
     </div>
    </div>
    <div class="Headings-Submenus clearfix colelem" id="u48699-4"><!-- content -->
     <h1>2 &amp; 8 Rean Drive</h1>
    </div>
    <a class="nonblock nontext clearfix colelem" id="u48704-5" href="http://oulahen.com/search_YS.asp" target="_blank"><!-- content --><p>View Listings at: <span id="u48704-2">Bayview &amp; Sheppard</span></p></a>
    <div class="clearfix colelem" id="pu48705"><!-- group -->
     <div class="grpelem" id="u48705"><!-- custom html -->
      <iframe width="520" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2+Rean+Drive,+Toronto,+ON&amp;aq=0&amp;oq=2+REAN+&amp;sll=43.765113,-79.383152&amp;sspn=0.010894,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=2+Rean+Dr,+Toronto,+Toronto+Division,+Ontario+M2K+3B8&amp;t=m&amp;ll=43.772581,-79.390125&amp;spn=0.023428,0.044546&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=2+Rean+Drive,+Toronto,+ON&amp;aq=0&amp;oq=2+REAN+&amp;sll=43.765113,-79.383152&amp;sspn=0.010894,0.020642&amp;ie=UTF8&amp;hq=&amp;hnear=2+Rean+Dr,+Toronto,+Toronto+Division,+Ontario+M2K+3B8&amp;t=m&amp;ll=43.772581,-79.390125&amp;spn=0.023428,0.044546&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
     <div class="clearfix grpelem" id="u48702-44"><!-- content -->
      <p><span id="u48702-4">2 Rean Drive<br/>Built:</span>&nbsp;2003</p>
      <p><span id="u48702-7">Builder: </span><span id="u48702-8">Daniels</span></p>
      <p><span id="u48702-10">Floors: </span><span id="u48702-11">20</span></p>
      <p><span id="u48702-13">Units:</span>&nbsp;221<br/><br/></p>
      <p><span id="u48702-21">8 Rean Drive<br/>Built:</span>&nbsp;2003</p>
      <p><span id="u48702-24">Builder: </span>Daniels</p>
      <p><span id="u48702-27">Floors: </span>19</p>
      <p><span id="u48702-30">Units:</span>&nbsp;230<br/><br/></p>
      <p>&nbsp;</p>
      <p id="u48702-38"><span id="u48702-36">Building Amenities:</span><span id="u48702-37">&nbsp;Gym, Concierge, Yoga/Rec Room, Pool, Sauna, Party Room, Billiards/Games Room, Guest Suites, Deck/Garden, Library/Study Room, Golf, Tennis</span></p>
      <p id="u48702-39">&nbsp;</p>
      <p><span id="u48702-40">Builder's Description:</span>&nbsp;Both of the Waldorf condominium buildings were completed by the Daniel’s Group in 2003 with 230 suites&#45;20 floors in the East Tower and 221 suites&#45;20 floors in the West Tower. Part of the New York Towers development at Sheppard and Bayview. 2 Rean and 8 Rean Drive have 1 bedroom, 2 bedroom or 2+1 bedroom layouts with one or two bathrooms respectively. The Waldorf towered condominiums have great access to nearby Bayview village, 401 highway, subway, Loblaw’s, YMCA and schools. The condominiums boast high quality of finishes and style that the Daniels group has been known for. You can calm and relax yourself in a charming and peaceful environment through various activities provided in the exercise room, swimming pool, sauna, library, virtual golf, billiards, ping&#45;pong, outdoor BBQ patio, and a multi&#45;purpose recreational room.</p>
     </div>
    </div>
    <div class="clearfix colelem" id="u48698-4"><!-- content -->
     <p>Last Update: July 2010</p>
    </div>
