<%= content_for :page_title, '404 - Page not found' %>

<div class="gradient colelem" id="u16510"><!-- simple frame --></div>
<div class="clearfix colelem" id="u21277-4"><!-- content -->
 <p>Page not found!</p>
</div>
<div class="colelem" id="u21278"><!-- simple frame --></div>
<div class="clearfix colelem" id="pu32269"><!-- group -->


</div>
<div style="margin: 0;padding: 0;border-width: 0; float: left; margin-top: 10px;">
  <p> Sorry, but the page you are looking for has not been found. Try checking the URL for errors, then hit the refresh button on your browser. </p>
</div>