<% unless photo.image_url.nil? %>
	<div class="col-lg-3">
		<%= link_to photo.image_url, :'data-lightbox' => 'photos' do %>
			<%= image_tag photo.image_url(:thumb), class:'img-thumbnail' %>
		<% end %>

		<% if photo.main_photo %>
			<div class="main_photo_label">Main Image</div>
		<% end %>

		<% unless defined?(hide_check_box) %>
			<div>
				<%= check_box_tag "photo_ids[]", photo.id %> Select Photo
			</div>
		<% end %>
	</div>
<% end %>


<% if defined?(photo_counter) && (photo_counter+1)%4 == 0 %>
  </div>
  <div class="row">
<% end %>








