<div class="SSSlideLink clearfix grpelem" id="u38149"><!-- image -->
 <div id="u38149_clip">
  <img class="position_content" id="u38149_img" src="<%= photo.image_url(:thumb) %>" alt="" width="164" height="109"/>
 </div>
</div>