<div class="SSSlide invi grpelem" id="u38204"><!-- image -->
 <img class="block ImageInclude" id="u38238_img" data-src="<%= photo.image_url %>" src="/images/blank.gif" alt="" data-width="600" data-height="400"/>
</div>