/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require bootstrap-switch
 *= require lightbox
 *= require gritter
 */

#admin_logo {
	margin:25px auto;
	width:222px;
	height:46px;
	
}

.button_bar {
	margin-top:10px;
}

#main_photo {
  border:1px solid black;
  width:235px;
  height:170px;
}
#form_fields {
  display:block;
}

.edit_listing input[type="password"], .edit_listing input[type="text"], .edit_listing input[type="number"] {
  width: 250px;
}
.form-group > label {
  width:120px;
}
#photos_tab {
  display:none;
}
.gritter-with-image {
  font-size:14px;
}
.main_photo_label {
  position: absolute;
	bottom: 70px;
	left: 5px;
  width: 235px;
  height: 26px;
  background: rgba(53, 126, 189, 0.7);
  text-align: center;
  line-height: 25px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.image_frame {
	position:relative;
	width:245px; 
	height:245px; 
	float:left;
	margin-right: 35px;
}