/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require bootstrap-switch
 *= require lightbox
 *= require gritter
 *= require bootstrap-icons
 */

@-webkit-keyframes greenPulse {
  from { border-color: #D61A1A; -webkit-box-shadow: 0 0 9px #D61A1A; }
  50% { border-color: #FF2424; -webkit-box-shadow: 0 0 18px #FF2424; }
  to { border-color: #D61A1A; -webkit-box-shadow: 0 0 9px #D61A1A; }
}

input.glow {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

body .nav-tabs {
  border-bottom: none;
  position: relative;
  top: 3px;
}
body .nav-tabs > li.active > a {
  background-color:#f5f5f5;
}
.has-switch {
  top: 11px;
}
#admin_logo {
	margin:25px auto;
	width:222px;
	height:46px;
	
}

.button_bar {
	margin-top:10px;
}

#main_photo {
  border:1px solid black;
  width:235px;
  height:170px;
}
#form_fields {
  display:block;
}

.edit_listing input[type="password"], .edit_listing input[type="text"], .edit_listing input[type="number"] {
  width: 250px;
}

.edit_listing input[type="date"] {
  width: 150px;
}

.form-group > label {
  width:120px;
}
.form-control.input-small {
  width:200px;
}
#photos_tab {
  display:none;
}
.gritter-with-image {
  font-size:14px;
}
.main_photo_label {
  position: absolute;
	bottom: 70px;
	left: 5px;
  width: 235px;
  height: 26px;
  background: rgba(53, 126, 189, 0.7);
  text-align: center;
  line-height: 25px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.image_frame {
	position:relative;
	width:245px; 
	height:245px; 
	float:left;
	margin-right: 35px;
}


.custom_field .form-control {

    width:48%;
    display:inline-block;

}
.custom_field .remove_field {
  display:block;
}

.description label {
  width:100%;
}

.image_frame {
  margin-top:25px;
}

.well .form-control:focus {
  border-color: rgba(107, 0, 0, 0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(136, 15, 15, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(136, 15, 15, 0.6);
}

body a, body a:hover, body a:focus {
  color: #8B0000;
  text-decoration: none;
}