#pu6321-4
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 21px;
	position: relative;
}

#u6321-4
{
	z-index: 225;
	width: 689px;
	background-color: transparent;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	text-align: center;
	color: #76080D;
	font-size: 54px;
	letter-spacing: 6px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
	position: relative;
	margin-right: -10000px;
	margin-top: 312px;
	left: -312px;
}

#ppu6329
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 87px;
}

#u6329
{
	z-index: 243;
	height: 166px;
	width: 216px;
	vertical-align: top;
	background: url("../images/u6329.png") no-repeat 5px 5px;
	position: relative;
}

#u6329:hover
{
	background: url("../images/u6329-r.png") no-repeat 0px 0px;
}

#u6344
{
	z-index: 246;
	height: 146px;
	width: 213px;
	vertical-align: top;
	background: url("../images/u6344.png") no-repeat 5px 5px;
	margin-top: 367px;
	position: relative;
}

#u6344:hover
{
	background: url("../images/u6344-r.png") no-repeat 0px 0px;
}

#pu6306
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 318px;
}

#u6306
{
	z-index: 224;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u6323-5
{
	z-index: 229;
	width: 458px;
	min-height: 36px;
	color: #1B1464;
	font-size: 14px;
	margin-left: 5px;
	margin-top: 27px;
	position: relative;
}

#u6323-2
{
	font-weight: bold;
}

#u6328-8
{
	z-index: 234;
	width: 502px;
	min-height: 113px;
	text-align: left;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 5px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

