#u20718-4
{
	z-index: 235;
	width: 337px;
	min-height: 29px;
	background-color: #FFFFFF;
	color: #0D0A31;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 1px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 22px;
	position: relative;
}

#u20719
{
	z-index: 239;
	width: 920px;
	height: 3px;
	border-color: #000000;
	background-color: #0D0A31;
	margin-left: 20px;
	top: -4px;
	margin-bottom: -3px;
	position: relative;
}

#pu31879
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 7px;
	position: relative;
}

#u31879
{
	z-index: 240;
	width: 71px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u31881
{
	z-index: 241;
	width: 69px;
	border-width: 1px;
	border-style: solid;
	border-color: #E9E9E9;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u31880-4
{
	z-index: 242;
	width: 60px;
	min-height: 22px;
	text-align: center;
	color: #0D0A31;
	font-size: 15px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 4px;
}

#u31885
{
	z-index: 252;
	width: 147px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u31887
{
	z-index: 253;
	width: 145px;
	border-width: 1px;
	border-style: solid;
	border-color: #E9E9E9;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u31887:hover
{
	background-color: #F6F6F6;
	width: 145px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u31886-4
{
	z-index: 254;
	width: 130px;
	min-height: 19px;
	text-align: center;
	color: #0D0A31;
	font-size: 15px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 6px;
}

#u31882
{
	z-index: 246;
	width: 71px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 237px;
}

#u31884
{
	z-index: 247;
	width: 69px;
	border-width: 1px;
	border-style: solid;
	border-color: #E9E9E9;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u31881:hover,#u31884:hover
{
	border-color: #E9E9E9;
	background-color: #F6F6F6;
	width: 69px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u31883-4
{
	z-index: 248;
	width: 60px;
	min-height: 22px;
	text-align: center;
	color: #0D0A31;
	font-size: 15px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 4px;
}

#u32253
{
	z-index: 258;
	width: 18px;
	height: 31px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 281px;
	position: relative;
}

#pu17609
{
	width: 0.01px;
	left: -36px;
	margin-top: 16px;
	position: relative;
}

#u17609
{
	z-index: 224;
	width: 604px;
	background: transparent url("../images/u17609-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(255, 255, 255, 0.69)),color-stop(80%, #E9E9E9));
	background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.69) ,#E9E9E9 732px);
	background: -moz-linear-gradient(top,rgba(255, 255, 255, 0.69) ,#E9E9E9 732px);
	background: -ms-linear-gradient(top,rgba(255, 255, 255, 0.69) ,#E9E9E9 732px);
	background: -o-linear-gradient(top,rgba(255, 255, 255, 0.69) ,#E9E9E9 732px);
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.69) ,#E9E9E9 732px);
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 56px;
}

#u17609_position_content
{
	margin-top: -16px;
	margin-bottom: 844px;
}

#u17611-8
{
	z-index: 225;
	width: 585px;
	min-height: 75px;
	line-height: 1.35;
	color: #0D0A31;
	font-size: 16px;
	margin-left: 17px;
	position: relative;
}

#u17613
{
	z-index: 233;
	display: block;
	vertical-align: top;
	margin-left: 17px;
	margin-top: 5px;
	position: relative;
}

#u17614
{
	z-index: 234;
	width: 675px;
	min-height: 854px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
}

