
#pslideshowu22736
{
	width: 0.01px;
	padding-bottom: 4px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu22736
{
	z-index: 280;
	width: 0.01px;
	height: 345px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u22766
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u22766popup
{
	z-index: 281;
}

#u32187
{
	z-index: 282;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26915
{
	z-index: 284;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u32187_img,#u26915_img
{
	padding-left: 2px;
	padding-right: 2px;
}

#u26924
{
	z-index: 286;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26924_img
{
	padding-left: 2px;
	padding-right: 4px;
}

#u22780
{
	position: absolute;
	width: 200px;
	top: 300px;
	left: 161px;
}

#u22780popup
{
	z-index: 288;
}

#u32191
{
	z-index: 289;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u32191_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u26918
{
	z-index: 291;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u26927
{
	z-index: 293;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u32191.SSSlideLinkSelected,#u26918.SSSlideLinkSelected,#u26927.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u32191_clip,#u26918_clip,#u26927_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u26918_img,#u26927_img
{
	margin: -1px -10px 1px;
}

#u22794-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: #4D4B4B;
	font-size: 41px;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u22794-4popup
{
	z-index: 295;
}

#u22793-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: #4D4B4B;
	font-size: 41px;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u22793-4popup
{
	z-index: 299;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("/assets/loading.gif") no-repeat center center;
}

#u22795-4
{
	z-index: 303;
	width: 315px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u22799-6
{
	z-index: 307;
	width: 221px;
	min-height: 41px;
	text-align: left;
	font-size: 16px;
	margin-left: 560px;
	top: -316px;
	margin-bottom: -41px;
	position: relative;
}

#u22800-5
{
	z-index: 313;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -261px;
	margin-bottom: -17px;
	position: relative;
}

#u22800-2
{
	color: #76080D;
}

#pu22796
{
	width: 0.01px;
	margin-left: 20px;
	top: -227px;
	margin-bottom: -227px;
	position: relative;
}

#u22796
{
	z-index: 279;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 244px;
}

#pu22798-55
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u22798-55
{
	z-index: 224;
	width: 381px;
	position: relative;
}

#u22798-19
{
	letter-spacing: 2px;
	font-weight: bold;
}

#u22798-42
{
	letter-spacing: 2px;
}

#u22798-10,#u22798-16,#u22798-39,#u22798-44
{
	font-weight: normal;
}

#u22798-3,#u22798-6,#u22798-9,#u22798-12,#u22798-17,#u22798-18,#u22798-20,#u22798-26,#u22798-29,#u22798-32,#u22798-35,#u22798-40,#u22798-45,#u22798-46,#u22798-50
{
	font-weight: bold;
}

#u22798-2,#u22798-25,#u22798-47,#u22798-51
{
	color: #76080D;
	font-weight: bold;
}

#u26949-4
{
	z-index: 318;
	width: 123px;
	min-height: 14px;
	font-size: 11px;
	margin-top: 12px;
	position: relative;
}
