
#u12514-4
{
	z-index: 245;
	width: 313px;
	min-height: 32px;
	color: #0D0A31;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#u12515
{
	z-index: 249;
	width: 920px;
	height: 4px;
	border-color: #000000;
	background-color: #0D0A31;
	margin-left: 20px;
	top: -6px;
	margin-bottom: -4px;
	position: relative;
}

#slideshowu12709
{
	z-index: 250;
	width: 0.01px;
	height: 262px;
	margin-left: 357px;
	margin-top: 18px;
	position: relative;
}

#u12741
{
	position: absolute;
	width: 584px;
	height: 262px;
	background-color: transparent;
}

#u12741popup
{
	z-index: 251;
}

#u13227
{
	z-index: 252;
	width: 584px;
	height: 262px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u29605
{
	z-index: 254;
	width: 584px;
	height: 262px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u29614
{
	z-index: 256;
	width: 584px;
	height: 262px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u29623
{
	z-index: 258;
	width: 584px;
	height: 262px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u29632
{
	z-index: 260;
	width: 584px;
	height: 262px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u29641
{
	z-index: 262;
	width: 584px;
	height: 262px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u29650
{
	z-index: 264;
	width: 584px;
	height: 262px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u29659
{
	z-index: 266;
	width: 584px;
	height: 262px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12710-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: #4D4B4B;
	font-size: 41px;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 221px;
	left: 518px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u12710-4popup
{
	z-index: 268;
}

#u12751-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: #4D4B4B;
	font-size: 41px;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 221px;
	left: 551px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u12751-4popup
{
	z-index: 272;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("/images/loading.gif") no-repeat center center;
}

#u11750-16
{
	z-index: 224;
	width: 255px;
	min-height: 169px;
	margin-left: 20px;
	top: -258px;
	margin-bottom: -170px;
	position: relative;
}

#u11750-3
{
	color: #0D0A31;
}

#u11750-14
{
	font-size: 16px;
	letter-spacing: 0px;
	color: #0D0A31;
}

#u12507-4
{
	z-index: 241;
	width: 200px;
	color: #AD0008;
	letter-spacing: 0px;
	font-size: 16px;
	margin-left: 20px;
	top: -80px;
	margin-bottom: -19px;
	position: relative;
}

#ppu25842-19
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 21px;
	position: relative;
}

#pu25842-19
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 159px;
}

#u25842-19
{
	z-index: 294;
	width: 157px;
	min-height: 254px;
	position: relative;
	margin-right: -10000px;
}

#u13493-4
{
	z-index: 317;
	width: 157px;
	color: #AD0008;
	letter-spacing: 0px;
	font-size: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
}

#u13495-4
{
	z-index: 325;
	width: 157px;
	color: #AD0008;
	letter-spacing: 0px;
	font-size: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
}

#u25838-4
{
	z-index: 329;
	width: 157px;
	color: #AD0008;
	letter-spacing: 0px;
	font-size: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
}

#u12497
{
	z-index: 240;
	width: 585px;
	min-height: 305px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 335px;
}

#u12508-18
{
	z-index: 276;
	width: 157px;
	min-height: 254px;
	position: relative;
	margin-right: -10000px;
}

#u25842-2,#u25842-4,#u25842-5,#u25842-6,#u25842-8,#u25842-10,#u25842-11,#u25842-12,#u25842-14,#u25842-16,#u12508-2,#u12508-4,#u12508-5,#u12508-6,#u12508-8,#u12508-10,#u12508-11,#u12508-12,#u12508-14,#u12508-16
{
	font-size: 15px;
}

#u13492-4
{
	z-index: 313;
	width: 157px;
	color: #AD0008;
	letter-spacing: 0px;
	font-size: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
}

#u13494-4
{
	z-index: 321;
	width: 157px;
	color: #AD0008;
	letter-spacing: 0px;
	font-size: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
}

#u25843-4
{
	z-index: 333;
	width: 157px;
	color: #AD0008;
	letter-spacing: 0px;
	font-size: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
}

#u25843-4-ajay
{
	z-index: 333;
	width: 157px;
	color: #AD0008;
	letter-spacing: 0px;
	font-size: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
}