#pu11090-4
{
	width: 0.01px;

	margin-top: 20px;
	position: relative;
}

#u11090-4
{
	z-index: 224;
	width: 313px;
	min-height: 32px;
	color: #0D0A31;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-left:20px;
}

#u12039
{
	z-index: 228;
	width: 920px;
	height: 3px;
	border-color: #000000;
	background-color: #0D0A31;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left:20px;
}

#u29512
{
	z-index: 229;
	width: 801px;
	margin-left: 20px;
	margin-top: 21px;
	position: relative;
}

#u12012-4
{
	z-index: 230;
	width: 57px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	color: #0D0A31;
	letter-spacing: 1px;
	font-size: 45px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u29507-6
{
	z-index: 234;
	width: 677px;
	min-height: 34px;
	position: relative;
}

#u29508-4
{
	z-index: 240;
	width: 697px;
	min-height: 44px;
	text-align: justify;
	margin-top: 9px;
	position: relative;
}

#u29509-5
{
	z-index: 244;
	width: 139px;
	min-height: 16px;
	text-align: right;
	font-size: 13px;
	margin-left: 557px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u29521
{
	z-index: 269;
	width: 801px;
	margin-left: 20px;
	margin-top: 27px;
	position: relative;
}

#u29513
{
	z-index: 275;
	width: 801px;
	position: relative;
}

#u12082-4
{
	z-index: 286;
	width: 57px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	color: #0D0A31;
	letter-spacing: 1px;
	font-size: 45px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u12025-6
{
	z-index: 276;
	width: 677px;
	min-height: 34px;
	position: relative;
}

#u29507-4,#u12025-4
{
	font-size: 14px;
}

#u12050-4
{
	z-index: 282;
	width: 697px;
	min-height: 55px;
	text-align: justify;
	margin-top: 9px;
	position: relative;
}

#u12051-5
{
	z-index: 270;
	width: 139px;
	min-height: 16px;
	text-align: right;
	font-size: 13px;
	margin-left: 662px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u29514
{
	z-index: 391;
	width: 801px;
	margin-left: 20px;
	margin-top: 31px;
	position: relative;
}

#u12083-4
{
	z-index: 408;
	width: 57px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	color: #0D0A31;
	letter-spacing: 1px;
	font-size: 45px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#pu12045
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 104px;
}

#u12045
{
	z-index: 392;
	width: 645px;
	position: relative;
}

#u12026-6
{
	z-index: 393;
	width: 645px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u12026-2
{
	font-size: 16px;
}

#u12056-4
{
	z-index: 399;
	width: 693px;
	min-height: 55px;
	text-align: justify;
	margin-left: 4px;
	margin-top: 6px;
	position: relative;
}

#u12076-5
{
	z-index: 403;
	width: 139px;
	min-height: 16px;
	text-align: right;
	font-size: 13px;
	margin-left: 557px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u29515
{
	z-index: 412;
	width: 801px;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#u12084-4
{
	z-index: 413;
	width: 57px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	color: #0D0A31;
	letter-spacing: 1px;
	font-size: 45px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#pu12027-6
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 104px;
}

#u12027-6
{
	z-index: 417;
	width: 627px;
	min-height: 36px;
	position: relative;
}

#pu12063-4
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 6px;
	position: relative;
}

#u12063-4
{
	z-index: 423;
	width: 533px;
	min-height: 21px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
}

#u12064-5
{
	z-index: 427;
	width: 82px;
	min-height: 16px;
	text-align: right;
	font-size: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 611px;
}

#u29516
{
	z-index: 249;
	width: 801px;
	margin-left: 20px;
	margin-top: 27px;
	position: relative;
}

#u12085-4
{
	z-index: 265;
	width: 57px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	color: #0D0A31;
	letter-spacing: 1px;
	font-size: 45px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u12028-6
{
	z-index: 250;
	width: 627px;
	min-height: 36px;
	position: relative;
}

#u12086-4
{
	z-index: 256;
	width: 693px;
	min-height: 68px;
	text-align: justify;
	margin-left: 4px;
	margin-top: 9px;
	position: relative;
}

#u12087-5
{
	z-index: 260;
	width: 139px;
	min-height: 16px;
	text-align: right;
	font-size: 13px;
	margin-left: 557px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u29517
{
	z-index: 290;
	width: 801px;
	margin-left: 20px;
	margin-top: 27px;
	position: relative;
}

#u12090-4
{
	z-index: 306;
	width: 57px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	color: #0D0A31;
	letter-spacing: 1px;
	font-size: 45px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u12029-6
{
	z-index: 291;
	width: 581px;
	min-height: 43px;
	position: relative;
}

#u12088-4
{
	z-index: 297;
	width: 693px;
	min-height: 55px;
	text-align: justify;
	margin-left: 4px;
	position: relative;
}

#u12089-5
{
	z-index: 301;
	width: 139px;
	min-height: 16px;
	text-align: right;
	font-size: 13px;
	margin-left: 557px;
	position: relative;
}

#u29518
{
	z-index: 310;
	width: 801px;
	margin-left: 20px;
	margin-top: 27px;
	position: relative;
}

#u12094-4
{
	z-index: 311;
	width: 55px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	color: #0D0A31;
	letter-spacing: 1px;
	font-size: 45px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#pu29507-6,#pu12025-6,#pu12028-6,#pu12029-6,#pu12035-6
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#u12035-6
{
	z-index: 315;
	width: 546px;
	min-height: 41px;
	position: relative;
}

#u12067-4
{
	z-index: 321;
	width: 693px;
	min-height: 35px;
	text-align: justify;
	margin-left: 4px;
	margin-top: 4px;
	position: relative;
}

#u12091-5
{
	z-index: 325;
	width: 139px;
	min-height: 16px;
	text-align: right;
	font-size: 13px;
	margin-left: 557px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u29519
{
	z-index: 330;
	width: 801px;
	padding-bottom: 0px;
	margin-left: 20px;
	margin-top: 26px;
	position: relative;
}

#u12093-4
{
	z-index: 346;
	width: 57px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	color: #0D0A31;
	letter-spacing: 1px;
	font-size: 45px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u12034-6
{
	z-index: 331;
	width: 695px;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#u12095-4
{
	z-index: 337;
	width: 695px;
	min-height: 55px;
	text-align: justify;
	margin-left: 106px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u12096-5
{
	z-index: 341;
	width: 136px;
	min-height: 16px;
	text-align: right;
	font-size: 13px;
	margin-left: 665px;
	position: relative;
}

#u29520
{
	z-index: 370;
	width: 801px;
	margin-left: 20px;
	margin-top: 27px;
	position: relative;
}

#u22657
{
	z-index: 386;
	width: 56px;
	position: relative;
	margin-right: -10000px;
}

#u12092-4
{
	z-index: 387;
	width: 56px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	color: #0D0A31;
	letter-spacing: 1px;
	font-size: 45px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u12033-6
{
	z-index: 371;
	width: 693px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u12098-4
{
	z-index: 377;
	width: 686px;
	min-height: 55px;
	text-align: justify;
	margin-left: 107px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u12097-5
{
	z-index: 381;
	width: 138px;
	min-height: 16px;
	text-align: right;
	font-size: 13px;
	margin-left: 663px;
	position: relative;
}

#u29502
{
	z-index: 350;
	width: 801px;
	padding-bottom: 0px;
	margin-left: 20px;
	margin-top: 27px;
	position: relative;
}

#pu27279,#pu12093-4,#pu22657,#pu29505-4
{
	width: 0.01px;
	position: relative;
}

#u29505-4
{
	z-index: 351;
	width: 57px;
	min-height: 49px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	color: #0D0A31;
	letter-spacing: 1px;
	font-size: 45px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u29506-6
{
	z-index: 355;
	width: 572px;
	min-height: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 109px;
}

#u29503-4
{
	z-index: 361;
	width: 693px;
	min-height: 55px;
	text-align: justify;
	margin-left: 108px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u29504-5
{
	z-index: 365;
	width: 139px;
	min-height: 16px;
	text-align: right;
	font-size: 13px;
	margin-left: 661px;
	position: relative;
}

#u29509-2,#u12051-2,#u12076-2,#u12064-2,#u12087-2,#u12089-2,#u12091-2,#u12096-2,#u12097-2,#u29504-2
{
	color: #AD0008;
}

