#u30204
{
	z-index: 224;
	width: 629px;
	min-height: 532px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 42px;
	position: relative;
}
