
#u20691-4
{
	z-index: 246;
	width: 317px;
	min-height: 29px;
	background-color: #FFFFFF;
	color: #0D0A31;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 1px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#u20692
{
	z-index: 250;
	width: 920px;
	height: 3px;
	border-color: #000000;
	background-color: #0D0A31;
	margin-left: 20px;
	top: -4px;
	margin-bottom: -3px;
	position: relative;
}

#pu31888
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 9px;
	position: relative;
}

#u31888
{
	z-index: 253;
	width: 71px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u31890
{
	z-index: 254;
	width: 69px;
	border-width: 2px;
	border-style: solid;
	border-color: #EAF3FA;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	border-radius:10px 10px 0px 0px
}

#u31889-4
{
	z-index: 255;
	width: 60px;
	min-height: 22px;
	text-align: center;
	color: #0D0A31;
	font-size: 15px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 4px;
}

#u31894
{
	z-index: 265;
	width: 147px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u31896
{
	z-index: 266;
	width: 145px;
	border-width: 2px;
	border-style: solid;
	border-color: #EAF3FA;
	background-color: #FFFFFF;
	border-radius:10px 10px 0px 0px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u31896.MuseLinkActive
{
	border-color: #EAF3FA;
	background-color: #EAF3FA;
	width: 145px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u31895-4
{
	z-index: 267;
	width: 130px;
	min-height: 19px;
	text-align: center;
	color: #0D0A31;
	font-size: 15px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 6px;
}

#u31891
{
	z-index: 259;
	width: 71px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 237px;
}

#u31893
{
	z-index: 260;
	width: 69px;
	border-width: 2px;
	border-style: solid;
	border-color: #EAF3FA;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	border-radius:10px 10px 0px 0px;
}

#u31890:hover,#u31893:hover
{
	border-color: #EAF3FA;
	background-color: #EAF3FA;
	width: 69px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u31892-4
{
	z-index: 261;
	width: 60px;
	min-height: 22px;
	text-align: center;
	color: #0D0A31;
	font-size: 15px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 4px;
}

#ppu30816
{
	width: 0.01px;
	margin-left: 17px;
	margin-top: 31px;
	position: relative;
}

#pu30816
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u30816
{
	z-index: 251;
	width: 392px;
	margin-left: 3px;
	position: relative;
}

#u4367-12
{
	z-index: 224;
	width: 395px;
	min-height: 203px;
	text-align: left;
	font-size: 14px;
	margin-top: 12px;
	position: relative;
}

#pu5063
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 463px;
}

#u5063
{
	z-index: 237;
	width: 464px;
	border-color: #000000;
	background-color: #E3EDF7;
	position: relative;
}

#u5062-8
{
	z-index: 238;
	width: 458px;
	min-height: 58px;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 7px;
}

#u5062-6
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5062-6  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u5062-3
{
	font-size: 15px;
	color: #AD0008;
}

#u5062-4
{
	font-size: 15px;
	color: #76080D;
}

#u5062-5
{
	font-size: 13px;
}

#u5060
{
	z-index: 236;
	width: 464px;
	min-height: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

