

#pslideshowu33886
{
	width: 0.01px;
	padding-bottom: 4px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu33886
{
	z-index: 225;
	width: 0.01px;
	height: 345px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u33907
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u33907popup
{
	z-index: 226;
}

#u33912
{
	z-index: 227;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u33908
{
	z-index: 229;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u33914
{
	z-index: 231;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u33910
{
	z-index: 233;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u33890
{
	position: absolute;
	width: 270px;
	top: 300px;
	left: 126px;
}

#u33890popup
{
	z-index: 235;
}

#u33895
{
	z-index: 236;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u33897
{
	z-index: 238;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u33891
{
	z-index: 240;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u33893
{
	z-index: 242;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u33895.SSSlideLinkSelected,#u33897.SSSlideLinkSelected,#u33891.SSSlideLinkSelected,#u33893.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u33895_clip,#u33897_clip,#u33891_clip,#u33893_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u33895_img,#u33897_img,#u33891_img,#u33893_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u33934-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: #4D4B4B;
	font-size: 41px;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u33934-4popup
{
	z-index: 244;
}

#u33887-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: #4D4B4B;
	font-size: 41px;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u33887-4popup
{
	z-index: 248;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("/images/loading.gif") no-repeat center center;
}

#u33880-4
{
	z-index: 252;
	width: 400px;
	min-height: 30px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u33885-4
{
	z-index: 260;
	width: 221px;
	min-height: 23px;
	text-align: left;
	font-size: 16px;
	margin-left: 560px;
	top: -316px;
	margin-bottom: -23px;
	position: relative;
}

#u33881-5
{
	z-index: 285;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -276px;
	margin-bottom: -17px;
	position: relative;
}

#u33881-2
{
	color: #76080D;
}

#pu33882
{
	width: 0.01px;
	margin-left: 20px;
	top: -242px;
	margin-bottom: -242px;
	position: relative;
}

#u33882
{
	z-index: 224;
	width: 520px;
	min-height: 333px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
}

#u33884-21
{
	z-index: 264;
	width: 381px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u33884-7
{
	font-weight: normal;
}

#u33884-3,#u33884-6,#u33884-9,#u33884-12
{
	font-weight: bold;
}

#u33884-2,#u33884-13,#u33884-17
{
	color: #76080D;
	font-weight: bold;
}

#u33884-18
{
	color: #000000;
}

#u33935-4
{
	z-index: 256;
	width: 230px;
	min-height: 14px;
	font-size: 11px;
	margin-left: 401px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}
