

#pslideshowu33670
{
	width: 0.01px;
	padding-bottom: 4px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu33670
{
	z-index: 225;
	width: 0.01px;
	height: 345px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u33672
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u33672popup
{
	z-index: 226;
}

#u33675
{
	z-index: 227;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u33677
{
	z-index: 229;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u33679
{
	z-index: 231;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u33673
{
	z-index: 233;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u33681
{
	position: absolute;
	width: 270px;
	top: 300px;
	left: 126px;
}

#u33681popup
{
	z-index: 235;
}

#u33686
{
	z-index: 236;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u33682
{
	z-index: 238;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u33688
{
	z-index: 240;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u33684
{
	z-index: 242;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u33686.SSSlideLinkSelected,#u33682.SSSlideLinkSelected,#u33688.SSSlideLinkSelected,#u33684.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u33686_clip,#u33682_clip,#u33688_clip,#u33684_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u33686_img,#u33682_img,#u33688_img,#u33684_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u33712-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: #4D4B4B;
	font-size: 41px;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u33712-4popup
{
	z-index: 244;
}

#u33713-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: #4D4B4B;
	font-size: 41px;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u33713-4popup
{
	z-index: 248;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("/images/loading.gif") no-repeat center center;
}

#u33669-4
{
	z-index: 252;
	width: 400px;
	min-height: 30px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u33731-6
{
	z-index: 260;
	width: 221px;
	min-height: 41px;
	text-align: left;
	font-size: 16px;
	margin-left: 560px;
	top: -316px;
	margin-bottom: -41px;
	position: relative;
}

#u33733-5
{
	z-index: 301;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -261px;
	margin-bottom: -17px;
	position: relative;
}

#u33733-2
{
	color: #76080D;
}

#u33732-35
{
	z-index: 266;
	width: 381px;
	margin-left: 560px;
	top: -227px;
	margin-bottom: -227px;
	position: relative;
}

#u33732-10
{
	font-weight: normal;
}

#u33732-3,#u33732-6,#u33732-9,#u33732-12,#u33732-18,#u33732-21,#u33732-24,#u33732-27,#u33732-30
{
	font-weight: bold;
}

#u33732-2,#u33732-17,#u33732-31
{
	color: #76080D;
	font-weight: bold;
}

#u33667
{
	z-index: 224;
	width: 520px;
	min-height: 333px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 9px;
	position: relative;
}

#u33721-4
{
	z-index: 256;
	width: 230px;
	min-height: 14px;
	font-size: 11px;
	margin-left: 401px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}
