

#pslideshowu8577
{
	width: 0.01px;
	padding-bottom: 10px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu8577
{
	z-index: 269;
	width: 0.01px;
	height: 345px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u8588
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u8588popup
{
	z-index: 270;
}

#u22089
{
	z-index: 271;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u22089_img
{
	padding-left: 2px;
	padding-right: 2px;
}

#u22044
{
	z-index: 273;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u22053
{
	z-index: 275;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u22062
{
	z-index: 277;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u22071
{
	z-index: 279;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u22080
{
	z-index: 281;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u22044_img,#u22053_img,#u22062_img,#u22071_img,#u22080_img
{
	padding-left: 2px;
	padding-right: 79px;
}

#u8578
{
	position: absolute;
	width: 410px;
	top: 300px;
	left: 56px;
}

#u8578popup
{
	z-index: 283;
}

#u22092
{
	z-index: 284;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u22092_img
{
	padding-top: 5px;
	padding-bottom: 5px;
}

#u22047
{
	z-index: 286;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u22056
{
	z-index: 288;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u22065
{
	z-index: 290;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u22074
{
	z-index: 292;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u22083
{
	z-index: 294;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u22092.SSSlideLinkSelected,#u22047.SSSlideLinkSelected,#u22056.SSSlideLinkSelected,#u22065.SSSlideLinkSelected,#u22074.SSSlideLinkSelected,#u22083.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u22047_img,#u22056_img,#u22065_img,#u22074_img,#u22083_img
{
	padding-top: 5px;
	padding-right: 9px;
	padding-bottom: 5px;
}

#u8618-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: #4D4B4B;
	font-size: 41px;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u8618-4popup
{
	z-index: 296;
}

#u8619-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: #4D4B4B;
	font-size: 41px;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u8619-4popup
{
	z-index: 300;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("/assets/loading.gif") no-repeat center center;
}

#u8634-4
{
	z-index: 304;
	width: 315px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u8904-6
{
	z-index: 308;
	width: 381px;
	min-height: 25px;
	text-align: left;
	font-size: 16px;
	margin-left: 560px;
	top: -322px;
	margin-bottom: -38px;
	position: relative;
}

#u8902-5
{
	z-index: 314;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -267px;
	margin-bottom: -17px;
	position: relative;
}

#u8902-2
{
	color: #76080D;
}

#pu8575
{
	width: 0.01px;
	margin-left: 20px;
	top: -233px;
	margin-bottom: -233px;
	position: relative;
}

#u8575
{
	z-index: 268;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 263px;
}

#u8573-44
{
	z-index: 224;
	width: 381px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u8573-2,#u8573-3,#u8573-6,#u8573-9,#u8573-12,#u8573-16,#u8573-17,#u8573-23,#u8573-26,#u8573-29,#u8573-32,#u8573-35,#u8573-39
{
	font-weight: bold;
}

#u8573-22,#u8573-36,#u8573-40
{
	color: #76080D;
	font-weight: bold;
}
