

#pslideshowu33747
{
	width: 0.01px;
	padding-bottom: 4px;
	margin-left: 20px;
	margin-top: 36px;
	position: relative;
}

#slideshowu33747
{
	z-index: 246;
	width: 0.01px;
	height: 345px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u33751
{
	position: absolute;
	width: 520px;
	height: 293px;
	background-color: transparent;
}

#u33751popup
{
	z-index: 247;
}

#u33756
{
	z-index: 248;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u33754
{
	z-index: 250;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u33756_img,#u33754_img
{
	padding-left: 2px;
	padding-right: 2px;
}

#u33752
{
	z-index: 252;
	width: 520px;
	height: 293px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u33752_img
{
	padding-left: 2px;
	padding-right: 4px;
}

#u33759
{
	position: absolute;
	width: 200px;
	top: 300px;
	left: 161px;
}

#u33759popup
{
	z-index: 254;
}

#u33760
{
	z-index: 255;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u33760_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u33764
{
	z-index: 257;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u33762
{
	z-index: 259;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u33760.SSSlideLinkSelected,#u33764.SSSlideLinkSelected,#u33762.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u33760_clip,#u33764_clip,#u33762_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u33764_img,#u33762_img
{
	margin: -1px -10px 1px;
}

#u33770-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: #4D4B4B;
	font-size: 41px;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 454px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u33770-4popup
{
	z-index: 261;
}

#u33772-4
{
	position: absolute;
	width: 33px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	color: #4D4B4B;
	font-size: 41px;
	line-height: 1;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	top: 252px;
	left: 487px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u33772-4popup
{
	z-index: 265;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("/assets/loading.gif") no-repeat center center;
}

#u33791-4
{
	z-index: 269;
	width: 315px;
	min-height: 25px;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u33743-4
{
	z-index: 273;
	width: 221px;
	min-height: 27px;
	text-align: left;
	font-size: 16px;
	margin-left: 560px;
	top: -316px;
	margin-bottom: -27px;
	position: relative;
}

#u33744-5
{
	z-index: 277;
	width: 302px;
	min-height: 17px;
	font-weight: bold;
	margin-left: 560px;
	top: -277px;
	margin-bottom: -17px;
	position: relative;
}

#u33744-2
{
	color: #76080D;
}

#pu33745
{
	width: 0.01px;
	margin-left: 20px;
	top: -244px;
	margin-bottom: -244px;
	position: relative;
}

#u33745
{
	z-index: 245;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
}

#pu33741-21
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u33741-21
{
	z-index: 224;
	width: 381px;
	position: relative;
}

#u33741-7
{
	font-weight: normal;
}

#u33741-3,#u33741-6,#u33741-9,#u33741-12
{
	font-weight: bold;
}

#u33741-2,#u33741-13,#u33741-17
{
	color: #76080D;
	font-weight: bold;
}

#u33742-4
{
	z-index: 282;
	width: 200px;
	min-height: 14px;
	font-size: 11px;
	margin-top: 39px;
	position: relative;
}
