#videos_content {
	width: 1000px;
	margin-left: 23px;
	margin-top: 21px;
	position: relative;
}

.video {
	float: left;
	margin-right: 64px;
	margin-bottom: 35px;
	border: 1px solid black;
	border-radius: 0px 30px 0px 0px;
	background-color: #696969;
	overflow: hidden;
}
