     <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u16201-4" href="/pages/index.html"><!-- content --><p>Home</p></a>
     <a class="nonblock nontext clearfix grpelem" id="u16232-4" href="/listings/residential"><!-- content --><p>Listings</p></a>
     <a class="nonblock nontext clearfix grpelem" id="u16199-4" href="/pages/helpful-tools.html"><!-- content --><p>Helpful Tools</p></a>
     <a class="nonblock nontext clearfix grpelem" id="u16200-4" href="/pages/contact-us.html"><!-- content --><p>Contact Us</p></a>
     <div class="clearfix grpelem" id="u16225-4"><!-- content -->
      <p>All Rights Reserved. Copyright © 2014 The Oulahen Team</p>
     </div>
     <div class="clearfix grpelem" id="u16211"><!-- group -->
      <div class="clearfix grpelem" id="u16213-4"><!-- content -->
       <p>|</p>
      </div>
      <div class="clearfix grpelem" id="u16215-4"><!-- content -->
       <p>|</p>
      </div>
      <div class="clearfix grpelem" id="u16212-4"><!-- content -->
       <p>|</p>
      </div>
      <div class="clearfix grpelem" id="u16214-4"><!-- content -->
       <p>|</p>
      </div>
     </div>
     <div class="grpelem" id="u27340"><!-- image -->
     <a href="https://www.facebook.com/oulahenteam" target="_blank">
      <img class="block" id="u27340_img" src="/images/logo_facebook1.jpg" alt="" width="14" height="14"/>
      </a>
     </div>
     <div class="grpelem" id="u27345"><!-- image -->
     <a href="https://twitter.com/oulahen" target="_blank">
      <img class="block" id="u27345_img" src="/images/twitter-logo1.jpg" alt="" width="15" height="15"/>
     </a>
     </div>

     <div class="grpelem" id="u27335"><!-- image -->
     <a href="http://www.linkedin.com/profile/view?id=250177723&trk=nav_responsive_tab_profile" target="_blank">
      <img class="block" id="u27335_img" src="/images/linkedin_logo1.jpg" alt="" width="14" height="14"/>
     </a>
     </div>
     <div class="grpelem" id="u27350"><!-- image -->
     <a href="http://blog.oulahen.com/"  target="_blank">
      <img class="block" id="u27350_img" src="/images/wordpress-logo1.jpg" alt="" width="14" height="14"/>
     </a>
     </div>