<ul class="MenuBar clearfix colelem" id="menuu27015"><!-- row -->
  
       <li class="MenuItemContainer clearfix grpelem" id="u27165">
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu rounded-corners clearfix colelem" id="u27166" href="/pages/index.html">
        	
        	<div class="MenuItemLabel NoWrap clearfix grpelem" id="u27167-4">
        		<p>Home</p>
	        </div>
	    </a>


        <%= link_to page_path('index'), class: 'nonblock nontext MenuItem MenuItemWithSubMenu rounded-corners clearfix colelem', id: 'u27166-4' do %>
        	<div class="MenuItemLabel NoWrap clearfix grpelem" id="u27167-4">
        		<p>Home</p>
        	</div>
        <% end %>


       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27123">
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u27124" href="/listings/residential"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27126-4"><p>Listings</p></div></a>
<!--         <div class="SubMenu  MenuLevel1 clearfix" id="u27128">
         <ul class="SubMenuView clearfix colelem" id="u27129">


          <li class="MenuItemContainer clearfix colelem" id="u27130">
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u27140" href="/listings/residential"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27143-4"><p>Residential</p></div></a>
          </li>
          <li class="MenuItemContainer clearfix colelem" id="u31829">
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u31832" href="/listings/transactions"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u31833-4"><p>Sold</p></div></a>
           <div class="SubMenu  MenuLevel2 clearfix" id="u31830">
            <ul class="SubMenuView clearfix colelem" id="u31831">


             <li class="MenuItemContainer clearfix colelem" id="u31836">
              <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u31837" href="/listings/transactions/homes"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u31839-4"><p>Homes</p></div></a>
             </li>
             <li class="MenuItemContainer clearfix colelem" id="u31836">
              <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u31837" href="/listings/transactions/condos"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u31839-4"><p>Condos</p></div></a>
             </li>


            </ul>
           </div>
          </li>

          <li class="MenuItemContainer clearfix colelem" id="u27130">
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u27140" href="/pages/commercial.html"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27143-4"><p>Commercial</p></div></a>
          </li>






         </ul>
        </div> -->
       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27088">
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u27089" href="/pages/selling.html"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27092-4"><p>Selling</p></div></a>
<!--         <div class="SubMenu  MenuLevel1 clearfix" id="u27093">
         <ul class="SubMenuView clearfix colelem" id="u27094">
          <li class="MenuItemContainer clearfix colelem" id="u27095">
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u27098" href="/pages/market-evaluation.html"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27101-4"><p>Market Evaluation</p></div></a>
          </li>
         </ul>
        </div> -->
       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27074">
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u27077" href="/pages/buying.html"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27078-4"><p>Buying</p></div></a>
       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27102">
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u27105" href="/pages/videos.html"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27107-4"><p>Videos</p></div></a>
       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27081">
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u27084" href="/pages/condo-profiles.html"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27086-4"><p>Condo Profiles</p></div></a>
       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27116">
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u27117" href="/pages/helpful-tools.html"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27118-4"><p>Helpful Tools</p></div></a>
       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27109">
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u27110" href="/pages/blog.html"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27113-4"><p>Blog</p></div></a>
       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27039">
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u27040" href="/pages/about-us.html"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27042-4"><p>About Us</p></div></a>
<!--         <div class="SubMenu  MenuLevel1 clearfix" id="u27044">
         <ul class="SubMenuView clearfix colelem" id="u27045">
          <li class="MenuItemContainer clearfix colelem" id="u27053">
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u27054" href="/pages/awards.html"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27057-4"><p>Awards</p></div></a>
          </li>
          <li class="MenuItemContainer clearfix colelem" id="u27046">
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u27047" href="/pages/charitable-work.html"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27049-4"><p>Charitable Work</p></div></a>
          </li>
          <li class="MenuItemContainer clearfix colelem" id="u27067">
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u27068" href="/pages/testimonials.html"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27069-4"><p>Testimonials</p></div></a>
          </li>
          <li class="MenuItemContainer clearfix colelem" id="u27060">
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u27063" href="/pages/in-the-news.html"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27066-4"><p>In the News</p></div></a>
          </li>
         </ul>
        </div> -->
       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27016">
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu rounded-corners clearfix colelem" id="u27019" href="/pages/contact-us.html"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27022-4"><p>Contact Us</p></div></a>
       </li>
      </ul>